// =============================================================================
//  OVERRIDES
// =============================================================================

.is-disabled {
	cursor: not-allowed;
	opacity: 0.5;
}
.uppercase {
	text-transform: uppercase;
}
.lowercase {
	text-transform: lowercase;
}

.max-width-content {
	max-width: $max-width-content;
}
.max-width-text {
	max-width: $max-width-text;
}
.max-width-text-wider {
	max-width: $max-width-text-wider;
}
.max-width-text-wide {
	max-width: $max-width-text-wide;
}
.max-width-text-narrow {
	max-width: $max-width-text-narrow;
}

.fade-in {
	animation-duration: 0.3s;
	animation-fill-mode: both;
	animation-name: fadeIn;
}
.fade-in-slow {
	animation-duration: 1s;
	animation-fill-mode: both;
	animation-name: fadeIn;
}

.slide-down {
	@include slideDownActive(1s, 3000px);
}
.slide-up {
	@include slideDownCollapsed(0.8s);
}

.clear {
	@include clearfix;
}
.rel {
	position: relative;
}
.abs-bottom-right {
	@include position(absolute, null 0 0 null);
}
.abs-top-right {
	@include position(absolute, 0 0 null null);
}
.abs-top-left {
	@include position(absolute, 0 null null 0);
}

.max-width {
	&--xxs { max-width: $max-width-xxs; }
	&--xs { max-width: $max-width-xs; }
	&--sm { max-width: $max-width-sm; }
	&--md { max-width: $max-width-md; }
	&--lg { max-width: $max-width-lg; }
	&--xl { max-width: $max-width-xl; }
	&--xxl { max-width: $max-width-xxl; }
	&--xxxl { max-width: $max-width-xxxl; }
}
.width-100 {
	width: 100%;
}

.aspect-radio-10-7 {
	@include aspect-ratio(10, 7);
}
.aspect-radio-9-5 {
	@include aspect-ratio(9, 5);
}

// Borders
.b {
	&-t-base {
		border-top: $border-base;
	}
	&-b-base {
		border-bottom: $border-base;
	}
	&-t-thin {
		border-top: $border-thin;
	}
	&-b-thin {
		border-bottom: $border-thin;
	}
	&-t-none {
		border-top: none!important;
	}
	&-b-none {
		border-bottom: none!important;
	}
}


.accordion-panel {
	&--xs {
		@include slideDownCollapsed(0.8s);
		&.is-open { @include slideDownActive(0.5s, 200px); }
	}
	&--sm {
		@include slideDownCollapsed(0.8s);
		&.is-open { @include slideDownActive(0.5s, 400px); }
	}
	&--md {
		@include slideDownCollapsed(0.8s);
		&.is-open { @include slideDownActive(1s, 1000px); }
	}
	&--xl {
		@include slideDownCollapsed(0.8s);
		&.is-open { @include slideDownActive(1s, 3000px); }
	}
}

.flip-x {
	transform: scaleX(-1);
	filter: FlipH;
}

.v-align-content {
	@include vertical-align;
}

.clickable {
	@extend %clickable;
}
