// =============================================================================
//  OVERRIDES
// =============================================================================

.is-disabled {
	cursor: not-allowed;
	opacity: 0.5;
}
.uppercase {
	text-transform: uppercase;
}
.lowercase {
	text-transform: lowercase;
}

.max-width-text-narrow {
	max-width: $max-width-text-narrow;
}

.fade-in {
	animation-duration: 0.3s;
	animation-fill-mode: both;
	animation-name: fadeIn;
}

.slide-down {
	@include slideDownActive(1s, 3000px);
}
.slide-up {
	@include slideDownCollapsed(0.8s);
}

.hide-medium-down {
	@media only screen and (max-width: $medium-screen) {
		display: none!important;
	}
}

.clear {
	@include clearfix;
}
.rel {
	position: relative;
}
.abs-bottom-right {
	@include position(absolute, null 0 0 null);
}

.max-width {
	&--xxs { max-width: $max-width-xxs; }
	&--xs { max-width: $max-width-xs; }
	&--sm { max-width: $max-width-sm; }
	&--md { max-width: $max-width-md; }
	&--lg { max-width: $max-width-lg; }
	&--xl { max-width: $max-width-xl; }
	&--xxl { max-width: $max-width-xxl; }
	&--xxxl { max-width: $max-width-xxxl; }
}