// =============================================================================
//  SETTINGS - ALL
// =============================================================================

@import '_settings.global';
@import '_settings.typography';
@import '_settings.palette';
@import '_settings.screen';
@import '_settings.spacing';
@import '_settings.widths';
@import '_settings.borders';
@import '_settings.border-radius';
@import '_settings.shadows';
@import '_settings.icons';
@import '_settings.forms';
@import '_settings.tables';
@import '_settings.grid';
@import '_settings.buttons';
@import '_settings.lists';
@import '_settings.figure-box';
@import '_settings.accordion';
@import '_settings.cards';
@import '_settings.confirm-popup';
@import '_settings.hero';
@import '_settings.labels';
@import '_settings.modal';
@import '_settings.tooltip';

