// =============================================================================
//  SETTINGS - TABLES
// =============================================================================

// Spacing
$table-line-height: $line-height-base;
$table-spacing: $space-lg;
$table-cell-padding: $space-xs;
$table-condensed-cell-padding: ($space-xs / 2);

// Palette
$table-bg: transparent;
$table-border-colour: $grey-keyline-very-light;
$table-bg-accent: $grey-very-light;
$table-bg-hover: $grey-light;
$table-bg-active: $table-bg-hover;

// Borders
$table-border: 1px solid $table-border-colour;
$table-border-heading: 2px solid $table-border-colour;
