// =============================================================================
//  SETTINGS - HERO
// =============================================================================

$hero-content-min-height-mobile: 300px;
$hero-content-min-height: 420px;

$hero-content-max-width-mobile: $width-md;
$hero-content-max-width: $max-width-text-narrow;
