// =============================================================================
//  SETTINGS - SCREEN
// =============================================================================

$screen-xs: 24em;
$screen-sm: 40em;
$screen-md: 50em;
$screen-lg: 68em;
$screen-xl: 100em;
