// =============================================================================
//  SETTINGS - CARDS
// =============================================================================

$card-h-padding: $h-spacing-mobile;
$card-v-padding: $v-spacing-mobile;

$card-h-padding-lg: $h-spacing;
$card-v-padding-lg: $v-spacing;

$card-option-highlight-height: 10px;
$card-option-highlight-offset: -6px
