// =============================================================================
//  SETTINGS - CONFIRM POPUP
// =============================================================================

$confirm-box-v-padding: $base-spacing-mobile;
$confirm-box-h-padding: $base-spacing-mobile;

$confirm-box-width: $max-width-content-tablet - ($h-spacing-mobile * 2);
$confirm-box-width-lg: $max-width-text-wide + ($h-spacing-mobile * 2);

$confirm-box-width-mobile: 90%;

$confirm-box-t-spacing: 30%;
