// =============================================================================
//  SETTINGS - FIGURE BOX
// =============================================================================

// Base theme
$figure-box-bg-colour: $white;
$figure-box-border: $border-base;
$figure-box-border-radius: $border-radius-base;
$figure-box-v-padding: $space-xxs;
$figure-box-h-padding: $space-sm;

// Dark theme
$figure-box-dark-bg-colour: $grey-dark;
$figure-box-dark-colour: $white;
$figure-box-dark-border: $border-base;
$figure-box-dark-box-shadow: $box-shadow-inset;

// Max-heights
$figure-box-max-height-xs: 200px;
$figure-box-max-height-sm: 300px;
$figure-box-max-height-md: 400px;
$figure-box-max-height-lg: 500px;
$figure-box-max-height-xl: 600px;
