// =============================================================================
//  SETTINGS - LISTS
// =============================================================================

// List left spacing
$list-l-spacing: 2em;
$list-l-spacing-half: $list-l-spacing / 2;
$list-l-spacing-quarter: $list-l-spacing / 4;

// List inline
$list-inline-gutter: 1em;
$list-inline-gutter-sm: .5em;
$list-inline-v-spacing: .5em;

// Image/icons inline list gutters
$img-list-inline-gutter-xxs: $space-xxs / 2;
$img-list-inline-gutter-xs: $space-xs / 2;
$img-list-inline-gutter-sm: $space-sm / 2;
$img-list-inline-gutter-md: $space-md / 2;
$img-list-inline-gutter-lg: $space-lg / 2;
$img-list-inline-gutter-xl: $space-xl / 2;
