// =============================================================================
//  SETTINGS - SHADOWS
// =============================================================================

$bottom-shadow: 0 11px 16px -10px rgba(0,0,0,0.1);
$bottom-shadow-subtle: 0 11px 16px -10px rgba(0,0,0,0.05);
$box-shadow: 0 0 5px 0 rgba(0,0,0,0.4);
$box-shadow-subtle: 0 0 10px 0 rgba(0,0,0,0.1);
$box-shadow-front: 0 0 12px 0 rgba(0,0,0,0.2);
$box-shadow-inset: inset 0 0 15px -5px rgba(0,0,0,0.3);
