// =============================================================================
//  SETTINGS - CIRCLE ICONS
// =============================================================================

$circle-icon-size-sm: 25px;
$circle-icon-size-md: 40px;
$circle-icon-size-lg: 60px;
