// =============================================================================
//  SETTINGS - MODAL
// =============================================================================

$modal-close-t-offset-mobile: -50px;
$modal-close-t-offset: -73px;

$modal-content-v-spacing-mobile: $space-xxl;
$modal-content-v-spacing: $space-xxxl;

$modal-content-narrow: $max-width-text-wide;

$modal-panel-v-spacing: $v-spacing;
