// =============================================================================
//  SETTINGS - BORDERS
// =============================================================================

$border-stroke-thin: 1px;
$border-stroke: 2px;
$border-radius-base: 5px;

$border-colour-base: $grey-keyline;

$border-base: $border-stroke solid $border-colour-base;

$border-font-colour: $border-stroke solid $font-colour-base;
$border-inverted: $border-stroke solid $white;
$border-primary: $border-stroke solid $primary-colour;

$border-thin-dark: $border-stroke-thin solid $border-colour-base;
$border-thin: $border-stroke-thin solid $grey-keyline-very-light;
