// =============================================================================
//	SETTINGS - PALETTE
// =============================================================================

$black: #000;
$white: #fff;

$opacity-hover: .7;

$transparent: rgba(0, 0, 0, 0);
$transparent-white: rgba(255, 255, 255, .01);
$transparent-light-grey: rgba(255, 255, 255, .4);
$transparent-grey: rgba(215, 215, 215, .7);
$transparent-dark-grey: rgba(0, 0, 0, .5);
$transparent-very-dark-grey: rgba(0, 0, 0, .9);

// Grey palette
$background-colour-base: $white;
$grey-very-light: #f9fafa;
$grey-light: #f2f2f2;
$grey: #b3b3b3;
$grey-dark: #4d4d4d;
$grey-very-dark: #2a2a2a;

// Custom colours
$primary-colour: #8cc63f;
$primary-colour-very-light: #e9eee0;
$primary-colour-light: #e2eecc;
$primary-colour-very-dark: #334217;
$sky-blue: #deeefc;

$highlight-colour: $primary-colour;

// Keyline colours
$grey-keyline-very-light: #e2e2e2;
$grey-keyline-light: #b3b3b3;
$grey-keyline: #ccc;
$grey-keyline-dark: #777;

// Font Colours
$font-colour-base: #333;
$font-colour-light: #999;
$font-colour-very-light: $grey-keyline;

$icon-colour: $font-colour-base;

// Social colours
$facebook-colour: #4b6ead;
$twitter-colour: #00b7f0;
$pinterest-colour: #bd081c;

// Form colours
$form-keyline: $grey-keyline;
$radio-border: $grey-keyline;
$radio-fill-colour: $primary-colour;
$checkbox-border: $form-keyline;
$checked-fill-colour: $primary-colour;
$checkbox-bg-colour: transparent;
$error-red: #c1272d;

// State colours (alerts and labels)
$success-colour: #5cb85c;
$success-colour-light: #dff0d8;
$success-colour-dark: #3c763d;

$info-colour: #5bc0de;
$info-colour-light: #d9edf7;
$info-colour-dark: #31708f;

$warning-colour: #f0ad4e;
$warning-colour-light: #fcf8e3;
$warning-colour-dark: #8a6d3b;

$danger-colour: $error-red;
$danger-colour-light: #f2dede;
$danger-colour-dark: #c1272d;
