// =============================================================================
//  SETTINGS - WIDTHS
// =============================================================================

// Max widths (imgs)
$max-width-xxs: 100px;
$max-width-xs: 150px;
$max-width-sm: 200px;
$max-width-md: 300px;
$max-width-lg: 400px;
$max-width-xl: 500px;
$max-width-xxl: 600px;
$max-width-xxxl: 700px;

// Max widths
$max-width-content-tablet: 540px;
$max-width-content: 1100px;
$max-width-content-wide: 1260px;
$max-width-content-narrow: 960px;
$max-width-text: 600px;
$max-width-text-wider: 640px;
$max-width-text-wide: 700px;
$max-width-text-narrow: 500px;
