// =============================================================================
//  SETTINGS - SHADOWS
// =============================================================================

$bottom-shadow: 0px 11px 16px -10px rgba(0,0,0,0.1);
$bottom-shadow-subtle: 0px 11px 16px -10px rgba(0,0,0,0.05);
$box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.4);
$box-shadow-subtle: 0px 0px 10px 0px rgba(0,0,0,0.1);
$box-shadow-front: 0px 0px 12px 0px rgba(0,0,0,0.2);
$box-shadow-inset: inset 0px 0px 15px -5px rgba(0,0,0,0.3);
