// =============================================================================
//  SETTINGS - ACCORDION
// =============================================================================

$accordion-v-spacing-xs: $space-xs;
$accordion-v-spacing-sm: $space-sm;
$accordion-v-spacing-md: $space-md;
$accordion-v-spacing-lg: $space-lg;
$accordion-v-spacing-xl: 40px;

$accordion-with-toggle-h-spacing: 3.5em;
