<section class="bg--white">
	<div class="container">
		<div class="content-block">
			<div class="text-center m-b-xl">
				<h2>Your POD Point Homecharger</h2>
				<hr>
				<h3>Available with a choice of two connection types.</h3>
				<p>Available with a choice of two connection types, Universal or with a Fixed Cable</p>
			</div>
			<div class="grid-wrap">
				<div class="grid-row">
					<div class="grid-col grid-col--md-6 grid-col--separator grid-col--md-separator">
						<div class="marg-center max-width--md text-center">
							<h3>Universal Unit</h3>
							<img class="marg-center max-width--sm" src="assets/img/content/homecharger-without-cable.png" alt="">
							<p>Connects to all EV cars. Comes without cable.</p>
						</div>
					</div>
					<div class="grid-col grid-col--md-6">
						<div class="marg-center max-width--md text-center">
							<h3>Fixed Cable Unit</h3>
							<img class="marg-center max-width--sm" src="assets/img/content/homecharger-with-cable.png" alt="">
							<p>Connects to all EV cars. Comes without cable.</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<section>
	<div class="container">
		<div class="content-block p-b-none p-t-none">
			<hr>
		</div>
	</div>
</section>