<section class="bg--white">
	<div class="container">
		<div class="content-block">
			<h2 class="text-center text-left-md">Are you eligible for the EVHS OLEV Grant?</h2>
			<div class="grid-wrap">
				<div class="grid-row">
					<div class="grid-col grid-col--md-6">
						<div class="rich-text">
							<ul>
								<li>Do you have off-street parking and a plug-in vehicle pur chased after April 2015?</li>
								<li>If you answered yes, its likely you will qualify for a government grant that offers EV drivers £500 off the cost of purchasing and installing a home chargepoint.</li>
								<li>You’re in good hands as we will claim the grant on your behalf so you can spend more time driving.</li>
								<li>Don’t have off-street parking don’t worry OLEV offers local authorities the On-Street Residential Chargepoint Scheme for EV drivers that don’t have off-street parking facilities</li>
							</ul>
						</div>
					</div>
					<div class="grid-col grid-col--md-6 hidden block-md">
						<img class="marg-center max-width--md" src="http://placehold.it/300x300/777777">
					</div>
				</div>
			</div>
		</div>
	</div>
</section>