<section class="bg--white">
	<div class="container">
		<div class="content-block">
			<div class="text-center max-width-text marg-center">
				<h2>Claiming the OLEV EV.H.S Grant</h2>
				<div class="rich-text">
					<p>The OLEV grant allows you to reduce the cost of your homecharger by £500. If you qualify for the grant, POD Point will take care of the claim on your behalf. <a href="https://pod-point.com/landing-pages/olev-grant" target="_blank">Click here</a> for more information.</p>
				</div>
			</div>
			<div class="grid-wrap m-t-xl">
				<div class="grid-row grid-row--vertical-center">
					<div class="grid-col grid-col--md-6">
						<h4>Eligibilty checklist:</h4>
						<ul class="list--ticks">
							<li>You have off street parking.</li>
							<li>Your plug-in vehicle was purchased after April 2015.</li>
							<li>You have not already claimed the grant for your vehicle.</li>
							<li>By claiming the grant, you are not going above the limit of two OLEV funded chargepoints per household.</li>
						</ul>
					</div>
					<div class="grid-col grid-col--md-6 hidden block-md">
						<img class="marg-center max-width--md" src="assets/img/content/olev-grant-logo.png">
					</div>
				</div>
			</div>
		</div>
	</div>
</section>