<section class="bg--very-light-gray">
	<div class="container">
		<div class="content-block">
			<h2 class="text-center">All homecharge POD Points are</h2>
			<div class="grid-wrap">
				<div class="grid-row">
					<div class="grid-col grid-col--md-4">
						<img class="marg-center max-width--xxs m-t-sm" src="assets/img/illustrations/homecharge-features/grant-eligible.svg" alt="">
						<p class="text-center marg-center max-width--sm bold">Eligible for £500 OLEV E.V.H.S Grant</p>
					</div>
					<div class="grid-col grid-col--md-4">
						<img class="marg-center max-width--xxs m-t-sm" src="assets/img/illustrations/homecharge-features/safe.svg" alt="">
						<p class="text-center marg-center max-width--sm bold">Safest chargepoint available in UK</p>
					</div>
					<div class="grid-col grid-col--md-4">
						<img class="marg-center max-width--xxs m-t-sm" src="assets/img/illustrations/homecharge-features/weatherproof.svg" alt="">
						<p class="text-center marg-center max-width--sm bold">Durable, weatherproof, built to last</p>
					</div>
					<div class="grid-col grid-col--md-4">
						<img class="marg-center max-width--xxs m-t-sm" src="assets/img/illustrations/homecharge-features/wifi.svg" alt="">
						<p class="text-center marg-center max-width--sm bold">Wi-fi connected as standard</p>
					</div>
					<div class="grid-col grid-col--md-4">
						<img class="marg-center max-width--xxs m-t-sm" src="assets/img/illustrations/homecharge-features/warranty.svg" alt="">
						<p class="text-center marg-center max-width--sm bold">Covered by free 3 year onsite warranty</p>
					</div>
					<div class="grid-col grid-col--md-4">
						<img class="marg-center max-width--xxs m-t-sm" src="assets/img/illustrations/homecharge-features/uk.svg" alt="">
						<p class="text-center marg-center max-width--sm bold">Designed &amp; manufactured in the UK</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>