<section class="bg--very-dark-gray">
	<div class="container">
		<div class="content-block content-block--standout">
			<h2>What makes our in-house installation team experts?</h2>
			<div class="rich-text rich-text--featured">
				<ul>
					<li>Experienced City &amp; Guilds accredited electrictions.*</li>
					<li>Rigerous training on electric vehicles &amp; how to charge them.</li>
					<li>Thousands of hours of real world experience installing EV chargepoints across the UK.</li>
				</ul>
			</div>
			<p class="font-style-small m-t-xl">*City &amp; Guilds 2382-15 17th Edition Course</p>
		</div>
	</div>
</section>