<section class="bg--white">
	<div class="container">
		<div class="content-block text-center">
			<h2>Install terms</h2>
			<p>Your install is included in the price of the chargepoint if it meets our standard install criteria.</p>
			<p>If it doesn’t, we’ll provide a no obligation quote or a full refund if you don’t want to proceed.</p>
			<p class="m-t-md bold"><a href="#">View installation terms</a></p>
		</div>
	</div>
</section>