<section class="bg--white">
	<div class="container">
		<div class="content-block text-center">
			<h2>Install terms</h2>
			<p>Your install is included in the price of the chargepoint if it meets our standard install criteria.</p>
			<p>If it doesn’t, we’ll provide a no obligation quote or a full refund if you don’t want to proceed.</p>
			<p class="m-t-md bold"><a href="#" class="inline-circle-icon" data-toggle-panel="terms">View installation terms<span data-toggle-icon="terms" class="toggle-panel-icon toggle-rotate-icon"><svg><use xlink:href="#general--cheveron"/></svg></span></a></p>
		</div>
	</div>
</section>

<section data-js-module="toggleAccordionPanel" id="terms" class="bg--white accordion-panel accordion-panel--xl">
	<div class="container">
		<div class="content-block">
			{{> install-terms-content }}
			<a data-close-panel="terms" href="#" class="circle-icon--close-panel marg-center m-t-xl"><svg><use xlink:href="#general--cheveron"/></svg></a>
		</div>
	</div>
</section>