<section class="bg--sky-blue">
	<div class="container">
		<div class="content-block text-center p-b-none">
			<h2>90% of our customers are eligible for free installation</h2>
			<h5 class="p-b-none">What does this include?</h5>
			<img class="marg-center" src="assets/img/illustrations/installation-house-diagram.svg" alt="">
		</div>
	</div>
</section>

<section class="bg--light-gray">
	<div class="container">
		<div class="content-block text-center">
			<p><a href="#" class="setback-button m-b-md">Free Standard Installations Terms &amp; Conditions</a></p>
			<p><a href="#" class="setback-button">What if I Don’t qualify for free installation?</a></p>
		</div>
	</div>
</section>