<section class="bg--very-light-gray">
	<div class="container">
		<div class="content-block content-block--standout">
			<div class="text-center">
				<h2>Your chargepoint installation</h2>
				<p>Our experts go the extra mile to provide the best installation experience in the UK.</p>
				<p>Your install is included free with your chargepoint if it meets our standard install criteria.</p>
			</div>
			<div class="max-width-text max-width-text--wide marg-center m-t-xl">
				<div class="grid-row grid-row--vertical-center">
					<div class="grid-col grid-col--md-4 grid-col--no-space--md">
						<img class="max-width--sm marg-center" src="assets/img/illustrations/installation-pre-arrival.svg" alt="">
					</div>
					<div class="grid-col grid-col--md-8 text-center text-left-md">
						<h3>Pre-arrival</h3>
						<div class="rich-text">
							<p>Your expert will confirm their arrival time with you in advance of the installation.</p>
						</div>
					</div>
				</div>
				<div class="divider--steps"></div>
				<div class="grid-row grid-row--vertical-center">
					<div class="grid-col grid-col--md-4 grid-col--md-right grid-col--no-space--md">
						<img class="max-width--sm marg-center" src="assets/img/illustrations/installation-pre-installation.svg" alt="">
					</div>
					<div class="grid-col grid-col--md-8 text-center text-left-md">
						<h3>Pre-installation</h3>
						<div class="rich-text">
							<p>Your expert will find the best position for your charger based on your power supply and how you park your car.</p>
						</div>
					</div>
				</div>
				<div class="divider--steps divider--steps--flipped"></div>
				<div class="grid-row grid-row--vertical-center">
					<div class="grid-col grid-col--md-4 grid-col--no-space--md">
						<img class="max-width--sm marg-center" src="assets/img/illustrations/installation-installation.svg" alt="">
					</div>
					<div class="grid-col grid-col--md-8 text-center text-left-md">
						<h3>Installation</h3>
						<div class="rich-text">
							<p>Your expert will position and fix the charger to the wall making sure it's ready to use.</p>
						</div>
					</div>
				</div>
				<div class="divider--steps"></div>
				<div class="grid-row grid-row--vertical-center">
					<div class="grid-col grid-col--md-4 grid-col--md-right grid-col--no-space--md">
						<img class="max-width--sm marg-center" src="assets/img/illustrations/installation-demonstration.svg" alt="">
					</div>
					<div class="grid-col grid-col--md-8 text-center text-left-md">
						<h3>Demonstration</h3>
						<div class="rich-text">
							<p>Your expert will provide a full demonstration of your charger, what the different lights mean and how to get in touch if you have any questions later on.</p>
							<p>Finally they'll make sure you know how to find &amp; use public chargepoints in your area and answer any other questions you have about charging.</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
