<section class="bg--white">
	<div class="container">
		<div class="content-block text-center">
			<h2>Install terms</h2>
			<p>Your install is included in the price of the chargepoint if it meets our standard install criteria.</p>
			<p>If it doesn’t, we’ll provide a no obligation quote or a full refund if you don’t want to proceed.</p>
			<p class="m-t-md bold"><a href="#" class="inline-circle-icon" data-toggle-panel="terms">View installation terms<span class="circle-icon--toggle-panel toggle-rotate-icon"></span></a></p>
		</div>
	</div>
</section>

<section data-js-module="toggleAccordionPanel" id="terms" class="bg--white slide-up">
	<div class="container">
		<div class="content-block">
			<div class="rich-text">
				<h3>Standard Install</h3>
				<p>Our standard install for the homecharge POD Point covers the majority of home installs in the UK and includes:</p>
				<ul>
					<li>Install of POD Point on a brick or plaster wall, or suitable permanent structure.</li>
					<li>The fitting of correct electrical connections and protections.</li>
					<li>An additional three way consumer unit, if required.</li>
					<li>Up to 15 metres of cable, run between the distribution board/electricity meter and the POD Point.</li>
					<li>The cable run will be clipped flush to the wall at a height of no more than 6ft, running above the ground.</li>
					<li>Up to 15 metres of cable, run between the distribution board/electricity meter and the POD Point.</li>
					<li>The cable run will be clipped flush to the wall at a height of no more than 6ft, running above the ground.</li>
					<li>Cable run through a single wal, l no thicker than half a metre.</li>
					<li>An earth rod in soft ground, if required.</li>
				</ul>
				<p>Please note:</p>
				<ul>
					<li>We assume that your electrical connection is in adequate condition and has sufficient available capacity.</li>
				</ul>
				<hr>
				<h3>What happens if you need extra works carried out?</h3>
				<ul>
					<li>Photos sent in advance: Work out a customer quote for any additional works.</li>
					<li>Minor additional works: new quote issued on site, payment taken and work completed on same day (discount offered if quote is accepted on the same day).</li>
					<li>Significant additional works: engineer site survey on day then project manager will contact within 5 working days with new quote.</li>
					<li>In all of the above, if you choose not to go ahead you can get a full refund.</li>
				</ul>
			</div>
			<a data-close-panel="terms" href="#" class="circle-icon--close-panel marg-center m-t-xl">Close panel</a>
		</div>
	</div>
</section>