<section class="bg--very-light-gray">
	<div class="container">
		<div class="content-block content-block--standout">
			<div class="text-center">
				<h2>Your chargepoint installation</h2>
				<p>Our experts go the extra mile to provide the best installation experience in the UK.</p>
				<p>Your install is included free with your chargepoint if it meets our standard install criteria.</p>
			</div>
		</div>
	</div>
</section>
