<section class="section--centered">
	<div class="container">
		<div class="content-block text-center">
			<h2>Power ratings &amp; Pricing</h2>
			<div class="grid-wrap m-t-md m-b-lg cards-merged-mobile">
				<div class="grid-row">
					<div class="grid-col grid-col--no-space grid-col--md-4">
						<div class="card card--centered rich-text">
							<h3>3.7kW</h3>
							<p class="font-style-large">(up to 15 miles RPH)</p>
							<p class="font-style-large">from <strong class="green">£279*</strong></p>
						</div>
					</div>
					<div class="grid-col grid-col--no-space grid-col--md-4">
						<div class="card card--centered rich-text">
							<h3>7kW</h3>
							<p class="font-style-large">(up to 30 miles RPH)</p>
							<p class="font-style-large">from <strong class="green">£359*</strong></p>
						</div>
					</div>
					<div class="grid-col grid-col--no-space grid-col--md-4">
						<div class="card card--centered rich-text">
							<h3>22kW</h3>
							<p class="font-style-large">(up to 80 miles RPH)</p>
							<p class="font-style-large">from <strong class="green">£999*</strong></p>
						</div>
					</div>
				</div>
			</div>
			<a href="checkout-step1.html" class="button">Get started</a>
		</div>
	</div>
</section>