<section class="section--centered bg--very-light-gray">
	<div class="container">
		<div class="content-block text-center">
			<h2>Pricing</h2>
			<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna.</p>
			<div class="grid-wrap m-t-md m-b-sm">
				<div class="grid-row">
					<div class="grid-col grid-col--md-4">
						<div class="card card--centered marg-center max-width--lg">
							<h3>3.7kW</h3>
							<p>(up to 15 miles RPH)<br> from <strong class="green">£279*</strong></p>
						</div>
					</div>
					<div class="grid-col grid-col--md-4 marg-center max-width--lg">
						<div class="card card--centered">
							<h3>7kW</h3>
							<p> (up to 30 miles RPH)<br> from <strong class="green">£359*</strong></p>
						</div>
					</div>
					<div class="grid-col grid-col--md-4 marg-center max-width--lg">
						<div class="card card--centered">
							<h3>22kW</h3>
							<p>(up to 80 miles RPH)<br> from <strong class="green">£999*</strong></p>
						</div>
					</div>
				</div>
			</div>
			<button class="button">Buy now</button>
		</div>
	</div>
</section>