<section class="section--centered bg--very-light-gray">
	<div class="container">
		<div class="content-block text-center">
			<h2>Pricing</h2>
			<div class="rich-text">
				<p>Smart on the inside, sleek on the outside. We offer competitive pricing across our range of homecharging points with a generous standard installation package.</p>
			</div>
			<div class="grid-wrap m-t-md m-b-lg cards-merged-mobile">
				<div class="grid-row">
					<div class="grid-col grid-col--no-space grid-col--md-4">
						<div class="card card--centered rich-text">
							<h3>3.7kW</h3>
							<p class="font-style-large">(up to 15 miles RPH)</p>
							<p class="font-style-large">from <strong class="green">£279*</strong></p>
						</div>
					</div>
					<div class="grid-col grid-col--no-space grid-col--md-4">
						<div class="card card--centered rich-text">
							<h3>7kW</h3>
							<p class="font-style-large">(up to 30 miles RPH)</p>
							<p class="font-style-large">from <strong class="green">£359*</strong></p>
						</div>
					</div>
					<div class="grid-col grid-col--no-space grid-col--md-4">
						<div class="card card--centered rich-text">
							<h3>22kW</h3>
							<p class="font-style-large">(up to 80 miles RPH)</p>
							<p class="font-style-large">from <strong class="green">£999*</strong></p>
						</div>
					</div>
				</div>
			</div>
			<button class="button">Get started</button>

			<div class="content-block__legal">
				<p>*with £500 government grant</p>
			</div>
		</div>
	</div>
</section>