<section class="bg--white">
	<div class="container">
		<div class="content-block">
			<div class="text-center m-b-xl">
				<h2>Your POD Point Homecharger</h2>
				<hr>
				<h3>Available with a choice of two connection types.</h3>
				<p>Available with a choice of two connection types, Universal or with a Fixed Cable</p>
			</div>
			<div class="grid-wrap">
				<div class="grid-row">
					<div class="grid-col grid-col--md-6 grid-col--separator grid-col--md-separator">
						<div class="marg-center max-width--md text-center">
							<h3>Universal Unit</h3>
							<img class="marg-center max-width--sm" src="assets/img/content/homecharger-without-cable.png" alt="">
							<p class="m-t-sm">Connects to all EV cars. Comes without cable.</p>
						</div>
					</div>
					<div class="grid-col grid-col--md-6">
						<div class="marg-center max-width--md text-center">
							<h3>Fixed Cable Unit</h3>
							<img class="marg-center max-width--sm" src="assets/img/content/homecharger-with-cable.png" alt="">
							<p class="m-t-sm">Connects to all EV cars. Comes without cable.</p>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="content-block">
			<h2 class="text-center">Power ratings &amp; Pricing</h2>
			<div class="grid-wrap m-t-md m-b-lg">
				<div class="grid-row">
					<div class="grid-col grid-col--md-4">
						<div class="card card--options card--more-pad rich-text">
							<h3 class="h2 text-center p-b-none">3.7kW</h3>
							<hr>
							<p><strong class="font-style-large">£779</strong> Full price</p>
							<p class="p-b-none"><strong class="font-style-large green">£279</strong> With OLEV Grant</p>
							<hr>
							<p class="bold p-b-none">10x faster than a 13A plug.</p>
							<hr>
							<ul>
								<li>Provides an EV 15 miles of range per hour (RPH)*</li>
								<li>Compatible with all plug-in vehicles (available with type 1 or type 2 connector)</li>
								<li>Available as Universal or Fixed Cable.</li>
								<li>Requires three phase power</li>
							</ul>
						</div>
					</div>
					<div class="grid-col grid-col--md-4">
						<div class="card card--options card--options--recommended card--more-pad rich-text">
							<h3 class="h2 text-center p-b-none">7kW</h3>
							<hr>
							<p><strong class="font-style-large">£859</strong> Full price</p>
							<p class="p-b-none"><strong class="font-style-large green">£359</strong> With OLEV Grant</p>
							<hr>
							<p class="bold p-b-none">3x faster than a 13A plug.</p>
							<hr>
							<ul>
								<li>Provides an EV 15 miles of range per hour (RPH)*</li>
								<li>Compatible with all plug-in vehicles (available with type 1 or type 2 connector)</li>
								<li>Available as Universal or Fixed Cable.</li>
								<li>Requires three phase power</li>
							</ul>
						</div>
					</div>
					<div class="grid-col grid-col--md-4">
						<div class="card card--options card--more-pad rich-text">
							<h3 class="h2 text-center p-b-none">22kW</h3>
							<hr>
							<p><strong class="font-style-large">£1499</strong> Full price</p>
							<p class="p-b-none"><strong class="font-style-large green">£999</strong> With OLEV Grant</p>
							<hr>
							<p class="bold p-b-none">10x faster than a 13A plug.</p>
							<hr>
							<ul>
								<li>Provides an EV 15 miles of range per hour (RPH)*</li>
								<li>Compatible with all plug-in vehicles (available with type 1 or type 2 connector)</li>
								<li>Compatible with Tethered Units Only.</li>
								<li>Requires three phase power</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<div class="text-center">
				<a href="checkout-step1.html" class="button">Get started</a>
			</div>
		</div>
	</div>
</section>