<section class="bg--very-light-gray">
	<div class="container">
		<div class="content-block">
			<h2 class="text-center text-left-md">Smart EV charging points for your home</h2>
			<div class="grid-wrap">
				<div class="grid-row">
					<div class="grid-col grid-col--md-6 grid-col--md-right">
						{{> gallery-simple }}
					</div>
					<div class="grid-col grid-col--md-6 text-center text-left-md">
						<p class="font-style-large">Our home charging points are sleek on the outside and smart on the inside.</p>
						<p class="font-style-large">Fully installed by our in-house team of EV experts from £279*</p>
						<div class="buttons-container m-t-xl">
							<button class="button button--secondary" data-js-module="modal" data-modal="videoModal">Watch video</button>
							<br>
							<a href="checkout-step1.html" class="button">Buy now</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>



<!-- HIDDEN MODALS -->
<div class="modal hidden fade-in" id="videoModal">
	<a href="#" class="circle-icon circle-icon--close circle-icon--outlined-dark circle-icon--small-resp modal-close"><svg class="icon"><use xlink:href="#general--cross"/></svg></a>
	<div class="modal__content">
		<div class="panel">
			<img class="img--resp img--rounded-corners" src="assets/img/content/homecharge-video-placeholder.jpg">
			<div class="content-block">
				<h2 class="panel__title">Pricing</h2>
				<div class="panel__text-content" class="font-style-large">
					<p>We offer competitive pricing across our range of home charging points with a generous standard installation package.</p>
				</div>
			</div>
			<div class="grid-wrap">
				<div class="grid-row">
					<div class="grid-col grid-col--md-4">
						<div class="card card--centered card--no-border marg-center max-width--md">
							<h3>3.7kW</h3>
							<img class="marg-center max-width--xs img--rounded-corners m-b-sm" src="assets/img/content/homechargers.png">
							<p>(Up to 15 miles RPH)<br>from <strong class="green">&pound;279*</strong></p>
						</div>
					</div>
					<div class="grid-col grid-col--md-4">
						<div class="card card--centered card--no-border marg-center max-width--md">
							<h3>7kW</h3>
							<img class="marg-center max-width--xs img--rounded-corners m-b-sm" src="assets/img/content/homechargers.png">
							<p>(Up to 30 miles RPH)<br>from <strong class="green">&pound;359*</strong></p>
						</div>
					</div>
					<div class="grid-col grid-col--md-4">
						<div class="card card--centered card--no-border marg-center max-width--md">
							<h3>22kW</h3>
							<img class="marg-center max-width--xs img--rounded-corners m-b-sm" src="assets/img/content/homechargers.png">
							<p>(Up to 80 miles RPH)<br>from <strong class="green">&pound;999*</strong></p>
						</div>
					</div>
				</div>
			</div>
			<a href="checkout-step1.html" class="button m-t-xl">Buy now</a>

			<p class="font-style-small m-t-xl text-left">*with government grant</p>

		</div>
	</div>
</div>