<section class="bg--very-light-gray">
	<div class="container">
		<div class="content-block">
			<h2 class="text-center text-left-md">Smart EV charging points for your home</h2>
			<div class="grid-wrap">
				<div class="grid-row">
					<div class="grid-col grid-col--md-6 grid-col--md-right">
						{{> gallery-simple }}
					</div>
					<div class="grid-col grid-col--md-6 text-center text-left-md">
						<p class="font-style-large">Our home charging points are sleek on the outside and smart on the inside.</p>
						<p class="font-style-large">Fully installed by our in-house team of EV experts from £279*</p>
						<div class="buttons-container m-t-xl">
							<button class="button button--secondary" data-js-module="modal" data-modal="videoModal">Watch video</button>
							<br>
							<a href="#" class="button">Buy now</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>



<!-- HIDDEN MODALS -->
<div class="modal hidden fade-in" id="videoModal">
	<button type="button" class="circle-icon circle-icon--close circle-icon--outlined-dark circle-icon--small-resp modal-close">Close</button>
	<div class="modal__content">
		<div class="panel">
			<img class="img--resp img--rounded-corners" src="http://placehold.it/700x400">
			<div class="content-block">
				<h2 class="panel__title">Pricing</h2>
				<div class="panel__text-content" class="font-style-large">
					<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna.</p>
					<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna.</p>
				</div>
			</div>
			<div class="grid-wrap">
				<div class="grid-row">
					<div class="grid-col grid-col--md-4">
						<div class="card card--centered card--no-border">
							<h3>3.7kW</h3>
							<img class="img--resp img--rounded-corners" src="http://placehold.it/100x50">
							<p>(Up to 15 miles RPH)<br>from <strong class="green">&pound;279*</strong></p>
						</div>
					</div>
					<div class="grid-col grid-col--md-4">
						<div class="card card--centered card--no-border">
							<h3>7kW</h3>
							<img class="img--resp img--rounded-corners" src="http://placehold.it/100x50">
							<p>(Up to 30 miles RPH)<br>from <strong class="green">&pound;359*</strong></p>
						</div>
					</div>
					<div class="grid-col grid-col--md-4">
						<div class="card card--centered card--no-border">
							<h3>22kW</h3>
							<img class="img--resp img--rounded-corners" src="http://placehold.it/100x50">
							<p>(Up to 80 miles RPH)<br>from <strong class="green">&pound;999*</strong></p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>