<section class="bg--very-light-gray">
	<div class="container">
		<div class="content-block">
			<h2 class="text-center text-left-md">Smart EV charging points for your home</h2>
			<div class="grid-wrap">
				<div class="grid-row">
					<div class="grid-col grid-col--md-6 grid-col--md-right">
						{{> gallery-simple }}
					</div>
					<div class="grid-col grid-col--md-6 text-center text-left-md">
						<p class="font-style-large">Our home charging points are sleek on the outside and smart on the inside.</p>
						<p class="font-style-large">Fully installed by our in-house team of EV experts from £279*</p>
						<div class="buttons-container m-t-xl">
							<button class="button button--secondary">Watch video</button>
							<br>
							<a href="#" class="button">Buy now</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>