<section class="bg--white">
	<div class="container">
		<div class="content-block">
			<h2 class="text-center text-left-md">Still Have Questions?</h2>
			<div class="grid-wrap">
				<div class="grid-row">
					<div class="grid-col grid-col--md-6 grid-col--md-right">
						<img class="marg-center max-width--lg" src="assets/img/illustrations/questions.svg" alt="">
					</div>
					<div class="grid-col grid-col--md-6 text-center text-left-md">
						<p class="p-b-xl">Just fill in your details and one of our friendly POD Point experts will be in touch to answer any questions you may have.</p>
						<div class="field-row">
							<div class="form-field-wrapper">
								<input type="text" placeholder="Name" />
							</div>
						</div>
						<div class="field-row">
							<div class="form-field-wrapper">
								<input type="text" placeholder="Email" />
							</div>
						</div>
						<div class="field-row">
							<button class="button">Chat now</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>