<section class="bg--very-dark-gray">
	<div class="container">
		<div class="content-block content-block--strip">
			<p class="font-style-large text-center"><span class="reviews-from-text hidden inline-block-md">4.8/5 star rating, from 1965 reviews on:</span><a class="reviews-logo" href="reviews.co.uk"> <img class="inline-block max-width--xs" src="assets/img/reviews-logo.svg"></a></p>
		</div>
	</div>
</section>