<section class="bg--very-light-gray">
	<div class="container">
		<div class="content-block">
			<div class="grid-wrap">
				<div class="grid-row">
					<div class="grid-col grid-col--md-6 grid-col--separator grid-col--md-separator">
						<div class="grid-wrap">
							<div class="grid-row">
								<div class="grid-col grid-col--lg-6 grid-col--lg-right">
									<img class="marg-center max-width--md" src="assets/img/content/homecharger-without-cable.png" alt="">
									{{> gallery-simple }}
								</div>
								<div class="grid-col grid-col--lg-6">
									<div class="rich-text text-center text-left-md">
										<h2>Universal Unit</h2>
										<p>This unit connects to any electric car (using a cable that's sold separately). This means you're future proofed if you change vehicle in future.</p>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="grid-col grid-col--md-6">
						<div class="grid-wrap">
							<div class="grid-row">
								<div class="grid-col grid-col--lg-6 grid-col--lg-right">
									<img class="marg-center max-width--md" src="assets/img/content/homecharger-with-cable.png" alt="">
								</div>
								<div class="grid-col grid-col--lg-6">
									<div class="rich-text text-center text-left-md">
										<h2>Fixed Cable Unit</h2>
										<p>This unit is more convenient because it has a 4.8m charging cable permanently attached. However, if you change vehicle in the future you may need to upgrade your unit for it to be compatible with your new car.</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<p class="m-t-xl bold text-center"><a href="#" class="inline-circle-icon" data-toggle-panel="techSpecs">View tech specs<span data-toggle-icon="techSpecs" class="toggle-panel-icon toggle-rotate-icon"></span></a></p>
		</div>
	</div>
</section>


<section data-js-module="toggleAccordionPanel" id="techSpecs" class="bg--very-light-gray accordion-panel accordion-panel--xl">
	<div class="container content-block">
		<table class="table table--specs">
			<tbody>
				<tr>
					<td class="specs-icon specs-icon--phases">
						<p class="bold green">Phases</p>
					</td>
					<td>
						<div class="rich-text">
							<p>Single and three phase options</p>
						</div>
					</td>
				</tr>
				<tr>
					<td class="specs-icon specs-icon--output">
						<p class="bold green">Rated Output</p>
					</td>
					<td>
						<div class="rich-text">
							<p>3.6kW</p>
							<p>7kW</p>
							<p>22kW</p>
						</div>
					</td>
				</tr>
				<tr>
					<td class="specs-icon specs-icon--connectors">
						<p class="bold green">Connectors</p>
					</td>
					<td>
						<div class="rich-text">
							<p>SAE J1772 connector</p>
							<p>IEC 62196 connector</p>
						</div>
					</td>
				</tr>
				<tr>
					<td class="specs-icon specs-icon--size">
						<p class="bold green">Size</p>
					</td>
					<td>
						<div class="rich-text">
							<p>Dimensions: 360mm, depth = 150mm</p>
							<p>Weight: 6.5kg</p>
						</div>
					</td>
				</tr>
				<tr>
					<td class="specs-icon specs-icon--colour">
						<p class="bold green">Colour</p>
					</td>
					<td>
						<div class="rich-text">
							<p>Black and Grey</p>
						</div>
					</td>
				</tr>
				<tr>
					<td class="specs-icon specs-icon--features">
						<p class="bold green">Features</p>
					</td>
					<td>
						<div class="rich-text">
							<ul>
								<li>The status of the charge point is shown by coloured status lights.</li>
								<li>Communicating variants of the chargepoint are compatible with the POD Point MIS.</li>
							</ul>
						</div>
					</td>
				</tr>
				<tr>
					<td class="specs-icon specs-icon--warranty">
						<p class="bold green">Warranty</p>
					</td>
					<td>
						<div class="rich-text">
							<p>We have got you covered with maintenance and support for 3 years at no extra cost. If your POD Point smart charger is broken one of our experts will come over and fix it, if it can’t be fixed we will swop the unit for another one.</p>
						</div>
					</td>
				</tr>
				<tr>
					<td class="specs-icon specs-icon--safety">
						<p class="bold green">Safety</p>
					</td>
					<td>
						<div class="rich-text">
							<p>Our chargepoints are designed and tested using BS EN 61010 &amp; BS EN 61557 approved equipment to meet the following European safety &amp; functionality standards for electrical devices.</p>
							<p>The POD Point chargepoint also provides internal over-current protection in addition to the other safety features.</p>
						</div>
					</td>
				</tr>
			</tbody>
		</table>
		<a href="#" data-close-panel="techSpecs" class="circle-icon--close-panel marg-center m-t-xl">Close panel</a>
	</div>
</section>