<section class="bg--very-light-gray">
	<div class="container">
		<div class="content-block">
			<h2 class="text-center text-left-md">Tech Specs</h2>
			<div class="grid-wrap">
				<div class="grid-row">
					<div class="grid-col grid-col--md-6">
						{{> gallery-simple }}
					</div>
					<div class="grid-col grid-col--md-6">
						<h3>Universal Unit</h3>
						<p>If you change/upgrade your EV to a different Type ie. Type 1 to 2 you will just need to purchase a cable or a cable might be supplied with the car.</p>
						<h3>Tethered Unit</h3>
						<p>This is a convenient option as the 4.8m cable is attached to the unit.</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>