<section class="bg--white">
	<div class="container">
		<div class="content-block">
			<h2 class="text-center">Why POD Point home?</h2>
			<div class="grid-wrap">
				<div class="grid-row">
					<div class="grid-col grid-col--md-4">
						<img class="marg-center max-width--xs" src="assets/img/illustrations/charge-faster.svg" alt="">
						<p class="font-style-large text-center m-t-md">Charge faster</p>
					</div>
					<div class="grid-col grid-col--md-4">
						<img class="marg-center max-width--xs" src="assets/img/illustrations/expert.svg" alt="">
						<p class="font-style-large text-center m-t-md">Installed by in-house EV expert</p>
					</div>
					<div class="grid-col grid-col--md-4">
						<img class="marg-center max-width--xs" src="assets/img/illustrations/weatherproof.svg" alt="">
						<p class="font-style-large text-center m-t-md">Weather-proof charge point</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
