// =============================================================================
//  OBJECTS - GRID
// =============================================================================
// See here to fully configure grids: http://thingsym.github.io/flexbox-grid-mixins
@import 'node_modules/flexbox-grid-mixins/sass/flexbox-grid-mixins';

$sides-gutter: 2%; // Flex calc doesn't work in IE so this has to be a percentage
$sides-mobile-gutter: 0.5%;
$bottom-space: 4%;

.grid-wrap {
    margin-bottom: -4%;

    @include medium-and-up {
        margin-bottom: -2%;
    }
}

.grid-row {
    @include clearfix;

    &:not(.grid-row--flex) {
        @include grid($flex-wrap: wrap, $gutter: $sides-gutter);
    }

    &--flex {

        @include medium-and-down {
            @include grid($flex-wrap: wrap, $gutter: $sides-gutter);
        }

        @include medium-and-up {
            @include grid($flex-wrap: flex, $gutter: $sides-gutter);
        }
    }

    &--vertical-center {
        align-items: center;
    }

    &--mobile-cols {
        @include grid($flex-wrap: wrap, $gutter: $sides-mobile-gutter);
    }

    &--no-space {
        margin-bottom: 0;
    }

    .grid-col {
        @include grid-col($col: 12, $gutter: $sides-gutter);
        margin-bottom: $bottom-space;
    }

    .grid-col--12 {
        @include grid-col($col: 12, $gutter: $sides-mobile-gutter);
    }

    .grid-col--8 {
        @include grid-col($col: 8, $gutter: $sides-mobile-gutter);
    }

    .grid-col--6 {
        @include grid-col($col: 6, $gutter: $sides-mobile-gutter);
    }

    .grid-col--3 {
        @include grid-col($col: 3, $gutter: $sides-mobile-gutter);
    }

    .grid-col--4 {
        @include grid-col($col: 4, $gutter: $sides-mobile-gutter);
    }

    .grid-col {

        &--separator {
            padding-bottom: 40px;
            border-bottom: $border-thin;
        }

        &--no-space {
            margin-bottom: 0!important;
        }
    }

    &--b-space-mobile {

        .grid-col {
            margin-bottom: 80px;

            &:last-child {
                margin-bottom: 0;
            }
        }
    }

    @include small-and-up {

        .grid-col--sm-12 {
            @include grid-col($col: 12, $gutter: $sides-gutter);
        }

        .grid-col--sm-8 {
            @include grid-col($col: 8, $gutter: $sides-gutter);
        }

        .grid-col--sm-6 {
            @include grid-col($col: 6, $gutter: $sides-gutter);
        }

        .grid-col--sm-3 {
            @include grid-col($col: 3, $gutter: $sides-gutter);
        }

        .grid-col--sm-4 {
            @include grid-col($col: 4, $gutter: $sides-gutter);
        }

        .grid-col--sm-right {
            order: 10;
        }

        .grid-col--sm-separator {
            border: none;
            box-shadow: 1px 0px 0px 0px $gray-keyline-very-light;
        }

        .grid-col--no-space--sm {
            margin-bottom: 0;
        }
    }

    @include medium-and-up {

        .grid-col--md-12 {
            @include grid-col($col: 12, $gutter: $sides-gutter);
        }

        .grid-col--md-8 {
            @include grid-col($col: 8, $gutter: $sides-gutter);
        }

        .grid-col--md-6 {
            @include grid-col($col: 6, $gutter: $sides-gutter);
        }

        .grid-col--md-3 {
            @include grid-col($col: 3, $gutter: $sides-gutter);
        }

        .grid-col--md-4 {
            @include grid-col($col: 4, $gutter: $sides-gutter);
        }

        .grid-col--md-right {
            order: 10;
        }

        .grid-col--md-separator {
            border: none;
            box-shadow: 1px 0px 0px 0px $gray-keyline-very-light;
        }

        .grid-col--no-space--md {
            margin-bottom: 0;
        }
    }

    @include large-and-up {

        .grid-col--lg-12 {
            @include grid-col($col: 12, $gutter: $sides-gutter);
        }

        .grid-col--md-8 {
            @include grid-col($col: 8, $gutter: $sides-gutter);
        }

        .grid-col--lg-6 {
            @include grid-col($col: 6, $gutter: $sides-gutter);
        }

        .grid-col--lg-3 {
            @include grid-col($col: 3, $gutter: $sides-gutter);
        }

        .grid-col--lg-4 {
            @include grid-col($col: 4, $gutter: $sides-gutter);
        }

        .grid-col--lg-right {
            order: 10;
        }
    }
}
