// =============================================================================
//	DEMO STYLES
// =============================================================================

@import '1-settings/all'; // Required
@import '2-tools/all'; // Required

.demo-header {
    @include padding(rem(10) null);
}

.demo-logo-main {
    img {
        width: rem(120);
    }
}
