// =============================================================================
//	DEMO STYLES
// =============================================================================

@import '1-settings/all'; // Required
@import '2-tools/all'; // Required

$demo-sidebar-width: 250px;
$demo-header-height: 75px;

.demo-logo-main {
    @include padding(10px null 60px null);
    display: block;

    img {
        width: rem(120);
    }
}

html,
body {
    height: 100%;
    min-height: 100%;
}

.global-wrapper,
.demo-page-content {
    height: inherit;
    min-height: inherit;
}

.demo-container-with-sidebar {
    padding-left: $demo-sidebar-width;

    .container {
        margin-left: 0;
    }
}

.demo-fixed-sidebar {
    @include position(fixed, 0 null null 0);
    @include horizontal-spacing;
    box-shadow: $box-shadow-subtle;
    height: 100%;
    min-height: inherit;
    overflow-y: scroll;
    width: $demo-sidebar-width;

    .nav-link {
        color: $font-colour-light;
        font-weight: $font-weight-bold;

        &:hover {
            color: $primary-colour;
        }
    }
}

.demo-note {
    @include font-size-sm;
    background-color: $grey-light;
    margin-bottom: .5em;
    padding: .5em 10px;
}

$pages: (
    'installation',
    'scss',
    'css-bg-img',
    'javascript',
    'inline-svg-icons',
    'helper-classes',
    'sass-tools',
    'accordions'
    'alerts',
    'buttons',
    'cards',
    'confirm-popup',
    'forms',
    'grid',
    'icons',
    'labels',
    'lists',
    'modals',
    'tables',
    'tooltips',
    'typography'
);

@each $page in $pages {
    [data-page='#{$page}'] {
        .nav-link--#{$page} {
            color: $primary-colour;
        }
    }
}
