{{> demo-header }}
<div data-page="address-lookup">
	<header class="content-block bg--primary-color">
		<div class="container">
			<h2>Address lookup</h2>
		</div>
	</header>


	<section>
		<div class="container content-block">
			{{> address-lookup }}
		</div>
	</section>

</div>

<!-- Replace the value of the key parameter with your own API key. -->
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDJDHzP78pQL4DbiEBhV8RyBRLJnIzhLX0&libraries=places&callback=initAutocomplete"
    async defer></script>
