{{> demo-header }}
<div data-page="alerts">
	<header class="content-block bg--primary-color">
		<div class="container">
			<h2>Alerts</h2>
		</div>
	</header>

	<section>
		<header class="content-block bg--light-gray">
			<div class="container">
				<h3>Alert messages</h3>
				<p>To create an alert message block, use the class <code>.alert</code> on a div and then add the modifying classes to state which kind of alert message <code>alert--danger</code>, <code>alert--warning</code>, <code>alert--success</code>, <code>alert--info</code></p>
				<p>The alert messages are full width with a 10px bottom margin</p>
				<p>A mixin is also available to create an alert message colour scheme <code>@include alert-variant($state-success-bg, $state-success-border, $state-success-text);</code></p>
			</div>
		</header>

		<div class="content-block">
			<div class="container">
				<div class="alert alert--danger">
					This is a error alert message.
				</div>

				<div class="alert alert--warning">
					This is a warning alert message.
				</div>

				<div class="alert alert--success">
					This is a success alert message.
				</div>

				<div class="alert alert--info">
					This is an info alert message.
				</div>
			</div>
		</div>

	</section>

</div>
