{{> demo-header }}
<div data-page="alerts">
	<header class="content-block bg--primary-color">
		<div class="container">
			<h2>Alerts</h2>
		</div>
	</header>

	<section>
		<br>
		<div class="alert alert--danger">
			This is a error alert message.
		</div>

		<div class="alert alert--warning">
			This is a warning alert message.
		</div>

		<div class="alert alert--success">
			This is a success alert message.
		</div>

		<div class="alert alert--info">
			This is an info alert message.
		</div>

	</section>

</div>
