{{> demo-header }}
<div data-page="alt-input">
	<header class="content-block bg--primary-color">
		<div class="container">
			<h2>Alternative input</h2>
		</div>
	</header>

	<section>
		<div class="container content-block">
			<div class="content-block content-block--no-padding content-block--centered max-width-text-narrow">
				<label class="font-style-large bold">Subscribe to our newsletter</label>
				<input class="input--secondary text-center" type="text" placeholder="Sample placeholder text" />
			</div>
		</div>
	</section>
</div>
