<div data-page="alt-input">
	<header class="demo-section-heading">
		<div class="container container--vertical-padding">
			<h2>Alternative input</h2>
		</div>
	</header>

	<section>
		<div class="container container--vertical-padding">
			<div class="content-block content-block--no-padding content-block--centered max-width-text-narrow">
				<label class="font-style-large bold">Subscribe to our newsletter</label>
				<input class="input--secondary text-center" type="text" placeholder="Sample placeholder text" />
			</div>
		</div>
	</section>
</div>
