{{> demo-header }}
<div data-page="buttons">
    <header class="content-block content-block--strip bg-primary">
        <div class="container">
            <h2>Buttons</h2>
        </div>
    </header>


    <!-- BUTTON CONTAINERS -->
    <section id="buttonsContainer">
        <header class="content-block bg-light-gray">
            <div class="container">
                <h3>Button containers</h3>
                <p>The buttons have no spacing around them by default. However to stack buttons together nicely (as the examples above) add a wrapper with the class <code>.btns-container</code> or for inline <code>.btns-container--inline</code> which will add a 10px margin around each button and minus margins on the wrapper to counteract.</p>
            </div>
        </header>
    </section>


    <!-- ACTIVE BUTTONS -->
    <section id="buttonsActive">
        <header class="content-block bg-light-gray">
            <div class="container">
                <h3>Active buttons</h3>
                <p>Use the class <code>.btn</code> on any element eg. button, anchor, div, span</p>
                <p>Add the modifying classes to apply the secondary, tertiary and danger (delete) button styles <code>.btn--secondary</code>, <code>.btn--tertiary</code>, <code>.btn--danger</code></p>
            </div>
        </header>
        <div class="content-block">
            <div class="container">
                <div class="btns-container btns-container--inline">
                    <button type="button" class="btn">Primary</button>
                    <a href="#" class="btn btn--secondary">Secondary</a>
                    <button type="button" class="btn btn--tertiary">Tertiary</button>
                    <span class="btn btn--danger">Danger</span>
                </div>
            </div>
        </div>
    </section>


    <!-- DISABLED BUTTONS -->
    <section id="buttonsDisabled">
        <header class="content-block bg-light-gray">
            <div class="container">
                <h3>Disabled buttons</h3>
                <p>Add the class <code>.is-disabled</code> to apply disabled styles to a button</p>
            </div>
        </header>
        <div class="content-block">
            <div class="container">
                <div class="btns-container btns-container--inline">
                    <button class="btn is-disabled">Primary disabled</button>
                    <button class="btn btn--secondary is-disabled">Secondary disabled</button>
                    <button class="btn btn--tertiary is-disabled">Tertiary disabled</button>
                    <button class="btn btn--danger is-disabled">Danger disabled</button>
                </div>
            </div>
        </div>
    </section>


    <!-- PASSIVE BUTTON -->
    <section id="buttonsPassive">
        <header class="content-block bg-light-gray">
            <div class="container">
                <h3>Passive buttons</h3>
                <p>Use the class <code>.btn</code> as well as the modifying class <code>.btn--passive</code></p>
                <p>There is an option to add an svg icon embed inside the button. See the <a href="/icons.html#iconsInline">icons example page</a> for more info on inline icons</p>
            </div>
        </header>
        <div class="content-block">
            <div class="container">
                <div class="btns-container">
                    <button class="btn btn--passive">Passive button</button>
                    <button class="btn btn--passive"><span>Passive button with cheveron icon</span><i class="icon icon--inline">{{> icon-cheveron }}</i></button>
                </div>
            </div>
        </div>
    </section>

</div>
