<div data-page="buttons">
	<header class="demo-section-heading">
		<div class="container container--vertical-padding">
			<h2>Buttons</h2>
		</div>
	</header>


	<!-- ACTIVE BUTTONS -->
	<section>
		<header class="demo-section-sub-heading">
			<div class="container">
				<h3>Active buttons</h3>
			</div>
		</header>
		<div class="container container--vertical-padding">
			<div class="buttons-container">
				<button class="button">Primary button</button>
				<button class="button button--secondary">Secondary button</button>
				<button class="button button--tertiary">Tertiary button</button>
				<button class="button button--tertiary uppercase">Tertiary button uppercase</button>
				<button class="button button--auto-width">Primary button (auto width on mobile)</button>
			</div>
		</div>
	</section>


	<!-- DISABLED BUTTONS -->
	<section>
		<header class="demo-section-sub-heading">
			<div class="container">
				<h3>Disabled buttons</h3>
			</div>
		</header>
		<div class="container container--vertical-padding">
			<div class="buttons-container">
				<button class="button is-disabled">Primary button disabled</button>
				<button class="button button--secondary is-disabled">Secondary button disabled</button>
				<button class="button button--tertiary is-disabled">Tertiary button disabled</button>
			</div>
		</div>
	</section>
</div>