{{> demo-header }}
<div data-page="cards">
	<header class="content-block content-block--strip bg--primary-color">
		<div class="container">
			<h2>Cards</h2>
		</div>
	</header>


	<!-- CENTRE ALIGNED CARDS -->
	<section>
		<header class="demo-section-sub-heading">
			<div class="container">
				<h3>Centre aligned cards (in a three column grid)</h3>
			</div>
		</header>
		<div class="container content-block">
			<div class="grid-wrap">
				<div class="grid-row">
					<div class="grid-col grid-col--md-4">
						<div class="card card--centered">
							<h3>Card one</h3>
							<img class="img--resp inline-block img--rounded-corners" src="http://placehold.it/100x50">
							<p>This is a card.<br> It also has an image.</p>
						</div>
					</div>
					<div class="grid-col grid-col--md-4">
						<div class="card card--centered card--highlight">
							<h3>Card three</h3>
							<p>This is a card that is <strong class="primary">highlighted!</strong> <br>It could be used as a selected state.</p>
						</div>
					</div>
					<div class="grid-col grid-col--md-4">
						<div class="card card--centered card--standout card--sash">
							<h3>Card four</h3>
							<p>This is a card that stands out.<br> It also has a sash.</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>


	<!-- CARD SET -->
	<section>
		<header class="demo-section-sub-heading">
			<div class="container">
				<h3>Card set with one standing out</h3>
			</div>
		</header>
		<div class="container content-block">
			<div class="grid-wrap card-set-standout">
				<div class="grid-row">
					<div class="grid-col grid-col--md-4">
						<div class="card card--centered">
							<h3>Card one</h3>
							<p>This is a card.</p>
						</div>
					</div>
					<div class="grid-col grid-col--md-4">
						<div class="card card--centered card--standout card--sash">
							<h3>Card two</h3>
							<p>This is a card that is standing out.</p>
						</div>
					</div>
					<div class="grid-col grid-col--md-4">
						<div class="card card--centered">
							<h3>Card three</h3>
							<p>This is a card.</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>


	<!-- LEFT ALIGNED CARDS -->
	<section>
		<header class="demo-section-sub-heading">
			<div class="container">
				<h3>Left aligned cards</h3>
			</div>
		</header>
		<div class="container content-block">
			<div class="card">
				<h3>Card five</h3>
				<p>This is a standard card which is left aligned.</p>
				<hr>
				<p>The horizontal line has less space above and below than usual because it is in a card.</p>
			</div>
		</div>
	</section>
</div>
