<div data-page="typography">
	<header class="demo-section-heading">
		<div class="container container--vertical-padding">
			<h2>Carousel</h2>
		</div>
	</header>


	<!-- ONE PER VIEW -->
	<section class="section--centered bg--very-dark-gray">
		<div class="carousel-section">
			<div class="container">
				<h2>5/5 star rating, 1965 reviews on Reviews.co.uk</h2>
			</div>
			<div class="carousel-wrap carousel-wrap--reviews">
				<a href="#" class="circle-icon circle-icon--large-resp circle-icon--white-outline iconfont-user"></a>
				<div data-js-module="carousel">
					<div>
						<div class="slick-slide--content">
							<h3>John Smith</h3>
							<p>Suspendisse potenti. Nullam lacinia urna ex, vitae maximus massa ultricies ut. Quisque cursus magna sit amet turpis tempor sodales. Ut egestas, felis quis sagittis rhoncus, purus purus congue orci, sed mollis diam metus sed orci. Duis a lacus lectus. Curabitur ante massa, consectetur luctus arcu non, vehicula elementum orci.</p>
							<ul class="stars-list">
								<li></li>
								<li></li>
								<li></li>
								<li></li>
								<li></li>
							</ul>
						</div>
					</div>
					<div>
						<div class="slick-slide--content">
							<h3>Anna Doyle</h3>
							<p>Curabitur lacinia volutpat elit, in consectetur felis egestas eget. Nam venenatis consectetur fringilla. Quisque id imperdiet augue, tincidunt lacinia ligula. Phasellus sit amet luctus purus.</p>
							<ul class="stars-list">
								<li></li>
								<li></li>
								<li></li>
								<li></li>
								<li></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<div class="container">
				<p class="font-style-large"><span class="reviews-from-text">Reviews from:</span><a class="reviews-logo" href="reviews.co.uk"><img src="assets/img/reviews-logo.svg"></a></p>
			</div>
		</div>
	</section>
</div>