<div data-page="typography">
	<header class="demo-section-heading">
		<div class="container container--vertical-padding">
			<h2>Carousel</h2>
		</div>
	</header>


	<!-- ONE PER VIEW -->
	<section class="section--centered bg--dark-gray">
		<div class="carousel-section">
			<div class="container">
				<h2>5/5 star rating, 1965 reviews on Reviews.co.uk</h2>
			</div>
			<div class="carousel-wrap">
				<a href="#" class="circle-icon circle-icon--large circle-icon--on-white iconfont-user"></a>
				<div data-js-module="carousel">
					<div>
						<div class="slick-slide--content">
							<h3>1</h3>
						</div>
					</div>
					<div>
						<div class="slick-slide--content">
							<h3>2</h3>
						</div>
					</div>
				</div>
			</div>
			<div class="container">
				<p class="font-style-large"><span class="reviews-from-text">Reviews from:</span><a class="reviews-logo" href="reviews.co.uk"><img src="assets/img/reviews-logo.svg"></a></p>
			</div>
		</div>
	</section>
</div>