{{> demo-header }}
<div data-page="carousel">
    <header class="content-block content-block--strip bg-primary">
        <div class="container">
            <h2>Carousel</h2>
        </div>
    </header>

    <section class="text-center bg-dark-gray">
        <div class="carousel-section">
            <div class="carousel-wrap">
                <div data-js-module="carousel" class="main-carousel">
                    <div class="carousel-cell">
                        <div class="rich-text">
                            <h3>John Smith</h3>
                            <p>Suspendisse potenti. Nullam lacinia urna ex, vitae maximus massa ultricies ut. Quisque cursus magna sit amet turpis tempor sodales. Ut egestas, felis quis sagittis rhoncus, purus purus congue orci, sed mollis diam metus sed orci. Duis a lacus lectus. Curabitur ante massa, consectetur luctus arcu non, vehicula elementum orci.</p>
                        </div>
                    </div>
                    <div class="carousel-cell">
                        <div class="rich-text">
                            <h3>Anna Doyle</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                        </div>
                    </div>
                    <div class="carousel-cell">
                        <div class="rich-text">
                            <h3>Carol Lorem</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
