<div data-page="checkout-step3">
	{{> header }}

	{{> steps-indicator }}

	{{> thanks-paid }}

	{{> install-address }}

	{{> install-eligibility }}

	{{> checkout-ctas }}

	{{> checkout-questions }}

	{{> footer }}
</div>
