<div class="checkout-flow" data-page="checkout-step1">
	{{> header }}

	{{> steps-indicator }}

	<form data-js-module="checkoutYourPodPoint">
		{{> basket-floating }}

		{{> select-ev }}

		{{> select-connector }}

		{{> select-pod-point }}

		{{> discounts }}

		{{> checkout-ctas-step1 }}

		{{> checkout-questions-step1 }}
	</form>

	{{> footer }}
</div>