<div data-page="checkout-step1">
	{{> header }}

	{{> steps-indicator }}

	<form>
		{{> basket-floating }}

		{{> select-ev }}

		{{> select-pod-point }}

		{{> select-connector }}

		{{> select-accessories }}

		{{> checkout-ctas-step1 }}

		{{> checkout-questions-step1 }}
	</form>

	{{> footer }}
</div>