<div class="checkout-flow" data-page="checkout-step3">
	{{> header }}

	{{> steps-indicator }}

	{{> thanks-paid }}

	{{> olev-annex-d }}

	{{> vehicle-ownership }}

	{{> electricity-meter }}

	{{> checkout-ctas-step4 }}

	{{> checkout-questions-step3 }}

	{{> footer }}
</div>
