<div class="checkout-flow" data-page="checkout-step2">
	{{> header }}

	{{> steps-indicator }}

	<form data-js-module="checkoutPayment">

	{{> payment-overview }}

	{{> your-details }}

	{{> payment-details }}

	{{> checkout-ctas-step2 }}

	{{> checkout-questions-step2 }}

	</form>

	{{> footer }}
</div>