<div class="checkout-flow" data-page="checkout-step2">
	{{> header }}

	{{> steps-indicator }}

	<form data-js-module="checkoutPayment">

	{{> install-eligibility }}

	{{> select-accessories }}

	{{> your-details }}

	{{> payment-details }}

	{{> checkout-ctas-step2 }}

	{{> checkout-questions-step2 }}

	</form>

	{{> footer }}
</div>

<!-- Replace the value of the key parameter with your own API key. -->
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDJDHzP78pQL4DbiEBhV8RyBRLJnIzhLX0&libraries=places&callback=initAutocomplete"
    async defer></script>

