<div data-page="checkout-step4">
	{{> header }}

	{{> steps-indicator }}

	{{> olev-annex-d }}

	{{> vehicle-ownership }}

	{{> electricity-meter }}

	{{> checkout-ctas }}

	{{> checkout-questions }}

	{{> footer }}
</div>
