<div data-page="checkout-step2">
	{{> header }}

	{{> steps-indicator }}

	{{> payment-overview }}

	{{> your-details }}

	{{> payment-details }}

	{{> checkout-ctas-step2 }}

	{{> checkout-questions-step2 }}

	{{> footer }}
</div>