<div data-page="checkout-step2">
	{{> header }}

	{{> steps-indicator }}

	{{> payment-overview }}

	{{> your-details }}

	{{> payment-details }}

	{{> checkout-ctas }}

	{{> checkout-questions }}

	{{> footer }}
</div>