<div data-page="checkout-step1">
	{{> header }}

	{{> steps-indicator }}

	{{> basket-floating }}

	{{> select-ev }}

	{{> select-pod-point }}

	{{> select-connector }}

	{{> select-accessories }}

	{{> checkout-ctas }}

	{{> checkout-questions }}

	{{> footer }}
</div>