<div data-page="css-bg-img" class="demo-page-content">

    {{> demo-sidebar }}

    <div class="demo-container-with-sidebar">
        <header class="content-block content-block--strip bg-primary">
            <div class="container">
                <h2>CSS Background images</h2>
            </div>
        </header>


        <!-- CSS BACKGROUND IMAGES -->
        <section id="cssBgImg">
            <header class="content-block bg-light-gray">
                <div class="container">
                    <h3>CSS Background images</h3>
                </div>
            </header>

            <div class="content-block">
                <div class="container">
                    <p>[ Where to find the images used and how to change the file path variable (gulp tasks to copy over?) ]</p>
                </div>
            </div>
        </section>
    </div>
</div>
