<div data-page="example-form">
   <section class="bg--white">
      <div class="container">
         <div class="content-block content-block--standout">
            <h1>Commercial enquiry</h1>
            <div class="max-width-text marg-center">
               <form class="form" id="commercial-enquiry" action="https://test.salesforce.com/servlet/servlet.WebToLead?encoding=UTF-8" method="POST" data-js-module="trackForm" novalidate>
                  <input type="hidden" name="retURL" value="http://pod-point.dev/commercial-enquiry-success">
                  <input type="hidden" name="oid" value="00D7E0000008u9O">
                  <div class="grid-wrap text-left">
                     <div class="grid-row m-t-md">
                        <div class="grid-col grid-col--md-6">
                           <div class="form__group">
                              <label class="form__label" for="first_name">First name</label>
                              <div class="form-field-wrapper">
                                 <input type="text" name="first_name" id="first_name" required="">
                              </div>
                           </div>
                        </div>
                        <div class="grid-col grid-col--md-6">
                           <div class="form__group">
                              <label class="form__label" for="last_name">Last name</label>
                              <div class="form-field-wrapper">
                                 <input type="text" name="last_name" id="last_name" required="">
                              </div>
                           </div>
                        </div>
                        <div class="grid-col grid-col--md-6">
                           <div class="form__group">
                              <label class="form__label" for="email">Work email</label>
                              <div class="form-field-wrapper">
                                 <input type="email" name="email" id="email" required="">
                              </div>
                           </div>
                        </div>
                        <div class="grid-col grid-col--md-6">
                           <div class="form__group">
                              <label class="form__label" for="phone">Phone</label>
                              <div class="form-field-wrapper">
                                 <input type="text" name="phone" id="phone" value="" required="">
                              </div>
                           </div>
                        </div>
                        <div class="grid-col grid-col--md-12">
                           <div class="form__group">
                              <label class="form__label" for="company">Company</label>
                              <div class="form-field-wrapper">
                                 <input type="text" name="company" id="company" value="" required="">
                              </div>
                           </div>
                        </div>
                        <div class="grid-col grid-col--md-12">
                           <label class="form__label">Industries</label>
                           <div class="form__group">
                              <div class="select-wrapper">
                                 <select id="00N7E000000xjQ7" name="00N7E000000xjQ7" data-tracking-name="industry" data-select-toggle-panel="otherIndustry" required="">
                                    <option value="" checked="checked" style="display:none;">Please select</option>
                                    <option value="advertising">Advertising</option>
                                    <option value="" checked="checked" style="display:none;">Please select</option>
                                    <option value="automotive">Automotive</option>
                                    <option value="" checked="checked" style="display:none;">Please select</option>
                                    <option value="other">Other</option>
                                 </select>
                              </div>
                           </div>
                           <div data-js-module="toggleAccordionPanel" id="otherIndustry" class="accordion-panel accordion-panel--xs">
                              <div class="m-t-sm">
                                 <div class="form__group">
                                    <label class="form__label" for="00N7E000000xjQl">Please specify...</label>
                                    <div class="form-field-wrapper">
                                       <input type="text" name="00N7E000000xjQl" id="00N7E000000xjQl" value="" data-tracking-name="industryOther">
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                        <div class="grid-col grid-col--md-12">
                           <label class="form__label">Why are you interested in EV charging?</label>
                           <div class="form__group">
                              <div class="select-wrapper">
                                 <select id="00N2400000IVWiZ" name="00N2400000IVWiZ" data-tracking-name="interestReason" data-select-toggle-panel="otherWhyEv" required="">
                                    <option value="" checked="checked" style="display:none;">Please select</option>
                                    <option value="staff-car-park">I want to put charging points in the car park for the staff</option>
                                    <option value="" checked="checked" style="display:none;">Please select</option>
                                    <option value="other">Other</option>
                                 </select>
                              </div>
                           </div>
                           <div data-js-module="toggleAccordionPanel" id="otherWhyEv" class="accordion-panel accordion-panel--xs">
                              <div class="m-t-sm">
                                 <div class="form__group">
                                    <label class="form__label" for="00N7E000000yBra">Please specify...</label>
                                    <div class="form-field-wrapper">
                                       <input type="text" name="00N7E000000yBra" id="00N7E000000yBra" value="" data-tracking-name="interestReasonOther">
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                        <div class="grid-col grid-col--md-12">
                           <label class="form__label">How many parking spaces do you have?</label>
                           <div class="form__group">
                              <div class="select-wrapper">
                                 <select id="00N7E000000xjQq" name="00N7E000000xjQq" data-tracking-name="parkingSpaces" required="">
                                    <option value="" checked="checked" style="display:none;">Please select</option>
                                    <option value="1-10">1-10</option>
                                    <option value="" checked="checked" style="display:none;">Please select</option>
                                    <option value="10-20">10-20</option>
                                    <option value="" checked="checked" style="display:none;">Please select</option>
                                    <option value="20-50">20-50</option>
                                    <option value="" checked="checked" style="display:none;">Please select</option>
                                    <option value="50+">50+</option>
                                 </select>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
                  <button type="submit" class="button button--primary m-t-lg">Send</button>
               </form>
            </div>
         </div>
      </div>
   </section>
</div>
