<div data-page="example-form">
   <section class="bg--white">
      <div class="container">
         <div class="content-block content-block--standout">
            <h1>Commercial enquiry</h1>
            <div class="max-width-text marg-center">

<form id="homecharge-form"
                      method="post"
                      accept-charset="UTF-8"
                      enctype="multipart/form-data"
                      data-js-module="trackForm"
                      class="form"
                      novalidate
                >



                    <input type="hidden" name="action" value="homeChargeForm/sendRequest">
                    <input type="hidden" name="redirect" value="http://pod-point.dev/homepage-enquiry-success">


                    <div class="grid-wrap text-left">
                        <div class="grid-row m-t-md">
                            <div class="grid-col grid-col--md-6">






<div class="form__group has-content">
    <label class="form__label" for="firstName">First name</label>
    <div class="form-field-wrapper">
        <input type="text" name="firstName" id="firstName" value="" required  />
            </div>
</div>
                            </div>
                            <div class="grid-col grid-col--md-6">






<div class="form__group has-content">
    <label class="form__label" for="lastName">Last name</label>
    <div class="form-field-wrapper">
        <input type="text" name="lastName" id="lastName" value="" required  />
            </div>
</div>
                            </div>
                            <div class="grid-col grid-col--md-6">






<div class="form__group has-content">
    <label class="form__label" for="email">Email</label>
    <div class="form-field-wrapper">
        <input type="email" name="email" id="email" value="" required  />
            </div>
</div>
                            </div>
                            <div class="grid-col grid-col--md-6">






<div class="form__group has-content">
    <label class="form__label" for="phoneNumber">Phone</label>
    <div class="form-field-wrapper">
        <input type="text" name="phoneNumber" id="phoneNumber" value="" required  />
            </div>
</div>
                            </div>
                        </div>
                    </div>
                    <div class="form__group form__group--actions">
                        <button type="submit" class="button m-t-xl">Submit</button>
                    </div>
                </form>

            </div>
         </div>
      </div>
   </section>
</div>
