{{> demo-header }}
<div data-page="footer">
	<header class="demo-section-heading">
		<div class="container content-block">
			<h2>Footer</h2>
		</div>
	</header>

	<section>
		{{> footer }}
	</section>
</div>