<div data-page="footer">
	<header class="demo-section-heading">
		<div class="container container--vertical-padding">
			<h2>Footer</h2>
		</div>
	</header>

	<section>
			<footer class="global-footer">
				<div class="global-footer__section-top">
					<div class="container container--vertical-padding">
						<div class="grid-wrap">
							<div class="grid-row">
								<div class="grid-col-6">
									<dl data-js-module="accordion" class="accordion accordion--only-mobile grid-row">
										<div class="grid-col-4">
											<dt>Customer Support <i class="plus-minus-toggle"><span></span></i></dt>
											<dd>
												<div class="accordion__item-content">
													<ul class="list--links list--small">
														<li><a href="#">Knowledge base</a></li>
														<li><a href="#">Download</a></li>
														<li><a href="#">Contact us</a></li>
													</ul>
												</div>
											</dd>
										</div>
										<div class="grid-col-4">
											<dt>Open Charge <i class="plus-minus-toggle"><span></span></i></dt>
											<dd>
												<div class="accordion__item-content">
													<ul class="list--links list--small">
														<li><a href="#">Find a POD Point</a></li>
														<li><a href="#">Mobile App</a></li>
													</ul>
												</div>
											</dd>
										</div>
										<div class="grid-col-4">
											<dt>About Us <i class="plus-minus-toggle"><span></span></i></dt>
											<dd>
												<div class="accordion__item-content">
													<ul class="list--links list--small">
														<li><a href="#">Our Story</a></li>
														<li><a href="#">Careers</a></li>
														<li><a href="#">Blog</a></li>
													</ul>
												</div>
											</dd>
										</div>
									</dl>
								</div>
								<div class="grid-col-6">
									<div class="global-footer__section-top__bottom">
										<ul class="list--links list--small">
											<li><a href="#">28-42 Banner Street, London EC1Y 8QE</a></li>
											<li><a href="#">+44 207 247 4114</a></li>
											<li><a href="#">info@pod-point.com</a></li>
										</ul>
										<ul class="icons-list icons-list--inline">
											<li><a href="#" class="circle-icon circle-icon--small iconfont-facebook"></a></li>
											<li><a href="#" class="circle-icon circle-icon--small iconfont-twitter"></a></li>
											<li><a href="#" class="circle-icon circle-icon--small iconfont-linkedin"></a></li>
											<li><a href="#" class="circle-icon circle-icon--small iconfont-youtube"></a></li>
											<li><a href="#" class="circle-icon circle-icon--small iconfont-instagram"></a></li>
											<li><a href="#" class="circle-icon circle-icon--small iconfont-google"></a></li>
										</ul>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="global-footer__section-bottom">
					<div class="container">
						<div class="grid-wrap">
							<div class="grid-row">
								<div class="grid-col-6">
									<ul class="list--links list--inline">
										<li><a href="#">Terms &amp; conditions</a></li>
										<li><a href="#">Privacy policy</a></li>
										<li><a href="#">Terms of use</a></li>
									</ul>
								</div>
								<div class="grid-col-6">
									<p class="copyright">Copyright 2017 POD Point. All right reserved.</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</footer>
		</div>
	</section>
</div>