{{> demo-header }}
<div data-page="forms">
	<header class="demo-section-heading">
		<div class="container content-block">
			<h2>Forms</h2>
		</div>
	</header>


	<!-- INPUTS -->
	<section>
		<header class="demo-section-sub-heading">
			<div class="container">
				<h3>Inputs</h3>
			</div>
		</header>

		<div class="container content-block">
			<div class="form__group field-row">
				<label class="form__label">Input field</label>
				<div class="form-field-wrapper">
					<input type="text" required placeholder="Sample placeholder text">
				</div>
			</div>

			<div class="form__group field-row">
				<label class="form__label">Input field - disabled</label>
				<div class="form-field-wrapper">
					<input type="text" disabled="true">
				</div>
			</div>

			<div class="form__group field-row has-content form__group--valid">
				<label class="form__label">Input field - valid</label>
				<div class="form-field-wrapper">
					<input type="text" placeholder="Sample placeholder text" class="has-content">
				</div>
			</div>

			<div class="form__group field-row has-content form__group--error">
				<label class="form__label">Input field - invalid</label>
				<div class="form-field-wrapper">
					<input type="text" placeholder="Sample placeholder text" class="has-content">
					<span class="form__error">This is an error message.</span>
				</div>
			</div>
		</div>
	</section>


	<!-- TEXT AREAS -->
	<section>
		<header class="demo-section-sub-heading">
			<div class="container">
				<h3>Text areas</h3>
			</div>
		</header>

		<div class="container content-block">
			<div class="form__group field-row">
				<label class="form__label">Text area</label>
				<div class="form-field-wrapper">
					<textarea type="text"></textarea>
				</div>
			</div>

			<div class="form__group field-row">
				<label class="form__label">Text area - disabled</label>
				<div class="form-field-wrapper">
					<textarea type="text" disabled="true"></textarea>
				</div>
			</div>

			<div class="form__group field-row has-content form__group--valid">
				<label class="form__label">Text area - valid</label>
				<div class="form-field-wrapper">
					<textarea type="text" class="has-content"></textarea>
				</div>
			</div>

			<div class="form__group field-row has-content form__group--error">
				<label class="form__label">Text area - invalid</label>
				<div class="form-field-wrapper">
					<textarea type="text" class="has-content"></textarea>
					<span class="form__error">This is an error message.</span>
				</div>
			</div>
		</div>
	</section>


	<!-- SELECT DROPDOWNS -->
	<section>
		<header class="demo-section-sub-heading">
			<div class="container">
				<h3>Select dropdowns</h3>
			</div>
		</header>

		<div class="container content-block">
			<div class="form__group field-row">
				<label class="form__label">Select dropdown</label>
				<div class="form-field-wrapper">
					<div class="select-wrapper">
						<select>
							<option value="00">00</option>
							<option selected value="01">01</option>
							<option value="02">02</option>
						</select>
					</div>
				</div>
			</div>

			<div class="form__group field-row">
				<label class="form__label">Select dropdown - disabled</label>
				<div class="form-field-wrapper">
					<div class="select-wrapper is-disabled">
						<select disabled="true">
							<option value="00">00</option>
							<option selected value="01">01</option>
							<option value="02">02</option>
						</select>
					</div>
				</div>
			</div>

			<div class="form__group field-row has-content form__group--valid">
				<label class="form__label">Select dropdown - valid</label>
				<div class="form-field-wrapper">
					<div class="select-wrapper">
						<select>
							<option value="00">00</option>
							<option selected value="01">01</option>
							<option value="02">02</option>
						</select>
					</div>
				</div>
			</div>

			<div class="form__group field-row has-content form__group--error">
				<label class="form__label">Select dropdown - invalid</label>
				<div class="form-field-wrapper">
					<div class="select-wrapper">
						<select>
							<option value="00">00</option>
							<option selected value="01">01</option>
							<option value="02">02</option>
						</select>
					</div>
					<span class="form__error">This is an error message.</span>
				</div>
			</div>
		</div>
	</section>


	<!-- CHECKBOXES -->
	<section>
		<header class="demo-section-sub-heading">
			<div class="container">
				<h3>Checkboxes</h3>
			</div>
		</header>

		<div class="container content-block">
			<div class="form__group field-row">
				<div class="form-field-wrapper">
                    <label class="checkbox" for="checkboxExample1">
                        <input type="checkbox" name="checkboxExample1" id="checkboxExample1" checked="checked" value="value1">
                        <span>This is an example of a checkbox</span>
                    </label>
                </div>
			</div>
			<div class="form__group field-row">
                <div class="form-field-wrapper">
                    <label class="checkbox" for="checkboxExample2">
                        <input type="checkbox" name="checkboxExample2" id="checkboxExample2" checked="checked" value="value2">
                        <span>This is an example of a checkbox with lots of text and a <a href="#" class="a">link</a>. Aenean sapien est, convallis sit amet euismod sit amet, porttitor at quam. Suspendisse consectetur nulla odio, et fringilla magna feugiat et.</span>
                    </label>
                </div>
            </div>
            <div class="form__group field-row">
                <div class="form-field-wrapper">
                    <label class="checkbox" for="checkboxExample3">
                        <input type="checkbox" name="checkboxExample3" id="checkboxExample3" disabled="true" value="value3">
                        <span>This is an example of a disabled checkbox</span>
                    </label>
                </div>
            </div>
            <div class="form__group field-row has-content form__group--error">
                <div class="form-field-wrapper">
                    <label class="checkbox" for="checkboxExample4">
                        <input type="checkbox" name="checkboxExample4" id="checkboxExample4" value="value4">
                        <span>This is an example of a checkbox with an error.</span>
                    </label>
                    <span class="form__error">This is an error message.</span>
                </div>
            </div>
		</div>
	</section>


	<!-- RADIOS -->
	<section>
		<header class="demo-section-sub-heading">
			<div class="container">
				<h3>Radios</h3>
			</div>
		</header>

		<div class="container content-block">

            <div class="field-row form__group">
                <div class="form-field-wrapper">
                    <label class="form__label radio" for="radioExample1">
                        <input class="form__control" type="radio" id="radioExample1" name="radioExample" value="radioExample1">
                        <span>Radio example one</span>
                    </label>
                    <label class="form__label radio" for="radioExample2">
                        <input class="form__control" type="radio" id="radioExample2" name="radioExample" value="radioExample2">
                        <span>Radio example two</span>
                    </label>
                    <label class="form__label radio" for="radioExample3">
                        <input class="form__control" type="radio" id="radioExampleDisabled" name="radioExample" value="radioExampleDisabled" disabled>
                        <span>Radio example disabled</span>
                    </label>
                </div>
            </div>

			<div class="field-row form__group">
                <div class="form-field-wrapper">
                    <label class="form__label radio radio--inline" for="radioExampleInline1">
                        <input class="form__control" type="radio" id="radioExampleInline1" name="radioExampleInline" value="radioExampleInline1">
                        <span>Inline radio example one</span>
                    </label>
                    <label class="form__label radio radio--inline" for="radioExampleInline2">
                        <input class="form__control" type="radio" id="radioExampleInline2" name="radioExampleInline" value="radioExampleInline2">
                        <span>Inline radio example two</span>
                    </label>
                </div>
            </div>

			<div class="form-action-buttons">
				<button type="Submit" class="button">Submit</button>
			</div>
		</div>
	<section>
</div>
