{{> demo-header }}
<div data-page="gallery-simple">
    <header class="content-block content-block--strip bg-primary">
        <div class="container">
            <h2>Gallery simple</h2>
        </div>
    </header>

	<section class="container content-block">
		{{> gallery-simple }}
	</section>
</div>
