<div data-page="grid" class="demo-page-content">

    {{> demo-sidebar }}

    <div class="demo-container-with-sidebar">
        <header class="content-block content-block--strip bg-primary">
            <div class="container">
                <h2>Grid</h2>
                <ul class="list--inline remove-link-styles font-weight-bold">
                    <li><a href="#gridRequired">Required files</a></li>
                    <li><a href="#gridBasic">Basic fluid grid</a></li>
                    <li><a href="#gridStacking">Grid stacking on mobile</a></li>
                    <li><a href="#gridResponsive">Fully responsive grid</a></li>
                </ul>
            </div>
        </header>


        <!-- REQUIRED FILES -->
        <section id="gridRequired">
            <header class="content-block bg-light-grey">
                <div class="container">
                    <h3>Required files</h3>
                </div>
            </header>
            <div class="content-block">
                <div class="container">
                    <p>SCSS files required: <code>_objects.grid.scss</code></p>
                </div>
            </div>
        </section>

        <header class="content-block bg-light-grey">
            <div class="container">
                <h3>Grid system</h3>
                <p>This grid system uses flexbox and flexbox grid mixins.</p>
                <p>The grid file <code>objects.grid.scss</code> includes 12 column sizes at small, medium and large breakpoints. 2% is the default gutter and can be changed in the grid settings file <code>settings.grid.scss</code></p>
                <p>If you are not using this for your project or require a more simplified version, it may be more beneficial to not include the file and create your own grid system using the <code>objects.grid.scss</code> as a guide as well as any more options from the flexbox grid mixins.</p>
                <p>For more info on how to configure your own grids see the docs <a href="http://thingsym.github.io/flexbox-grid-mixins">here</a></p>
            </div>
        </header>


        <!-- BASIC FLUID GRID -->
        <section id="gridBasic">
            <header class="content-block bg-light-grey">
                <div class="container">
                    <h3>Basic fluid grid</h3>
                    <p>The container requires the class <code>.grid</code> and each grid column requires a class starting with <code>.grid__col-</code> plus the relevant column number width eg. <code>.grid__col-12</code> for full width and <code>.grid__col-6</code> for half width.</p>
                    <p></p>
{{> snippet-grid-basic }}
                </div>
            </header>

            <div class="content-block">
                <div class="container">
                    <div class="grid">
                        <div class="grid__col-12">
                            12
                        </div>
                    </div>

                    <div class="grid">
                        <div class="grid__col-1">
                            1
                        </div>
                        <div class="grid__col-11">
                            11
                        </div>
                    </div>

                    <div class="grid">
                        <div class="grid__col-2">
                            2
                        </div>
                        <div class="grid__col-10">
                            10
                        </div>
                    </div>

                    <div class="grid">
                        <div class="grid__col-3">
                            3
                        </div>
                        <div class="grid__col-9">
                            9
                        </div>
                    </div>

                    <div class="grid">
                        <div class="grid__col-4">
                            4
                        </div>
                        <div class="grid__col-8">
                            8
                        </div>
                    </div>

                    <div class="grid">
                        <div class="grid__col-5">
                            5
                        </div>
                        <div class="grid__col-7">
                            7
                        </div>
                    </div>

                    <div class="grid">
                        <div class="grid__col-6">
                            6
                        </div>
                        <div class="grid__col-6">
                            6
                        </div>
                    </div>
                </div>
            </div>
        </section>


        <!-- RESPONSIVE STACKING GRID -->
        <section class="gridStacking">
            <header class="content-block bg-light-grey">
                <div class="container">
                    <h3>Grid stacking on mobile</h3>
                    <p>To make the columns stack to be full width on mobile, the full width column class needs to be applied to all columns <code>grid__col-12</code> and then a breakpoint class with the required width eg. <code>grid__col-md-6</code>.</p>
{{> snippet-grid-stacks }}
                </div>
            </header>

            <div class="content-block">
                <div class="container">
                    <div class="grid">
                        <div class="grid__col-12">
                            12
                        </div>
                    </div>

                    <div class="grid">
                        <div class="grid__col-12 grid__col-md-1">
                            1
                        </div>
                        <div class="grid__col-12 grid__col-md-11">
                            11
                        </div>
                    </div>

                    <div class="grid">
                        <div class="grid__col-12 grid__col-md-2">
                            2
                        </div>
                        <div class="grid__col-12 grid__col-md-10">
                            10
                        </div>
                    </div>

                    <div class="grid">
                        <div class="grid__col-12 grid__col-md-3">
                            3
                        </div>
                        <div class="grid__col-12 grid__col-md-9">
                            9
                        </div>
                    </div>

                    <div class="grid">
                        <div class="grid__col-12 grid__col-md-4">
                            4
                        </div>
                        <div class="grid__col-12 grid__col-md-8">
                            8
                        </div>
                    </div>

                    <div class="grid">
                        <div class="grid__col-12 grid__col-md-5">
                            5
                        </div>
                        <div class="grid__col-12 grid__col-md-7">
                            7
                        </div>
                    </div>

                    <div class="grid">
                        <div class="grid__col-12 grid__col-md-6">
                            6
                        </div>
                        <div class="grid__col-12 grid__col-md-6">
                            6
                        </div>
                    </div>
                </div>
            </div>
        </section>


        <!-- RESPONSIVE STACKING GRID -->
        <section id="gridResponsive">
            <header class="content-block bg-light-grey">
                <div class="container">
                    <h3>Fully responsive grid</h3>
                    <p>There are 3 more breakpoint classes available for the column widths <code>sm</code>, <code>md</code>, <code>lg</code>.</p>
                    <p>The below example illustrates all 4 breakpoint classes being applied.</p>
{{> snippet-grid-breakpoints }}
                </div>
            </header>

            <div class="content-block">
                <div class="container">
                    <div class="grid">
                        <div class="grid__col-12 grid__col-sm-6 grid__col-md-5 grid__col-lg-1">
                            1
                        </div>
                        <div class="grid__col-12 grid__col-sm-6 grid__col-md-7 grid__col-lg-11">
                            11
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>
