<div data-page="homecharge">
	{{> header }}

	{{> hero-homecharge }}

	{{> brands }}

	{{> homecharge-usps }}

	{{> product-details }}

	{{> homecharge-features }}

	{{> reviews-snippet }}

	{{> eligible-for-olev }}

	{{> installation-house }}

	{{> installation }}

	{{> reviews-carousel }}

	{{> questions }}

	{{> news-signup }}

	{{> footer }}
</div>
