<div data-page="home">
	{{> header }}

	{{> hero-home }}

	{{> flip-counters-all }}

	{{> the-chargers }}

	{{> brands }}

	{{> flip-counter-co2 }}

	{{> featured-questions }}

	{{> flip-counter-miles }}

	{{> ev-map }}

	{{> news-signup }}

	{{> footer }}
</div>

