<div data-page="home">
	{{> header }}

	{{> hero-home }}

	{{> flip-counters-all }}

	{{> the-chargers }}

	{{> homecharge-form-modal }}

	{{> commercial-form-modal }}

	{{> workplace-form-modal }}

	{{> brands }}

	{{> flip-counter-mobile-stat2 }}

	{{> featured-questions }}

	{{> flip-counter-mobile-stat3 }}

	{{> ev-map }}

	{{> news-signup }}

	{{> footer }}
</div>

