<div data-page="home">
	{{> header }}

	{{> home-intro }}

	{{> the-chargers }}

	{{> brands }}

	{{> featured-questions }}

	{{> environment }}

	{{> ev-map }}

	{{> tickers }}

	{{> news-signup }}

	{{> footer }}
</div>