{{> demo-header }}
<div data-page="icons">
	<header class="demo-section-heading">
		<div class="container content-block">
			<h2>Icons</h2>
		</div>
	</header>


	<!-- ICONS -->
	<section>
		<header class="demo-section-sub-heading">
			<div class="container">
				<h3>Icons</h3>
			</div>
		</header>
		<div class="container content-block">
			<ul class="icons-list icons-list--inline">
				<li><i class="clickable icon">{{> icon-cross }}</i></li>
				<li><i class="clickable icon">{{> icon-charge-location }}</i></li>
				<li><i class="clickable icon">{{> icon-charge }}</i></li>
				<li><i class="clickable icon">{{> icon-location }}</i></li>
				<li><i class="clickable icon">{{> icon-tick }}</i></li>
				<li><i class="clickable icon">{{> icon-arrow }}</i></li>
				<li><i class="clickable icon">{{> icon-money }}</i></li>
				<li><i class="clickable icon">{{> icon-cheveron }}</i></li>
				<li><i class="clickable icon">{{> icon-star }}</i></li>
			</ul>
			<br>
			<ul class="icons-list icons-list--inline">
				<li><a href="#" class="icon">{{> icon-facebook }}</a></li>
				<li><a href="#" class="icon">{{> icon-twitter }}</a></li>
				<li><a href="#" class="icon">{{> icon-linkedin }}</a></li>
				<li><a href="#" class="icon">{{> icon-youtube }}</a></li>
				<li><a href="#" class="icon">{{> icon-instagram }}</a></li>
				<li><a href="#" class="icon">{{> icon-google }}</a></li>
			</ul>
		</div>
	</section>


	<!-- ICONS IN CIRCLES - SIZES -->
	<section>
		<header class="demo-section-sub-heading">
			<div class="container">
				<h3>Icons in circles - sizes</h3>
			</div>
		</header>
		<div class="container content-block">
			<h4>Non responsive</h4>
			<ul class="icons-list icons-list--inline">
				<li><a class="circle-icon" href="#"><i class="icon">{{> icon-facebook }}</i></a></li>
				<li><a class="circle-icon" href="#"><i class="icon">{{> icon-twitter }}</i></a></li>
				<li><a class="circle-icon" href="#"><i class="icon">{{> icon-linkedin }}</i></a></li>
				<li><a class="circle-icon" href="#"><i class="icon">{{> icon-youtube }}</i></a></li>
				<li><a class="circle-icon" href="#"><i class="icon">{{> icon-instagram }}</i></a></li>
				<li><a class="circle-icon" href="#"><i class="icon">{{> icon-google }}</i></a></li>
			</ul>
			<hr>
			<h4>Small responsive</h4>
			<ul class="icons-list icons-list--inline">
				<li><a class="circle-icon circle-icon--small-resp" href="#"><i class="icon">{{> icon-facebook }}</i></a></li>
				<li><a class="circle-icon circle-icon--small-resp" href="#"><i class="icon">{{> icon-twitter }}</i></a></li>
				<li><a class="circle-icon circle-icon--small-resp" href="#"><i class="icon">{{> icon-linkedin }}</i></a></li>
				<li><a class="circle-icon circle-icon--small-resp" href="#"><i class="icon">{{> icon-youtube }}</i></a></li>
				<li><a class="circle-icon circle-icon--small-resp" href="#"><i class="icon">{{> icon-instagram }}</i></a></li>
				<li><a class="circle-icon circle-icon--small-resp" href="#"><i class="icon">{{> icon-google }}</i></a></li>
			</ul>
			<hr>
			<h4>Large responsive</h4>
			<ul class="icons-list icons-list--inline">
				<li><a class="circle-icon circle-icon--large-resp" href="#"><i class="icon">{{> icon-facebook }}</i></a></li>
				<li><a class="circle-icon circle-icon--large-resp" href="#"><i class="icon">{{> icon-twitter }}</i></a></li>
				<li><a class="circle-icon circle-icon--large-resp" href="#"><i class="icon">{{> icon-linkedin }}</i></a></li>
				<li><a class="circle-icon circle-icon--large-resp" href="#"><i class="icon">{{> icon-youtube }}</i></a></li>
				<li><a class="circle-icon circle-icon--large-resp" href="#"><i class="icon">{{> icon-instagram }}</i></a></li>
				<li><a class="circle-icon circle-icon--large-resp" href="#"><i class="icon">{{> icon-google }}</i></a></li>
			</ul>
		</div>
	</section>


	<!-- ICONS IN CIRCLES - COLORS -->
	<section>
		<header class="demo-section-sub-heading">
			<div class="container">
				<h3>Icons in circles - colors</h3>
			</div>
		</header>
		<div class="container content-block">
			<ul class="icons-list icons-list--inline">
				<li><a class="circle-icon circle-icon--green" href="#"><i class="icon">{{> icon-facebook }}</i></a></li>
				<li><a class="circle-icon circle-icon--green" href="#"><i class="icon">{{> icon-twitter }}</i></a></li>
				<li><a class="circle-icon circle-icon--green" href="#"><i class="icon">{{> icon-linkedin }}</i></a></li>
				<li><a class="circle-icon circle-icon--green" href="#"><i class="icon">{{> icon-youtube }}</i></a></li>
				<li><a class="circle-icon circle-icon--green" href="#"><i class="icon">{{> icon-instagram }}</i></a></li>
				<li><a class="circle-icon circle-icon--green" href="#"><i class="icon">{{> icon-google }}</i></a></li>
			</ul>
			<hr>
			<ul class="icons-list icons-list--inline">
				<li><a class="circle-icon circle-icon--outlined" href="#"><i class="icon">{{> icon-facebook }}</i></a></li>
				<li><a class="circle-icon circle-icon--outlined" href="#"><i class="icon">{{> icon-twitter }}</i></a></li>
				<li><a class="circle-icon circle-icon--outlined" href="#"><i class="icon">{{> icon-linkedin }}</i></a></li>
				<li><a class="circle-icon circle-icon--outlined" href="#"><i class="icon">{{> icon-youtube }}</i></a></li>
				<li><a class="circle-icon circle-icon--outlined" href="#"><i class="icon">{{> icon-instagram }}</i></a></li>
				<li><a class="circle-icon circle-icon--outlined" href="#"><i class="icon">{{> icon-google }}</i></a></li>
			</ul>
			<hr>
			<ul class="icons-list icons-list--inline">
				<li><a class="circle-icon circle-icon--outlined-green" href="#"><i class="icon">{{> icon-facebook }}</i></a></li>
				<li><a class="circle-icon circle-icon--outlined-green" href="#"><i class="icon">{{> icon-twitter }}</i></a></li>
				<li><a class="circle-icon circle-icon--outlined-green" href="#"><i class="icon">{{> icon-linkedin }}</i></a></li>
				<li><a class="circle-icon circle-icon--outlined-green" href="#"><i class="icon">{{> icon-youtube }}</i></a></li>
				<li><a class="circle-icon circle-icon--outlined-green" href="#"><i class="icon">{{> icon-instagram }}</i></a></li>
				<li><a class="circle-icon circle-icon--outlined-green" href="#"><i class="icon">{{> icon-google }}</i></a></li>
			</ul>
		</div>
		<div class="bg--dark-gray">
			<div class="container content-block">
				<ul class="icons-list icons-list--inline">
					<li><a class="circle-icon circle-icon--outlined-dark" href="#"><i class="icon">{{> icon-facebook }}</i></a></li>
					<li><a class="circle-icon circle-icon--outlined-dark" href="#"><i class="icon">{{> icon-twitter }}</i></a></li>
					<li><a class="circle-icon circle-icon--outlined-dark" href="#"><i class="icon">{{> icon-linkedin }}</i></a></li>
					<li><a class="circle-icon circle-icon--outlined-dark" href="#"><i class="icon">{{> icon-youtube }}</i></a></li>
					<li><a class="circle-icon circle-icon--outlined-dark" href="#"><i class="icon">{{> icon-instagram }}</i></a></li>
					<li><a class="circle-icon circle-icon--outlined-dark" href="#"><i class="icon">{{> icon-google }}</i></a></li>
				</ul>
			</div>
		</div>
		<div class="bg--very-light-gray">
			<div class="container content-block">
				<ul class="icons-list icons-list--inline">
					<li><a class="circle-icon circle-icon--white-outline" href="#"><i class="icon">{{> icon-facebook }}</i></a></li>
					<li><a class="circle-icon circle-icon--white-outline" href="#"><i class="icon">{{> icon-twitter }}</i></a></li>
					<li><a class="circle-icon circle-icon--white-outline" href="#"><i class="icon">{{> icon-linkedin }}</i></a></li>
					<li><a class="circle-icon circle-icon--white-outline" href="#"><i class="icon">{{> icon-youtube }}</i></a></li>
					<li><a class="circle-icon circle-icon--white-outline" href="#"><i class="icon">{{> icon-instagram }}</i></a></li>
					<li><a class="circle-icon circle-icon--white-outline" href="#"><i class="icon">{{> icon-google }}</i></a></li>
				</ul>
			</div>
		</div>
	</section>

</div>
