<div data-page="icons">
	<header class="demo-section-heading">
		<div class="container container--vertical-padding">
			<h2>Icons</h2>
		</div>
	</header>


	<!-- ICONS -->
	<section>
		<header class="demo-section-sub-heading">
			<div class="container">
				<h3>Icons</h3>
			</div>
		</header>
		<div class="container container--vertical-padding">
			<ul class="icons-list icons-list--inline">
				<li><a href="#" class="iconfont-cross"></a></li>
				<li><a href="#" class="iconfont-charge-location"></a></li>
				<li><a href="#" class="iconfont-charge"></a></li>
				<li><a href="#" class="iconfont-location"></a></li>
				<li><a href="#" class="iconfont-tick"></a></li>
				<li><a href="#" class="iconfont-arrow"></a></li>
				<li><a href="#" class="iconfont-money"></a></li>
				<li><a href="#" class="iconfont-cheveron"></a></li>
				<li><a href="#" class="iconfont-star"></a></li>
			</ul>
			<br>
			<ul class="icons-list icons-list--inline">
				<li><a href="#" class="iconfont-facebook"></a></li>
				<li><a href="#" class="iconfont-twitter"></a></li>
				<li><a href="#" class="iconfont-linkedin"></a></li>
				<li><a href="#" class="iconfont-youtube"></a></li>
				<li><a href="#" class="iconfont-instagram"></a></li>
				<li><a href="#" class="iconfont-google"></a></li>
			</ul>
		</div>
	</section>


	<!-- ICONS IN CIRCLES-->
	<section>
		<header class="demo-section-sub-heading">
			<div class="container">
				<h3>Icons in circles</h3>
			</div>
		</header>
		<div class="container container--vertical-padding">
			<h4>Responsive</h4>
			<ul class="icons-list icons-list--inline">
				<li><a href="#" class="circle-icon circle-icon--resp iconfont-facebook"></a></li>
				<li><a href="#" class="circle-icon circle-icon--resp iconfont-twitter"></a></li>
				<li><a href="#" class="circle-icon circle-icon--resp iconfont-linkedin"></a></li>
				<li><a href="#" class="circle-icon circle-icon--resp iconfont-youtube"></a></li>
				<li><a href="#" class="circle-icon circle-icon--resp iconfont-instagram"></a></li>
				<li><a href="#" class="circle-icon circle-icon--resp iconfont-google"></a></li>
			</ul>
			<br>
			<h4>Non responsive</h4>
			<ul class="icons-list icons-list--inline">
				<li><a href="#" class="circle-icon iconfont-facebook"></a></li>
				<li><a href="#" class="circle-icon iconfont-twitter"></a></li>
				<li><a href="#" class="circle-icon iconfont-linkedin"></a></li>
				<li><a href="#" class="circle-icon iconfont-youtube"></a></li>
				<li><a href="#" class="circle-icon iconfont-instagram"></a></li>
				<li><a href="#" class="circle-icon iconfont-google"></a></li>
			</ul>
		</div>
	</section>
</div>