<div data-page="index" class="demo-page-content">

    {{> demo-sidebar }}

    <div class="demo-container-with-sidebar">
        <header class="content-block content-block--strip bg-primary">
            <div class="container">
                <h2>POD Point UI Toolkit</h2>
            </div>
        </header>


        <!-- UNITS -->
        <section id="beta">
            <header class="content-block bg-light-grey">
                <div class="container">
                    <h3>Version - Beta</h3>
                    <p>This toolkit is an ongoing itereative process and all comments and ideas are welcome.</p>
                </div>
            </header>

            <div class="content-block">
                <div class="container">
                    <h4>TODO</h4>
                    <ul>
                        <li>Create a simplified abstracted navbar that is responsive</li>
                        <li>Add all SVG icons required throughout POD Point projects (Alan to supply)</li>
                        <li>Create fallbacks of SVGs to PNGs for IE10 and below</li>
                        <li>Add toggle icon to accordions at various sizes and icons</li>
                        <li>Refactor hero component</li>
                        <li>Refactor and merge javascript modules toggle-element.js and toggle-accordion-panel.js</li>
                        <li>Look at refactoring modal.js</li>
                    </ul>
                </div>
            </div>
        </section>

    </div>
</div>
