{{> demo-header }}
<div data-page="index">
    <header class="content-block content-block--strip bg-primary">
        <div class="container">
            <h2>POD Point UI Toolkit</h2>
        </div>
    </header>


    <!-- INSTALLATION -->
    <section id="homeInstallation">
        <header class="content-block bg-light-gray">
            <div class="container">
                <h3>Installation</h3>
                <p>The POD Point UI Toolkit is a node module package within the POD Point npm user</p>
                <p>Note: while the toolkit is still in beta, it is not published publicly, therefore needs to be installed via ssh with the following instructions</p>
            </div>
        </header>

        <div class="content-block">
            <div class="container">
                <p>Git repo: <code>https://github.com/Pod-Point/pod-point-ui-toolkit</code></p>
                <p>Install via npm: <code>npm install git+ssh://git@github.com/Pod-Point/pod-point-ui-toolkit.git</code> <br>(when made public, will be able to npm install normally and save in package.json)</p>
                <p>Current version: (will be..) <code>Realease 1.0</code></p>
            </div>
        </div>
    </section>


    <!-- STYLES -->
    <section id="homeStyles">
        <header class="content-block bg-light-gray">
            <div class="container">
                <h3>The CSS/SCSS</h3>
                <p>It is highly recommended to use this toolkit with individual SASS imports, however the compiled CSS file is also available from the dist folder: <code>dist/assets/css/styles.css</code> and all the SASS files are imported into the styles.scss file in the src folder: <code>src/assets/scss/styles.scss</code></p>
                <p>Some influence for the concepts and structure is taken from ITCSS. There is a curated list of ITCSS articles, videos and code examples <a href="https://github.com/ahmadajmi/awesome-itcss">here</a></p>
                <p>To import any SCSS file you need to specify the path to your node modules folder and then the path to the SCSS files. This would look something like this: <code>path/to/node_modules/@pod-point/pod-point-ui-toolkit/src/assets/scss/_components.buttons</code></p>
                <p>It is <strong>generally recommended to import all SCSS files</strong>, however some component files can be left out if your project doesn't require it</p>
                <p>The following explains the role for each folder/set of files</p>
            </div>
        </header>

        <div class="content-block">
            <div class="container">
                <h4>1. Settings <small class="primary">required</small></h4>
                <p>The settings are variables used throughout the toolkit SCSS therefore it is <strong>highly recommended that all settings files are imported</strong> in your project. As no CSS will be compiled from the settings files, it will not add to the size of your built CSS file to include all the files.</p>
                <p>Note: the option is available to reasign variables in your own SCSS, so it may be useful to include all the settings files individually so that you can override/reasign directly after each file import. The main settings file has all the individual file imports, so the order of importing should be followed from there.</p>
                <h5 class="h6">Settings SASS imports</h5>
                <p>To include all settings: <code>@import 'path/to/file/1-settings/__settings';</code></p>
                <p>To include an individual setting file: <code>@import 'path/to/file/1-settings/_settings.palette';</code></p>
                <br>
                <hr>

                <h4>2. Tools <small class="primary">required</small></h4>
                <p>The tools are helpers made up of mixins, placeholders and keyframe animations that are all utalised throughout the toolkit SCSS and also available for you to use.</p>
                <p>The tools are used throughout the toolkit SCSS therefore it is <strong>highly recommended that all tools files are imported</strong> in your project. As no CSS will be compiled from the settings files, it will not add to the size of your built CSS file to include all the files.</p>
                <h5 class="h6">Tools SASS imports</h5>
                <p>To include all tools: <code>@import 'path/to/file/2-tools/__tools';</code></p>
                <p>To include an individual tools file: <code>@import 'path/to/file/2-tools/_tools.headings';</code></p>
                <br>
                <hr>

                <h4>3. Generic</h4>
                <p>The generic files only includes a normalize/reset file currently therefore it is <strong>highly recommended that all generic files are imported</strong> in your project.</p>
                <h5 class="h6">Generic SASS imports</h5>
                <p>To include all generic: <code>@import 'path/to/file/3-generic/__generic';</code></p>
                <p>To include an individual generic file: <code>@import 'path/to/file/3-generic/_generic.normalize';</code></p>
                <br>
                <hr>

                <h4>4. Elements</h4>
                <p>The elements are very loosely based on ITCSS, but this section is where the toolkit vers away from the rules the most. ITCSS suggest only applying one set of styles to the elements themselves, the styles are applied to the element and a class to make another element look like that element eg. an <code>&lt;a&gt;</code> also has the class <code>.a</code> available to use which the styles are applied to both.</p>
                <p>Also, all the form elements are in a sub folder and due to hacks needing to be implemented on selects, radios and checkboxes to create nicer looking designs, the styles are sometimes applied to a wrapping element. Detailed form implementation documentation can be found <a href="forms.html">here</a></p>
                <p>It is <strong>recommended that most elements files are imported</strong>, however the form elements can be imported if required in your project</p>
                <h5 class="h6">Elements SASS imports</h5>
                <p>To include all elements: <code>@import 'path/to/file/4-elements/__elements';</code></p>
                <p>To include an individual elements file: <code>@import 'path/to/file/4-elements/_elements.tables';</code></p>
                <br>
                <hr>

                <h4>5. Objects</h4>
                <p>The objects folder contains structure and layout styles, eg. grid system, containers etc. therefore if you are using any layout structure it is <strong>recommended that all objects files are imported</strong></p>
                <h5 class="h6">Objects SASS imports</h5>
                <p>To include all objects: <code>@import 'path/to/file/5-objects/__objects';</code></p>
                <p>To include an individual objects file: <code>@import 'path/to/file/5-objects/_objects.grid';</code></p>
                <br>
                <hr>

                <h4>6. Components</h4>
                <p>Components can be imported individually based on what your project requires</p>
                <p>There are some components such as <code>components.buttons</code> and <code>components.icons</code> and various others that you will most likely need to import</p>
                <p>However some components such as <code>components.modal</code> you could leave out if your project does not require it</p>
                <h5 class="h6">Components SASS imports</h5>
                <p>To include all components: <code>@import 'path/to/file/6-components/__components';</code></p>
                <p>To include an individual objects file: <code>@import 'path/to/file/6-components/_components.cards';</code></p>
                <br>
                <hr>

                <h4>7. Trumps</h4>
                <p>Trumps are the overrides and really useful helpers, documentation for most of them can be found <a href="helpers.html">here</a></p>
                <h5 class="h6">Trumps SASS imports</h5>
                <p>To include all trumps: <code>@import 'path/to/file/7-trumps/__trumps';</code></p>
                <p>To include an individual trumps file: <code>@import 'path/to/file/7-trumps/_trumps.spacing';</code></p>
                <br>
            </div>
        </div>
    </section>


    <!-- JAVASCRIPT -->
    <section id="homeJavascript">
        <header class="content-block bg-light-gray">
            <div class="container">
                <h3>The Javascript</h3>
                <p></p>
            </div>
        </header>

        <div class="content-block">
            <div class="container">
                <p>[ The structure and how to include modules ]</p>
                <p><code>import toggleElement from 'path/to/node_modules/@pod-point/pod-point-ui-toolkit/dist/assets/js/modules/toggle-element';</code></p>
            </div>
        </div>
    </section>


    <!-- INLINE SVG ICONS -->
    <section id="homeInlineSvgIcons">
        <header class="content-block bg-light-gray">
            <div class="container">
                <h3>Inline SVG icons</h3>
                <p></p>
            </div>
        </header>

        <div class="content-block">
            <div class="container">
                <p>[ Where to find the inline SVG icons and suggestions of how to include them (gulp tasks to copy over?) ]</p>
            </div>
        </div>
    </section>


    <!-- CSS BACKGROUND IMAGES -->
    <section id="homeInlineSvgIcons">
        <header class="content-block bg-light-gray">
            <div class="container">
                <h3>CSS background images</h3>
                <p></p>
            </div>
        </header>

        <div class="content-block">
            <div class="container">
                <p>[ Where to find the images used and how to change the file path variable (gulp tasks to copy over?) ]</p>
            </div>
        </div>
    </section>


    <!-- EXAMPLE PAGES -->
    <section id="homeExamplePages">
        <header class="content-block bg-light-gray">
            <div class="container">
                <h3>Example pages and documentation</h3>
                <p></p>
            </div>
        </header>

        <div class="content-block">
            <div class="container">
                <h4>Base elements</h4>
                <ul class="list--no-style remove-link-styles">
                    <li><a href="typography.html">Typography</a></i></li>
                    <li><a href="lists.html">Lists</a></li>
                    <li><a href="buttons.html">Buttons</a></li>
                    <li><a href="grid.html">Grid</a></li>
                    <li><a href="tables.html">Tables</a></li>
                    <li><a href="forms.html">Forms</a></li>
                    <li><a href="icons.html">Icons</a></li>
                    <li><a href="helpers.html">Helpers</a></li>
                </ul>
                <br>
                <hr>
                <h4>Components</h4>
                <ul class="list--no-style remove-link-styles">
                    <li><a href="alerts.html">Alerts</a></li>
                    <li><a href="confirm.html">Confirm box</a></li>
                    <li><a href="modals.html">Modals</a></li>
                    <li><a href="tooltips.html">Tooltips</a></li>
                    <li><a href="cards.html">Cards</a></li>
                </ul>
            </div>
        </div>
    </section>
</div>
