{{> demo-header }}
<div data-page="index">
	<section>
		<div class="demo-section-heading">
			<div class="container content-block content-block--strip">
				<h2>POD Point UI Toolkit</h2>
			</div>
		</div>
		<div class="container content-block">
			<h4>Base elements</h4>
			<ul class="list--no-style remove-link-styles">
				<li><a href="typography.html">Typography</a> <i class="icon icon--xs">{{> icon-tick }}</i></li>
				<li><a href="lists.html">Lists</a> <small>- add inline image and icon lists</small></li>
				<li><a href="buttons.html">Buttons <i class="icon icon--xs">{{> icon-tick }}</i></a></li>
				<li><a href="grid.html">Grid</a> <i class="icon icon--xs">{{> icon-cross }}</i></li>
				<li><a href="tables.html">Tables</a> <i class="icon icon--xs">{{> icon-tick }}</i></li>
				<li><a href="forms.html">Forms</a> <i class="icon icon--xs">{{> icon-tick }}</i></li>
				<li><a href="icons.html">Icons</a> <small>- Allan to make all icons</small></li>
			</ul>
			<hr>
			<h4>Components</h4>
			<ul class="list--no-style remove-link-styles">
				<li><a href="alerts.html">Alerts</a> <i class="icon icon--xs">{{> icon-tick }}</i></li>
				<li><a href="confirm.html">Confirm box</a> <i class="icon icon--xs">{{> icon-tick }}</i></li>
				<li><a href="modals.html">Modals</a> <i class="icon icon--xs">{{> icon-tick }}</i></li>
				<li><a href="tooltips.html">Tooltips</a> <i class="icon icon--xs">{{> icon-cross }}</i></li>
				<li><a href="cards.html">Cards</a> <i class="icon icon--xs">{{> icon-cross }}</i></li>
				<li><a href="navbar.html">Navbar</a> <small>- abstract out navbar and create versions</small></li>
				<li><a href="gallery-simple.html">Gallery simple</a> <i class="icon icon--xs">{{> icon-cross }}</i> <small>nice to have</small></li>
				<li><a href="carousel.html">Carousel</a> <i class="icon icon--xs">{{> icon-cross }}</i> <small>nice to have</small></li>
			</ul>
		</div>
	</section>
</div>

<div data-js-module="chat"></div>
