<div data-page="index" class="demo-page-content">

    {{> demo-sidebar }}

    <div class="demo-container-with-sidebar">
        <header class="content-block content-block--strip bg-primary">
            <div class="container">
                <h2>POD Point UI Toolkit</h2>
            </div>
        </header>


    </div>
</div>
