<div data-page="javascript" class="demo-page-content">

    {{> demo-sidebar }}

    <div class="demo-container-with-sidebar">
        <header class="content-block content-block--strip bg-primary">
            <div class="container">
                <h2>The JavaScript</h2>
            </div>
        </header>


        <!-- JAVASCRIPT -->
        <section id="homeJavascript">
            <header class="content-block bg-light-gray">
                <div class="container">
                    <h3>The JavaScript</h3>
                    <p>The JavaScript is written in ES6 Modules and Classes, and uses a POD Point written module loader.</p>
                </div>
            </header>

            <div class="content-block">
                <div class="container">
                    <p>[ The structure and how to include modules ]</p>
                    <p><code>import toggleElement from 'path/to/node_modules/@pod-point/pod-point-ui-toolkit/dist/assets/js/modules/toggle-element';</code></p>
                </div>
            </div>
        </section>
    </div>
</div>
