{{> demo-header }}
<div data-page="labels">
    <header class="content-block content-block--strip bg-primary">
        <div class="container">
            <h2>Labels</h2>
        </div>
    </header>


    <!-- CONFIRM POPUP -->
    <section>
        <header class="content-block bg-light-gray">
            <div class="container">
                <h3>Required files</h3>
                <p>SCSS files required: <code>_components.labels.scss</code></p>

            </div>
        </header>
        <div class="content-block">
            <div class="container">
                <div class="label m-b-sm">I am a label</div>
                <div class="label label--left-icon m-b-sm">{{> icon-cross }} I am a label with an icon on the left</div>
                <div class="label label--right-icon m-b-sm">I am a label with an icon on the right {{> icon-charge-location }}</div>
            </div>
        </div>
    </section>
</div>
