<div data-page="labels" class="demo-page-content">

    {{> demo-sidebar }}

    <div class="demo-container-with-sidebar">
        <header class="content-block content-block--strip bg-primary">
            <div class="container">
                <h2>Labels</h2>
                <ul class="list--inline remove-link-styles font-weight-bold">
                    <li><a href="#labelsRequired">Required files</a></li>
                    <li><a href="#labelsSizes">Label sizes</a></li>
                    <li><a href="#labelsColours">Label colours</a></li>
                </ul>
            </div>
        </header>


        <!-- REQUIRED FILES -->
        <section id="labelsRequired">
            <header class="content-block bg-light-grey">
                <div class="container">
                    <h3>Required files</h3>
                </div>
            </header>
            <div class="content-block">
                <div class="container">
                    <p>SCSS files required: <code>_components.labels.scss</code></p>
                </div>
            </div>
        </section>


        <!-- LABEL STRUCTURE AND SIZES -->
        <section id="labelsSizes">
            <header class="content-block bg-light-grey">
                <div class="container">
                    <h3>Label structure</h3>
                    <p>The class required for a label is <code>.label</code></p>
                    <p>To include an inline svg icon add the modifying classes <code>.label--left-icon</code> or <code>.label--right-icon</code></p>
                    <p>The labels and label icons will resize according to font size, so the resizing will occur by adding a font size class eg <code>.font-size-xs</code></p>

{{> snippet-label }}

                </div>
            </header>

            <div class="content-block">
                <div class="container">
                    <h4>Labels with font size extra small</h4>
                    <div class="label font-size-xs m-b-sm">I am a label</div>
                    <div class="label font-size-xs label--left-icon m-b-sm">{{> icon-cross }} I am a label with an icon on the left</div>
                    <div class="label font-size-xs label--right-icon m-b-sm">I am a label with an icon on the right {{> icon-charge-location }}</div>
                    <br>
                    <h4>Labels with font size small</h4>
                    <div class="label font-size-sm m-b-sm">I am a label</div>
                    <div class="label font-size-sm label--left-icon m-b-sm">{{> icon-cross }} I am a label with an icon on the left</div>
                    <div class="label font-size-sm label--right-icon m-b-sm">I am a label with an icon on the right {{> icon-charge-location }}</div>
                    <br>
                    <h4>Labels with font size medium</h4>
                    <div class="label font-size-md m-b-sm">I am a label</div>
                    <div class="label font-size-md label--left-icon m-b-sm">{{> icon-cross }} I am a label with an icon on the left</div>
                    <div class="label font-size-md label--right-icon m-b-sm">I am a label with an icon on the right {{> icon-charge-location }}</div>
                    <br>
                    <h4>Labels with font size large</h4>
                    <div class="label font-size-lg m-b-sm">I am a label</div>
                    <div class="label font-size-lg label--left-icon m-b-sm">{{> icon-cross }} I am a label with an icon on the left</div>
                    <div class="label font-size-lg label--right-icon m-b-sm">I am a label with an icon on the right {{> icon-charge-location }}</div>
                    <br>
                    <h4>Labels with font size extra large</h4>
                    <div class="label font-size-xl m-b-sm">I am a label</div>
                    <div class="label font-size-xl label--left-icon m-b-sm">{{> icon-cross }} I am a label with an icon on the left</div>
                    <div class="label font-size-xl label--right-icon m-b-sm">I am a label with an icon on the right {{> icon-charge-location }}</div>
                </div>
            </div>
        </section>


        <!-- LABEL COLOURS -->
        <section id="labelsColours">
            <header class="content-block bg-light-grey">
                <div class="container">
                    <h3>Label colours</h3>
                    <p>To change the label colour you can use global background colour helpers. See <a href="helper-classes.html#helpersBackgrounds">here</a></p>
                </div>
            </header>

            <div class="content-block">
                <div class="bg-dark-grey m-t-md p-t-md">
                    <div class="container">
                        <span class="label font-size-md label--left-icon bg-white m-b-sm svg-dark">{{> icon-cross }} White</span>
                        <span class="label font-size-md label--left-icon bg-light-grey m-b-sm svg-dark">{{> icon-cross }} Light grey</span>
                    </div>
                </div>
                <div class="p-t-md">
                    <div class="container">
                        <span class="label font-size-md label--left-icon bg-grey m-b-sm">{{> icon-cross }} Grey</span>
                        <span class="label font-size-md label--left-icon bg-dark-grey m-b-sm">{{> icon-cross }} Dark grey</span>
                        <span class="label font-size-md label--left-icon bg-very-dark-grey m-b-sm">{{> icon-cross }} Very dark grey</span>
                        <br>
                        <span class="label font-size-md label--left-icon bg-primary m-b-sm">{{> icon-cross }}Primary</span>
                        <span class="label font-size-md label--left-icon bg-info m-b-sm">{{> icon-cross }}Info</span>
                        <span class="label font-size-md label--left-icon bg-success m-b-sm">{{> icon-cross }}Success</span>
                        <span class="label font-size-md label--left-icon bg-warning m-b-sm">{{> icon-cross }}Warning</span>
                        <span class="label font-size-md label--left-icon bg-danger m-b-sm">{{> icon-cross }}Danger</span>
                    </div>
                </div>
            </div>
        </section>

    </div>
</div>
