{{> demo-header }}
<div data-page="lists">
    <header class="content-block content-block--strip bg--primary-color">
        <div class="container">
            <h2>Lists</h2>
        </div>
    </header>


	<!-- LIST DEFAULT STYLING -->
	<section>
		<header class="content-block bg--light-gray">
			<div class="container">
				<h3>Default styling</h3>
				<p>The default styling for ordered and unordered lists at the base font size</p>
			</div>
		</header>
		<div class="content-block">
			<div class="container">
				<ol>
					<li>In non lacus facilisis, sodales mi sed, ultrices nibh. Maecenas non dolor tincidunt, pharetra leo sit amet, consequat elit. Nulla ac magna ultricies, suscipit nisl vitae, luctus nulla.</li>
					<li>Etiam tincidunt magna in arcu accumsan consequat. Vivamus blandit massa gravida augue semper volutpat. Duis quis aliquet ligula, quis varius elit. Quisque consequat purus tincidunt tempus dapibus.</li>
					<li>Donec accumsan placerat metus, eu pretium diam semper sagittis. Aliquam nec ligula massa. Praesent ac massa velit. Sed laoreet lectus ac nibh finibus varius. Aenean pulvinar malesuada nulla id finibus.</li>
				</ol>
				<ul>
					<li>In non lacus facilisis, sodales mi sed, ultrices nibh. Maecenas non dolor tincidunt, pharetra leo sit amet, consequat elit. Nulla ac magna ultricies, suscipit nisl vitae, luctus nulla.</li>
					<li>Donec accumsan placerat metus, eu pretium diam semper sagittis. Aliquam nec ligula massa. Praesent ac massa velit. Sed laoreet lectus ac nibh finibus varius. Aenean pulvinar malesuada nulla id finibus.
						<ul>
							<li>Etiam tincidunt magna in arcu accumsan consequat. Vivamus blandit massa gravida augue semper volutpat.</li>
							<li>Sed sagittis cursus semper. Aenean feugiat, nisl quis scelerisque rhoncus, orci elit consequat arcu.</li>
						</ul>
					</li>
					<li>Etiam tincidunt magna in arcu accumsan consequat. Vivamus blandit massa gravida augue semper volutpat. Duis quis aliquet ligula, quis varius elit. Quisque consequat purus tincidunt tempus dapibus.</li>
				</ul>
			</div>
		</div>
	</section>

	<!-- LIST NO DEFAULT STYLING -->
	<section>
		<header class="content-block bg--light-gray">
			<div class="container">
				<h3>Remove default styling</h3>
				<p>Add the class <code>.list--no-style</code> to remove list bullets and spacing</p>
			</div>
		</header>
		<div class="content-block">
			<div class="container">
				<ul class="list--no-style">
					<li>In non lacus facilisis</li>
					<li>Donec accumsan placerat metus</li>
					<li>Etiam tincidunt magna</li>
				</ul>
			</div>
		</div>
	</section>


	<!-- LIST INLINE -->
	<section>
		<header class="content-block bg--light-gray">
			<div class="container">
				<h3>Inline</h3>
				<p>Add the class <code>.list--inline</code> or <code>.list--inline--sm-gutter</code></p>
			</div>
		</header>
		<div class="content-block">
			<div class="container">
				<ul class="list--inline">
					<li>In non lacus facilisis</li>
					<li>Donec accumsan placerat metus</li>
					<li>Etiam tincidunt magna</li>
					<li>Quisque consequat purus</li>
					<li>Aliquam nec ligula massa</li>
					<li>Nulla ac magna ultricies</li>
					<li>Sed laoreet lectus ac nibh finibus</li>
					<li>Eu pretium diam semper</li>
				</ul>

				<br>
				<br>

				<ul class="list--inline--sm-gutter">
					<li>In non lacus facilisis</li>
					<li>Donec accumsan placerat metus</li>
					<li>Etiam tincidunt magna</li>
					<li>Quisque consequat purus</li>
					<li>Aliquam nec ligula massa</li>
					<li>Nulla ac magna ultricies</li>
					<li>Sed laoreet lectus ac nibh finibus</li>
					<li>Eu pretium diam semper</li>
				</ul>
			</div>
		</div>
	</section>


	<!-- FEATURED LIST WITH TICK ICONS -->
	<section>
		<header class="content-block bg--light-gray">
			<div class="container">
				<h3>Featured with tick icons</h3>
				<p>Add the class <code>.list--featured--ticks</code></p>
				<p>Alternatively you can add your own icon path by using the mixin: <code>@include featured-icon-list($icon-path);</code></p>
			</div>
		</header>
		<div class="content-block">
			<div class="container">
				<ul class="list--featured--ticks">
					<li>In non lacus facilisis, sodales mi sed, ultrices nibh. Maecenas non dolor tincidunt, pharetra leo sit amet, consequat elit. Nulla ac magna ultricies, suscipit nisl vitae, luctus nulla.</li>
					<li>Donec accumsan placerat metus, eu pretium diam semper sagittis. Aliquam nec ligula massa. Praesent ac massa velit. Sed laoreet lectus ac nibh finibus varius. Aenean pulvinar malesuada nulla id finibus.</li>
					<li>Etiam tincidunt magna in arcu accumsan consequat. Vivamus blandit massa gravida augue semper volutpat. Duis quis aliquet ligula, quis varius elit. Quisque consequat purus tincidunt tempus dapibus.</li>
				</ul>
			</div>
		</div>
	</section>


	<!-- FEATURED LIST LARGE WITH TICK ICONS -->
	<section>
		<header class="content-block bg--light-gray">
			<div class="container">
				<h3>Large featured with tick icons</h3>
				<p>Add the class <code>.list--featured--ticks--lg</code></p>
				<p>Alternatively you can add your own icon path by using the mixin: <code>@include featured-icon-list-lg($icon-path);</code></p>
			</div>
		</header>
		<div class="content-block">
			<div class="container">
				<ul class="list--featured--ticks--lg">
					<li>In non lacus facilisis, sodales mi sed, ultrices nibh. Maecenas non dolor tincidunt, pharetra leo sit amet, consequat elit. Nulla ac magna ultricies, suscipit nisl vitae, luctus nulla.</li>
					<li>Donec accumsan placerat metus, eu pretium diam semper sagittis. Aliquam nec ligula massa. Praesent ac massa velit. Sed laoreet lectus ac nibh finibus varius. Aenean pulvinar malesuada nulla id finibus.</li>
					<li>Etiam tincidunt magna in arcu accumsan consequat. Vivamus blandit massa gravida augue semper volutpat. Duis quis aliquet ligula, quis varius elit. Quisque consequat purus tincidunt tempus dapibus.</li>
				</ul>
			</div>
		</div>
	</section>

</div>
