<div data-page="modals">

	<header class="demo-section-heading">
		<div class="container container--vertical-padding">
			<h2>Modals</h2>
		</div>
	</header>

	<div class="container container--vertical-padding">
		<div class="buttons-container">
			<button class="button" data-js-module="modal" data-modal="testModal">Open a modal</button>
			<button class="button button--secondary" data-js-module="modal" data-modal="anotherTestModal">Open another modal</button>
		</div>
	</div>


	<!-- HIDDEN MODALS -->
	<div class="modal hidden fade-in" id="testModal">
		<button type="button" class="circle-icon circle-icon--border circle-icon--resp iconfont-cross modal-close">Close</button>
		<div class="modal__content">
			<div class="panel">
				<img class="img--resp img--rounded-corners" src="http://placehold.it/700x400">
				<div class="content-block">
					<h2 class="panel__title">Pricing</h2>
					<div class="panel__text-content" class="font-style-large">
						<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna.</p>
						<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna.</p>
					</div>
				</div>
				<div class="grid-wrap">
					<div class="grid-row">
						<div class="grid-col-4">
							<div class="card card--centered card--no-border">
								<h3>3.7kW</h3>
								<img class="img--resp img--rounded-corners" src="http://placehold.it/100x50">
								<p>(Up to 15 miles RPH)<br>from <strong class="green">&pound;279*</strong></p>
							</div>
						</div>
						<div class="grid-col-4">
							<div class="card card--centered card--no-border">
								<h3>7kW</h3>
								<img class="img--resp img--rounded-corners" src="http://placehold.it/100x50">
								<p>(Up to 30 miles RPH)<br>from <strong class="green">&pound;359*</strong></p>
							</div>
						</div>
						<div class="grid-col-4">
							<div class="card card--centered card--no-border">
								<h3>22kW</h3>
								<img class="img--resp img--rounded-corners" src="http://placehold.it/100x50">
								<p>(Up to 80 miles RPH)<br>from <strong class="green">&pound;999*</strong></p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="modal hidden fade-in" id="anotherTestModal">
		<button type="button" class="circle-icon circle-icon--border circle-icon--resp iconfont-cross modal-close">Close</button>
		<div class="modal__content">
			<div class="panel">
				<img class="img--resp" src="http://placehold.it/1000x400">
				<h2 class="panel__title">A Title For This Panel</h2>
			</div>
		</div>
	</div>

</div>