{{> demo-header }}
<div data-page="forms">
    <header class="content-block content-block--strip bg-primary">
        <div class="container">
            <h2>Navbar</h2>
        </div>
    </header>

    <!-- NAVBAR -->
    <section>
        <header class="content-block bg-light-gray">
            <div class="container">
                <h3>Responsive navbar</h3>
                <p>This is a responsive navbar as seen on the main POD Point website</p>
                <p>SCSS files required: <code>_components.navicon.scss</code>, <code>_components.plus-minus-toggle.scss</code>, <code>_components.navbar.scss</code></p>
                <p>JS files required: <code>navbar.js</code></p>
            </div>
        </header>

        {{> navbar-basic }}

    </section>
</div>
