<div data-page="navbar">
	{{> header }}

    <header class="content-block content-block--strip bg--primary-color">
        <div class="container">
            <h2>Navbar</h2>
        </div>
    </header>
</div>
