<div data-page="sass-mixins" class="demo-page-content">

    {{> demo-sidebar }}

    <div class="demo-container-with-sidebar">
        <header class="content-block content-block--strip bg-primary">
            <div class="container">
                <h2>SASS Mixins</h2>
            </div>
        </header>


        <!--  -->
        <section id="">
            <header class="content-block bg-light-grey">
                <div class="container">
                </div>
            </header>
            <div class="content-block">
                <div class="container">

                </div>
            </div>
        </section>

    </div>
</div>
