{{> demo-header }}
<div data-page="tables">
    <header class="content-block content-block--strip bg-primary">
        <div class="container">
            <h2>Tables</h2>
        </div>
    </header>


    <!-- DEFAULT TABLE -->
    <section id="tablesDefault">
        <header class="content-block bg-light-gray">
            <div class="container">
                <h3>Default fluid table</h3>
                <p>Use default table tags to create a fluid table</p>
            </div>
        </header>

        <div class="content-block">
            <div class="container">
                <table>
                    <caption>Optional table caption.</caption>
                    <thead>
                        <tr>
                            <th>Site</th>
                            <th># of PODs</th>
                            <th>Energy Used</th>
                            <th>CO2 Saved</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>3743 CH</td>
                            <td>1</td>
                            <td>45.50kWh</td>
                            <td>25.48kg</td>
                        </tr>
                        <tr>
                            <td>6681PN</td>
                            <td>1</td>
                            <td>0.00kWh</td>
                            <td>0.00kg</td>
                        </tr>
                        <tr>
                            <td>6852 MC</td>
                            <td>1</td>
                            <td>0.00kWh</td>
                            <td>0.00kg</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </section>


    <!-- STRIPED TABLE -->
    <section id="tablesStriped">
        <header class="content-block bg-light-gray">
            <div class="container">
                <h3>Striped fluid table</h3>
                <p>Add the class <code>.table--striped</code> to make the table striped</p>
            </div>
        </header>
        <div class="content-block">
            <div class="container">
                <table class="table--striped">
                    <thead>
                        <tr>
                            <th>Site</th>
                            <th># of PODs</th>
                            <th>Energy Used</th>
                            <th>CO2 Saved</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>3743 CH</td>
                            <td>1</td>
                            <td>45.50kWh</td>
                            <td>25.48kg</td>
                        </tr>
                        <tr>
                            <td>6681PN</td>
                            <td>1</td>
                            <td>0.00kWh</td>
                            <td>0.00kg</td>
                        </tr>
                        <tr>
                            <td>6852 MC</td>
                            <td>1</td>
                            <td>0.00kWh</td>
                            <td>0.00kg</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </section>
</div>
