{{> demo-header }}
<div data-page="address-lookup">
	<header class="demo-section-heading">
		<div class="container content-block">
			<h2>TESTS</h2>
		</div>
	</header>


	<section>
		<div class="container content-block">
			<ul class="list--featured--ticks">
				<li>I am a featured list medium</li>
				<li>I am a list</li>
				<li>I am a list</li>
				<li>I am a list</li>
				<li>I am a list</li>
			</ul>



			<ul class="list--featured--ticks--lg">
				<li>I am a featured list large</li>
				<li>I am a list</li>
				<li>I am a list</li>
				<li>I am a list</li>
				<li>I am a list</li>
			</ul>

			<ol>
				<li>I am a list</li>
				<li>I am a list</li>
				<li>I am a list</li>
				<li>I am a list</li>
				<li>I am a list</li>
			</ol>


			<ul class="list--links">
				<li>I am a <a href="#">link</a> list</li>
				<li>I am a list</li>
				<li>I am a list</li>
				<li>I am a list</li>
				<li>I am a list</li>
			</ul>
		</div>
	</section>

</div>
