<div data-page="thank-you">
	{{> header }}

	<section class="bg--white">
		<div class="container">
			<div class="content-block">
				<div class="grid-wrap rel">
					<div class="grid-row">
						<div class="grid-col grid-col--md-4">
							<div class="rich-text text-center text-left-md">
								<h1>Thank you</h1>
								<p>You're all done!</p>
								<p>We'll be in touch shortly to confirm your eligibility for the OLEV grant and to schedule your installation. Watch this space.</p>
							</div>
						</div>
						<div class="grid-col grid-col--md-8">
							<img class="marg-center max-width--lg block hidden-lg" src="assets/img/illustrations/thankyou-complete-mobile.svg" alt="">
							<div class="aspect-radio-9-5 hidden block-lg"></div>
						</div>
					</div>
					<img class="abs-top-right hidden block-lg" src="assets/img/illustrations/thankyou-complete.svg" alt="">
				</div>
			</div>
			<div class="content-block">
				<div class="grid-wrap rel">
					<div class="grid-row">
						<div class="grid-col grid-col--md-6">
							<div class="rich-text text-center text-left-md">
								<h3>Find your nearest public chargepoint</h3>
								<p>Download the POD Point Open Charge app today to find and use our next generation electric vehicle charge points!</p>
							</div>
							<div class="clear m-t-lg text-center text-left-md">
								<a href="#"><img class="max-width--xs inline-block" src="assets/img/google-play-badge.svg"/></a>
								<a href="#"><img class="max-width--xs inline-block" src="assets/img/apple-store-badge.svg"/></a>
							</div>
						</div>
						<div class="grid-col grid-col--md-6">
							<img class="marg-center max-width--md" src="assets/img/content/app-insitu.png" alt="">
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	{{> footer }}
</div>
