{{> demo-header }}
<div data-page="forms">
	<header class="demo-section-heading">
		<div class="container content-block">
			<h2>Toggle Panels</h2>
		</div>
	</header>

	<section>
		<div class="container content-block">

			<div class="form__group field-row">
				<label class="label--block">Select dropdown</label>
				<div class="form-field-wrapper">
					<div class="select-wrapper">
						<select data-select-toggle-panel="other">
							<option value="00">00</option>
							<option value="01">01</option>
							<option value="other">Other</option>
						</select>
					</div>
				</div>

				<div data-js-module="toggleAccordionPanel" id="other" class="m-t-sm accordion-panel accordion-panel--xs">
					<label class="label--block">Please specify...</label>
					<div class="form-field-wrapper">
						<input type="text">
					</div>
				</div>
			</div>
		</div>
	</section>
</div>
