{{> demo-header }}
<div data-page="typography">
	<header class="demo-section-heading">
		<div class="container content-block">
			<h2>Typography</h2>
		</div>
	</header>


	<!-- HEADINGS -->
	<section>
		<header class="demo-section-sub-heading">
			<div class="container">
				<h3>Headings</h3>
			</div>
		</header>
		<div class="container content-block">
			<h1>Heading 1 style</h1>
			<h2>Heading 2 style</h2>
			<h3>Heading 3 style</h3>
			<h4>Heading 4 style</h4>
			<h5>Heading 5 style</h5>
			<h6>Heading 6 style</h6>
		</div>
	</section>


	<!-- BASE TYPOGRAPHY -->
	<section>
		<header class="demo-section-sub-heading">
			<div class="container">
				<h3>Base typography</h3>
			</div>
		</header>
		<div class="container content-block">

			<p>Aenean sapien est, convallis sit amet euismod sit amet, porttitor at quam. Suspendisse consectetur nulla odio, et fringilla magna feugiat et. Quisque nec est non scelerisque rhoncus, orci elit consequat arcu, et dictum sapien risus id lectus. Nam risus arcu, malesuada id lectus eget, pretium blandit mi. Quisque molestie, sem nec rhoncus porttitor, lectus libero pretium mi, et mattis mauris erat at tellus. Sed ultricies dignissim volutpat.</p>

			<ul>
				<li>In non lacus facilisis, sodales mi sed, ultrices nibh. Maecenas non dolor tincidunt, pharetra leo sit amet, consequat elit. Nulla ac magna ultricies, suscipit nisl vitae, luctus nulla.</li>
				<li>Donec accumsan placerat metus, eu pretium diam semper sagittis. Aliquam nec ligula massa. Praesent ac massa velit. Sed laoreet lectus ac nibh finibus varius. Aenean pulvinar malesuada nulla id finibus.
					<ul>
						<li>Etiam tincidunt magna in arcu accumsan consequat. Vivamus blandit massa gravida augue semper volutpat.</li>
						<li>Sed sagittis cursus semper. Aenean feugiat, nisl quis scelerisque rhoncus, orci elit consequat arcu.</li>
					</ul>
				</li>
				<li>Etiam tincidunt magna in arcu accumsan consequat. Vivamus blandit massa gravida augue semper volutpat. Duis quis aliquet ligula, quis varius elit. Quisque consequat purus tincidunt tempus dapibus.</li>
			</ul>

			<ol>
				<li>In non lacus facilisis, sodales mi sed, ultrices nibh. Maecenas non dolor tincidunt, pharetra leo sit amet, consequat elit. Nulla ac magna ultricies, suscipit nisl vitae, luctus nulla.</li>
				<li>Etiam tincidunt magna in arcu accumsan consequat. Vivamus blandit massa gravida augue semper volutpat. Duis quis aliquet ligula, quis varius elit. Quisque consequat purus tincidunt tempus dapibus.</li>
				<li>Donec accumsan placerat metus, eu pretium diam semper sagittis. Aliquam nec ligula massa. Praesent ac massa velit. Sed laoreet lectus ac nibh finibus varius. Aenean pulvinar malesuada nulla id finibus.</li>
			</ol>

		</div>
	</section>


	<!-- SMALL TYPOGRAPHY -->
	<section>
		<header class="demo-section-sub-heading">
			<div class="container">
				<h3>Small typography</h3>
			</div>
		</header>
		<div class="container content-block">

			<div class="font-size-sm">
				<p>Aenean sapien est, convallis sit amet euismod sit amet, porttitor at quam. Suspendisse consectetur nulla odio, et fringilla magna feugiat et. Quisque nec est non scelerisque rhoncus, orci elit consequat arcu, et dictum sapien risus id lectus. Nam risus arcu, malesuada id lectus eget, pretium blandit mi. Quisque molestie, sem nec rhoncus porttitor, lectus libero pretium mi, et mattis mauris erat at tellus. Sed ultricies dignissim volutpat.</p>

				<ul>
					<li>In non lacus facilisis, sodales mi sed, ultrices nibh. Maecenas non dolor tincidunt, pharetra leo sit amet, consequat elit. Nulla ac magna ultricies, suscipit nisl vitae, luctus nulla.</li>
					<li>Donec accumsan placerat metus, eu pretium diam semper sagittis. Aliquam nec ligula massa. Praesent ac massa velit. Sed laoreet lectus ac nibh finibus varius. Aenean pulvinar malesuada nulla id finibus.
						<ul>
							<li>Etiam tincidunt magna in arcu accumsan consequat. Vivamus blandit massa gravida augue semper volutpat.</li>
							<li>Sed sagittis cursus semper. Aenean feugiat, nisl quis scelerisque rhoncus, orci elit consequat arcu.</li>
						</ul>
					</li>
					<li>Etiam tincidunt magna in arcu accumsan consequat. Vivamus blandit massa gravida augue semper volutpat. Duis quis aliquet ligula, quis varius elit. Quisque consequat purus tincidunt tempus dapibus.</li>
				</ul>

				<ol>
					<li>In non lacus facilisis, sodales mi sed, ultrices nibh. Maecenas non dolor tincidunt, pharetra leo sit amet, consequat elit. Nulla ac magna ultricies, suscipit nisl vitae, luctus nulla.</li>
					<li>Etiam tincidunt magna in arcu accumsan consequat. Vivamus blandit massa gravida augue semper volutpat. Duis quis aliquet ligula, quis varius elit. Quisque consequat purus tincidunt tempus dapibus.</li>
					<li>Donec accumsan placerat metus, eu pretium diam semper sagittis. Aliquam nec ligula massa. Praesent ac massa velit. Sed laoreet lectus ac nibh finibus varius. Aenean pulvinar malesuada nulla id finibus.</li>
				</ol>
			</div>

		</div>
	</section>


	<!-- LARGE TYPOGRAPHY -->
	<section>
		<header class="demo-section-sub-heading">
			<div class="container">
				<h3>Large typography</h3>
				<p>add a class <span class="lowercase">'font-size-lg'</span></p>
			</div>
		</header>
		<div class="container content-block">

			<div class="font-size-lg">
				<p>Aenean sapien est, convallis sit amet euismod sit amet, porttitor at quam. Suspendisse consectetur nulla odio, et fringilla magna feugiat et. Quisque nec est non scelerisque rhoncus, orci elit consequat arcu, et dictum sapien risus id lectus. Nam risus arcu, malesuada id lectus eget, pretium blandit mi. Quisque molestie, sem nec rhoncus porttitor, lectus libero pretium mi, et mattis mauris erat at tellus. Sed ultricies dignissim volutpat.</p>

				<ul>
					<li>In non lacus facilisis, sodales mi sed, ultrices nibh. Maecenas non dolor tincidunt, pharetra leo sit amet, consequat elit. Nulla ac magna ultricies, suscipit nisl vitae, luctus nulla.</li>
					<li>Donec accumsan placerat metus, eu pretium diam semper sagittis. Aliquam nec ligula massa. Praesent ac massa velit. Sed laoreet lectus ac nibh finibus varius. Aenean pulvinar malesuada nulla id finibus.
						<ul>
							<li>Etiam tincidunt magna in arcu accumsan consequat. Vivamus blandit massa gravida augue semper volutpat.</li>
							<li>Sed sagittis cursus semper. Aenean feugiat, nisl quis scelerisque rhoncus, orci elit consequat arcu.</li>
						</ul>
					</li>
					<li>Etiam tincidunt magna in arcu accumsan consequat. Vivamus blandit massa gravida augue semper volutpat. Duis quis aliquet ligula, quis varius elit. Quisque consequat purus tincidunt tempus dapibus.</li>
				</ul>

				<ol>
					<li>In non lacus facilisis, sodales mi sed, ultrices nibh. Maecenas non dolor tincidunt, pharetra leo sit amet, consequat elit. Nulla ac magna ultricies, suscipit nisl vitae, luctus nulla.</li>
					<li>Etiam tincidunt magna in arcu accumsan consequat. Vivamus blandit massa gravida augue semper volutpat. Duis quis aliquet ligula, quis varius elit. Quisque consequat purus tincidunt tempus dapibus.</li>
					<li>Donec accumsan placerat metus, eu pretium diam semper sagittis. Aliquam nec ligula massa. Praesent ac massa velit. Sed laoreet lectus ac nibh finibus varius. Aenean pulvinar malesuada nulla id finibus.</li>
				</ol>
			</div>

		</div>
	</section>
</div>
