// =============================================================================
//	DEMO STYLES
// =============================================================================

@import '1-settings/__settings'; // Required
@import '2-tools/__tools'; // Required

.demo-header {
	padding-top: rem(10);
	padding-bottom: rem(10);
}
.demo-logo-main {
	img {
		width: rem(120);
	}
}

.demo-grid {
	.grid-row > div {
		background-color: $gray;
		color: white;
		padding: rem(20);
	}
}
