<div>
	<header class="demo-section-heading">
		<div class="container container--vertical-padding">
			<h2>Typography</h2>
		</div>
	</header>


	<!-- HEADINGS -->
	<section>
		<header class="demo-section-sub-heading">
			<div class="container">
				<h3>Headings</h3>
			</div>
		</header>
		<div class="container container--vertical-padding">
			<div class="rich-text">
				<h1>Heading 1 style</h1>
				<h2>Heading 2 style</h2>
				<h3>Heading 3 style</h3>
				<h4>Heading 4 style</h4>
				<h5>Heading 5 style</h5>
				<h6>Heading 6 style</h6>
			</div>
		</div>
	</section>


	<!-- PARAGRAPHS -->
	<section>
		<header class="demo-section-sub-heading">
			<div class="container">
				<h3>Paragraphs</h3>
			</div>
		</header>
		<div class="container container--vertical-padding">
			<div class="rich-text">
				<p class="font-style-large"><strong>This paragraph is large font style.</strong> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque non nunc in augue laoreet elementum quis dictum tellus. Phasellus vulputate facilisis lorem, a ornare ligula cursus eget. Nunc iaculis nulla nec semper aliquet. Donec libero est, congue in felis. Maecenas consectetur tortor suscipit, finibus odio et, feugiat turpis. Donec hendrerit vel dolor in suscipit. Sed nec ullamcorper arcu.</p>

				<p><strong>This paragraph is base font style.</strong> Aenean sapien est, convallis sit amet euismod sit amet, porttitor at quam. Suspendisse consectetur nulla odio, et fringilla magna feugiat et. Quisque nec est non <a href="#">inline link</a> ullamcorper condimentum. Sed sagittis cursus semper. Aenean feugiat, nisl quis scelerisque rhoncus, orci elit consequat arcu, et dictum sapien risus id lectus. Nam risus arcu, malesuada id lectus eget, pretium blandit mi. Quisque molestie, sem nec rhoncus porttitor, lectus libero pretium mi, et mattis mauris erat at tellus. Sed ultricies dignissim volutpat.</p>

				<p class="font-style-small"><strong>This paragraph is small font style.</strong> Sed sagittis cursus semper. Aenean feugiat, nisl quis scelerisque rhoncus, orci elit consequat arcu, et dictum sapien risus id lectus. Nam risus arcu, malesuada id lectus eget, pretium blandit mi. Quisque molestie, sem nec rhoncus porttitor, lectus libero pretium mi, et mattis mauris erat at tellus. Sed ultricies dignissim volutpat.</p>
			</div>
		</div>
	</section>


	<!-- UNORDERED LISTS -->
	<section>
		<header class="demo-section-sub-heading">
			<div class="container">
				<h3>Unordered Lists</h3>
			</div>
		</header>
		<div class="container container--vertical-padding">
			<div class="rich-text">
				<ul>
					<li>In non lacus facilisis, sodales mi sed, ultrices nibh. Maecenas non dolor tincidunt, pharetra leo sit amet, consequat elit. Nulla ac magna ultricies, suscipit nisl vitae, luctus nulla.</li>
					<li>Donec accumsan placerat metus, eu pretium diam semper sagittis. Aliquam nec ligula massa. Praesent ac massa velit. Sed laoreet lectus ac nibh finibus varius. Aenean pulvinar malesuada nulla id finibus.
						<ul>
							<li>Etiam tincidunt magna in arcu accumsan consequat. Vivamus blandit massa gravida augue semper volutpat.</li>
							<li>Sed sagittis cursus semper. Aenean feugiat, nisl quis scelerisque rhoncus, orci elit consequat arcu.</li>
						</ul>
					</li>
					<li>Etiam tincidunt magna in arcu accumsan consequat. Vivamus blandit massa gravida augue semper volutpat. Duis quis aliquet ligula, quis varius elit. Quisque consequat purus tincidunt tempus dapibus.</li>
				</ul>
			</div>
		</div>
	</section>


	<!-- ORDERED LISTS -->
	<section>
		<header class="demo-section-sub-heading">
			<div class="container">
				<h3>Ordered Lists</h3>
			</div>
		</header>
		<div class="container container--vertical-padding">
			<div class="rich-text">
				<ol>
					<li>In non lacus facilisis, sodales mi sed, ultrices nibh. Maecenas non dolor tincidunt, pharetra leo sit amet, consequat elit. Nulla ac magna ultricies, suscipit nisl vitae, luctus nulla.</li>
					<li>Etiam tincidunt magna in arcu accumsan consequat. Vivamus blandit massa gravida augue semper volutpat. Duis quis aliquet ligula, quis varius elit. Quisque consequat purus tincidunt tempus dapibus.</li>
					<li>Donec accumsan placerat metus, eu pretium diam semper sagittis. Aliquam nec ligula massa. Praesent ac massa velit. Sed laoreet lectus ac nibh finibus varius. Aenean pulvinar malesuada nulla id finibus.</li>
				</ol>
			</div>
		</div>
	</section>
</div>
