<div>
	<header class="demo-section-heading">
		<div class="container container--vertical-padding">
			<h2>Grid</h2>
		</div>
	</header>


	<!-- BASIC GRID -->
	<section>
		<header class="demo-section-sub-heading">
			<div class="container">
				<h3>Basic Grid</h3>
			</div>
		</header>

		<div class="container container--vertical-padding">
			<div class="grid-wrap demo-grid">
				<div class="grid-row">
					<div class="grid-col-6">
						Half width col
					</div>
					<div class="grid-col-6">
						Half width col
					</div>
				</div>

				<div class="grid-row">
					<div class="grid-col-4">
						Third width col
					</div>
					<div class="grid-col-4">
						Third width col
					</div>
					<div class="grid-col-4">
						Third width col
					</div>
				</div>

				<div class="grid-row">
					<div class="grid-col-3">
						Quarter width col
					</div>
					<div class="grid-col-3">
						Quarter width col
					</div>
					<div class="grid-col-3">
						Quarter width col
					</div>
					<div class="grid-col-3">
						Quarter width col
					</div>
				</div>
			</div>
		</div>
	</section>
</div>
