<section>
	<div class="demo-section-heading">
		<div class="container container--vertical-padding">
			<h2>Tables</h2>
		</div>
	</div>
	<div class="container container--vertical-padding">
        <table class="table">
            <caption>Optional table caption.</caption>
            <thead>
                <tr>
                    <th>Site</th>
                    <th># of PODs</th>
                    <th>Energy Used</th>
                    <th>CO2 Saved</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>3743 CH</td>
                    <td>1</td>
                    <td>45.50kWh</td>
                    <td>25.48kg</td>
                </tr>
                <tr>
                    <td>6681PN</td>
                    <td>1</td>
                    <td>0.00kWh</td>
                    <td>0.00kg</td>
                </tr>
                <tr>
                    <td>6852 MC</td>
                    <td>1</td>
                    <td>0.00kWh</td>
                    <td>0.00kg</td>
                </tr>
            </tbody>
        </table>

        <hr>

        <table class="table table--striped">
            <thead>
            <tr>
                <th>Site</th>
                <th># of PODs</th>
                <th>Energy Used</th>
                <th>CO2 Saved</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>3743 CH</td>
                <td>1</td>
                <td>45.50kWh</td>
                <td>25.48kg</td>
            </tr>
            <tr>
                <td>6681PN</td>
                <td>1</td>
                <td>0.00kWh</td>
                <td>0.00kg</td>
            </tr>
            <tr>
                <td>6852 MC</td>
                <td>1</td>
                <td>0.00kWh</td>
                <td>0.00kg</td>
            </tr>
            </tbody>
        </table>
	</div>
</section>