<div>
	<header class="demo-section-heading">
		<div class="container container--vertical-padding">
			<h2>Icons</h2>
		</div>
	</header>


	<!-- GENERAL ICONS -->
	<section>
		<header class="demo-section-sub-heading">
			<div class="container">
				<h3>General icons</h3>
			</div>
		</header>
		<div class="container container--vertical-padding">
			<ul class="icons-list icons-list--inline">
				<li><a href="#" class="iconfont-cross"></a></li>
				<li><a href="#" class="iconfont-charge-location"></a></li>
				<li><a href="#" class="iconfont-charge"></a></li>
				<li><a href="#" class="iconfont-location"></a></li>
				<li><a href="#" class="iconfont-tick"></a></li>
				<li><a href="#" class="iconfont-arrow"></a></li>
				<li><a href="#" class="iconfont-money"></a></li>
				<li><a href="#" class="iconfont-cheveron"></a></li>
			</ul>
		</div>
	</section>


	<!-- SOCIAL ICONS -->
	<section>
		<header class="demo-section-sub-heading">
			<div class="container">
				<h3>Social icons</h3>
			</div>
		</header>
		<div class="container container--vertical-padding">
			<ul class="icons-list icons-list--inline">
				<li><a href="#" class="circle-icon iconfont-facebook"></a></li>
				<li><a href="#" class="circle-icon iconfont-twitter"></a></li>
				<li><a href="#" class="circle-icon iconfont-linkedin"></a></li>
				<li><a href="#" class="circle-icon iconfont-youtube"></a></li>
				<li><a href="#" class="circle-icon iconfont-instagram"></a></li>
				<li><a href="#" class="circle-icon iconfont-google"></a></li>
			</ul>
		</div>
	</section>
</div>
