<section>
	<div class="demo-section-heading">
		<div class="container container--vertical-padding">
			<h2>Main navigation</h2>
		</div>
	</div>

	<header role="header" class="global-header">
		<div class="global-header__content">
			<a class="logo-main" href="/">
				<img src="assets/img/pod-point-logo.svg" alt="POD Point">
			</a>
			<a href="#" class="navicon"></a>
		</div>
		{{> nav }}
	</header>

</section>
