// =============================================================================
//  ANIMATED ICONS
// =============================================================================

.navicon {
	width: 25px;
	height: 18px;
	position: relative;
	transform: rotate(0deg);
	transition: .5s ease-in-out;
	span {
		display: block;
		height: 2px;
		width: 100%;
		background-color: $icon-color;
		@include position(absolute, null null null 0);
		border-radius: 5px;
		transform: rotate(0deg);
		transition: .25s ease-in-out;
		opacity: 1;
		&:nth-child(1) {
			top: 0;
			.nav-open & {
				top: 50%;
				transform: rotate(135deg);
			}
		}
		&:nth-child(2) {
			top: 50%;
			.nav-open & {
				left: -25px;
				opacity: 0;
			}
		}
		&:nth-child(3) {
			top: 100%;
			.nav-open & {
				top: 50%;
				transform: rotate(-135deg);
			}
		}
	}
}


.plus-minus-toggle {
	cursor: pointer;
	width: 29px;
	height: 29px;
	span {
		display: block;
		@include position(relative, 17px 0 null null);
		float: right;
		width: 15px;
		height: 15px;
		transition: .5s ease-in-out;
		transform: rotate(0deg);
		&:before,
		&:after {
			content: '';
			display: block;
			height: 2px;
			width: 100%;
			background-color: $icon-color;
			@include position(absolute, 0 null null null);
			border-radius: 5px;
			transform: rotate(0deg);
			transition: .25s ease-in-out;
			opacity: 1;
		}
		&:before {
			top: 0;
			.sub-nav-open & {
				transform: rotate(180deg);
			}
		}
		&:after {
			transform: rotate(90deg);
			.sub-nav-open &,
			.accordion .is-open & {
				opacity: 0;
				transform: rotate(360deg);
			}
		}
	}
	&--green-in-circle {
		border-radius: 50%;
		border: 2px solid $primary-color;
		span {
			@include position(relative, 12px 4px null null);
			width: 18px;
			height: 18px;
			&:before,
			&:after {
				background-color: $primary-color;
			}
		}
	}
}

.circle-icon--close {
	&:hover {
		transition: transform 0.8s ease-in-out;
		transform: rotate(360deg);
	}
}