// =============================================================================
//  BACKGROUNDS
// =============================================================================

.bg--white {
	background-color: white;
	& + .bg--white {
		border-top: $border-thin;
	}
}
.global-header-wrap + .bg--white {
	border-top: $border-thin;
}
.bg--very-dark-gray {
	background-color: $gray-very-dark;
	color: white;
}
.bg--very-light-gray {
	background-color: $gray-very-light;
}
.bg--light-gray {
	background-color: $gray-light;
}
.bg--sky-blue {
	background-color: $sky-blue;
}
.bg--wall {
	background-color: $gray-very-light;
	background-image: url(../img/content/backgrounds/wall.png);
	background-position: center center;
	background-size: 1500px 1006px;
}
.bg--img-cover {
	background-position: center center;
	background-size: cover;
}

.bg-img-overlay {
	position: relative;
	color: white;
	z-index: 0;
	&:after {
		z-index: -1;
		content: '';
		@include position(absolute, 0 0 0 0);
		background-color: $gray-very-dark;
		opacity: 0.65;
		width: 100%;
		height: 100%;
	}
	&--black {
		&:after {
			background-color: black;
			opacity: 0.55;
		}
	}
}
