// =============================================================================
//  BUTONS
// =============================================================================

// Get rid of all default stying
button {
	-webkit-font-smoothing: antialiased;
	appearance: none;
	cursor: pointer;
	user-select: none;
	text-decoration: none;
	background-color: transparent;
	border: none;
	&:focus { outline: none; }
}

.button {
	cursor: pointer;
	box-sizing: border-box;
	vertical-align: middle;
	width: auto;
	display: inline-block;
	@include padding(8px 20px);
	min-height: 40px;
	color: white;
	background-color: $primary-color;
	font-weight: $font-weight-bold;
	font-size: rem(15);
	line-height: 1.2;
	letter-spacing: rem(1);
	border-radius: 30px;
	border: 2px solid $primary-color;
	transition: all 0.2s ease;
	max-width: $button-max-width;

	@include small-and-up {
		@include padding(null 35px);
	}

	&:focus { outline: none; }

	&:hover:not(.is-disabled),
	&:focus:not(.is-disabled),
	&:active:not(.is-disabled) {
		color: $primary-color;
		background-color: transparent;
		border-color: $primary-color;
		opacity: 1;
	}
	&.button--secondary {
		color: white;
		background-color: $gray;
		border-color: $gray;

		&:hover:not(.is-disabled),
		&:focus:not(.is-disabled),
		&:active:not(.is-disabled) {
			color: $gray;
			background-color: transparent;
			border-color: $gray;
		}
	}
	&.button--tertiary {
		color: $gray-dark;
		background-color: transparent;
		border-color: $gray-dark;

		&:hover:not(.is-disabled),
		&:focus:not(.is-disabled),
		&:active:not(.is-disabled) {
			color: white;
			background-color: $gray-dark;
			border-color: $gray-dark;
		}
	}
	&.button--selected {
		@include hide-text-not-pseudo;
		&:before {
			content: '';
			background-image: url('../img/toolkit/css-bg/icons/tick-white.svg');
			background-size: cover;
			width: 20px;
			height: 20px;
		}
		&:hover:not(.is-disabled),
		&:focus:not(.is-disabled),
		&:active:not(.is-disabled) {
			&:before {
				background-image: url('../img/toolkit/css-bg/icons/tick-green.svg');
			}
		}
	}
	&.button--auto-width {
		width: auto;
	}
}

.buttons-container {
	@include margin(-10px);
	overflow: hidden;
	.button {
		@include margin(10px);
	}
}

.setback-button {
	display: inline-block;
	color: $font-color-base;
	font-weight: $font-weight-bold;
	text-decoration: underline;

	svg {
		@include margin(null 5px);
	}
}
