// =============================================================================
//  BUTONS
// =============================================================================

// Get rid of all default stying
button {
	-webkit-font-smoothing: antialiased;
	appearance: none;
	cursor: pointer;
	user-select: none;
	text-decoration: none;
	background-color: transparent;
	border: none;
}

.button {
	box-sizing: border-box;
	vertical-align: middle;
	width: auto;
	display: inline-block;
	@include padding(0.8rem 3.5rem);
	min-height: 4rem;
	color: white;
	background-color: $primary-color;
	font-family: $font-family-bold;
	font-size: 1.5rem;
	font-weight: normal;
	line-height: 1.2;
	letter-spacing: 0.1rem;
	border-radius: 3rem;
	border: 1px solid $primary-color;
	transition: all 0.2s ease;
	max-width: $button-max-width;

	&:hover:not(.is-disabled),
	&:focus:not(.is-disabled),
	&:active:not(.is-disabled) {
		color: $primary-color;
		background-color: transparent;
		border-color: $primary-color;
		opacity: 1;
	}
	&.button--secondary {
		color: white;
		background-color: $gray;
		border-color: $gray;

		&:hover:not(.is-disabled),
		&:focus:not(.is-disabled),
		&:active:not(.is-disabled) {
			color: $gray;
			background-color: transparent;
			border-color: $gray;
		}
	}
	&.button--tertiary {
		color: $gray-dark;
		background-color: transparent;
		border-color: $gray-dark;

		&:hover:not(.is-disabled),
		&:focus:not(.is-disabled),
		&:active:not(.is-disabled) {
			color: white;
			background-color: $gray-dark;
			border-color: $gray-dark;
		}
	}
	&.button--selected {
		@include iconfont('tick');
		@include hide-text-not-pseudo;
		&:before {
			@include iconfont-styles;
			font-weight: bold;
		}
	}
	&.button--auto-width {
		width: auto;
	}
}

.buttons-container {
	@include margin(-1rem);
	overflow: hidden;
	.button {
		@include margin(1rem);
		width: calc(100% - 2rem);
		@media only screen and (min-width: $small-screen) {
			width: auto;
		}
		&--auto-width {
			width: auto;
		}
	}
}