// =============================================================================
//	CONTAINERS
// =============================================================================

.container {
	@include container;
	&--wide {
		max-width: $max-width-content-wide;
	}
	&--wide {
		max-width: $max-width-content-narrow;
	}
}
.container-text {
	max-width: $max-width-text;
	&.wide { max-width: $max-width-text-wide; }
	&.narrow { max-width: $max-width-text-narrow; }
}

.content-block {
	@include padding(4rem null);
	&--standout {
		@include padding(8rem null);
	}
	&--strip {
		@include padding(2rem null);
	}
	&--no-padding {
		@include padding(0 null);
	}
	&--centered {
		@include margin(null auto);
		text-align: center;
	}
	& + .content-block {
		padding-top: 0;
	}
}