// =============================================================================
//	CONTAINERS
// =============================================================================

.container {
	@include container;
	&--vertical-padding {
		@include padding($vertical-spacing-mobile null);
		@media only screen and (min-width: $medium-screen) {
			@include padding($vertical-spacing null);
		}
	}
	&--wide {
		max-width: $max-width-content-wide;
	}
	&--wide {
		max-width: $max-width-content-narrow;
	}
}
.container-text {
	max-width: $max-width-text;
	&.wide { max-width: $max-width-text-wide; }
	&.narrow { max-width: $max-width-text-narrow; }
}

.content-block {
	@include margin(4rem null);
	&--no-padding {
		@include margin(0 null);
	}
	&--centered {
		@include margin(null auto);
		text-align: center;
	}
	& + .content-block {
		margin-top: 0;
	}
}

.section--centered {
	text-align: center;
}
.bg--very-dark-gray {
	background-color: $gray-very-dark;
	color: white;
}
.bg--very-light-gray {
	background-color: $gray-very-light;
}