// =============================================================================
//  DIVIDERS
// =============================================================================

.divider--steps {
	@include svg-bg-divider-repeater($primary-color);
	@include margin(2rem auto 0 auto);
	width: 0.6rem;
	height: 6rem;
	background-repeat: repeat-y;
	& + .grid-row {
		margin-top: 0;
	}
	@include medium-and-up {
		@include svg-bg-steps-divider-desktop($primary-color);
		@include margin(0 auto);
		width: 70%;
		height: 11rem;
		background-repeat: no-repeat;
		&--flipped {
			transform: scaleX(-1);
			filter: FlipH;
		}
	}
}
