// =============================================================================
//  DIVIDERS
// =============================================================================

.divider--steps {
	@include clearfix;
	@include svg-bg-divider-repeater($primary-color-encoded);
	@include margin(20px auto 0 auto);
	width: 6px;
	height: 60px;
	background-repeat: repeat-y;
	& + .grid-row {
		margin-top: 0;
	}
	@include medium-and-up {
		@include svg-bg-steps-divider-desktop($primary-color-encoded);
		width: 70%;
		height: 110px;
		background-repeat: no-repeat;
		&--flipped {
			transform: scaleX(-1);
			filter: FlipH;
		}
	}
}

.grid-row {
	@include clearfix;
}
