// =============================================================================
//  ICONS
// =============================================================================

.circle-icon {
	@include icon-in-circle;
	@include icon-in-circle--size;

	&--small {
		@include icon-in-circle--size($dimension: 2.5rem, $font-size: 1.2rem);
	}
	&--small-resp {
		@include icon-in-circle--size($dimension: 2.5rem, $font-size: 1.2rem);
		@media only screen and (min-width: $medium-screen) {
			@include icon-in-circle--size($dimension: 4rem, $font-size: 1.7rem);
		}
	}
	&--large-resp {
		@include icon-in-circle--size($dimension: 4rem, $font-size: 1.7rem);
		@media only screen and (min-width: $medium-screen) {
			@include icon-in-circle--size($dimension: 6rem, $font-size: 2.5rem);
		}
	}
	&--green {
		@include icon-in-circle($bgColor: $primary-color, $color: white);
	}
	&--outlined {
		@include icon-in-circle($bgColor: transparent, $color: $font-color-base, $border: 1px solid $font-color-base);
		&:before { width: 104%; }
	}
	&--outlined-green {
		@include icon-in-circle($bgColor: transparent, $color: $primary-color, $border: 1px solid $primary-color);
		&:before { width: 104%; }
	}
	&--outlined-dark {
		@include icon-in-circle($bgColor: transparent, $color: white, $border: 1px solid white);
		&:before { width: 104%; }
	}
	&--white-outline {
		@include icon-in-circle($bgColor: white, $color: $font-color-base, $border: 1px solid $gray-keyline);
		&:before { width: 104%; }
	}
}

.inline-circle-icon {
	position: relative;
	.circle-icon--toggle-panel,
	.toggle-panel {
		@include position(absolute, 0 -3.5rem null null);
	}
}

.circle-icon--toggle-panel {
	@include iconfont('cheveron');
	&:before { @include iconfont-styles; }
	@include icon-in-circle($bgColor: transparent, $color: $primary-color, $border: 1px solid $primary-color);
	@include icon-in-circle--size($dimension: 2.5rem, $font-size: 1.2rem);
	transition: transform 0.8s ease-in-out;
	&:before { width: 105%; }
	&.rotate {
		transition: transform 0.7s ease-in-out;
		transform: rotate(-180deg);
	}
}
.circle-icon--close-panel {
	@include iconfont('cheveron');
	&:before { @include iconfont-styles; }
	@include icon-in-circle($bgColor: transparent, $color: $primary-color, $border: 1px solid $primary-color);
	@include icon-in-circle--size();
	transform: rotate(180deg);
	&:before { width: 105%; }
}