// =============================================================================
//  ICONS
// =============================================================================

.icon {
	height: 2.5rem;
	width: 2.5rem;
	@include margin(null 0.2rem);
	&--sm {
		height: 2rem;
		width: 2rem;
	}
	&--xs {
		height: 1.5rem;
		width: 1.5rem;
	}
	&--xxs {
		height: 1rem;
		width: 1rem;
	}
}

.circle-icon {
	@include icon-in-circle;
	@include icon-in-circle--size;

	&--small {
		@include icon-in-circle--size($dimension: 2.5rem);
	}
	&--small-resp {
		@include icon-in-circle--size($dimension: 2.5rem);
		@include medium-and-up {
			@include icon-in-circle--size($dimension: 4rem);
		}
	}
	&--large-resp {
		@include icon-in-circle--size($dimension: 4rem);
		@include medium-and-up {
			@include icon-in-circle--size($dimension: 6rem);
		}
	}
	&--green {
		@include icon-in-circle($bgColor: $primary-color, $color: white);
	}
	&--outlined {
		@include icon-in-circle($bgColor: transparent, $color: $font-color-base, $border: 2px solid $font-color-base);
	}
	&--outlined-green {
		@include icon-in-circle($bgColor: transparent, $color: $primary-color, $border: 2px solid $primary-color);
	}
	&--outlined-dark {
		@include icon-in-circle($bgColor: transparent, $color: white, $border: 2px solid white);
	}
	&--white-outline {
		@include icon-in-circle($bgColor: white, $color: $font-color-base, $border: 2px solid $gray-keyline);
	}
}

.inline-circle-icon {
	position: relative;
	padding-right: 3rem;
	.toggle-panel-icon,
	.toggle-panel {
		@include position(absolute, 0 -0.5rem null null);
	}
	.toggle-panel-icon--secondary {
		@include position(absolute, 3px 0 null null);
	}
}

.toggle-panel-icon {
	@include icon-in-circle($bgColor: transparent, $color: $primary-color, $border: 2px solid $primary-color);
	@include icon-in-circle--size($dimension: 2.5rem);
}
.toggle-panel-icon--secondary {
	@include icon-in-circle($bgColor: transparent, $color: $font-color-base, $border: 2px solid $font-color-base);
	@include icon-in-circle--size($dimension: 2rem);
}
.circle-icon--close-panel {
	@include icon-in-circle($bgColor: transparent, $color: $primary-color, $border: 2px solid $primary-color);
	@include icon-in-circle--size();
	transform: rotate(180deg);
}

.toggle-rotate-icon {
	display: inline-block;
	transition: transform 0.8s ease-in-out;
	&.rotate {
		transition: transform 0.7s ease-in-out;
		transform: rotate(-180deg);
	}
}
