// =============================================================================
//  LISTS
// =============================================================================

ul,
ol {
	margin: 0;
	padding: 0;
	li {
		list-style: none;
	}
	&.list--small {
		@include font-small;
	}
	&.list--links {
		li a {
			color: inherit;
		}
	}
	&.list--inline {
		@include margin(null -1.5rem);
		li {
			display: inline-block;
			@include margin(null 1.5rem);
		}
		&--sm-gutter {
			@include margin(null -0.5rem);
			li {
				@include margin(null 0.5rem);
			}
		}
	}
	&.list--featured-ticks {
		margin-top: 2rem;
		li {
			@include font-style-large;
			font-family: $font-family-bold;
			@include iconfont('tick');
			margin-bottom: 1.5rem;
			&:last-child {
				margin-bottom: 0;
			}
			&:before {
				width: 3rem;
				@include iconfont-styles;
				position: relative;
				top: 0.3rem;
				text-align: left;
				font-weight: bold;
				color: $primary-color;
			}
		}
	}
}

.dl {
	margin-bottom: $spacing-small;
	dt {
		font-weight: bold;
		margin-top: $spacing-small;
	}
	dd {
		margin: 0;
	}
}

.icons-list {
	&--inline {
		@include margin(null -0.15rem);
		li {
			display: inline-block;
			@include margin(null 0.15rem);
			a:not(.circle-icon) {
				&:before {
					color: black;
					font-size: 2.5rem;
				}
			}
		}
	}
}