// =============================================================================
//  LISTS
// =============================================================================

ul,
ol {
	margin: 0;
	padding: 0;
	li {
		list-style: none;
	}
	&.list--small {
		@include font-small;
	}
	&.list--links {
		li a {
			color: inherit;
		}
	}
	&.list--inline {
		@include margin(null -1.5rem);
		li {
			display: inline-block;
			@include margin(null 1.5rem);
		}
		&--sm-gutter {
			@include margin(null -0.5rem);
			li {
				@include margin(null 0.5rem);
			}
		}
		&--tiny {
			li {
				img {
					max-height: 4.5rem;
					width: auto;
				}
			}
		}
	}
}

.dl {
	margin-bottom: $spacing-small;
	dt {
		font-weight: bold;
		margin-top: $spacing-small;
	}
	dd {
		margin: 0;
	}
}

.icons-list {
	&--inline {
		@include margin(null -0.15rem);
		li {
			display: inline-block;
			@include margin(null 0.15rem);
			a:not(.circle-icon) {
				&:before {
					color: black;
					font-size: 2.5rem;
				}
			}
		}
	}
}