// =============================================================================
//	SPACING HELPERS
// =============================================================================

$spacings: (
	'none': 0,
	'xxs': $space-xxs,
	'xs': $space-xs,
	'sm': $space-sm,
	'md': $space-md,
	'lg': $space-lg,
	'xl': $space-xl
);

@each $size, $value in $spacings {
	.m-#{$size} {
		margin: $value;
	}
	.m-t-#{$size} {
		margin-top: $value;
	}
	.m-r-#{$size} {
		margin-right: $value;
	}
	.m-b-#{$size} {
		margin-bottom: $value;
	}
	.m-l-#{$size} {
		margin-left: $value;
	}
	.p-#{$size} {
		padding: $value;
	}
	.p-t-#{$size} {
		padding-top: $value;
	}
	.p-r-#{$size} {
		padding-right: $value;
	}
	.p-b-#{$size} {
		padding-bottom: $value;
	}
	.p-l-#{$size} {
		padding-left: $value;
	}
}