// =============================================================================
//  COMPONENTS - CIRCLE ICONS
// =============================================================================

.circle-icon {
    @include icon-in-circle;
    @include icon-in-circle--size;
    box-sizing: content-box;

    &--sm {
        @include icon-in-circle--size($dimension: $circle-icon-size-sm);
    }

    &--sm-resp {
        @include icon-in-circle--size($dimension: $circle-icon-size-sm);

        @include screen-md-min {
            @include icon-in-circle--size;
        }
    }

    &--lg-resp {
        @include icon-in-circle--size;

        @include screen-md-min {
            @include icon-in-circle--size($dimension: $circle-icon-size-lg);
        }
    }

    &--primary {
        @include icon-in-circle($bg-colour: $primary-colour, $colour: $white, $border: $border-primary);
    }

    &--outlined {
        @include icon-in-circle($bg-colour: transparent, $colour: $font-colour-base, $border: $border-font-colour);
    }

    &--outlined--primary {
        @include icon-in-circle($bg-colour: transparent, $colour: $primary-colour, $border: $border-primary);
    }

    &--outlined--inverted {
        @include icon-in-circle($bg-colour: transparent, $colour: $white, $border: $border-inverted);
    }
}

.toggle-panel-icon {
    @include icon-in-circle($bg-colour: transparent, $colour: $primary-colour, $border: $border-primary);
    @include icon-in-circle--size($dimension: $circle-icon-size-sm);
    @include icon-in-border-circle--size($dimension: $circle-icon-size-sm);
}

.toggle-panel-icon--secondary {
    @include icon-in-circle($bg-colour: transparent, $colour: $font-colour-base, $border: $border-font-colour);
    @include icon-in-border-circle--size($dimension: $circle-icon-size-sm);
}

.circle-icon--close-panel {
    @include icon-in-circle($bg-colour: transparent, $colour: $primary-colour, $border: $border-primary);
    @include icon-in-border-circle--size;
    transform: rotate(180deg);
}

.toggle-rotate-icon {
    display: inline-block;
    transition: transform .8s ease-in-out;

    &.rotate {
        transform: rotate(-180deg);
        transition: transform .7s ease-in-out;
    }
}

.circle-icon--close {
    &:hover {
        transform: rotate(360deg);
        transition: transform .8s ease-in-out;
    }
}
