// =============================================================================
//  COMPONENTS - BUTONS
// =============================================================================

.btn {
    @extend %remove-link-styles;
    cursor: pointer;
    box-sizing: border-box;
    vertical-align: middle;
    width: auto;
    display: inline-block;
    @include padding(8px 20px);
    min-height: 40px;
    color: white;
    background-color: $primary-color;
    font-weight: $font-weight-bold;
    font-size: rem(15);
    line-height: 1.2;
    letter-spacing: rem(1);
    border-radius: 30px;
    border: 2px solid $primary-color;
    transition: all 0.2s ease;
    max-width: $button-max-width;

    @include screen-sm-min {
        @include padding(null 35px);
    }

    &:focus {
        outline: none;
    }

    &:hover:not(.is-disabled),
    &:focus:not(.is-disabled),
    &:active:not(.is-disabled) {
        color: $primary-color;
        background-color: transparent;
        border-color: $primary-color;
        opacity: 1;
    }

    &.btn--secondary {
        color: white;
        background-color: $gray;
        border-color: $gray;

        &:hover:not(.is-disabled),
        &:focus:not(.is-disabled),
        &:active:not(.is-disabled) {
            color: $gray;
            background-color: transparent;
            border-color: $gray;
        }
    }

    &.btn--tertiary {
        color: $gray-dark;
        background-color: transparent;
        border-color: $gray-dark;

        &:hover:not(.is-disabled),
        &:focus:not(.is-disabled),
        &:active:not(.is-disabled) {
            color: white;
            background-color: $gray-dark;
            border-color: $gray-dark;
        }
    }

    &.btn--danger {
        color: white;
        background-color: $error-red;
        border-color: $error-red;

        &:hover:not(.is-disabled),
        &:focus:not(.is-disabled),
        &:active:not(.is-disabled) {
            color: $error-red;
            background-color: transparent;
            border-color: $error-red;
        }
    }

    &.btn--selected {
        @extend %hide-text-not-pseudo;

        &:before {
            @include margin(null auto);
            display: block;
            content: '';
            background-image: url($css-bg-path+'icons/tick-white.svg');
            background-size: cover;
            width: 20px;
            height: 20px;
        }

        &:hover:not(.is-disabled),
        &:focus:not(.is-disabled),
        &:active:not(.is-disabled) {
            &:before {
                background-image: url($css-bg-path+'icons/tick-primary.svg');
            }
        }
    }
}

.btn--passive {
    @extend %clickable;
    padding: 0;
    background-color: transparent;
    border: none;
    display: inline-block;
    color: $font-color-base;
    font-weight: $font-weight-bold;
    text-decoration: underline;
    line-height: $line-height-base;
    min-height: auto;
    max-width: auto;

    @include screen-sm-min {
        padding: 0;
    }

    &:hover:not(.is-disabled),
    &:focus:not(.is-disabled),
    &:active:not(.is-disabled) {
        color: $font-color-base;
        opacity: 0.8;
    }
}
