// =============================================================================
//  COMPONENTS - PLUS MINUS TOGGLE
// =============================================================================

.plus-minus-toggle {
    cursor: pointer;
    display: block;
    float: right;
    width: $plus-minus-size;
    height: $plus-minus-size;
    transition: .5s ease-in-out;
    transform: rotate(0deg);

    &:before,
    &:after {
        content: '';
        display: block;
        height: $plus-minus-stroke;
        width: 100%;
        background-color: $icon-color;
        position: absolute;
        top: 50%;
        margin-top: -1px;
        border-radius: $plus-minus-stroke-radius;
        transform: rotate(0deg);
        transition: .25s ease-in-out;
        opacity: 1;
    }

    &:before {
        .sub-nav-open & {
            transform: rotate(180deg);
        }
    }

    &:after {
        transform: rotate(90deg);

        .sub-nav-open &,
        .accordion .is-open & {
            opacity: 0;
            transform: rotate(360deg);
        }
    }
}

.plus-minus-toggle--in-circle--primary {
    border-radius: 50%;
    border: $plus-minus-stroke solid $primary-color;
    width: $plus-minus-circle-size;
    height: $plus-minus-circle-size;

    &:before,
    &:after {
        background-color: $primary-color;
        width: 60%;
        left: 20%;
    }
}

