// =============================================================================
//  COMPONENTS - PLUS MINUS TOGGLE
// =============================================================================

.plus-minus-toggle {
    cursor: pointer;
    display: block;
    float: right;
    height: $plus-minus-size;
    transform: rotate(0deg);
    transition: .5s ease-in-out;
    width: $plus-minus-size;

    &::before,
    &::after {
        background-color: $icon-color;
        border-radius: $plus-minus-stroke-radius;
        content: '';
        display: block;
        height: $plus-minus-stroke;
        margin-top: -1px;
        opacity: 1;
        position: absolute;
        top: 50%;
        transform: rotate(0deg);
        transition: .25s ease-in-out;
        width: 100%;
    }

    &::before {
        .sub-nav-open & {
            transform: rotate(180deg);
        }
    }

    &::after {
        transform: rotate(90deg);

        .sub-nav-open & {
            opacity: 0;
            transform: rotate(360deg);
        }

        .accordion {
            .is-open & {
                opacity: 0;
                transform: rotate(360deg);
            }
        }
    }
}

.plus-minus-toggle--in-circle--primary {
    border: $plus-minus-stroke solid $primary-color;
    border-radius: 50%;
    height: $plus-minus-circle-size;
    width: $plus-minus-circle-size;

    &::before,
    &::after {
        background-color: $primary-color;
        left: 20%;
        width: 60%;
    }
}
