// =============================================================================
//  COMPONENTS - NAVBAR
// =============================================================================

// sass-lint:disable nesting-depth

.is-nav-open {
    body {
        overflow: hidden;
    }
}

.navbar-wrap {
    background-color: $white;
    position: relative;
    width: 100%;
    z-index: 100;
}

.navbar {
    @extend %clearfix;
    @include container;

    @include screen-md-min {
        height: $navbar-desktop-height;
    }

    &.nav-open {
        box-shadow: $bottom-shadow;

        @include screen-md-min {
            box-shadow: none;

            &::after {
                background-color: $white;
                box-shadow: $bottom-shadow;
                content: '';
                height: $underlay-desktop-height;
                left: 0;
                position: absolute;
                top: 0;
                width: 100%;
                z-index: -1;
            }
        }
    }

    .navicon {
        float: right;
        margin-top: 20px;

        @include screen-md-min {
            display: none;
        }
    }
}

.navbar__content {
    height: 60px;
    position: relative;

    @include screen-md-min {
        border-bottom: 0;
        height: auto;
    }
}

.navbar__pp-logo {
    float: left;
    height: 27px;
    margin-top: 17px;
    width: 100px;

    svg {
        height: 100%;
        width: 100%;
    }

    @include screen-md-min {
        height: 38px;
        margin-top: 30px;
        width: 140px;
    }

    @include screen-lg-min {
        height: 49px;
        margin-top: 22px;
        width: 180px;
    }
}


.navbar__nav {
    @extend %clearfix;
    @extend %m-center;
    @include slide-down-collapsed(.5s);
    transition: .1s ease-in-out;

    @include screen-md-min {
        display: block;
        float: right;
        height: 97px;
        max-height: 100%;
    }

    .nav-open & {
        @include slide-down-active(1s, 800px);
        height: auto;
        transition: 1s ease-in-out;
    }

    ul {
        @extend %remove-list-styles;

        li {
            @include font-size-sm;
            border-bottom: $border-thin;
            padding-bottom: 0;
            position: relative;

            &:last-child {
                border-bottom: 0;
            }

            @include screen-md-min {
                @include padding(null 10px);
                border-bottom: 0;
                display: inline-block;
                position: static;
            }

            @include screen-lg-min {
                @include padding(null 20px);
            }

            .navbar__link {
                @include padding(15px 0);
                color: $font-color-base;
                cursor: pointer;
                display: block;
                font-weight: $font-weight-bold;
                text-align: left;
                text-decoration: none;
                width: 100%;

                @include screen-md-min {
                    @include padding(36px 5px);
                    text-align: center;
                }

                &.find-chargepoint {
                    color: $primary-color;
                    padding-left: 25px;
                    position: relative;

                    svg {
                        @include position(absolute, 50% null null 0);
                        fill: $primary-color;
                        height: 20px;
                        margin-top: -10px;
                        width: 20px;
                    }
                }
            }
        }
    }

    > ul {
        @include screen-md-min {
            float: right;
            margin-right: -10px;
        }

        > li {
            min-height: 43px;

            &.has-sub-nav {
                &.sub-nav-open {
                    .navbar__sub-nav {
                        @include slide-down-active(1s, 340px);
                        height: auto;
                        max-height: 340px;
                        transition: 1s ease-in-out;

                        @include screen-md-min {
                            animation-duration: .3s;
                            animation-fill-mode: both;
                            animation-name: fadeIn;
                            height: $subnav-desktop-height;
                            opacity: 1;
                            transition: none;
                        }
                    }
                }

                .plus-minus-toggle {
                    @include position(absolute, 17px 0 null null);
                    z-index: -1;

                    @include screen-md-min {
                        display: none;
                    }
                }
            }

            > .navbar__link {
                border-bottom: 2px solid transparent;
            }

            &.sub-nav-open,
            &:hover {
                > .navbar__link {
                    @include screen-md-min {
                        border-color: $primary-color;
                    }
                }
            }
        }
    }
}

.navbar__sub-nav {
    @include slide-down-collapsed(.5s);
    background-color: $white;
    text-align: center;
    transition: .3s ease-in-out;
    width: 100%;

    @include screen-md-min {
        @include position(absolute, 96px 0 null null);
        opacity: 0;
    }

    ul {
        background-color: $white;
        margin-bottom: 20px;

        @include screen-sm-min {
            @include container;
        }

        @include screen-md-min {
            margin-bottom: 0;
        }

        li {
            @extend %clearfix;
            @include padding(null 20px);
            border-bottom: 0;
            display: inline-block;
            width: 120px;

            @include screen-sm-min {
                width: auto;
            }

            .navbar__link  {
                text-align: center;

                .navbar__item-img {
                    @include margin(5px auto 10px);
                    display: block;
                    height: 60px;
                    width: 60px;

                    @include screen-sm-min {
                        height: 100px;
                        margin-bottom: 20px;
                        width: 100px;
                    }
                }
            }
        }
    }
}

@include screen-md-min {
    .navbar-overlay {
        background-color: $transparent-dark-gray;
        display: none;
        height: 100%;
        left: 0;
        position: fixed;
        top: 0;
        transition: .1s ease-in-out;
        width: 100%;
        z-index: 10;

        &.nav-open {
            animation-duration: .3s;
            animation-fill-mode: both;
            animation-name: fadeIn;
            display: block;
            transition: .8s ease-in-out;
        }
    }
}
