// =============================================================================
//  COMPONENTS - CIRCLE ICONS
// =============================================================================

.circle-icon {
    box-sizing: content-box;
    @include icon-in-circle;
    @include icon-in-circle--size;

    &--sm {
        @include icon-in-circle--size($dimension: rem(25));
    }

    &--sm-resp {
        @include icon-in-circle--size($dimension: rem(25));

        @include screen-md-min {
            @include icon-in-circle--size();
        }
    }

    &--lg-resp {
        @include icon-in-circle--size();

        @include screen-md-min {
            @include icon-in-circle--size($dimension: rem(60));
        }
    }

    &--primary {
        @include icon-in-circle($bgColor: $primary-color, $color: white, $border: $border-primary);
    }

    &--outlined {
        @include icon-in-circle($bgColor: transparent, $color: $font-color-base, $border: $border-font-color);
    }

    &--outlined--primary {
        @include icon-in-circle($bgColor: transparent, $color: $primary-color, $border: $border-primary);
    }

    &--outlined--inverted {
        @include icon-in-circle($bgColor: transparent, $color: white, $border: $border-inverted);
    }
}

.toggle-panel-icon {
    @include icon-in-circle($bgColor: transparent, $color: $primary-color, $border: $border-primary);
    @include icon-in-circle--size($dimension: rem(25));
    @include icon-in-border-circle--size($dimension: rem(25));
}

.toggle-panel-icon--secondary {
    @include icon-in-circle($bgColor: transparent, $color: $font-color-base, $border: $border-font-color);
    @include icon-in-border-circle--size($dimension: rem(25));
}

.circle-icon--close-panel {
    @include icon-in-circle($bgColor: transparent, $color: $primary-color, $border: $border-primary);
    @include icon-in-border-circle--size();
    transform: rotate(180deg);
}

.toggle-rotate-icon {
    display: inline-block;
    transition: transform 0.8s ease-in-out;

    &.rotate {
        transition: transform 0.7s ease-in-out;
        transform: rotate(-180deg);
    }
}

.circle-icon--close {
    &:hover {
        transition: transform 0.8s ease-in-out;
        transform: rotate(360deg);
    }
}
