// =============================================================================
//  COMPONENTS - ACCORDION
// =============================================================================

.accordion {
    @include accordion-size($accordion-v-spacing-md);
    -webkit-tap-highlight-color: $transparent; // sass-lint:disable-line no-vendor-prefixes

    &.grid-row {
        .grid-col-4 {
            @include margin(0 null);
        }
    }

    .accordion__dt {
        @include padding(null 0);
        cursor: pointer;
        position: relative;

        .accordion__toggle-icon {
            @include position(absolute, 0 0 null null);
        }

        &.is-open {
            + dd {
                @include slide-down-active(1s, 300px);
            }
        }
    }

    .accordion__dd {
        @include slide-down-collapsed(1s);
        border-bottom: $border-thin;
        margin: 0;
    }

    &--only-mobile {
        @include screen-md-min {

            .accordion__dt {
                border-bottom: 0;
                cursor: default;
                padding: 0;

                .accordion__toggle-icon {
                    display: none;
                }
            }

            .accordion__dd {
                @include slide-down-active(1s, 300px);
            }
        }
    }
}

.accordion--v-spacing-xs {
    @include accordion-size($accordion-v-spacing-xs);
}

.accordion--v-spacing-sm {
    @include accordion-size($accordion-v-spacing-sm);
}

.accordion--v-spacing-lg {
    @include accordion-size($accordion-v-spacing-lg);
}

.accordion--v-spacing-xl {
    @include accordion-size($accordion-v-spacing-xl);
}


.accordion--toggle-icon {
    .accordion__dt {
        padding-left: $accordion-with-toggle-h-spacing;

        .accordion__toggle-icon {
            @include position(absolute, null auto null 0);
            margin-top: -.2em;
        }
    }

    .accordion__dd {
        padding-left: $accordion-with-toggle-h-spacing;
    }
}
