// =============================================================================
//  COMPONENTS - CARDS
// =============================================================================

.card {
    display: block;
    background-color: white;
    border-radius: $border-radius-base;
    border: $border-thin-dark;
    color: $font-color-base;
    box-shadow: $box-shadow-subtle;
    padding: $card-v-padding $card-h-padding;

    &--options {
        position: relative;

        ul,
        ol {
            padding-left: $list-l-spacing-sm;

            li {
                padding-left: 0;
            }
        }

        &:before {
            content: '';
            @include pos-top-left(absolute, $card-option-highlight-offset, -1px);
            z-index: -1;
            width: calc(100% + 2px);
            height: $card-option-highlight-height;
            border-top-right-radius: $border-radius-base;
            border-top-left-radius: $border-radius-base;
            background-color: $gray-keyline-very-light;
        }

        &--recommended {
            &:before {
                background-color: $primary-color;
            }
        }
    }

    &--padding-lg {
        padding: $card-v-padding-lg $card-h-padding-lg;
    }

    &--centered {
        text-align: center;

        hr {
            @include margin-h(20%);
        }
    }

    &--highlight {
        border: $border-primary;
    }

    &--informative {
        border: $border-base;

        hr {
            opacity: 1;
        }
    }
}

.cards-same-height {
    .card {
        min-height: 100%;
    }
}
