// =============================================================================
//  COMPONENTS - LABELS
// =============================================================================

.label {
    position: relative;
    border-radius: $border-radius-base;
    background-color: $gray-dark;
    color: white;
    @include font-size-md;
    font-weight: $font-weight-bold;
    box-sizing: border-box;
    min-height: $label-min-height;
    padding: $label-v-padding $label-h-padding;
    display: inline-block;

    &--left-icon {
        padding-left: $label-with-icon-h-spacing;

        svg {
            left: $label-h-padding;
        }
    }

    &--right-icon {
        padding-right: $label-with-icon-h-spacing;

        svg {
            right: $label-h-padding;
        }
    }

    svg {
        fill: white;
        width: $label-icon-size;
        height: $label-icon-size;
        position: absolute;
        top: 50%;
        margin-top: $label-icon-t-spacing;
    }

    &--gray {
        background-color: $gray;
    }
}
