// =============================================================================
//  COMPONENTS - ALERT
// =============================================================================

.alert {
    margin-bottom: $space-xs;
    padding: $alert-padding;
    width: 100%;

    h4 {
        // Specified for the h4 to prevent conflicts of changing $headings-colour
        color: inherit;
    }

    a {
        color: inherit;
        text-decoration: underline;
    }

    &--success {
        @include alert-variant($success-colour-light, $success-colour-dark);
    }

    &--info {
        @include alert-variant($info-colour-light, $info-colour-dark);
    }

    &--warning {
        @include alert-variant($warning-colour-light, $warning-colour-dark);
    }

    &--danger {
        @include alert-variant($danger-colour-light, $danger-colour-dark);
    }
}
