// =============================================================================
//  COMPONENTS - MODAL
// =============================================================================

.is-modal-open body {
    overflow: hidden;
}

.modal {
    z-index: 101;
    background-color: rgba(0,0,0,0.9);
    position: fixed;
    @extend %pin-all;
    overflow-y: scroll;
    width: 100%;
    min-height: 100%;

    .modal__close {
        @include pos-top-right(absolute, $modal-close-t-offset-mobile, $h-spacing-mobile);

        @include screen-md-min {
            @include pos-top-right(absolute, $modal-close-t-offset, $h-spacing);
        }
    }

    &__content {
        text-align: center;
        position: relative;
        @include container;
        @include margin-v($modal-content-v-spacing-mobile);
        color: white;

        @include screen-md-min {
            @include margin-v($modal-content-v-spacing);
        }

        &--narrow {
            max-width: $modal-content-narrow;
        }
    }

    &__panel {
        @include horizontal-spacing;
        @include padding-v($modal-panel-v-spacing);
    }
}
