// =============================================================================
//  COMPONENTS - ACCORDION
// =============================================================================

.accordion {
    -webkit-tap-highlight-color: rgba(0,0,0,0);

    &.grid-row .grid-col-4 {
        @include margin-v(0);
    }

    .accordion__dt {
        position: relative;
        cursor: pointer;
        @include padding-h(0);

        .accordion__toggle-icon {
            @include pos-top-right(absolute, 0, 0);
        }

        &.is-open {
            + dd {
                @include slideDownActive(1s, 300px);
            }
        }
    }

    .accordion__dd {
        border-bottom: $border-thin;
        @include slideDownCollapsed(1s);
        margin: 0;
    }

    &--only-mobile {
        @include screen-md-min {

            .accordion__dt {
                border-bottom: none;
                padding: 0;
                cursor: default;

                .accordion__toggle-icon {
                    display: none;
                }
            }

            .accordion__dd {
                @include slideDownActive(1s, 300px);
            }
        }
    }
}

.accordion {
    @include accordion-size($accordion-v-spacing-md);
}

.accordion--v-spacing-xs {
    @include accordion-size($accordion-v-spacing-xs);
}

.accordion--v-spacing-sm {
    @include accordion-size($accordion-v-spacing-sm);
}

.accordion--v-spacing-lg {
    @include accordion-size($accordion-v-spacing-lg);
}

.accordion--v-spacing-xl {
    @include accordion-size($accordion-v-spacing-xl);
}


.accordion--toggle-icon {
    .accordion__dt {
        padding-left: $accordion-with-toggle-h-spacing;

        .accordion__toggle-icon {
            position: absolute;
            right: auto;
            left: 0;
            margin-top: -0.2em;
        }
    }
    .accordion__dd {
        padding-left: $accordion-with-toggle-h-spacing;
    }
}
