// =============================================================================
//  COMPONENTS - TOOLTIP
// =============================================================================

.tooltip-icon {
    @include icon-in-circle($bgColor: transparent, $color: $font-color-base, $border: $border-font-color);
    @include icon-in-border-circle--size($dimension: $tooltip-icon-circle-size);
    @extend %hide-text-not-pseudo;
    display: inline-block;

    &:before {
        font-weight: bold;
        content: '?';
        font-size: $tooltip-icon-size;
        line-height: $tooltip-icon-line-height;
    }
}

.tooltip {
    display: block;
    width: 100%;
    position: relative;

    @include screen-md-min {
        width: auto;
    }
}

.tooltip__box {
    @include position(absolute, 0 null null 0);
    z-index: 99;
    box-sizing: border-box;
    z-index: auto;
    width: 100%;
    padding: $tooltip-padding;
    margin-bottom: $tooltip-b-spacing;
    background-color: white;
    border: $border-base;
    border-radius: $border-radius-base;
    box-shadow: $box-shadow-front;

    @include screen-xs-min {
        width: $tooltip-width;
    }
}

.tooltip--lg {
    .tooltip__box {
        @include screen-xs-min {
            width: 100%;
        }
        @include screen-sm-min {
            width: $tooltip-width-lg;
        }
    }
}

.tooltip--right {
    .tooltip__box {
        right: 0;
        left: auto;
    }
}

.tooltip--center {
    .tooltip__box {
        @include screen-xs-min {
            left: 50%;
            margin-left: -($tooltip-width / 2);
        }
    }
    &.tooltip--lg {
        .tooltip__box {
            @include screen-xs-min {
                margin-left: -($tooltip-width-lg / 2);
            }
        }
    }
}

.tooltip__title {
    @include heading-style-5;
}

.tooltip__close {
    position: absolute;
    top: $tooltip-padding / 1.5;
    right: $tooltip-padding / 2.5;
}

