// =============================================================================
//  COMPONENTS - MODAL
// =============================================================================

.is-modal-open body {
    overflow: hidden;
}

.modal {
    z-index: 101;
    background-color: rgba(0,0,0,0.9);
    @include position(fixed, 0 0 0 0);
    overflow-y: scroll;
    width: 100%;
    min-height: 100%;

    .modal__close {
        @include position(absolute, $modal-close-t-offset-mobile $h-spacing null null);

        @include screen-md-min {
            @include position(absolute, $modal-close-t-offset $h-spacing null null);
        }
    }

    &__content {
        text-align: center;
        position: relative;
        @include container;
        @include margin($modal-content-v-spacing-mobile null);
        color: white;

        @include screen-md-min {
            @include margin($modal-content-v-spacing null);
        }

        &--narrow {
            max-width: $modal-content-narrow;
        }
    }

    &__panel {
        @include horizontal-spacing;
        @include padding($modal-panel-v-spacing null);
    }
}
