// =============================================================================
//  COMPONENTS - NAVICON
// =============================================================================

// sass-lint:disable nesting-depth

.navicon {
    height: $navicon-height;
    overflow: hidden;
    position: relative;
    transform: rotate(0deg);
    transition: .5s ease-in-out;
    width: $navicon-width;

    span {
        @include position(absolute, null 0 null null);
        background-color: $icon-color;
        border-radius: $navicon-stroke-radius;
        display: block;
        height: $navicon-stroke;
        opacity: 1;
        transform: rotate(0deg);
        transition: .25s ease-in-out;
        width: 100%;

        &:nth-child(1) {
            top: 0;

            .nav-open & {
                top: calc(50% - 2px);
                transform: rotate(135deg);
            }
        }

        &:nth-child(2) {
            top: calc(50% - 1px);

            .nav-open & {
                left: -$navicon-width;
                opacity: 0;
            }
        }

        &:nth-child(3) {
            top: calc(100% - 2px);

            .nav-open & {
                top: calc(50% - 2px);
                transform: rotate(-135deg);
            }
        }
    }
}
