// =============================================================================
//  COMPONENTS - MODAL
// =============================================================================

.is-modal-open {
    body {
        overflow: hidden;
    }
}

.modal {
    @include position(fixed, 0 0 0 0);
    background-color: $transparent-very-dark-gray;
    min-height: 100%;
    overflow-y: scroll;
    width: 100%;
    z-index: 101;

    .modal__close {
        @include position(absolute, $modal-close-t-offset-mobile $h-spacing-mobile null null);

        @include screen-md-min {
            @include position(absolute, $modal-close-t-offset $h-spacing null null);
        }
    }

    &__content {
        @include container;
        @include margin($modal-content-v-spacing-mobile null);
        color: $white;
        position: relative;
        text-align: center;

        @include screen-md-min {
            @include margin($modal-content-v-spacing null);
        }

        &--narrow {
            max-width: $modal-content-narrow;
        }
    }

    &__panel {
        @include horizontal-spacing;
        @include padding($modal-panel-v-spacing null);
    }
}
