// =============================================================================
//	ELEMENTS - HORIZONTAL RULE (HR)
// =============================================================================

hr {
    margin: 0 0 $typography-v-spacing 0;
    border-bottom: $border-thin;
    border-left: none;
    border-right: none;
    border-top: none;
    background-color: $gray-keyline-very-light;
}
