// =============================================================================
//  ELEMENTS - ANCHORS (A)
// =============================================================================

a,
.a {
    -webkit-tap-highlight-color: $transparent; // sass-lint:disable-line no-vendor-prefixes
    color: inherit;
    font-weight: $font-weight-bold;
    text-decoration: underline;
    transition: opacity .2s linear;

    &:active,
    &:focus,
    &:hover {
        opacity: $opacity-hover;
    }

    &:active,
    &:focus {
        outline: none;
    }
}
