// =============================================================================
//  ELEMENTS - LISTS
// =============================================================================

ul,
ol {
    margin: 0;
    padding-left: $list-l-spacing;
    padding-bottom: $typography-v-spacing / 2;

    &:last-child {
        padding-bottom: 0;
    }

    li {
        padding-bottom: $typography-v-spacing / 2;

        ul,
        ol {
            padding-top: $typography-v-spacing / 2;
            padding-bottom: 0;

            li:last-child {
                padding-bottom: 0;
            }
        }
    }
}

ul {
    li {
        padding-left: $list-l-spacing / 2;
        list-style-type: disc;

        ul li {
            list-style-type: circle;
            padding-left: $list-l-spacing / 2;
            margin-left: $list-l-spacing / 4;
        }
    }
}

ol {
    li {
        padding-left: $list-l-spacing / 2;
        list-style-type: decimal;
    }
}
