// =============================================================================
//  ELEMENTS - BUTTONS
// =============================================================================

// Get rid of all default stying
button {
    appearance: none;
    background-color: transparent;
    border: 0;
    cursor: pointer;
    padding: 0;
    text-align: inherit;
    text-decoration: none;
    user-select: none;

    &:focus {
        outline: none;
    }
}
