// =============================================================================
//	ELEMENTS - TEXT
// =============================================================================

p,
.p {
    margin: 0;
    padding-bottom: $typography-v-spacing;

    &:last-child {
        padding-bottom: 0;
    }
}

small,
.small {
    font-size: .8em;
}

strong,
.strong,
.bold {
    font-weight: $font-weight-bold;
}

em,
i,
.em,
.italic {
    font-style: italic;
}

s,
.s,
.strike,
.strikethrough {
    text-decoration: line-through;
}

mark,
.mark,
.highlight {
    @include padding(null $highlight-text-padding);
    background-color: $highlight-color;
}

code {
    background-color: $primary-color-very-light;
    color: $primary-color-very-dark;
    padding: $highlight-text-padding;
}
