// =============================================================================
//	ELEMENTS - FIGURE
// =============================================================================

figure {
    background-color: $gray-dark;
    border: $border-base;
    border-radius: $border-radius-base;
    box-shadow: $box-shadow-inset;
    color: $white;
    margin: 0;
    overflow-x: scroll;
    padding: $v-spacing-mobile $h-spacing-mobile;
}
