// =============================================================================
//  ELEMENTS - DL
// =============================================================================

.dl {
    margin-bottom: 15px;

    dt {
        font-weight: bold;
        margin-top: 15px;
    }

    dd {
        margin: 0;
    }
}
