// =============================================================================
//  ELEMENTS - BODY
// =============================================================================

body {
    font-feature-settings: 'kern';
    font-feature-settings: 'liga';
    font-feature-settings: 'pnum';
    -webkit-font-smoothing: antialiased;
    color: $font-color-base;
    font-family: $font-family-base;
    font-weight: $font-weight-regular;
    @include font-size-md;
    line-height: $line-height-base;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -webkit-text-shadow: rgba(255,255,255,0.01) 0 0 1px;
    text-shadow: rgba(255,255,255,0.01) 0 0 1px;
}
