// =============================================================================
//  ELEMENTS - HTML
// =============================================================================

html {
    font-size: 100%;
}
