// =============================================================================
//  ELEMENTS - DL
// =============================================================================

.dl {
    margin-bottom: $dl-h-spacing;

    dt {
        font-weight: bold;
        margin-top: $dl-h-spacing;
    }

    dd {
        margin: 0;
    }
}
