// =============================================================================
//  ELEMENTS - BODY
// =============================================================================

body {
    @include font-size-md;
    color: $font-color-base;
    font-family: $font-family-base;
    font-feature-settings: 'kern' 1, 'liga' 1, 'pnum' 1;
    font-smoothing: antialiased;
    font-weight: $font-weight-regular;
    line-height: $line-height-base;
    text-shadow: $transparent-white 0 0 1px;
    text-size-adjust: 100%;
}
