<div data-js-module="addressLookup">

	<div id="locationField" class="form-field-wrapper">
		<input id="autocomplete" placeholder="Search by postcode, street or address" onFocus="geolocate()" type="text"></input>
	</div>

	<hr>

	<div id="address" class="grid-wrap">
		<div class="grid-row">
			<div class="grid-col grid-col--md-6">
				<label class="label--block">Street number</label>
				<div class="form-field-wrapper">
					<input id="street_number" class="field" type="text" disabled="true"></input>
				</div>
			</div>
			<div class="grid-col grid-col--md-6">
				<label class="label--block">Street address</label>
				<div class="form-field-wrapper">
					<input id="route" class="field" type="text" disabled="true"></input>
				</div>
			</div>
		</div>
		<div class="grid-row">
			<div class="grid-col grid-col--md-6">
				<label class="label--block">City</label>
				<div class="form-field-wrapper">
					<input id="locality" class="field" type="text" disabled="true"></input>
				</div>
			</div>
			<div class="grid-col grid-col--md-6">
				<label class="label--block">County</label>
				<div class="form-field-wrapper">
					<input id="administrative_area_level_1" class="field" type="text" disabled="true"></input>
				</div>
			</div>
		</div>
		<div class="grid-row">
			<div class="grid-col grid-col--md-6">
				<label class="label--block">Post code</label>
				<div class="form-field-wrapper">
					<input id="postal_code" class="field" type="text" disabled="true"></input>
				</div>
			</div>
			<div class="grid-col grid-col--md-6">
				<label class="label--block">Country</label>
				<div class="form-field-wrapper">
					<input id="country" class="field" type="text" disabled="true"></input>
				</div>
			</div>
		</div>
	</div>

</div>