<div class="gallery-simple marg-center" data-js-module="gallerySimple">
	<img class="gallery-simple__image" src="">
	<ul class="gallery-simple__thumbnails">
		<li><a href="#"><img src="assets/img/content/homecharge-gallery/podpoint-homecharge-gallery-item-one.png"></a></li>
		<li><a href="#"><img src="assets/img/content/homecharge-gallery/podpoint-homecharge-gallery-item-two.jpg"></a></li>
		<li><a href="#"><img src="assets/img/content/homecharge-gallery/podpoint-homecharge-gallery-item-three.jpg"></a></li>
		<li><a href="#"><img src="assets/img/content/homecharge-gallery/podpoint-homecharge-gallery-item-four.jpg"></a></li>
	</ul>
</div>