<div class="gallery-simple m-center" data-js-module="gallerySimple">
	<img class="gallery-simple__image" src="">
	<ul class="gallery-simple__thumbnails">
		<li><div class="thumbnail"><img src="https://placeholdit.co//i/300x300?&bg=EC3D62&fc=ffffff"></div></li>
		<li><div class="thumbnail"><img src="https://placeholdit.co//i/300x300?&bg=3da0ec&fc=ffffff"></div></li>
		<li><div class="thumbnail"><img src="https://placeholdit.co//i/300x300?&bg=ec833d&fc=ffffff"></div></li>
	</ul>
</div>
