<div class="navbar-wrap">
	<header role="header" class="navbar" data-js-module="navbar">
		<div class="navbar__content">
			<a class="navbar__pp-logo" href="/">
				<span class="svg-wrap">{{> pod-point-logo }}</span>
			</a>
			<button type="button" class="navbar__navicon">
				<span></span>
				<span></span>
				<span></span>
			</button>
		</div>
		{{> nav }}
	</header>
</div>
{{!-- <div class="navbar-overlay"></div> --}}
