<div class="global-header-wrap">
	<header role="header" class="global-header" data-js-module="headerNav">
		<div class="global-header__content">
			<a class="logo-main" href="home.html">
				<span class="svg-wrap">{{> pod-point-logo }}</span>
			</a>
			<button type="button" class="navicon">
				<span></span>
				<span></span>
				<span></span>
			</button>
		</div>
		{{> nav }}
	</header>
</div>
<div class="global-nav-overlay"></div>
