<nav class="global-nav">
	<ul>
		<li><a href="#">Homecharge</a></li>
		<li class="has-sub-nav">
			<a href="#">Business</a>
			<i class="plus-minus-toggle"><span></span></i>
			<div class="global-nav__sub-nav">
				<ul>
					<li>
						<a href="#">
							<img src="assets/img/illustrations/commercial-charging.svg" alt="Commercial Charging">
							Commercial charging
						</a>
					</li>
					<li>
						<a href="#">
							<img src="assets/img/illustrations/workplace-charging.svg" alt="Workplace Charging">
							Workplace charging
						</a>
					</li>
					<li>
						<a href="#">
							<img src="assets/img/illustrations/built-environment.svg" alt="Built Environment">
							Built Environment
						</a>
					</li>
				</ul>
			</div>
		</li>
		<li><a href="#">EV Guides</a></li>
		<li class="has-sub-nav">
			<a href="#">About Us</a>
			<i class="plus-minus-toggle"><span></span></i>
			<div class="global-nav__sub-nav">
				<ul>
					<li>
						<a href="#">
							<img src="assets/img/illustrations/our-mission.svg" alt="Our Mission">
							Our Mission
						</a>
					</li>
					<li>
						<a href="#">
							<img src="assets/img/illustrations/careers.svg" alt="Careers">
							Careers
						</a>
					</li>
					<li>
						<a href="#">
							<img src="assets/img/illustrations/blog.svg" alt="Blog">
							Blog
						</a>
					</li>
				</ul>
			</div>
		</li>
	</ul>
</nav>