<nav class="global-nav">
	<ul>
		<li class="has-sub-nav">
			<a href="#">Products</a>
			<i class="plus-minus-toggle"><span></span></i>
			<div class="global-nav__sub-nav">
				<ul>
					<li>
						<a href="homecharge.html">
							<img class="svg-wrap block max-width--xxs marg-center" src="assets/img/toolkit/nav/nav-home-charging.svg" alt="">
							<span>Home charging</span>
						</a>
					</li>
					<li>
						<a href="#">
							<img class="svg-wrap block max-width--xxs marg-center" src="assets/img/toolkit/nav/nav-commercial-charging.svg" alt="">
							<span>Commercial charging</span>
						</a>
					</li>
					<li>
						<a href="#">
							<img class="svg-wrap block max-width--xxs marg-center" src="assets/img/toolkit/nav/nav-workplace-charging.svg" alt="">
							<span>Workplace charging</span>
						</a>
					</li>
					<li>
						<a href="#">
							<img class="svg-wrap block max-width--xxs marg-center" src="assets/img/toolkit/nav/nav-built-environment.svg" alt="">
							<span>Built Environment</span>
						</a>
					</li>
				</ul>
			</div>
		</li>
		<li><a href="#">EV Guides</a></li>
		<li class="has-sub-nav">
			<a href="#">About Us</a>
			<i class="plus-minus-toggle"><span></span></i>
			<div class="global-nav__sub-nav">
				<ul>
					<li>
						<a href="#">
							<img class="svg-wrap block max-width--xxs marg-center" src="assets/img/toolkit/nav/nav-our-mission.svg" alt="">
							<span>Our Mission</span>
						</a>
					</li>
					<li>
						<a href="#">
							<img class="svg-wrap block max-width--xxs marg-center" src="assets/img/toolkit/nav/nav-careers.svg" alt="">
							<span>Careers</span>
						</a>
					</li>
					<li>
						<a href="#">
							<img class="svg-wrap block max-width--xxs marg-center" src="assets/img/toolkit/nav/nav-blog.svg" alt="">
							<span>Blog</span>
						</a>
					</li>
				</ul>
			</div>
		</li>
		<li><a class="find-chargepoint" href="#"><svg><use xlink:href="#general--charge-location"/></svg><span>Find a Chargepoint</span></a></li>
	</ul>
</nav>
