<nav class="navbar__nav">
	<ul>
		<li class="has-sub-nav">
			<button type="button" class="navbar__link">Products</button>
			<i class="plus-minus-toggle"><span></span></i>
			<div class="navbar__sub-nav">
				<ul>
					<li>
						<a class="navbar__link" href="homecharge.html">
							<img class="navbar__item-img" src="https://placeholdit.co//i/100x100?&bg=cccccc&fc=ffffff&text=nav item">
							<span>Home charging</span>
						</a>
					</li>
					<li>
						<a class="navbar__link" href="#">
							<img class="navbar__item-img" src="https://placeholdit.co//i/100x100?&bg=cccccc&fc=ffffff&text=nav item">
							<span>Commercial charging</span>
						</a>
					</li>
					<li>
						<a class="navbar__link" href="#">
							<img class="navbar__item-img" src="https://placeholdit.co//i/100x100?&bg=cccccc&fc=ffffff&text=nav item">
							<span>Workplace charging</span>
						</a>
					</li>
					<li>
						<a class="navbar__link" href="#">
							<img class="navbar__item-img" src="https://placeholdit.co//i/100x100?&bg=cccccc&fc=ffffff&text=nav item">
							<span>Built Environment</span>
						</a>
					</li>
				</ul>
			</div>
		</li>
		<li><a class="navbar__link" href="#">EV Guides</a></li>
		<li class="has-sub-nav">
			<button type="button" class="navbar__link">About Us</button>
			<i class="plus-minus-toggle"><span></span></i>
			<div class="navbar__sub-nav">
				<ul>
					<li>
						<a class="navbar__link" href="#">
							<img class="navbar__item-img" src="https://placeholdit.co//i/100x100?&bg=cccccc&fc=ffffff&text=nav item">
							<span>Our Mission</span>
						</a>
					</li>
					<li>
						<a class="navbar__link" href="#">
							<img class="navbar__item-img" src="https://placeholdit.co//i/100x100?&bg=cccccc&fc=ffffff&text=nav item">
							<span>Careers</span>
						</a>
					</li>
					<li>
						<a class="navbar__link" href="#">
							<img class="navbar__item-img" src="https://placeholdit.co//i/100x100?&bg=cccccc&fc=ffffff&text=nav item">
							<span>Blog</span>
						</a>
					</li>
				</ul>
			</div>
		</li>
		<li><a class="navbar__link find-chargepoint" href="#"><i class="icon">{{> icon-charge-location }}</i><span>Find a Chargepoint</span></a></li>
	</ul>
</nav>
