<nav class="global-nav">
	<ul>
		<li><a href="#">Homecharge</a></li>
		<li><a href="#">Business</a>
			<div class="global-nav__sub-nav">
				<ul>
					<li><a href="#">Commercial charging</a></li>
					<li><a href="#">Workplace charging</a></li>
					<li><a href="#">Built Environment</a></li>
				</ul>
			</div>
		</li>
		<li><a href="#">EV Guides</a></li>
		<li><a href="#">About Us</a></li>
	</ul>
</nav>