<nav class="global-nav">
	<ul>
		<li class="has-sub-nav">
			<span class="nav-link">Products</span>
			<i class="plus-minus-toggle"><span></span></i>
			<div class="global-nav__sub-nav">
				<ul>
					<li>
						<a class="nav-link" href="homecharge.html">
							<img class="nav-item-img" src="https://placeholdit.co//i/100x100?&bg=cccccc&fc=ffffff&text=nav item">
							<span>Home charging</span>
						</a>
					</li>
					<li>
						<a class="nav-link" href="#">
							<img class="nav-item-img" src="https://placeholdit.co//i/100x100?&bg=cccccc&fc=ffffff&text=nav item">
							<span>Commercial charging</span>
						</a>
					</li>
					<li>
						<a class="nav-link" href="#">
							<img class="nav-item-img" src="https://placeholdit.co//i/100x100?&bg=cccccc&fc=ffffff&text=nav item">
							<span>Workplace charging</span>
						</a>
					</li>
					<li>
						<a class="nav-link" href="#">
							<img class="nav-item-img" src="https://placeholdit.co//i/100x100?&bg=cccccc&fc=ffffff&text=nav item">
							<span>Built Environment</span>
						</a>
					</li>
				</ul>
			</div>
		</li>
		<li><a class="nav-link" href="#">EV Guides</a></li>
		<li class="has-sub-nav">
			<span class="nav-link">About Us</span>
			<i class="plus-minus-toggle"><span></span></i>
			<div class="global-nav__sub-nav">
				<ul>
					<li>
						<a class="nav-link" href="#">
							<img class="nav-item-img" src="https://placeholdit.co//i/100x100?&bg=cccccc&fc=ffffff&text=nav item">
							<span>Our Mission</span>
						</a>
					</li>
					<li>
						<a class="nav-link" href="#">
							<img class="nav-item-img" src="https://placeholdit.co//i/100x100?&bg=cccccc&fc=ffffff&text=nav item">
							<span>Careers</span>
						</a>
					</li>
					<li>
						<a class="nav-link" href="#">
							<img class="nav-item-img" src="https://placeholdit.co//i/100x100?&bg=cccccc&fc=ffffff&text=nav item">
							<span>Blog</span>
						</a>
					</li>
				</ul>
			</div>
		</li>
		<li><a class="nav-link find-chargepoint" href="#"><svg><use xlink:href="#general--charge-location"/></svg><span>Find a Chargepoint</span></a></li>
	</ul>
</nav>
