
<!-- NAV (SIDEBAR) -->
<section id="">
    <header class="content-block bg-light-gray">
        <div class="container">
            <h3>Nav default (vertical)</h3>
        </div>
    </header>
    <div class="content-block">
        <div class="container">
            <ul class="nav nav--h-separator">
                <li class="nav__item"><a class="nav__link" href="#">Item 1</a></li>
                <li class="nav__item nav__item--with-subnav">
                    <button type="button" class="nav__link" data-toggle-panel="subnav1">Item 2 <i class="nav__subnav-toggle plus-minus-toggle"></i></button>
                    <ul id="subnav1" class="nav__subnav accordion-panel accordion-panel--sm" data-js-module="toggleAccordionPanel">
                        <li class="nav__item"><a class="nav__link" href="#">Item 2.1</a></li>
                        <li class="nav__item"><a class="nav__link" href="#">Item 2.2</a></li>
                        <li class="nav__item"><a class="nav__link" href="#">Item 2.3</a></li>
                    </ul>
                </li>
            </ul>

            <ul class="nav nav--h-separator">
                <li class="nav__item"><a class="nav__link" href="#">Item 3</a></li>
                <li class="nav__item"><a class="nav__link" href="#">Item 4</a></li>
                <li class="nav__item"><a class="nav__link" href="#">Item 5</a></li>
            </ul>
        </div>
    </div>
</section>


<!-- NAV (SIDEBAR) WITH SEPARATOR BORDERS -->
<section id="">
    <header class="content-block bg-light-gray">
        <div class="container">
            <h3>Nav default (vertical)</h3>
        </div>
    </header>
    <div class="content-block">
        <div class="container">
            <ul class="nav nav--h-separator">
                <li class="nav__item"><a class="nav__link" href="#">Item 1</a></li>
                <li class="nav__item"><a class="nav__link" href="#">Item 2</a></li>
            </ul>
            <ul class="nav nav--h-separator">
                <li class="nav__item"><a class="nav__link" href="#">Item 3</a></li>
                <li class="nav__item"><a class="nav__link" href="#">Item 4</a></li>
                <li class="nav__item"><a class="nav__link" href="#">Item 5</a></li>
            </ul>
        </div>
    </div>
</section>


<!-- NAV (INLINE) -->
<section id="">
    <header class="content-block bg-light-gray">
        <div class="container">
            <h3>Nav (sidebar)</h3>
        </div>
    </header>
    <div class="content-block">
        <div class="container">
            <ul class="nav nav--inline">
                <li class="nav__item"><a class="nav__link" href="#">Item 1</a></li>
                <li class="nav__item"><a class="nav__link" href="#">Item 2</a></li>
            </ul>
            <ul class="nav nav--inline">
                <li class="nav__item"><a class="nav__link" href="#">Item 3</a></li>
                <li class="nav__item"><a class="nav__link" href="#">Item 4</a></li>
                <li class="nav__item"><a class="nav__link" href="#">Item 5</a></li>
            </ul>
        </div>
    </div>
</section>

