// =============================================================================
//	ELEMENTS - FORMS - SHARED
// =============================================================================

label,
.form__label {
    display: inline-block;
    @include font-size-sm;
    padding-bottom: rem(5);

    .checkbox &,
    .radio & {
        @include font-size-md;
    }
}

.form__label {
    width: 100%;
    font-weight: $font-weight-bold;
}
