// =============================================================================
//	ELEMENTS - FORMS - VALIDATION
// =============================================================================

.checkbox-wrap:not(.is-invalid),
.form-field-wrapper:not(.is-invalid) {
    .error-message {
        display: none;
    }
}

.form__group--error {
    .checkbox > input[type="checkbox"] + span:before {
        border-color: $error-red;
    }
}

.form__group--error {
    #{$inputs},
    textarea[type="text"],
    .select-wrapper select {
        border-color: $error-red;
    }
}

.form__group--valid {
    #{$inputs},
    textarea[type="text"],
    .select-wrapper select {
        border-color: $primary-color;
    }
}

.form__error {
    display: block;
    @include font-size-sm;
    font-weight: $font-weight-bold;
    color: $error-red;
    margin-top: rem(5);

    .checkbox-wrap & {
        margin-top: 0;
    }
}

.checkbox-wrap {
    .form__error {
        margin-left: 35px;
    }
}
