// =============================================================================
//	ELEMENTS - FORMS - LAYOUT
// =============================================================================

.form__field {
    width: 100%;
    max-width: $form-field-max-width;
}

.form__group {
    margin-bottom: $form-group-base-spacing;

    &:last-child {
        margin-bottom: 0;
    }
}
