// =============================================================================
//	VARIABLES
// =============================================================================

// Screen sizes
$xsmall-screen: 24em;
$small-screen: 40em;
$medium-screen: 50em;
$large-screen: 64em;

// Typography
$font-family-base: "Quicksand Regular", sans-serif;
$font-family-heading: "Quicksand Medium", sans-serif;
$font-family-bold: "Quicksand Bold", sans-serif;

// Font Sizes
$font-size-base: 1.2rem;

// Line height
$line-height-base: 1.5;
$line-height-heading: 1.3;

// Horizontal spacing
$horizontal-spacing-mobile: 2.5rem;
$horizontal-spacing: 3rem;
$-horizontal-spacing-mobile: -2.5rem;
$-horizontal-spacing: -3rem;

// Vertical spacing
$vertical-spacing-mobile: 2.5rem;
$vertical-spacing: 4rem;
$-vertical-spacing-mobile: -2.5rem;
$-vertical-spacing: -4rem;

// Max widths (imgs)
$max-width-xxs: 10rem;
$max-width-xs: 15rem;
$max-width-sm: 20rem;
$max-width-md: 30rem;
$max-width-lg: 40rem;
$max-width-xl: 50rem;
$max-width-xxl: 60rem;
$max-width-xxxl: 70rem;

// Max widths
$max-width-content: 104rem;
$max-width-content-wide: 120rem;
$max-width-content-narrow: 90rem;
$max-width-text: 60rem;
$max-width-text-wider: 64rem;
$max-width-text-wide: 70rem;
$max-width-text-narrow: 50rem;

// Other Sizes
$border-radius-base: 5px;
$spacing-large: $line-height-base * 2.5rem;
$spacing-base: $line-height-base * 2rem;
$spacing-small: $spacing-base / 2;
$spacing-x-small: $spacing-base / 3;
$z-index-base: 0;

// Spacing
$space-xxs: 0.5rem;
$space-xs: 1rem;
$space-sm: 1.5rem;
$space-md: 2rem;
$space-lg: 3rem;
$space-xl: 5rem;
$space-xxl: 7rem;

// Grey palette
$background-color-base: #fff;
$gray-very-light: #f9fafa;
$gray-light: #e6e6e6;
$gray: #b3b3b3;
$gray-medium: #999;
$gray-dark: #4d4d4d;
$gray-very-dark: #333;

// Custom colours
$primary-color: #8CC63F;
$primary-color-light: #e2eecc;
$secondary-color-dark: green;

// Keyline colors
$gray-keyline-very-light: #e2e2e2;
$gray-keyline-light: #b3b3b3;
$gray-keyline: #ccc;
$gray-keyline-dark: #777;

// Font Colors
$font-color-base: #333;
$font-color-very-light: #ccc;
$font-color-light: #999;
$action-color: #7b7b7b;
$article-title-color: #cdcdcd;

$icon-color: $font-color-base;

// Social colors
$facebook-color: #4b6ead;
$twitter-color: #00b7f0;
$pinterest-color: #bd081c;

// Border
$border-color-base: $gray-keyline;
$border-base: 2px solid $border-color-base;
$border-thin: 1px solid $gray-keyline-very-light;

// Shadow
$bottom-shadow: 0px 11px 16px -10px rgba(0,0,0,0.1);
$bottom-shadow-subtle: 0px 11px 16px -10px rgba(0,0,0,0.05);
$box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.4);
$box-shadow-subtle: 0px 0px 6px 0px rgba(0,0,0,0.2);
$box-shadow-front: 0px 0px 12px 0px rgba(0,0,0,0.2);
$box-shadow-inset: inset 0px 0px 15px -5px rgba(0,0,0,0.3);

// List of used inputs
$inputs-list:
	'input[type="date"]',
	'input[type="email"]',
	'input[type="number"]',
	'input[type="password"]',
	'input[type="search"]',
	'input[type="tel"]',
	'input[type="text"]',
	'input[type="url"]';

// Let's assign so we can use the list
$inputs: assign-inputs($inputs-list);

// Form colors
$form-keyline: $border-color-base;
$radio-border: $border-color-base;
$radio-fill-color: $primary-color;
$checkbox-border: $form-keyline;
$checked-fill-color: $primary-color;
$checkbox-bg-color: transparent;
$error-red: #C1272D;

$disabled-color: gray;

// Forms
$input-height: 4rem;
$input-padding: 1rem;
$form-box-shadow: inset 0 1px 3px rgba(#000, 0.06);
$form-box-shadow-focus: $form-box-shadow, 0 0 5px adjust-color($action-color, $lightness: -5%, $alpha: -0.3);
$form-border-radius: 5px;
$form-border-base: $border-base;
$input-text-color: #444;
$input-placeholder-color: #ccc;
$input-icon-color: #9C9C9C;
$form-field-max-width: 60rem;
$button-max-width: 60rem;
