// =============================================================================
//	VARIABLES
// =============================================================================

@import url('https://fonts.googleapis.com/css?family=Quicksand:300,400,500,700');

@function rem($size) {
	$remSize: $size / 16;
	@return #{$remSize}rem;
}

// Screen sizes
$xsmall-screen: 24em;
$small-screen: 40em;
$medium-screen: 50em;
$large-screen: 68em;
$xlarge-screen: 100em;

// Typography
$font-family-base: "Quicksand", sans-serif;

// font weights
$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-bold: 700;

// Font sizes
$font-size-base: rem(12);

// Line height
$line-height-base: 1.5;
$line-height-heading: 1.3;

// Horizontal spacing
$horizontal-spacing-mobile: 25px;
$horizontal-spacing: 30px;
$-horizontal-spacing-mobile: -25px;
$-horizontal-spacing: -30px;

// Vertical spacing
$vertical-spacing-mobile: 25px;
$vertical-spacing: 40px;
$-vertical-spacing-mobile: -25px;
$-vertical-spacing: -40px;

// Max widths (imgs)
$max-width-xxs: 100px;
$max-width-xs: 150px;
$max-width-sm: 200px;
$max-width-md: 300px;
$max-width-lg: 400px;
$max-width-xl: 500px;
$max-width-xxl: 600px;
$max-width-xxxl: 700px;

// Max widths
$max-width-content: 1100px;
$max-width-content-wide: 1260px;
$max-width-content-narrow: 960px;
$max-width-text: 600px;
$max-width-text-wider: 640px;
$max-width-text-wide: 700px;
$max-width-text-narrow: 500px;

// Spacing
$space-xxs: 5px;
$space-xs: 10px;
$space-sm: 15px;
$space-md: 20px;
$space-lg: 30px;
$space-xl: 50px;
$space-xxl: 70px;

// Grey palette
$background-color-base: white;
$gray-very-light: #f9fafa;
$gray-light: #f2f2f2;
$gray: #b3b3b3;
$gray-very-dark: #4d4d4d;

// Custom colours
$primary-color: #8CC63F;
$primary-color-light: #e2eecc;
$secondary-color-dark: green;
$sky-blue: #deeefc;

// Keyline colors
$gray-keyline-very-light: #e2e2e2;
$gray-keyline-light: #b3b3b3;
$gray-keyline: #ccc;
$gray-keyline-dark: #777;

// Font Colors
$font-color-base: #333;
$font-color-very-light: #ccc;
$font-color-light: #999;
$action-color: #7b7b7b;
$article-title-color: #cdcdcd;

$icon-color: $font-color-base;

// Social colors
$facebook-color: #4b6ead;
$twitter-color: #00b7f0;
$pinterest-color: #bd081c;

// Border
$border-radius-base: 5px;
$border-color-base: $gray-keyline;
$border-base: 2px solid $border-color-base;
$border-thin-dark: 1px solid $border-color-base;
$border-thin: 1px solid $gray-keyline-very-light;

// Shadow
$bottom-shadow: 0px 11px 16px -10px rgba(0,0,0,0.1);
$bottom-shadow-subtle: 0px 11px 16px -10px rgba(0,0,0,0.05);
$box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.4);
$box-shadow-subtle: 0px 0px 10px 0px rgba(0,0,0,0.1);
$box-shadow-front: 0px 0px 12px 0px rgba(0,0,0,0.2);
$box-shadow-inset: inset 0px 0px 15px -5px rgba(0,0,0,0.3);

// List of used inputs
$inputs-list:
	'input[type="date"]',
	'input[type="email"]',
	'input[type="number"]',
	'input[type="password"]',
	'input[type="search"]',
	'input[type="tel"]',
	'input[type="text"]',
	'input[type="url"]';

// Let's assign so we can use the list
$inputs: assign-inputs($inputs-list);

// Form colors
$form-keyline: $border-color-base;
$radio-border: $border-color-base;
$radio-fill-color: $primary-color;
$checkbox-border: $form-keyline;
$checked-fill-color: $primary-color;
$checkbox-bg-color: transparent;
$error-red: #C1272D;

$disabled-color: gray;

// Forms
$input-height: rem(40);
$input-padding: 10px;
$form-box-shadow: inset 0 1px 3px rgba(#000, 0.06);
$form-box-shadow-focus: $form-box-shadow, 0 0 5px adjust-color($action-color, $lightness: -5%, $alpha: -0.3);
$form-border-radius: 5px;
$form-border-base: $border-base;
$input-text-color: #444;
$input-placeholder-color: #ccc;
$input-icon-color: #9C9C9C;
$form-field-max-width: rem(600);
$button-max-width: rem(600);
