<section class="bg--white">
	<div class="container content-block">
		<div class="buttons-container clear">
			<button class="button button--tertiary float-left-sm">Chat now</button>
			<a href="checkout-step2.html" class="button float-right-sm">Next</a>
		</div>
	</div>
</section>