// =============================================================================
//  COMPONENTS - TOOLTIP
// =============================================================================

.tooltip-icon {
    @include icon-in-circle($bgColor: transparent, $color: $font-color-base, $border: 2px solid $font-color-base);
    @include icon-in-border-circle--size($dimension: 15px);
    @extend %hide-text-not-pseudo;
    display: inline-block;

    &:before {
        font-weight: bold;
        content: '?';
        font-size: 9px;
        line-height: 12px;
    }
}

.tooltip {
    display: block;
    width: 100%;
    position: relative;

    @include screen-md-min {
        width: auto;
    }
}

.tooltip__box {
    @include position(absolute, 0 null null 0);
    z-index: 99;
    box-sizing: border-box;
    z-index: auto;
    width: 100%;
    @include padding(20px);
    margin-bottom: 20px;
    background-color: white;
    border: $border-base;
    border-radius: $border-radius-base;
    box-shadow: $box-shadow-front;

    @include screen-xs-min {
        width: 325px;
    }
}

.tooltip--lg {
    .tooltip__box {
        @include screen-xs-min {
            width: 100%;
        }
        @include screen-sm-min {
            width: 500px;
        }
    }
}

.tooltip--right {
    .tooltip__box {
        right: 0;
        left: auto;
    }
}

.tooltip--center {
    .tooltip__box {
        @include screen-xs-min {
            left: 50%;
            margin-left: -173px;
        }
    }
    &.tooltip--lg {
        .tooltip__box {
            @include screen-xs-min {
                margin-left: -250px;
            }
        }
    }
}

.tooltip__title {
    @include heading-style-5;
}

.tooltip__close {
    @include position(absolute, 15px 10px null null);
}

