// =============================================================================
//  COMPONENTS - ALERT
// =============================================================================

.alert {
    width: 100%;
    padding: 30px;
    margin-bottom: 10px;

    // Headings for larger alerts
    h4 {
        margin-top: 0;
        // Specified for the h4 to prevent conflicts of changing $headings-color
        color: inherit;
    }

    // Improve alignment and spacing of inner content
    > p,
    > ul {
        margin-bottom: 0;
    }

    > p + p {
        margin-top: 5px;
    }

    a {
        color: inherit;
        text-decoration: underline;
    }

    &--success {
        @include alert-variant($state-success-bg, $state-success-border, $state-success-text);
    }

    &--info {
        @include alert-variant($state-info-bg, $state-info-border, $state-info-text);
    }

    &--warning {
        @include alert-variant($state-warning-bg, $state-warning-border, $state-warning-text);
    }

    &--danger {
        @include alert-variant($state-danger-bg, $state-danger-border, $state-danger-text);
    }
}
