// =============================================================================
//  COMPONENTS - CIRCLE ICONS
// =============================================================================

.circle-icon {
    box-sizing: content-box;
    @include icon-in-circle;
    @include icon-in-circle--size;

    &--sm {
        @include icon-in-circle--size($dimension: 25px);
    }

    &--sm-resp {
        @include icon-in-circle--size($dimension: 25px);

        @include screen-md-min {
            @include icon-in-circle--size($dimension: 40px);
        }
    }

    &--lg-resp {
        @include icon-in-circle--size($dimension: 40px);

        @include screen-md-min {
            @include icon-in-circle--size($dimension: 60px);
        }
    }

    &--green {
        @include icon-in-circle($bgColor: $primary-color, $color: white, $border: 2px solid $primary-color);
    }

    &--outlined {
        @include icon-in-circle($bgColor: transparent, $color: $font-color-base, $border: 2px solid $font-color-base);
    }

    &--outlined-green {
        @include icon-in-circle($bgColor: transparent, $color: $primary-color, $border: 2px solid $primary-color);
    }

    &--outlined-dark {
        @include icon-in-circle($bgColor: transparent, $color: white, $border: 2px solid white);
    }

    &--white-outline {
        @include icon-in-circle($bgColor: white, $color: $font-color-base, $border: 2px solid $gray-keyline);
    }
}

.inline-circle-icon {
    position: relative;
    padding-right: 30px;

    .toggle-panel-icon,
    .toggle-panel {
        @include position(absolute, 0 -5px null null);
    }

    .toggle-panel-icon--secondary {
        @include position(absolute, 3px 0 null null);
    }
}


.toggle-panel-icon {
    @include icon-in-circle($bgColor: transparent, $color: $primary-color, $border: 2px solid $primary-color);
    @include icon-in-circle--size($dimension: 25px);
    @include icon-in-border-circle--size($dimension: 25px);
}

.toggle-panel-icon--secondary {
    @include icon-in-circle($bgColor: transparent, $color: $font-color-base, $border: 2px solid $font-color-base);
    @include icon-in-border-circle--size($dimension: 24px);
}

.circle-icon--close-panel {
    @include icon-in-circle($bgColor: transparent, $color: $primary-color, $border: 2px solid $primary-color);
    @include icon-in-border-circle--size();
    transform: rotate(180deg);
}

.toggle-rotate-icon {
    display: inline-block;
    transition: transform 0.8s ease-in-out;

    &.rotate {
        transition: transform 0.7s ease-in-out;
        transform: rotate(-180deg);
    }
}

.circle-icon--close {

    &:hover {
        transition: transform 0.8s ease-in-out;
        transform: rotate(360deg);
    }
}
