// =============================================================================
//  COMPONENTS - NAV
// =============================================================================

.is-nav-open body {
    overflow: hidden;
}

.navbar-wrap {
    position: relative;
    width: 100%;
    background-color: white;
    z-index: 100;
}

.navbar {
    @extend %clearfix;
    @include container;

    @include screen-md-min {
        height: 96px;
    }

    &.nav-open {
        box-shadow: $bottom-shadow;

        @include screen-md-min {
            box-shadow: none;
        }
    }
}

.navbar__content {
    position: relative;
    height: 60px;

    @include screen-md-min {
        height: auto;
        border-bottom: none;
    }
}

.navbar__pp-logo {
    width: 100px;
    height: 27px;
    float: left;
    margin-top: 17px;

    svg {
        width: 100%;
        height: 100%;
    }

    @include screen-md-min {
        margin-top: 30px;
        width: 140px;
        height: 38px;
    }

    @include screen-lg-min {
        margin-top: 22px;
        width: 180px;
        height: 49px;
    }
}


.navbar__navicon {
    margin-top: 20px;
    float: right;

    @include screen-md-min {
        display: none;
    }
}

.navbar__nav {
    @extend %clearfix;
    @include margin(null auto);
    transition: 0.1s ease-in-out;
    @include slideDownCollapsed(0.5s);

    @include screen-md-min {
        height: 97px;
        max-height: 100%;
        display: block;
        float: right;
    }

    .nav-open & {
        height: auto;
        transition: 1s ease-in-out;
        @include slideDownActive(1s, 800px);
    }

    ul {
        @extend %remove-list-styles;

        li {
            position: relative;
            @include font-size-sm;
            border-bottom: $border-thin;

            &:last-child {
                border-bottom: none;
            }

            @include screen-md-min {
                position: static;
                border-bottom: none;
                display: inline-block;
                @include padding(null 10px);
            }

            @include screen-lg-min {
                @include padding(null 20px);
            }

            .navbar__link {
                cursor: pointer;
                text-decoration: none;
                @include padding(15px 0);
                color: $font-color-base;
                font-weight: $font-weight-bold;
                display: block;
                width: 100%;
                text-align: left;

                @include screen-md-min {
                    text-align: center;
                    @include padding(36px 5px);
                }

                &.find-chargepoint {
                    color: $primary-color;
                    padding-left: 25px!important;
                    position: relative;

                    svg {
                        @include position(absolute, 50% null null 0);
                        margin-top: -10px;
                        width: 20px;
                        height: 20px;
                        fill: $primary-color;
                    }
                }
            }
        }
    }

    > ul {

        @include screen-md-min {
            float: right;
            margin-right: -10px;
        }

        > li {
            min-height: 43px;

            &.has-sub-nav {

                &.sub-nav-open {

                    .navbar__sub-nav {
                        height: auto;
                        max-height: 340px;
                        transition: 1s ease-in-out;
                        @include slideDownActive(1s, 340px);

                        @include screen-md-min {
                            transition: none;
                            opacity: 1;
                            animation-duration: 0.3s;
                            animation-fill-mode: both;
                            animation-name: fadeIn;
                        }
                    }
                }

                .plus-minus-toggle {
                    z-index: -1;
                    @include position(absolute, 4px 0 null null);

                    @include screen-md-min {
                        display: none;
                    }
                }
            }

            > .navbar__link {
                border-bottom: 2px solid transparent;
            }

            &.sub-nav-open,
            &:hover {

                > .navbar__link {

                    @include screen-md-min {
                        border-color: $primary-color;
                    }
                }
            }
        }
    }
}

.navbar__sub-nav {
    width: 100%;
    text-align: center;
    transition: 0.3s ease-in-out;
    @include slideDownCollapsed(0.5s);
    background-color: white;

    @include screen-md-min {
        opacity: 0;
        @include position(absolute, 96px 0 null null);
    }

    ul {
        background-color: rgba(255,255,255,0.3);
        margin-bottom: 20px;

        @include screen-sm-min {
            @include container;
        }

        @include screen-md-min {
            margin-bottom: 0;
        }

        li {
            border-bottom: none;
            @extend %clearfix;
            @include padding(null 20px);
            display: inline-block;
            width: 120px;

            @include screen-sm-min {
                width: auto;
            }

            .navbar__link  {
                text-align: center;

                .navbar__item-img {
                    @include margin(5px auto 10px auto);
                    display: block;
                    width: 60px;
                    height: 60px;

                    @include screen-sm-min {
                        margin-bottom: 20px;
                        width: 100px;
                        height: 100px;
                    }
                }
            }
        }
    }
}


@include screen-md-min {

    .navbar-overlay {
        display: none;
        width: 100%;
        height: 100%;
        background-color: rgba(0,0,0,0.5);
        position: fixed;
        top: 0;
        left: 0;
        z-index: 10;
        transition: 0.1s ease-in-out;

        &.nav-open {
            display: block;
            transition: 0.8s ease-in-out;
            animation-duration: 0.3s;
            animation-fill-mode: both;
            animation-name: fadeIn;
        }

        &:before {
            content: '';
            width: 100%;
            height: 320px;
            background-color: white;
            position: fixed;
            top: 0;
            left: 0;
            box-shadow: $bottom-shadow;
        }
    }
}
