// =============================================================================
//  COMPONENTS - CAROUSEL
// =============================================================================

/*! Flickity v2.0.7
http://flickity.metafizzy.co
---------------------------------------------- */

/* ---- Wrappers ---- */
.carousel-section {
    @include padding(40px null);
    overflow: hidden;
}

.carousel-wrap {
    @include margin(30px auto);
    max-width: $max-width-text-wide;
    width: 80%;
    position: relative;
}

.flickity-enabled {
    position: relative;

    &:focus {
        outline: none;
    }
}

/* ---- The slider and slides ---- */
.flickity-viewport {
    border-radius: $border-radius-base;
    background-color: white;
    overflow: hidden;
    position: relative;
    height: 100%;
}

.flickity-slider {
    position: absolute;
    width: 100%;
    height: 100%;
}

.carousel-cell {
    border-radius: $border-radius-base;
    background-color: white;
    color: $font-color-base;
    @include padding(45px 20px 20px 20px);
    width: 100%;
    min-height: 300px;
    @include margin(null 10px);

    @include medium-and-up {
        padding-top: 60px;
    }
}

/* ---- Dragging ---- */
.flickity-enabled.is-draggable {
    tap-highlight-color: transparent;
    user-select: none;

    .flickity-viewport {
        cursor: move;
        cursor: grab;

        &.is-pointer-down {
            cursor: grabbing;
        }
    }
}

/* ---- Previous/Next buttons ---- */
.flickity-prev-next-button {
    display: block;
    width: 25px;
    @include position(absolute, 50% null null null);
    margin-top: 0px;
    z-index: 2;
    padding: 0;
    transform: translateY(-50%);

    &:before {
        display: inline-block;
        content: '';
        background-image: url($css-bg-path+'icons/cheveron-white.svg');
        background-repeat: no-repeat;
        background-size: cover;
        height: 25px;
        width: 25px;
        margin: 0 auto;
    }

    &.next {
        right: -30px;

        @include medium-and-up {
            right: -50px;
        }

        &:before {
            transform: rotate(-90deg);
        }
    }

    &.previous {
        left: -30px;

        @include medium-and-up {
            left: -50px;
        }

        &:before {
            transform: rotate(90deg);
        }
    }

    &:focus {
        outline: none;
    }

    &:active {
        opacity: 0.6;
    }

    &:disabled {
        opacity: 0.3;
        cursor: auto;
    }

    svg {
        display: none;
    }
}

/* ---- Pagination ---- */
.flickity-page-dots {
    display: none;
    position: absolute;
    width: 100%;
    bottom: -25px;
    padding: 0;
    margin: 0;
    list-style: none;
    text-align: center;
    line-height: 1;

    .flickity-rtl & {
        direction: rtl;
    }

    .dot {
        display: inline-block;
        width: 10px;
        height: 10px;
        margin: 0 8px;
        background: #333;
        border-radius: 50%;
        opacity: 0.25;
        cursor: pointer;

        &.is-selected {
            opacity: 1;
        }
    }
}
