// =============================================================================
//  COMPONENTS - MODAL
// =============================================================================

.is-modal-open body {
    overflow: hidden;
}

.modal {
    z-index: 101;
    background-color: rgba(0,0,0,0.9);
    @include position(fixed, 0 0 0 0);
    overflow-y: scroll;
    width: 100%;
    min-height: 100%;

    .modal__close {
        @include position(absolute, -55px $horizontal-spacing null null);

        @include screen-md-min {
            @include position(absolute, -70px $horizontal-spacing null null);
        }
    }

    &__content {
        text-align: center;
        position: relative;
        @include container;
        @include margin(80px null);
        color: white;

        @include screen-md-min {
            @include margin(100px null);
        }

        &--narrow {
            max-width: 800px;
        }
    }

    &__panel {
        @include horizontal-spacing;
        @include padding(40px null);
    }
}
