// =============================================================================
//  COMPONENTS - CONFIRM POPUP
// =============================================================================

.confirm-popup {
    z-index: 101;
    background-color: rgba(215,215,215,0.7);
    @include position(fixed, 0 0 0 0);
    overflow-y: scroll;
    width: 100%;
    min-height: 100%;

    &__box {
        text-align: center;
        @include position(absolute, 30% null null 5%);
        box-sizing: border-box;
        z-index: auto;
        width: 90%;
        @include padding(30px);
        background-color: white;
        border: $border-base;
        border-radius: $border-radius-base;
        box-shadow: $box-shadow-front;

        @include screen-sm-min {
            width: 500px;
            margin-left: -250px;
            left: 50%;

            &--lg {
                width: 90%;
                margin-left: 0;
                left: 5%;
            }
        }

        @include screen-md-min {
            &--lg {
                left: 50%;
                width: 740px;
                margin-left: -370px;
            }
        }
    }
}
