// =============================================================================
//  OBJECTS - GRID
// =============================================================================

// flexbox-grid-mixins are being imported in 2-tools/utilities/_utilities-flex-grid.scss
// See here to fully configure grids: http://thingsym.github.io/flexbox-grid-mixins

.grid {
    @include grid($flex-wrap: wrap, $gutter: $default-grid-gutter);

    @for $i from 1 through $default-grid-columns {
        > .grid__col-#{$i} {
            @include grid-col($col: $i, $grid-columns: $default-grid-columns, $gutter: $default-grid-gutter);
        }
    }

    @include screen-sm-min {
        @for $i from 1 through $default-grid-columns {
            > .grid__col-sm-#{$i} {
                @include grid-col($col: $i, $grid-columns: $default-grid-columns, $gutter: $default-grid-gutter);
            }
        }
    }

    @include screen-md-min {
        @for $i from 1 through $default-grid-columns {
            > .grid__col-md-#{$i} {
                @include grid-col($col: $i, $grid-columns: $default-grid-columns, $gutter: $default-grid-gutter);
            }
        }
    }

    @include screen-lg-min {
        @for $i from 1 through $default-grid-columns {
            > .grid__col-lg-#{$i} {
                @include grid-col($col: $i, $grid-columns: $default-grid-columns, $gutter: $default-grid-gutter);
            }
        }
    }
}
