// =============================================================================
//  OBJECTS - GRID
// =============================================================================
// See here to fully configure grids: http://thingsym.github.io/flexbox-grid-mixins
@import 'node_modules/flexbox-grid-mixins/sass/flexbox-grid-mixins';

.grid-wrap {
    margin-bottom: -$grid-b-spacing;
}

.grid-row {
    @extend %clearfix;

    &:not(.grid-row--flex) {
        @include grid($flex-wrap: wrap, $gutter: $grid-gutter);
    }

    &--flex {
        @include screen-md-min {
            @include grid($flex-wrap: flex, $gutter: $grid-gutter);
        }
    }

    &--vertical-center {
        align-items: center;
    }

    &--mobile-cols {
        @include grid($flex-wrap: wrap, $gutter: $grid-gutter-mobile);
    }

    &--no-space {
        margin-bottom: 0;
    }

    .grid-col {
        @include grid-col($col: 12, $gutter: $grid-gutter);
        margin-bottom: $grid-b-spacing;

        &--separator {
            border-bottom: $border-thin;
            padding-bottom: $grid-separator-b-spacing;
        }
    }

    .grid-col--12 {
        @include grid-col($col: 12, $gutter: $grid-gutter-mobile);
    }

    .grid-col--8 {
        @include grid-col($col: 8, $gutter: $grid-gutter-mobile);
    }

    .grid-col--6 {
        @include grid-col($col: 6, $gutter: $grid-gutter-mobile);
    }

    .grid-col--3 {
        @include grid-col($col: 3, $gutter: $grid-gutter-mobile);
    }

    .grid-col--4 {
        @include grid-col($col: 4, $gutter: $grid-gutter-mobile);
    }

    &--b-spacing-mobile {

        .grid-col {
            margin-bottom: $grid-b-spacing-lg-mobile;

            &:last-child {
                margin-bottom: 0;
            }
        }
    }

    @include screen-sm-min {

        .grid-col--sm-12 {
            @include grid-col($col: 12, $gutter: $grid-gutter);
        }

        .grid-col--sm-8 {
            @include grid-col($col: 8, $gutter: $grid-gutter);
        }

        .grid-col--sm-6 {
            @include grid-col($col: 6, $gutter: $grid-gutter);
        }

        .grid-col--sm-3 {
            @include grid-col($col: 3, $gutter: $grid-gutter);
        }

        .grid-col--sm-4 {
            @include grid-col($col: 4, $gutter: $grid-gutter);
        }

        .grid-col--sm-right {
            order: 10;
        }

        .grid-col--sm-separator {
            border: 0;
            box-shadow: 1px 0 0 0 $gray-keyline-very-light;
        }

        .grid-col--no-space--sm {
            margin-bottom: 0;
        }
    }

    @include screen-md-min {

        .grid-col--md-12 {
            @include grid-col($col: 12, $gutter: $grid-gutter);
        }

        .grid-col--md-8 {
            @include grid-col($col: 8, $gutter: $grid-gutter);
        }

        .grid-col--md-6 {
            @include grid-col($col: 6, $gutter: $grid-gutter);
        }

        .grid-col--md-3 {
            @include grid-col($col: 3, $gutter: $grid-gutter);
        }

        .grid-col--md-4 {
            @include grid-col($col: 4, $gutter: $grid-gutter);
        }

        .grid-col--md-right {
            order: 10;
        }

        .grid-col--md-separator {
            border: 0;
            box-shadow: 1px 0 0 0 $gray-keyline-very-light;
        }

        .grid-col--no-space--md {
            margin-bottom: 0;
        }
    }

    @include screen-lg-min {

        .grid-col--lg-12 {
            @include grid-col($col: 12, $gutter: $grid-gutter);
        }

        .grid-col--md-8 {
            @include grid-col($col: 8, $gutter: $grid-gutter);
        }

        .grid-col--lg-6 {
            @include grid-col($col: 6, $gutter: $grid-gutter);
        }

        .grid-col--lg-3 {
            @include grid-col($col: 3, $gutter: $grid-gutter);
        }

        .grid-col--lg-4 {
            @include grid-col($col: 4, $gutter: $grid-gutter);
        }

        .grid-col--lg-right {
            order: 10;
        }
    }
}
