// =============================================================================
//  OBJECTS - CONTAINERS
// =============================================================================

.container {
    @include container;
    box-sizing: border-box;
    max-width: $max-width-content-tablet;

    @include screen-md-min {
        max-width: $max-width-content;
    }
}

.max-width-text {
    max-width: $max-width-text;

    &--wide {
        max-width: $max-width-text-wide;
    }

    &--narrow {
        max-width: $max-width-text-narrow;
    }
}


.btns-container {
    margin-top: -$buttons-v-spacing;
    margin-bottom: -$buttons-v-spacing;
    overflow: hidden;

    .btn {
        display: block;
        margin-top: $buttons-v-spacing;
        margin-bottom: $buttons-v-spacing;
    }

    &--inline {
        margin-right: -$buttons-inline-gutter;
        margin-left: -$buttons-inline-gutter;

        .btn {
            display: inline-block;
            margin-right: $buttons-inline-gutter;
            margin-left: $buttons-inline-gutter;
        }
    }
}
