// =============================================================================
//	OBJECTS - FORM LAYOUT
// =============================================================================

.form__field {
    max-width: $form-field-max-width;
    min-width: $form-field-min-width;
    width: 100%;
}

.form__group {
    margin-bottom: $form-group-b-spacing;

    &:last-child {
        margin-bottom: 0;
    }
}

.form__groups-inline {
    margin: -$form-groups-inline-gutter;
    overflow: hidden;

    .form__group {
        display: inline-block;
        margin: $form-groups-inline-gutter;
    }
}
