// =============================================================================
//  LISTS
// =============================================================================

.list--small,
.list--links,
.list--inline,
.icons-list,
.list--ticks {
	@include remove-list-styles;
}
.list--small {
	@include font-small;
	li {
		margin-bottom: rem(10);
		&:last-child {
			margin-bottom: 0;
		}
	}
}

.list--links {
	li a {
		color: inherit;
	}
}

.list--ticks,
.rich-text ul.list--ticks {
	@include remove-list-styles;
	li {
		@include font-style-base;
		position: relative;
		padding-bottom: 10px;
		padding-left: 30px;
		@include medium-and-up {
			padding-bottom: 20px;
		}
		&:last-child {
			padding-bottom: 0;
		}
		&:before {
			content: '';
			@include position(absolute, 4px null null 0);
			background-image: url($css-bg-path+'icons/tick-green.svg');
			background-size: cover;
			width: 18px;
			height: 18px;
		}
	}
}

.list--inline {
	@include margin(null rem(-15));
	li {
		display: inline-block;
		@include margin(null rem(15));
	}
	&--sm-gutter {
		@include margin(null rem(-5));
		li {
			@include margin(null rem(5));
		}
	}
	&--small {
		margin-bottom: rem(-10);
		li {
			margin-bottom: rem(10);
			img {
				height: rem(42);
				width: auto;
			}
		}
	}
	&--tiny {
		margin-bottom: rem(-10);
		li {
			margin-bottom: rem(10);
			img {
				max-height: rem(45);
				width: auto;
			}
		}
	}
}
.icons-list {
	&--inline {
		@include margin(null rem(-1.5));
		li {
			display: inline-block;
			@include margin(null rem(1.5));
			a:not(.circle-icon) {
				&:before {
					color: black;
					font-size: rem(25);
				}
			}
		}
	}
}


.dl {
	margin-bottom: 15px;
	dt {
		font-weight: bold;
		margin-top: 15px;
	}
	dd {
		margin: 0;
	}
}
