// =============================================================================
//  RICH TEXT
// =============================================================================

$typography-vertical-spacing: 0.5em;

.rich-text {
	ul, ol {
		@include font-style-base;
		padding-bottom: 0;
		li {
			padding-bottom: $typography-vertical-spacing;
			&:last-child {
				padding-bottom: 0;
			}
			ul, ol {
				padding-top: $typography-vertical-spacing;
			}
		}
	}
	ul {
		padding-left: 30px;
		li {
			padding-left: 0;
			list-style-type: disc;
			@include medium-and-up {
				padding-left: 5px;
			}
			ul li {
				list-style-type: circle;
			}
		}
	}
	ol {
		padding-left: 25px;
		li {
			padding-left: 5px;
			list-style-type: decimal;
			@include medium-and-up {
				padding-left: 10px;
			}
		}
	}
	p + ul, p + ol,
	ol + p, ul + p {
		padding-top: $typography-vertical-spacing;
	}
	ol + img,
	ul + img {
		padding-top: $typography-vertical-spacing * 3;
	}
	p + h1, p + h2, p + h3, p + h4, p + h5, p + h6,
	ul + h1, ul + h2, ul + h3, ul + h4, ul + h5, ul + h6,
	ol + h1, ol + h2, ol + h3, ol + h4, ol + h5, ol + h6,
	img + h1, img + h2, img + h3, img + h4, img + h5, img + h6 {
		padding-top: $typography-vertical-spacing * 2;
	}
	a {
		color: inherit;
		font-weight: $font-weight-bold;
		text-decoration: underline;
	}
	&--featured {
		@include font-style-large;
		ul {
			margin-top: 20px;
			padding-left: 0;
			li {
				@include font-style-large;
				position: relative;
				list-style: none;
				font-weight: $font-weight-bold;
				padding-bottom: 15px;
				padding-left: 30px;
				@include medium-and-up {
					padding-bottom: 30px;
				}
				&:last-child {
					padding-bottom: 0;
				}
				&:before {
					content: '';
					@include position(absolute, 4px null null 0);
					@include svg-bg-tick($primary-color);
					background-size: cover;
					width: 18px;
					height: 18px;
				}
			}
		}
	}
}
