<section class="container hidden block-md">
	<div class="floating-basket-wrapper">
		<div id="basketOpen" data-js-module="basket" data-img-path="assets/img/products/product-thumbnails/" class="floating-basket">
			<a data-toggle-panel="floatingBasket" href="#" class="floating-basket__header">
				<h3 class="h5 floating-basket__title">Your basket</h3>
				<span data-number-of-items class="floating-basket__items-num">0</span>
				<span data-toggle-icon="floatingBasket" class="floating-basket__toggle-icon toggle-rotate-icon"></span>
			</a>
			<div id="floatingBasket" data-js-module="toggleAccordionPanel" class="basket-content accordion-panel accordion-panel--sm">
				<ul data-items class="basket-content__items">
					<li data-item="unit" class="basket-content__item hidden">
						<img data-unit="img" class="basket-content__item__thumb" src="assets/img/products/product-thumbnails/connectorUniversal.png" alt="">
						<div class="basket-content__item__title">
							<p class="basket-content__item__title__main"><span data-unit="name"></span> <span data-unit="connector-name"></span></p>
							<p class="basket-content__item__title__sub">with free standard installation</p>
						</div>
						<p data-unit="price" data-price="" class="basket-content__item__price"></p>
					</li>
					<li data-item="keyLock" class="basket-content__item hidden"></li>
					<li data-item="portableCable" class="basket-content__item hidden"></li>
					<li data-item="fixedCableExt" class="basket-content__item hidden"></li>
				</ul>

				<div class="hidden">
					<div data-item="example-accessory-content">
						<img data-accessory="img" class="basket-content__item__thumb" src="" alt="">
						<div class="basket-content__item__title">
							<p data-accessory="name" class="basket-content__item__title__main"></p>
						</div>
						<p data-accessory="price" class="basket-content__item__price"></p>
					</div>
				</div>

				<hr class="m-none">
			</div>
			<div class="basket-total">
				<p class="basket-total__title">Sub total</p>
				<p data-total-price class="basket-total__value">£0</p>
			</div>
		</div>
	</div>
</section>