<div class="final-basket card card--informative card--very-light-gray">
	<h3 class="h4">Your basket</h3>
	<div id="basketFinal" data-js-module="basket" class="basket-content">

		<ul data-items class="basket-content__items">
			<li data-item="unit" class="basket-content__item hidden">
				<img data-unit="img" class="basket-content__item__thumb" src="assets/img/products/product-thumbnails/connectorUniversal.png" alt="">
				<div class="basket-content__item__title">
					<p class="basket-content__item__title__main"><span data-unit="name"></span> <span data-unit="connector-name"></span></p>
					<p class="basket-content__item__title__sub">with free standard installation</p>
				</div>
				<p data-unit="price" class="basket-content__item__price"></p>
				<p class="basket-content__item__extra green">*Claim <a href="#" data-open-panel="olevPanel">OLEV grant</a> to reduce by £500</p>
			</li>
			<li data-item="keyLock" class="basket-content__item hidden"></li>
			<li data-item="portableCable" class="basket-content__item hidden"></li>
			<li data-item="fixedCableExt" class="basket-content__item hidden"></li>
		</ul>

		<div class="hidden">
			<div data-item="example-accessory-content">
				<img data-accessory="img" class="basket-content__item__thumb" src="" alt="">
				<div class="basket-content__item__title">
					<p data-accessory="name" class="basket-content__item__title__main"></p>
				</div>
				<p data-accessory="price" class="basket-content__item__price"></p>
			</div>
		</div>

		<hr class="m-none">
	</div>
	<div class="basket-total">
		<p class="basket-total__title">Sub total</p>
		<p data-total-price class="basket-total__value">£0</p>
	</div>
</div>