<div class="final-basket card card--informative card--very-light-gray">
	<h3 class="h4">Your basket</h3>
	<div class="basket-content">
		<ul class="basket-content__items">
			<li class="basket-content__item">
				<img class="basket-content__item__thumb" src="assets/img/content/homecharger-without-cable.png" alt="">
				<div class="basket-content__item__title">
					<p class="basket-content__item__title__main">7kW Universal connector</p>
					<p class="basket-content__item__title__sub">with free standard installation</p>
				</div>
				<p class="basket-content__item__price">£859*</p>
				<p class="basket-content__item__extra green">*Claim <a href="#" data-open-panel="olevPanel">OLEV grant</a> to reduce by £500</p>
			</li>
			<li class="basket-content__item">
				<img class="basket-content__item__thumb" src="assets/img/content/portable-cable.png" alt="">
				<div class="basket-content__item__title">
					<p class="basket-content__item__title__main">Charging cable</p>
				</div>
				<p class="basket-content__item__price">£150</p>
			</li>
		</ul>
		<hr class="m-none">
	</div>
	<div class="basket-total">
		<p class="basket-total__title">Sub total</p>
		<p class="basket-total__value">£1,009</p>
	</div>
</div>