<div data-js-module="claimDealerDiscount" class="card card--informative">
	<h3 class="h4">Claim your dealership discount</h3>
	<p>Do you want to reduce the cost of your chargepoint by claiming your dealership discount?</p>

	<p class="m-t-md bold"><a href="#" class="inline-circle-icon" data-toggle-panel="dealershipPanel">Claim now<span data-toggle-icon="dealershipPanel" class="toggle-panel-icon toggle-rotate-icon"><svg><use xlink:href="#general--cheveron"/></svg></span></a></p>

	<div id="dealershipPanel" data-js-module="toggleAccordionPanel" class="accordion-panel accordion-panel--md">
		<hr class="m-t-lg m-b-lg">

		<div class="grid-row grid-row--vertical-center">
			<div class="grid-col grid-col--md-6">
				<div class="field-row">
					<label class="form__label">Select your purchase option</label>
					<div class="form-field-wrapper">
						<div class="select-wrapper">
							<select>
								<option selected value="buyOutright">Purchased outright</option>
								<option value="leased">Purchased on lease</option>
							</select>
						</div>
					</div>
				</div>
				<div class="field-row">
					<label class="form__label">Search for your dealership</label>
					<div class="form-field-wrapper">
						<input id="dealershipInput" type="text" placeholder="Town/City, Dealership" />
					</div>
				</div>
			</div>
			<div class="grid-col grid-col--md-6 text-center">
				<div id="dealerDiscountEligibleText" class="hidden">
					<i class="circle-icon circle-icon--outlined-green iconfont-tick inline-block"></i>
					<p class="bold max-width--sm marg-center">You are eligible for the £150 dealership discount.</p>
				</div>
				<div id="dealerDiscountNotEligibleText" class="hidden">
					<i class="circle-icon circle-icon--outlined-green iconfont-cross inline-block"></i>
					<p class="bold max-width--sm marg-center">Sorry, you are not eligible for a dealership discount.</p>
				</div>
			</div>
		</div>

		<div class="p-t-md">
			<button id="claimDealershipButton" disabled="true" class="button is-disabled">Claim</button>
			<a href="#" class="setback-button m-l-xs" data-close-panel="dealershipPanel"><svg class="icon icon--xxs"><use xlink:href="#general--cross"/></svg>Skip - close panel</a>
		</div>
	</div>

	<div data-js-module="toggleElement" id="confirmNotDealershipEligible" class="confirm-popup hidden">
		<div class="confirm-popup__box">
			<div class="rich-text">
				<h3>Discount not applied</h3>
				<p>Unfortunately you do not qualify for the dealership discount. This is only available to select dealerships.</p>
			</div>
			<button class="button" data-close-el="confirmNotDealershipEligible">Continue</button>
		</div>
	</div>
</div>
