<div data-js-module="claimOlev" class="card card--informative m-b-md">
	<h3 class="h4">Claim the OLEV Grant</h3>
	<p>Do you want to reduce the cost of your chargepoint by <strong>£500</strong>, by claiming the OLEV Grant?</p>

	<p class="m-t-md bold"><a href="#" class="inline-circle-icon" data-toggle-panel="olevPanel">Claim now<span data-toggle-icon="olevPanel" class="toggle-panel-icon toggle-rotate-icon"></span></a></p>

	<div id="olevPanel" data-js-module="toggleAccordionPanel" class="accordion-panel accordion-panel--md">
		<hr class="m-t-lg m-b-lg">
		<p class="p-b-lg bold">You need to qualify for all of the below criteria in order to be eligible for the OLEV grant.</p>

		<div class="field-row m-b-lg">
			<div class="radios-wrap">
				<p>I ordered, own or lease an electric vehicle</p>
				<div class="radio-wrap radio-wrap--inline">
					<input type="radio" name="ownElectricVehicle" id="yes-ownElectricVehicle" value="yes-ownElectricVehicle" class="yes" />
					<label for="yes-ownElectricVehicle" class="radio">Yes</label>
				</div>
				<div class="radio-wrap radio-wrap--inline">
					<input type="radio" name="ownElectricVehicle" id="no-ownElectricVehicle" value="no-ownElectricVehicle" class="no" />
					<label for="no-ownElectricVehicle" class="radio">No</label>
				</div>
			</div>
		</div>
		<div class="field-row m-b-lg">
			<div class="radios-wrap">
				<p>My Vehicle was purchased after the 1st of April 2015<br>
				<span class="font-style-small">(If the vehicle is a company car, a letter from the company is required as evidence)</span></p>
				<div class="radio-wrap radio-wrap--inline">
					<input type="radio" name="purchaseDate" id="yes-purchaseDate" value="yes-purchaseDate" class="yes"/>
					<label for="yes-purchaseDate" class="radio">Yes</label>
				</div>
				<div class="radio-wrap radio-wrap--inline">
					<input type="radio" name="purchaseDate" id="no-purchaseDate" value="no-purchaseDate" class="no"/>
					<label for="no-purchaseDate" class="radio">No</label>
				</div>
			</div>
		</div>
		<div class="field-row m-b-lg">
			<div class="radios-wrap">
				<p>I have private, off-street parking at my domestic property</p>
				<div class="radio-wrap radio-wrap--inline">
					<input type="radio" name="offStreePark" id="yes-offStreePark" value="yes-offStreePark" class="yes" />
					<label for="yes-offStreePark" class="radio">Yes</label>
				</div>
				<div class="radio-wrap radio-wrap--inline">
					<input type="radio" name="offStreePark" id="no-offStreePark" value="no-offStreePark" class="no" />
					<label for="no-offStreePark" class="radio">No</label>
				</div>
			</div>
		</div>
		<div class="field-row m-b-lg">
			<div class="radios-wrap">
				<p>The cable, when run from the chargepoint to the car, will not cross a public right of way</p>
				<div class="radio-wrap radio-wrap--inline">
					<input type="radio" name="RightOfWay" id="yes-RightOfWay" value="yes-RightOfWay" class="yes" />
					<label for="yes-RightOfWay" class="radio">Yes</label>
				</div>
				<div class="radio-wrap radio-wrap--inline">
					<input type="radio" name="RightOfWay" id="no-RightOfWay" value="no-RightOfWay" class="no" />
					<label for="no-RightOfWay" class="radio">No</label>
				</div>
			</div>
		</div>

		<div class="p-t-lg">
			<button id="claimOlevButton" disabled="true" class="button is-disabled">Claim</button>
			<a data-close-panel="olevPanel" href="#" class="iconfont-cross setback-button m-l-sm">Skip - close panel</a>
		</div>
	</div>

	<div data-js-module="toggleElement" id="confirmNotOlevEligible" class="confirm-popup hidden">
		<div class="confirm-popup__box">
			<div class="rich-text">
				<h5>OLEV grant not applied</h5>
				<p>Unfortunately you don't qualify for the OLEV grant if you answer 'no' to any of the eligibility questions. Please see <a href="#">Terms and conditions</a> for more information.</p>
			</div>
			<button class="button" data-close-el="confirmNotOlevEligible">Continue at normal price</button>
		</div>
	</div>
</div>