<section class="bg--white">
	<div class="container">
		<div class="content-block">
			<div class="grid-wrap">
				<div class="grid-row">
					<div class="grid-col grid-col--md-6">
						<div class="rich-text text-center text-left-md m-b-lg">
							<h2>Electricity Meter Point Number</h2>
							<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim.</p>
						</div>

						<div class="electricity-meter">
							<div class="electricity-meter__s">S</div>
							<div class="electricity-meter__inputs">
								<div class="electricity-meter__row">
									<input type="text" placeholder="- – -" maxlength="3" readonly="true" value="429" />
									<input type="text" placeholder="- – -" maxlength="3" readonly="true" value="241" />
									<input type="text" placeholder="- – -" maxlength="3" readonly="true" value="885" />
								</div>
								<div class="electricity-meter__row">
									<input type="text" placeholder="- – -" maxlength="3" />
									<input type="text" placeholder="- – - - - -" maxlength="6" />
									<input type="text" placeholder="- – -" maxlength="3" />
								</div>
							</div>
						</div>
					</div>
					<div class="grid-col grid-col--md-6">
						<img class="marg-center float-right-md max-width--md" src="assets/img/illustrations/electricity-meter.svg" alt="">
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
