<section class="bg--white">
	<div class="container content-block">
		<h2>Confirm eligibility for free standard installation</h2>
		<div class="rich-text">
			<p>Our standard install for the homecharge POD Point covers the majority of home installs in the UK.</p>
			<p>Please complete the checklist below to confirm your eligibility.</p>

			<p class="m-t-md bold"><a href="#" class="inline-circle-icon" data-toggle-panel="terms">Standard installation terms<span data-toggle-icon="terms" class="toggle-panel-icon toggle-rotate-icon"></span></a></p>

			<hr>

			<div data-js-module="toggleAccordionPanel" id="terms" class="accordion-panel accordion-panel--xl">
				{{> install-terms-content }}
				<a data-close-panel="terms" href="#" class="circle-icon--close-panel marg-center m-t-xl">Close panel</a>
				<hr>
			</div>

			<div class="rich-text">
				<p>Please select any of the below that apply to you to confirm your eligibility for our standard installation package:</p>
			</div>

			<div class="field-row m-t-md m-b-lg">
				<div class="radios-wrap">
					<p>The distance between the POD Point and meter or consumer unit is not more than 15 metres.</p>
					<div class="radio-wrap radio-wrap--inline">
						<input type="radio" name="distance" id="yes-distance" value="yes-distance"/>
						<label for="yes-distance" class="radio">Yes</label>
					</div>
					<div class="radio-wrap radio-wrap--inline">
						<input type="radio" name="distance" id="no-distance" value="no-distance"/>
						<label for="no-distance" class="radio">No</label>
					</div>
					<div class="radio-wrap radio-wrap--inline">
						<input type="radio" name="distance" id="unsure-distance" value="unsure-distance" />
						<label for="unsure-distance" class="radio"> Not sure</label>
					</div>
				</div>
			</div>

			<div class="field-row m-t-md m-b-lg">
				<div class="radios-wrap">
					<p>The cable from the power to the unit will not need to be buried underground.</p>
					<div class="radio-wrap radio-wrap--inline">
						<input type="radio" name="underground" id="yes-underground" value="yes-underground"/>
						<label for="yes-underground" class="radio">Yes</label>
					</div>
					<div class="radio-wrap radio-wrap--inline">
						<input type="radio" name="underground" id="no-underground" value="no-underground"/>
						<label for="no-underground" class="radio">No</label>
					</div>
					<div class="radio-wrap radio-wrap--inline">
						<input type="radio" name="underground" id="unsure-underground" value="unsure-underground" />
						<label for="unsure-underground" class="radio"> Not sure</label>
					</div>
				</div>
			</div>

			<div class="field-row m-t-md m-b-xs">
				<div class="radios-wrap">
					<p>There is a wall to install the POD Point on next to where I park.</p>
					<div class="radio-wrap radio-wrap--inline">
						<input type="radio" data-radio-open-panel="moreAboutInstall" name="wall" id="yes-wall" value="yes-wall"/>
						<label for="yes-wall" class="radio">Yes</label>
					</div>
					<div class="radio-wrap radio-wrap--inline">
						<input type="radio" data-radio-open-panel="moreAboutInstall" name="wall" id="no-wall" value="no-wall"/>
						<label for="no-wall" class="radio">No</label>
					</div>
					<div class="radio-wrap radio-wrap--inline">
						<input type="radio" data-radio-open-panel="moreAboutInstall" name="wall" id="unsure-wall" value="unsure-wall" />
						<label for="unsure-wall" class="radio"> Not sure</label>
					</div>
				</div>
			</div>
		</div>


		<div data-js-module="toggleAccordionPanel" id="moreAboutInstall" class="accordion-panel accordion-panel--xl">
		<hr>
			<h4>Tell us more about your install (optional)</h4>
			<div class="rich-text">
				<p>To increase the likelyhood of your install going ahead on the day, please tell us a little more about your installation.</p>
			</div>

			<div class="field-row m-t-md m-b-lg">
				<div class="radios-wrap">
					<p>I live in a listed building.</p>
					<div class="radio-wrap radio-wrap--inline">
						<input type="radio" name="listed" id="yes-listed" value="yes-listed"/>
						<label for="yes-listed" class="radio">Yes</label>
					</div>
					<div class="radio-wrap radio-wrap--inline">
						<input type="radio" name="listed" id="no-listed" value="no-listed"/>
						<label for="no-listed" class="radio">No</label>
					</div>
					<div class="radio-wrap radio-wrap--inline">
						<input type="radio" name="listed" id="unsure-listed" value="unsure-listed" />
						<label for="unsure-listed" class="radio"> Not sure</label>
					</div>
				</div>
			</div>

			<div class="field-row m-t-md m-b-lg">
				<div class="radios-wrap">
					<p>I live in a block of garage.</p>
					<div class="radio-wrap radio-wrap--inline">
						<input type="radio" name="flats" id="yes-flats" value="yes-flats"/>
						<label for="yes-flats" class="radio">Yes</label>
					</div>
					<div class="radio-wrap radio-wrap--inline">
						<input type="radio" name="flats" id="no-flats" value="no-flats"/>
						<label for="no-flats" class="radio">No</label>
					</div>
					<div class="radio-wrap radio-wrap--inline">
						<input type="radio" name="flats" id="unsure-flats" value="unsure-flats" />
						<label for="unsure-flats" class="radio"> Not sure</label>
					</div>
				</div>
			</div>

			<div class="field-row m-t-md m-b-lg">
				<div class="radios-wrap">
					<p>I'd like the POD Point in my garage and there is already a consumer unit (fuse box) installed there.</p>
					<div class="radio-wrap radio-wrap--inline">
						<input type="radio" name="garage" id="yes-garage" value="yes-garage"/>
						<label for="yes-garage" class="radio">Yes</label>
					</div>
					<div class="radio-wrap radio-wrap--inline">
						<input type="radio" name="garage" id="no-garage" value="no-garage"/>
						<label for="no-garage" class="radio">No</label>
					</div>
					<div class="radio-wrap radio-wrap--inline">
						<input type="radio" name="garage" id="unsure-garage" value="unsure-garage" />
						<label for="unsure-garage" class="radio"> Not sure</label>
					</div>
				</div>
			</div>

			<div class="field-row m-t-md m-b-lg">
				<div class="radios-wrap">
					<p>The electricity meter + consumer unit (fuse board) is i n the middle of my house or upstairs.</p>
					<div class="radio-wrap radio-wrap--inline">
						<input type="radio" name="upstairs" id="yes-upstairs" value="yes-upstairs"/>
						<label for="yes-upstairs" class="radio">Yes</label>
					</div>
					<div class="radio-wrap radio-wrap--inline">
						<input type="radio" name="upstairs" id="no-upstairs" value="no-upstairs"/>
						<label for="no-upstairs" class="radio">No</label>
					</div>
					<div class="radio-wrap radio-wrap--inline">
						<input type="radio" name="upstairs" id="unsure-upstairs" value="unsure-upstairs" />
						<label for="unsure-upstairs" class="radio"> Not sure</label>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>