<section class="bg--white">
	<div class="container content-block">
		<h2>Installation address</h2>

		<div class="max-width-text marg-center m-t-lg">
			{{> address-lookup }}
			<hr>

			<div class="rich-text p-t-sm m-b-md">
				<p>Please enter your phone number, a member of the Pod Point team will be in touch to schedule an installation date.</p>
			</div>

			<div class="form-field-wrapper">
				<input type="text" placeholder="Phone number" />
			</div>
		</div>

	</div>
</section>
