<section class="bg--white">
	<div class="container content-block content-block--standout">
		<h2>Installation address</h2>

		<div class="max-width-text marg-center m-t-lg">
			<div class="form-field-wrapper m-b-md">
				<input placeholder="Search by postcode, street or address" type="text"></input>
			</div>

			<hr>

			<div class="rich-text p-t-sm m-b-md">
				<p>We will need your orem ipsum dolor sit amet, consectetuer adipiscing elit, sed.</p>
			</div>

			<div class="form-field-wrapper">
				<input type="text" placeholder="Phone number" />
			</div>
		</div>

	</div>
</section>