<section class="bg--white">
	<div class="container content-block content-block--standout">
		<h2>Confirm eligibility for free standard installation</h2>
		<div class="rich-text">
			<p>Our standard install for the homecharge POD Point covers the majority of home installs in the UK.</p>
			<p>On the off chance that you do not qualify for our free standard installation package, we’ll offer a no obligation quote for any extra works.</p>
			<p>If you don’t want to go ahead once you've received the quote, you can cancel the order and get a full refund at any time.</p>
			<hr>
			<p>Please select any of the below that apply to you to confirm your eligibility for our standard installation package:</p>

			<div class="field-row m-t-md">
				<div class="checkboxes-wrap">
					<div class="checkbox-wrap">
						<input type="checkbox" name="checkboxExample1" id="checkboxExample1" checked="checked">
						<label for="checkboxExample1">The distance between the meter or consumer unit is more than 15 metres.</label>
					</div>
				</div>
				<div class="field-row">
					<div class="checkbox-wrap">
						<input type="checkbox" name="checkboxExample2" id="checkboxExample2" checked="checked">
						<label for="checkboxExample2">I live in a listed building.</label>
					</div>
					<div class="checkbox-wrap">
						<input type="checkbox" name="checkboxExample3" id="checkboxExample3" checked="checked">
						<label for="checkboxExample3">I live in a block of flats or I will be using a communal supply so will need to measure the amount of electricity used by the POD Point.</label>
					</div>
					<div class="checkbox-wrap">
						<input type="checkbox" name="checkboxExample4" id="checkboxExample4" checked="checked">
						<label for="checkboxExample4">I’d like the cable from the power to the unit to be buried underground.</label>
					</div>
					<div class="checkbox-wrap">
						<input type="checkbox" name="checkboxExample5" id="checkboxExample5" checked="checked">
						<label for="checkboxExample5">I’m not sure if i have a suitable wall/surface to fix my POD Point to.</label>
					</div>
				</div>
			</div>

			<hr>

			<div class="field-row">
				<p>Are there any restrictions or other information you'd like to tell us about the planned installation? e.g. listed building status, conservation area etc?</p>
				<div class="form-field-wrapper full-width">
					<textarea class="full-width" type="text"></textarea>
				</div>
			</div>
		</div>
	</div>
</section>