<section class="bg--white">
	<div class="container content-block">
		<h2>Confirm eligibility for free standard installation</h2>
		<div class="rich-text">
			<p>Our standard install for the homecharge POD Point covers the majority of home installs in the UK.</p>

			<p class="m-t-md bold"><a href="#" class="inline-circle-icon" data-toggle-panel="terms">Standard installation terms<span data-toggle-icon="terms" class="toggle-panel-icon toggle-rotate-icon"><svg><use xlink:href="#general--cheveron"/></svg></span></a></p>

			<hr>

			<div data-js-module="toggleAccordionPanel" id="terms" class="accordion-panel accordion-panel--xl">
				{{> install-terms-content }}
				<a data-close-panel="terms" href="#" class="circle-icon--close-panel marg-center m-t-xl"><svg><use xlink:href="#general--cheveron"/></svg></a>
				<hr>
			</div>

			<div class="rich-text">
				<p>Please select any of the below that apply to you to confirm your eligibility for our standard installation package:</p>
			</div>

			<div class="field-row m-t-md m-b-lg">
				<div class="form-field-wrapper">
					<p>The distance between the POD Point and meter or consumer unit is not more than 15 metres.</p>
					<label class="form__label radio radio--inline" for="yes-distance">
                        <input class="form__control" type="radio" id="yes-distance" name="distance" value="yes-distance">
                        <span>Yes</span>
                    </label>
                    <label class="form__label radio radio--inline" for="no-distance">
                        <input class="form__control" type="radio" id="no-distance" name="distance" value="no-distance">
                        <span>No</span>
                    </label>
				</div>
			</div>

			<div class="field-row m-t-md m-b-lg">
				<div class="form-field-wrapper">
					<p>The cable from the power to the unit will not need to be buried underground.</p>
					<label class="form__label radio radio--inline" for="yes-underground">
                        <input class="form__control" type="radio" id="yes-underground" name="underground" value="yes-underground">
                        <span>Yes</span>
                    </label>
                    <label class="form__label radio radio--inline" for="no-underground">
                        <input class="form__control" type="radio" id="no-underground" name="underground" value="no-underground">
                        <span>No</span>
                    </label>
				</div>
			</div>

			<div class="field-row m-t-md m-b-xs">
				<div class="form-field-wrapper">
					<p>There is a wall to install the POD Point on next to where I park.</p>
					<label class="form__label radio radio--inline" for="yes-wall">
                        <input class="form__control" type="radio" data-radio-open-panel="moreAboutInstall" id="yes-wall" name="wall" value="yes-wall">
                        <span>Yes</span>
                    </label>
                    <label class="form__label radio radio--inline" for="no-wall">
                        <input class="form__control" type="radio" data-radio-open-panel="moreAboutInstall" id="no-wall" name="wall" value="no-wall">
                        <span>No</span>
                    </label>
				</div>
			</div>
		</div>


		<div data-js-module="toggleAccordionPanel" id="moreAboutInstall" class="accordion-panel accordion-panel--xl">
		<hr>
			<h4>Tell us more about your install (optional)</h4>
			<div class="rich-text">
				<p>To increase the likelyhood of your install going ahead on the day, please tell us a little more about your installation.</p>
			</div>

			<div class="field-row m-t-md m-b-lg">
				<div class="form-field-wrapper">
					<p>I live in a listed building.</p>
					<label class="form__label radio radio--inline" for="yes-listed">
                        <input class="form__control" type="radio" id="yes-listed" name="listed" value="yes-listed">
                        <span>Yes</span>
                    </label>
                    <label class="form__label radio radio--inline" for="no-listed">
                        <input class="form__control" type="radio" id="no-listed" name="listed" value="no-listed">
                        <span>No</span>
                    </label>
				</div>
			</div>

			<div class="field-row m-t-md m-b-lg">
				<div class="form-field-wrapper">
					<p>I live in a block of flats.</p>
					<label class="form__label radio radio--inline" for="yes-flats">
                        <input class="form__control" type="radio" id="yes-flats" name="flats" value="yes-flats">
                        <span>Yes</span>
                    </label>
                    <label class="form__label radio radio--inline" for="no-flats">
                        <input class="form__control" type="radio" id="no-flats" name="flats" value="no-flats">
                        <span>No</span>
                    </label>
				</div>
			</div>

			<div class="field-row m-t-md m-b-lg">
				<div class="form-field-wrapper">
					<p>I'd like the POD Point in my garage and there is already a consumer unit (fuse box) installed there.</p>
					<label class="form__label radio radio--inline" for="yes-garage">
                        <input class="form__control" type="radio" id="yes-garage" name="garage" value="yes-garage">
                        <span>Yes</span>
                    </label>
                    <label class="form__label radio radio--inline" for="no-garage">
                        <input class="form__control" type="radio" id="no-garage" name="garage" value="no-garage">
                        <span>No</span>
                    </label>
				</div>
			</div>

			<div class="field-row m-t-md m-b-lg">
				<div class="form-field-wrapper">
					<p>The electricity meter + consumer unit (fuse board) is i n the middle of my house or upstairs.</p>
					<label class="form__label radio radio--inline" for="yes-upstairs">
                        <input class="form__control" type="radio" id="yes-upstairs" name="upstairs" value="yes-upstairs">
                        <span>Yes</span>
                    </label>
                    <label class="form__label radio radio--inline" for="no-upstairs">
                        <input class="form__control" type="radio" id="no-upstairs" name="upstairs" value="no-upstairs">
                        <span>No</span>
                    </label>
				</div>
			</div>
		</div>
	</div>
</section>
