<section class="bg--white">
	<div class="container">
		<div class="content-block">
			<div class="grid-wrap">
				<div class="grid-row">
					<div class="grid-col grid-col--md-8">
						{{> claim-olev }}
						{{> claim-dealer-discount }}
					</div>
					<div class="grid-col grid-col--md-4">
						{{> basket-final }}
					</div>
				</div>
			</div>
		</div>
	</div>
</section>