<section class="bg--white">
	<div class="container content-block content-block--standout">
		<h2>Payment details</h2>
		<div class="max-width-text marg-center">
			<div class="form-field-wrapper">
				<input data-input-open-panel="cardDetails" type="text" placeholder="Card Number" />
			</div>

			<div id="cardDetails" data-js-module="toggleAccordionPanel" class="accordion-panel accordion-panel--xs">
				<div class="grid-row m-t-md">
					<div class="grid-col grid-col--md-4">
						<div class="form-field-wrapper">
							<input type="text" placeholder="Expiry Month" />
						</div>
					</div>
					<div class="grid-col grid-col--md-4">
						<div class="form-field-wrapper">
							<input type="text" placeholder="Expiry Year" />
						</div>
					</div>
					<div class="grid-col grid-col--md-4">
						<div class="form-field-wrapper">
							<input type="text" placeholder="CVC" />
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>