<section class="bg--white">
	<div class="container">
		<div class="content-block">
			<h2 class="text-center text-left-md">Select accesories</h2>
			<div class="grid-wrap cards-same-height">
				<div class="grid-row">
					<div class="grid-col grid-col--md-4">
						<div class="card card--centered card--more-pad">
							<h3 class="font-large">Key Lock</h3>
							<p>Prevent the risk of electricity theft</p>
							<img class="max-width--xs marg-center" src="assets/img/content/key-lock.png" alt="">
							<p class="font-style-large bold">£30.00</p>
							<p><a class="color-base bold inline-circle-icon" href="#" data-toggle-panel="keyLockDesc">Read description <span data-toggle-icon="keyLockDesc" class="toggle-panel-icon--secondary toggle-rotate-icon"></span></a></p>
							<div id="keyLockDesc" data-js-module="toggleAccordionPanel" class="basket-content accordion-panel accordion-panel--sm">
								<p>Phasellus aliquam mollis arcu sed imperdiet. Vivamus turpis eros, semper et varius non, dictum ultricies orci. Nunc varius ante magna, eu mattis nulla rhoncus in.</p>
							</div>
							<div class="button-checkbox-wrap m-t-sm">
								<input type="checkbox" name="keyLock" value="keyLock" id="keyLock">
								<label for="keyLock" class="button button--secondary">Select</label>
							</div>
						</div>
					</div>
					<div class="grid-col grid-col--md-4">
						<div class="card card--centered card--more-pad">
							<h3 class="font-large">Portable Cable</h3>
							<p>Plug in your EV on the go with this 5m cable.</p>
							<img class="max-width--xs marg-center" src="assets/img/content/portable-cable.png" alt="">
							<p class="font-style-large bold">£150.00</p>
							<p><a class="color-base bold inline-circle-icon" href="#" data-toggle-panel="portableCableDesc">Read description <span data-toggle-icon="portableCableDesc" class="toggle-panel-icon--secondary toggle-rotate-icon"></span></a></p>
							<div id="portableCableDesc" data-js-module="toggleAccordionPanel" class="basket-content accordion-panel accordion-panel--sm">
								<p>Phasellus aliquam mollis arcu sed imperdiet. Vivamus turpis eros, semper et varius non, dictum ultricies orci. Nunc varius ante magna, eu mattis nulla rhoncus in.</p>
							</div>
							<div class="button-checkbox-wrap m-t-sm">
								<input type="checkbox" name="portableCable" value="portableCable" id="portableCable">
								<label for="portableCable" class="button button--secondary">Select</label>
							</div>
						</div>
					</div>
					<div class="grid-col grid-col--md-4">
						<div class="card card--centered card--more-pad">
							<h3 class="font-large">Fixed Cable Extension</h3>
							<p>Plug in your EV on the go with this 7.5m cable.</p>
							<img class="max-width--xs marg-center" src="assets/img/content/fixed-cable.png" alt="">
							<p class="font-style-large bold">£175.00</p>
							<p><a class="color-base bold inline-circle-icon" href="#" data-toggle-panel="fixedCableDesc">Read description <span data-toggle-icon="fixedCableDesc" class="toggle-panel-icon--secondary toggle-rotate-icon"></span></a></p>
							<div id="fixedCableDesc" data-js-module="toggleAccordionPanel" class="basket-content accordion-panel accordion-panel--sm">
								<p>Phasellus aliquam mollis arcu sed imperdiet. Vivamus turpis eros, semper et varius non, dictum ultricies orci. Nunc varius ante magna, eu mattis nulla rhoncus in.</p>
							</div>
							<div class="button-checkbox-wrap m-t-sm">
								<input type="checkbox" name="fixedCableExt" value="fixedCableExt" id="fixedCableExt">
								<label for="fixedCableExt" class="button button--secondary">Select</label>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
