<section class="bg--white">
	<div class="container">
		<div class="content-block">
			<h2 class="text-center text-left-md">Select accesories</h2>
			<div class="grid-wrap cards-same-height">
				<div class="grid-row">
					<div class="grid-col grid-col--md-4">
						<div class="card card--centered card--more-pad">
							<h3 class="font-large">Key Lock</h3>
							<p>This lock can be attached to your Pod Point throughout charging to prevent unauthorised use.</p>
							<img class="max-width--xs marg-center" src="assets/img/content/key-lock.png" alt="">
							<p class="font-style-large bold">£30.00</p>
							<p><a class="color-base bold inline-circle-icon" href="#" data-toggle-panel="keyLockDesc">Read description <span data-toggle-icon="keyLockDesc" class="toggle-panel-icon--secondary toggle-rotate-icon"></span></a></p>
							<div id="keyLockDesc" data-js-module="toggleAccordionPanel" class="basket-content accordion-panel accordion-panel--sm">
								<p>This can be fitted during installation. If you choose to wait and purchase this key lock after your installation, it will cost an additional £100 for the installer to return to fit it.</p>
							</div>
							<div class="button-checkbox-wrap m-t-sm">
								<input class="product accessory" type="checkbox" name="keyLock" value="keyLock" id="keyLock" data-name="Key lock" data-price="30">
								<label for="keyLock" class="button button--secondary">Select</label>
							</div>
						</div>
					</div>
					<div class="grid-col grid-col--md-4">
						<div class="card card--centered card--more-pad">
							<h3 class="font-large">Portable Cable</h3>
							<p>This 5m portable cable should be used to connect your EV to the Universal Pod Point.</p>
							<img class="max-width--xs marg-center" src="assets/img/content/portable-cable.png" alt="">
							<p class="font-style-large bold">£150.00</p>
							<p><a class="color-base bold inline-circle-icon" href="#" data-toggle-panel="portableCableDesc">Read description <span data-toggle-icon="portableCableDesc" class="toggle-panel-icon--secondary toggle-rotate-icon"></span></a></p>
							<div id="portableCableDesc" data-js-module="toggleAccordionPanel" class="basket-content accordion-panel accordion-panel--sm">
								<p>This portable cable is compatible to use with any electric car. It's 5 meters in length and can be used to plug in your EV on the go in any station.</p>
							</div>
							<div class="button-checkbox-wrap m-t-sm">
								<input class="product accessory" type="checkbox" name="portableCable" value="portableCable" id="portableCable" data-name="Portable cable" data-price="150">
								<label for="portableCable" class="button button--secondary">Select</label>
							</div>
						</div>
					</div>
					<div class="grid-col grid-col--md-4">
						<div class="card card--centered card--more-pad">
							<h3 class="font-large">Fixed Cable Extension</h3>
							<p>This 7.5m cable can be attached to the Fixed Cable Pod Point for additional length.</p>
							<img class="max-width--xs marg-center" src="assets/img/content/fixed-cable.png" alt="">
							<p class="font-style-large bold">£175.00</p>
							<p><a class="color-base bold inline-circle-icon" href="#" data-toggle-panel="fixedCableDesc">Read description <span data-toggle-icon="fixedCableDesc" class="toggle-panel-icon--secondary toggle-rotate-icon"></span></a></p>
							<div id="fixedCableDesc" data-js-module="toggleAccordionPanel" class="basket-content accordion-panel accordion-panel--sm">
								<p>The installer can replace this with the original 4.8m cable during installation for no extra fee.</p>
							</div>
							<div class="button-checkbox-wrap m-t-sm">
								<input class="product accessory" type="checkbox" name="fixedCableExt" value="fixedCableExt" id="fixedCableExt" data-name="Fixed Cable Extension" data-price="175">
								<label for="fixedCableExt" class="button button--secondary">Select</label>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
