<section class="bg--white">
	<div class="container">
		<div class="content-block">
			<h2 class="text-center text-left-md">Select EV</h2>
			<div class="grid-wrap">
				<div class="grid-row">
					<div class="grid-col grid-col--md-4">
						<div class="field-row">
							<label class="label--block">Make</label>
							<div class="form-field-wrapper">
								<div data-js-module="selectDropdown" class="select-dd-wrapper">
									<select id="selectEvMake">
										<option selected value="0">- Please select -</option>
										<option value="nissan">Nissan</option>
									</select>
								</div>
							</div>
						</div>
						<div class="field-row">
							<label class="label--block">Model</label>
							<div class="form-field-wrapper">
								<div data-js-module="selectDropdown" class="select-dd-wrapper">
									<select id="selectEvModel" disabled="true">
										<option selected value="0">- Please select -</option>
										<option value="leaf">Leaf</option>
									</select>
								</div>
							</div>
						</div>
					</div>
					<div class="grid-col grid-col--md-6">
						<img id="carImage" class="marg-center float-left-md max-width--lg" src="assets/img/content/cars/none.png" alt="">
					</div>
				</div>
			</div>
		</div>
	</div>
</section>