<section class="bg--white">
	<div class="container">
		<div class="content-block">
			<h2 class="text-center text-left-md">Select connector</h2>
			<div class="grid-wrap">
				<div class="grid-row">
					<div class="grid-col grid-col--md-4">
						<div class="card card--centered card--more-pad">
							<h3 class="font-large">Key Lock</h3>
							<p>Prevent the risk of electricity theft</p>
							<img class="max-width--sm marg-center" src="assets/img/content/key-lock.png" alt="">
							<p class="font-style-large">£30.00</p>
							<p>Read description</p>
							<button class="button button--secondary m-t-sm">Select</button>
						</div>
					</div>
					<div class="grid-col grid-col--md-4">
						<div class="card card--centered card--more-pad">
							<h3 class="font-large">Portable Cable</h3>
							<p>Plug in your EV on the go with this 5m cable.</p>
							<img class="max-width--sm marg-center" src="assets/img/content/portable-cable.png" alt="">
							<p class="font-style-large">£150.00</p>
							<p>Read description</p>
							<button class="button button--secondary m-t-sm">Select</button>
						</div>
					</div>
					<div class="grid-col grid-col--md-4">
						<div class="card card--centered card--more-pad">
							<h3 class="font-large">Fixed Cable Extension</h3>
							<p>Plug in your EV on the go with this 7.5m cable.</p>
							<img class="max-width--sm marg-center" src="assets/img/content/fixed-cable.png" alt="">
							<p class="font-style-large">£175.00</p>
							<p>Read description</p>
							<button class="button button--secondary m-t-sm">Select</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
