<section class="bg--white">
	<div class="container">
		<div class="content-block">
			<h2 class="text-center text-left-md">Select connector</h2>
			<div class="grid-wrap">
				<div class="grid-row cards-same-height">
					<div class="grid-col grid-col--md-6">
						<div class="card card--centered card--more-pad">
							<h3 class="font-large">Universal Socket - Flexibility</h3>
							<img class="max-width--md marg-center" src="assets/img/content/homecharger-without-cable.png" alt="">
							<div class="rich-text text-left m-t-md">
								<ul>
									<li>Compatible with any plug-in vehicle</li>
									<li>You may need to purchase a charging cable separately</li>
									<li>Type 2 socket</li>
								</ul>
							</div>
							<button class="button button--secondary m-t-sm">Select</button>
						</div>
					</div>
					<div class="grid-col grid-col--md-6">
						<div class="card card--centered card--more-pad">
							<h3 class="font-large">Fixed Cable - Convenience</h3>
							<img class="max-width--md marg-center" src="assets/img/content/homecharger-with-cable.png" alt="">
							<div class="rich-text text-left m-t-md">
								<ul>
									<li>Fix the connector holster in a convenient place for use with the same EV every day</li>
									<li>4.5m fixed cable</li>
								</ul>
							</div>
							<button class="button button--secondary m-t-sm">Select</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>