<section data-js-module="toggleAccordionPanel" id="connectors" class="bg--white b-t-none accordion-panel accordion-panel--xl">
	<div class="container">
		<div class="content-block">
			<h2 class="text-center text-left-md p-b-sm">Select a connector</h2>
			<p class="text-center text-left-md p-b-lg">A connector is included in the price of your POD Point.</p>
			<div class="grid-wrap cards-same-height">
				<div class="grid-row">
					<div class="grid-col grid-col--md-6">
						<div class="card card--centered card--more-pad">
							<h3 class="font-large">Universal Pod Point</h3>
							<p>Connects to any electric car, this Pod Point requires a separate cable which can be purchased below.</p>
							<img class="max-width--sm marg-center" src="assets/img/content/homecharger-without-cable.png" alt="">
							<p class="m-t-sm"><a class="color-base bold inline-circle-icon" href="#" data-toggle-panel="universalSocket">Read description <span data-toggle-icon="universalSocket" class="toggle-panel-icon--secondary toggle-rotate-icon"></span></a></p>
							<div id="universalSocket" data-js-module="toggleAccordionPanel" class="basket-content accordion-panel accordion-panel--sm">
								<div class="rich-text">
									<p>Although this Pod Point requires an additional cable, you're covered if you ever update your car in the future.</p>
								</div>
							</div>
							<div class="button-radio-wrap m-t-sm">
								<input class="product" type="radio" name="podPointConnector" value="connectorUniversal" id="connectorUniversal" data-name="Universal Socket">
								<label for="connectorUniversal" class="button button--secondary">Select</label>
							</div>
						</div>
					</div>
					<div class="grid-col grid-col--md-6">
						<div class="card card--centered card--more-pad">
							<h3 class="font-large">Fixed Cable Connector</h3>
							<p>Comes with a permanently attached cable for convenient charging.</p>
							<img class="max-width--sm marg-center" src="assets/img/content/homecharger-with-cable.png" alt="">
							<p class="m-t-sm"><a class="color-base bold inline-circle-icon" href="#" data-toggle-panel="fixedCable">Read description <span data-toggle-icon="fixedCable" class="toggle-panel-icon--secondary toggle-rotate-icon"></span></a></p>
							<div id="fixedCable" data-js-module="toggleAccordionPanel" class="basket-content accordion-panel accordion-panel--sm">
								<div class="rich-text">
									<p>This Pod Point has a 4.8m charging cable permanently attached. Unlike the universal socket, this Pod Point is not compatible with every car and you may need to upgrade should you change vehicle in the future.</p>
									<p>Note, the 7.5m fixed cable extension can be purchased below if additional length is required.</p>
								</div>
							</div>
							<div class="button-radio-wrap m-t-sm">
								<input class="product" type="radio" name="podPointConnector" value="connectorFixed" id="connectorFixed" data-name="Fixed Cable">
								<label for="connectorFixed" class="button button--secondary">Select</label>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
