<section class="bg--white">
	<div class="container">
		<div class="content-block">
			<h2 class="text-center text-left-md">Select your POD Point</h2>
			<div class="tooltip-wrap p-b-lg">
				<p class="text-center text-left-md">All of our POD Points include standard installation <a href="#" data-toggle-el="tipStandardInstallation" class="tooltip-icon"></a></p>
				{{> tip-standard-installation }}
			</div>
			<div class="grid-wrap card-set-standout cards-same-height">
				<div class="grid-row">
					<div class="grid-col grid-col--md-4">
						<div class="card card--centered card--more-pad">
							<h3 class="font-huge p-b-lg card__recommended">
								3kW
								<span>Recommended</span>
							</h3>
							<div class="hidden">
								<p class="font-style-large bold">Charges a BMW i3 in XX hours</p>
							</div>
							<hr>
							<p class="h1 crossed-out p-b-none">£759</p>
							<p class="h1 green p-b-none">£279*</p>
							<div class="button-radio-wrap m-t-sm">
								<input type="radio" data-radio-open-panel="connectors" name="podPoint-desktop" value="podPoint3kW" id="podPoint3kW">
								<label for="podPoint3kW" class="button button--secondary">Select</label>
							</div>
						</div>
					</div>
					<div class="grid-col grid-col--md-4">
						<div class="card card--centered card--more-pad card--standout-sash">
							<h3 class="font-huge p-b-lg card__recommended">
								7kW
								<span>Recommended</span>
							</h3>
							<div class="hidden">
								<p class="font-style-large bold">Charges a BMW i3 in XX hours</p>
							</div>
							<hr>
							<p class="h1 crossed-out p-b-none">£859</p>
							<p class="h1 green p-b-none">£359*</p>

							<div class="button-radio-wrap m-t-sm">
								<input type="radio" data-radio-open-panel="connectors" name="podPoint-desktop" value="podPoint7kW" id="podPoint7kW">
								<label for="podPoint7kW" class="button button--secondary">Select</label>
							</div>
						</div>
					</div>
					<div class="grid-col grid-col--md-4">
						<div class="card card--more-pad card--centered">
							<h3 class="font-huge p-b-lg card__recommended">
								22kW
								<span>Recommended</span>
							</h3>
							<div class="hidden">
								<p class="font-style-large bold">Charges a BMW i3 in XX hours</p>
							</div>
							<hr>
							<p class="h1 crossed-out p-b-none">£125</p>
							<p class="h1 green p-b-none">£759*</p>
							<div class="button-radio-wrap m-t-sm">
								<input type="radio" data-radio-open-panel="connectors" name="podPoint-desktop" value="podPoint22kW" id="podPoint22kW">
								<label for="podPoint22kW" class="button button--secondary">Select</label>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="content-block__legal">
				<p>*with government grant</p>
			</div>
		</div>
	</div>
</section>