<section class="bg--white">
	<div class="container">
		<div class="content-block">
			<h2 class="text-center text-left-md">Select your POD Point</h2>
			<div class="grid-wrap card-set-standout cards-same-height">
				<div class="grid-row">
					<div class="grid-col grid-col--md-4">
						<div class="card card--centered card--more-pad">
							<h3 class="font-huge p-b-none card__recommended">
								3kW
								<span>Recommended</span>
							</h3>
							<p class="font-style-large bold m-t-xl">Charges a BMW i3 in XX hours</p>
							<hr>
							<p class="h1 crossed-out p-b-none">£759</p>
							<p class="h1 green p-b-none">£279*</p>
							<p class="font-small">*with government grant</p>
							<hr>
							<p class="font-small bold">Includes standard installation</p>
							<button class="button button--secondary m-t-sm">Select</button>
						</div>
					</div>
					<div class="grid-col grid-col--md-4">
						<div class="card card--centered card--more-pad card--standout-sash">
							<h3 class="font-huge p-b-none card__recommended">
								7kW
								<span>Recommended</span>
							</h3>
							<p class="font-style-large bold m-t-xl">Charges a BMW i3 in XX hours</p>
							<hr>
							<p class="h1 crossed-out p-b-none">£859</p>
							<p class="h1 green p-b-none">£359*</p>
							<p class="font-small">*with government grant</p>
							<hr>
							<p class="font-small bold">Includes standard installation</p>
							<button class="button m-t-sm">Select</button>
						</div>
					</div>
					<div class="grid-col grid-col--md-4">
						<div class="card card--more-pad card--centered">
							<h3 class="font-huge p-b-none card__recommended">
								22kW
								<span>Recommended</span>
							</h3>
							<p class="font-style-large bold m-t-xl">Charges a BMW i3 in XX hours</p>
							<hr>
							<p class="h1 crossed-out p-b-none">£125</p>
							<p class="h1 green p-b-none">£759*</p>
							<p class="font-small">*with government grant</p>
							<hr>
							<p class="font-small bold">Includes standard installation</p>
							<button class="button button--secondary m-t-sm">Select</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>