<section class="bg--white">
	<div class="container">
		<div class="content-block">
			<h2 class="text-center text-left-md">Select your POD Point</h2>
			<div class="grid-wrap card-set-standout">
				<div class="grid-row">
					<div class="grid-col grid-col--md-4">
						<div class="card card--centered">
							<h3>3kW</h3>
							<p>Charges a BMW i3 in XX hours</p>
							<hr>
							<p>£759</p>
							<p class="green">£279</p>
							<p>*with government grant</p>
							<hr>
							<p>Includes standard installation</p>
							<button class="button button--secondary">Select</button>
						</div>
					</div>
					<div class="grid-col grid-col--md-4">
						<div class="card card--centered card--standout card--sash">
							<h3>7kW</h3>
							<p>Charges a BMW i3 in XX hours</p>
							<hr>
							<p>£859</p>
							<p class="green">£359</p>
							<p>*with government grant</p>
							<hr>
							<button class="button">Select</button>
						</div>
					</div>
					<div class="grid-col grid-col--md-4">
						<div class="card card--centered">
							<h3>22kW</h3>
							<p>Charges a BMW i3 in XX hours</p>
							<p>£125</p>
							<p class="green">£759</p>
							<p>*with government grant</p>
							<hr>
							<button class="button button--secondary">Select</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>