<section class="bg--very-light-gray">
	<div class="container content-block">
		<div class="steps-indicator">
			<div class="steps-indicator__step">{{> step-one }}</div>
			<div class="steps-indicator__step">{{> step-two }}</div>
			<div class="steps-indicator__step">{{> step-three }}</div>
			<div class="steps-indicator__step active-step">{{> step-four }}</div>
		</div>
	</div>
</section>