<section class="bg--very-light-gray b-b-thin">
	<div class="container content-block content-block--strip">
		<div class="steps-indicator">
			<a href="checkout-step1.html" class="steps-indicator__step">
				<div class="steps-indicator__icon">{{> step-one }}</div>
				<p>Your POD Point</p>
			</a>
			<a href="checkout-step2.html" class="steps-indicator__step">
				<div class="steps-indicator__icon">{{> step-two }}</div>
				<p>Payment</p>
			</a>
			<a href="checkout-step3.html" class="steps-indicator__step">
				<div class="steps-indicator__icon">{{> step-three }}</div>
				<p>Installation details</p>
			</a>
			<a href="checkout-step4.html" class="steps-indicator__step">
				<div class="steps-indicator__icon">{{> step-four }}</div>
				<p>OLEV Documents</p>
			</a>
		</div>
	</div>
</section>
