<section class="bg--very-light-gray b-b-thin">
	<div class="container content-block content-block--strip">
		<div class="steps-indicator">
			<div class="steps-indicator__step active-step">
				<div class="steps-indicator__icon">{{> step-one }}</div>
				<p>Your POD Point</p>
			</div>
			<div class="steps-indicator__step">
				<div class="steps-indicator__icon">{{> step-two }}</div>
				<p>Payment</p>
			</div>
			<div class="steps-indicator__step">
				<div class="steps-indicator__icon">{{> step-three }}</div>
				<p>Installation details</p>
			</div>
			<div class="steps-indicator__step">
				<div class="steps-indicator__icon">{{> step-four }}</div>
				<p>OLEV Documents</p>
			</div>
		</div>
	</div>
</section>