<section class="bg--white">
	<div class="container">
		<div class="content-block">
			<div class="grid-wrap">
				<div class="grid-row">
					<div class="grid-col grid-col--md-6">
						<div class="rich-text text-center text-left-md">
							<h2>Thanks</h2>
							<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim.</p>
						</div>
					</div>
					<div class="grid-col grid-col--md-6">
						<img class="marg-center max-width--md" src="assets/img/illustrations/thanks-paid-podpoint.svg" alt="">
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
