<section class="bg--white">
	<div class="container">
		<div class="content-block">
			<div class="grid-wrap">
				<div class="grid-row">
					<div class="grid-col grid-col--md-6">
						<div class="rich-text text-center text-left-md">
							<h2>Thanks</h2>
							<p>Almost there! To complete your order please fill in some additional detail about your installation. This will help us determine whether you qualify for a standard install or require a non standard installation.</p>
						</div>
					</div>
					<div class="grid-col grid-col--md-6">
						<img class="marg-center max-width--md" src="assets/img/illustrations/thanks-paid-podpoint.svg" alt="">
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
