<section class="bg--white">
	<div class="container">
		<div class="content-block">
			<div class="grid-wrap">
				<div class="grid-row">
					<div class="grid-col grid-col--md-6">
						<div class="rich-text text-center text-left-md">
							<h2>Who owns your vehicle?</h2>
						</div>

						<div class="field-row m-t-md">
							<div class="form-field-wrapper">
								<label class="form__label radio" for="ownCar">
                                    <input class="form__control" type="radio" data-radio-open-panel="proof" id="ownCar" name="ownElectricVehicle" value="own-car">
                                    <span>I own the car</span>
                                </label>
								<label class="form__label radio" for="leasingCar">
                                    <input class="form__control" type="radio" data-radio-open-panel="proof" id="leasingCar" name="ownElectricVehicle" value="leasing-car">
                                    <span>I am leasing the car</span>
                                </label>
								<label class="form__label radio" for="companyCar">
                                    <input class="form__control" type="radio" data-radio-open-panel="proof" id="companyCar" name="ownElectricVehicle" value="company-car">
                                    <span>I am using a company car</span>
                                </label>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div data-js-module="toggleAccordionPanel" id="proof" class="accordion-panel accordion-panel--md m-t-xl">
				<div class="grid-wrap">
					<div class="grid-row">
						<div class="grid-col grid-col--md-6">
							<div class="rich-text text-center text-left-md m-b-lg">
								<h4>Proof of vehicle ownership</h4>
								<p>Please upload a copy of your vehicle order confirmation. This is required as additional documentation for the OLEV grant as proof of vehicle purchase.</p>
							</div>

							<button class="button button--tertiary">Upload</button>
						</div>
						<div class="grid-col grid-col--md-6">
							<img class="float-right max-width--md" src="assets/img/content/illustrations/section-imgs/vehicle-proof-of-ownership.svg" alt="">
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
