<section class="bg--white">
	<div class="container">
		<div class="content-block">
			<div class="grid-wrap">
				<div class="grid-row">
					<div class="grid-col grid-col--md-6">
						<div class="rich-text text-center text-left-md">
							<h2>Who owns your vehicle?</h2>
							<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim.</p>
						</div>

						<div class="field-row m-t-md">
							<div class="radios-wrap">
								<div class="radio-wrap radio-wrap--inline">
									<input type="radio" name="ownElectricVehicle" id="yes-ownElectricVehicle" value="yes-ownElectricVehicle"/>
									<label for="yes-ownElectricVehicle" class="radio"> Lorem ipsum dolor sit amet umit.</label>
								</div>
								<div class="radio-wrap radio-wrap--inline">
									<input type="radio" name="ownElectricVehicle" id="no-ownElectricVehicle" value="no-ownElectricVehicle"/>
									<label for="no-ownElectricVehicle" class="radio"> Lorem ipsum dolor sit amet umit.</label>
								</div>
								<div class="radio-wrap radio-wrap--inline">
									<input type="radio" name="ownElectricVehicle" id="unsure-ownElectricVehicle" value="unsure-ownElectricVehicle" />
									<label for="unsure-ownElectricVehicle" class="radio"> Lorem ipsum dolor sit amet umit.</label>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="content-block">
			<div class="grid-wrap">
				<div class="grid-row">
					<div class="grid-col grid-col--md-6">
						<div class="rich-text text-center text-left-md m-b-lg">
							<h2>Proof of vehicle ownership</h2>
							<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim.</p>
						</div>

						<button class="button button--tertiary">Upload</button>
					</div>
					<div class="grid-col grid-col--md-6">
						<img class="float-right max-width--md" src="assets/img/illustrations/vehicle-proof-of-ownership.svg" alt="">
					</div>
				</div>
			</div>
		</div>
	</div>
</section>