<section class="bg--white">
	<div class="container">
		<div class="content-block">
			<div class="grid-wrap">
				<div class="grid-row">
					<div class="grid-col grid-col--md-6">
						<div class="rich-text text-center text-left-md">
							<h2>Who owns your vehicle?</h2>
						</div>

						<div class="field-row m-t-md">
							<div class="radios-wrap">
								<div class="radio-wrap radio-wrap">
									<input type="radio" data-radio-open-panel="proof" name="ownElectricVehicle" id="ownCar" value="own-car"/>
									<label for="ownCar" class="radio"> I own the car</label>
								</div>
								<div class="radio-wrap radio-wrap">
									<input type="radio" data-radio-open-panel="proof" name="ownElectricVehicle" id="leasingCar" value="leasing-car"/>
									<label for="leasingCar" class="radio"> I am leasing the car</label>
								</div>
								<div class="radio-wrap radio-wrap">
									<input type="radio" data-radio-open-panel="proof" name="ownElectricVehicle" id="companyCar" value="company-car" />
									<label for="companyCar" class="radio"> I am using a company car</label>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div data-js-module="toggleAccordionPanel" id="proof" class="accordion-panel accordion-panel--md m-t-xl">
				<div class="grid-wrap">
					<div class="grid-row">
						<div class="grid-col grid-col--md-6">
							<div class="rich-text text-center text-left-md m-b-lg">
								<h4>Proof of vehicle ownership</h4>
								<p>Please upload a copy of your vehicle order confirmation. This is required as additional documentation for the OLEV grant as proof of vehicle purchase.</p>
							</div>

							<button class="button button--tertiary">Upload</button>
						</div>
						<div class="grid-col grid-col--md-6">
							<img class="float-right max-width--md" src="assets/img/illustrations/vehicle-proof-of-ownership.svg" alt="">
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>