<section class="bg--white">
	<div class="container content-block content-block--standout">
		<h2>Your details</h2>
		<div class="max-width-text marg-center">
			<div class="field-row">
				<div class="form-field-wrapper">
					<input type="text" placeholder="First Name" />
				</div>
			</div>
			<div class="field-row">
				<div class="form-field-wrapper">
					<input type="text" placeholder="Last Name" />
				</div>
			</div>
			<div class="field-row">
				<div class="form-field-wrapper">
					<input type="text" placeholder="Email" />
				</div>
			</div>
			<div class="field-row">
                <div class="form-field-wrapper">
                    <label class="checkbox" for="recieveUpdates">
                        <input type="checkbox" name="recieveUpdates" id="recieveUpdates" value="recieveUpdates">
                        <span>I'd like to recieve updates about EV charging</span>
                    </label>
                </div>
            </div>
			<div class="field-row">
				<div class="form-field-wrapper">
					<input type="text" placeholder="Phone number" />
				</div>
			</div>
			{{> address-lookup }}
		</div>
	</div>
</section>
