<header role="header" class="demo-header">
	<div class="container">
		<a class="demo-logo-main" href="/">
			<img src="assets/img/toolkit/logos/pod-point-logo.svg" alt="POD Point">
		</a>
	</div>
</header>