<style>
	.hero { background-image: url(assets/img/content/backgrounds/homecharge-hero/homecharge-hero-bg-500.jpg); }
	@media (min-width: 480px) {
		.hero { background-image: url(assets/img/content/backgrounds/homecharge-hero/homecharge-hero-bg-800.jpg); }
	}
	@media (min-width: 820px) {
		.hero { background-image: url(assets/img/content/backgrounds/homecharge-hero/homecharge-hero-bg-1100.jpg); }
	}
	@media (min-width: 1280px) {
		.hero { background-image: url(assets/img/content/backgrounds/homecharge-hero/homecharge-hero-bg-1300.jpg); }
	}
</style>

<section class="hero bg--img-cover rel bg-img-overlay">
	<div class="container">
		<div class="content-block content-block--standout v-align-content">
			<div class="hero__content max-width--lg">
				<h1>Home charging</h1>
				<div class="rich-text font-style-large bold">
					<p>Fast, safe, easy and Wi-fi enabled. <br>The best way to charge your EV at home.</p>
				</div>
				<div class="buttons-container m-t-md">
					<button class="button button--secondary" data-js-module="modal" data-modal="videoModal">Watch video</button>
					<a href="checkout-step1.html" class="button">Buy now</a>
				</div>
			</div>
		</div>
	</div>
</section>



<!-- HIDDEN MODALS -->
<div class="modal hidden fade-in" id="videoModal">
	<a href="#" class="circle-icon circle-icon--close circle-icon--outlined-dark circle-icon--small-resp modal-close"><svg class="icon"><use xlink:href="#general--cross"/></svg></a>
	<div class="modal__content">
		<div class="panel">
			<img class="img--resp img--rounded-corners max-width--xxl marg-center" src="assets/img/content/video-placeholders/homecharge-video-placeholder.jpg">
			<div class="content-block">
				<h2 class="panel__title">Pricing</h2>
				<div class="panel__text-content" class="font-style-large">
					<p>We offer competitive pricing across our range of home charging points with a generous standard installation package.</p>
				</div>
			</div>
			<div class="grid-wrap">
				<div class="grid-row">
					<div class="grid-col grid-col--md-4">
						<div class="card card--more-pad rich-text">
							<h3 class="h2 text-center p-b-none">3.7kW</h3>
							<hr>
							<p><strong class="font-style-large">£779</strong> Full price</p>
							<p class="p-b-none"><strong class="font-style-large green">£279</strong> With OLEV Grant</p>
							<hr>
							<p class="bold p-b-none">10x faster than a 13A plug.</p>
						</div>
					</div>
					<div class="grid-col grid-col--md-4">
						<div class="card card--options--recommended card--more-pad rich-text">
							<h3 class="h2 text-center p-b-none">7kW</h3>
							<hr>
							<p><strong class="font-style-large">£859</strong> Full price</p>
							<p class="p-b-none"><strong class="font-style-large green">£359</strong> With OLEV Grant</p>
							<hr>
							<p class="bold p-b-none">3x faster than a 13A plug.</p>
						</div>
					</div>
					<div class="grid-col grid-col--md-4">
						<div class="card card--more-pad rich-text">
							<h3 class="h2 text-center p-b-none">22kW</h3>
							<hr>
							<p><strong class="font-style-large">£1499</strong> Full price</p>
							<p class="p-b-none"><strong class="font-style-large green">£999</strong> With OLEV Grant</p>
							<hr>
							<p class="bold p-b-none">10x faster than a 13A plug.</p>
						</div>
					</div>
				</div>
			</div>
			<a href="checkout-step1.html" class="button m-t-xl">Buy now</a>
		</div>
	</div>
</div>
