<style>
	.hero { background-image: url(assets/img/content/backgrounds/homecharge-hero/homecharge-hero-bg-500.jpg); }
	@media (min-width: 480px) {
		.hero { background-image: url(assets/img/content/backgrounds/homecharge-hero/homecharge-hero-bg-800.jpg); }
	}
	@media (min-width: 820px) {
		.hero { background-image: url(assets/img/content/backgrounds/homecharge-hero/homecharge-hero-bg-1100.jpg); }
	}
	@media (min-width: 1280px) {
		.hero { background-image: url(assets/img/content/backgrounds/homecharge-hero/homecharge-hero-bg-1300.jpg); }
	}
</style>

<section class="hero bg--img-cover rel bg-img-overlay">
	<div class="container">
		<div class="content-block content-block--standout v-align-content">
			<div class="hero__content max-width--lg">
				<h1>Home charging</h1>
				<div class="rich-text font-style-large bold">
					<p>Fast, safe, easy and Wi-fi enabled. <br>The best way to charge your EV at home.</p>
				</div>
				<div class="buttons-container m-t-md">
					<button class="button button--secondary" data-js-module="modal" data-modal="videoModal">Watch video</button>
					<a href="#" class="button">Buy now</a>
				</div>
			</div>
		</div>
	</div>
</section>
