<section class="bg--very-light-gray">
	<div class="container">
		<div class="content-block">
			<h2 class="text-center">Why choose a POD Point Homecharger?</h2>
			<div class="grid-wrap">
				<div class="grid-row">
					<div class="grid-col grid-col--sm-6 grid-col--md-3">
						<img class="marg-center max-width--xxs m-t-sm" src="assets/img/content/illustrations/homecharge-usps/installation.svg" alt="">
						<div class="rich-text text-center marg-center max-width--sm">
							<p><strong>Free Standard Installation</strong></p>
							<p>90% of drivers qualify for free standard installation.</p>
						</div>
					</div>
					<div class="grid-col grid-col--sm-6 grid-col--md-3">
						<img class="marg-center max-width--xxs m-t-sm" src="assets/img/content/illustrations/homecharge-usps/charge-faster.svg" alt="">
						<div class="rich-text text-center marg-center max-width--sm">
							<p><strong>Up to 3 x faster than a 13a plug</strong></p>
							<p>7kW charges 3x faster than a 3 pin plug.</p>
						</div>
					</div>
					<div class="grid-col grid-col--sm-6 grid-col--md-3">
						<img class="marg-center max-width--xxs m-t-sm" src="assets/img/content/illustrations/homecharge-usps/trusted.svg" alt="">
						<div class="rich-text text-center marg-center max-width--sm">
							<p><strong>Trusted by 30,000 customers</strong></p>
							<p>We get an average 4.8/5 star satisfaction rating.</p>
						</div>
					</div>
					<div class="grid-col grid-col--sm-6 grid-col--md-3">
						<img class="marg-center max-width--xxs m-t-sm" src="assets/img/content/illustrations/homecharge-usps/warranty.svg" alt="">
						<div class="rich-text text-center marg-center max-width--sm">
							<p><strong>Free 3 Year on-site Warranty</strong></p>
							<p>All home chargers include a free 3 year warranty.</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
