<section class="bg--sky-blue">
	<div class="container">
		<div class="content-block text-center p-b-none">
			<h2>90% of our customers are eligible for free installation</h2>
			<h5 class="p-b-none">What does this include?</h5>
		</div>
	</div>
	<img class="marg-center hidden block-sm max-width-content" src="assets/img/content/illustrations/installation-house/installation-house-diagram.svg" alt="">
	<img class="marg-center block hidden-sm max-width--md m-t-lg" src="assets/img/content/illustrations/installation-house/installation-house-diagram-mobile.svg" alt="">
</section>

<section class="bg--light-gray">
	<div class="container">
		<div class="content-block text-center">
			<p><a href="https://www.caplor.co.uk/wp-content/uploads/2016/03/Grant-conditions.pdf" target="_blank" class="setback-button m-b-md">Free standard installation terms &amp; conditions</a></p>
			<p><a href="#" class="setback-button" data-toggle-panel="nonStandardInstall">What if I don’t qualify for free installation?</a></p>

			<div data-js-module="toggleAccordionPanel" id="nonStandardInstall" class="m-t-md rich-text accordion-panel accordion-panel--sm">
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut vitae malesuada est, et ultricies erat. Nam ac nisi eget orci maximus tempus. Phasellus tristique mi quis odio vestibulum scelerisque.</p>
				<p>Etiam sit amet diam neque. Fusce mattis semper tortor, quis tincidunt nisl volutpat fermentum. Aenean sed efficitur nibh. Duis aliquet eleifend leo eu tristique. Morbi eleifend iaculis finibus. Cras feugiat semper mi sit amet consequat. Praesent molestie velit quis rutrum dictum. Curabitur elementum euismod enim, non aliquet ligula iaculis nec. Morbi ac suscipit tortor.</p>
			</div>
		</div>
	</div>
</section>