<section class="bg--white">
	<div class="container">
		<div class="content-block content-block--standout">
			<div class="text-center">
				<h2>What to expect on the day of your installation</h2>
				<p>Your homecharger will be installed by a certified POD Point expert installers.</p>
			</div>
			<div class="max-width-text-wider marg-center m-t-xl">
				<div class="grid-row grid-row--flex grid-row--vertical-center">
					<div class="grid-col grid-col--md-4 grid-col--md-right grid-col--no-space--md">
						<img class="max-width--sm marg-center" src="assets/img/content/illustrations/installation-flow/installer.svg" alt="">
					</div>
					<div class="grid-col grid-col--md-8 text-center text-left-md">
						<h3>Demonstration</h3>
						<div class="rich-text">
							<p>Thousands of hours of experience installing chargepoints. Experienced City &amp; Guilds accredited electricians. Specially trained on plug-in vehicles and how to charge them.</p>
						</div>
					</div>
				</div>
				<div class="divider--steps divider--steps--flipped"></div>
				<div class="grid-row grid-row--flex grid-row--vertical-center">
					<div class="grid-col grid-col--md-4 grid-col--no-space--md">
						<img class="max-width--sm marg-center" src="assets/img/content/illustrations/installation-flow/pre-arrival.svg" alt="">
					</div>
					<div class="grid-col grid-col--md-8 text-center text-left-md">
						<h3>Pre-arrival</h3>
						<div class="rich-text">
							<p>Your expert will confirm their arrival time with you in advance of the installation.</p>
						</div>
					</div>
				</div>
				<div class="divider--steps"></div>
				<div class="grid-row grid-row--flex grid-row--vertical-center">
					<div class="grid-col grid-col--md-4 grid-col--md-right grid-col--no-space--md">
						<img class="max-width--sm marg-center" src="assets/img/content/illustrations/installation-flow/pre-installation.svg" alt="">
					</div>
					<div class="grid-col grid-col--md-8 text-center text-left-md">
						<h3>Pre-installation</h3>
						<div class="rich-text">
							<p>Your expert will find the best position for your charger based on your power supply and how you park your car.</p>
						</div>
					</div>
				</div>
				<div class="divider--steps divider--steps--flipped"></div>
				<div class="grid-row grid-row--flex grid-row--vertical-center">
					<div class="grid-col grid-col--md-4 grid-col--no-space--md">
						<img class="max-width--sm marg-center" src="assets/img/content/illustrations/installation-flow/installation.svg" alt="">
					</div>
					<div class="grid-col grid-col--md-8 text-center text-left-md">
						<div class="tooltip-wrap">
							<h3>Installation <a href="#" data-toggle-el="tipStandardInstallation" class="tooltip-icon"></a></h3>
							{{> tip-standard-installation }}
						</div>
						<div class="rich-text">
							<p>Your expert will posotion and fix the charger to the wall and connect to your wifi, making sure it's ready to use.</p>
						</div>
					</div>
				</div>
				<div class="divider--steps"></div>
				<div class="grid-row grid-row--flex grid-row--vertical-center">
					<div class="grid-col grid-col--md-4 grid-col--md-right grid-col--no-space--md">
						<img class="max-width--sm marg-center" src="assets/img/content/illustrations/installation-flow/demonstration.svg" alt="">
					</div>
					<div class="grid-col grid-col--md-8 text-center text-left-md">
						<h3>Demonstration</h3>
						<div class="rich-text">
							<p>Your expert will provide a full demonstration of your charger, what the different lights mean and how to get in touch if you have any questions later on.</p>
							<p>Finally they'll make sure you know how to find &amp; use public chargepoints in your area and answer any other questions you have about charging.</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
