<section class="bg--dark-gray">
	<div class="container">
		<div class="content-block content-block--strip">
			 <p class="font-style-large text-center"><span class="hidden inline-block-md svg-wrap max-width--xxs marg-center m-r-xxs">{{> stars-4-8 }}</span> <span class="block inline-block-md bold m-r-xxs p-b-xs">4.8/5 star rating, from 1965 reviews on:</span><a class="reviews-logo" href="reviews.co.uk"> <span class="inline-block svg-wrap">{{> reviews-logo }}</span></a></p>
		</div>
	</div>
</section>
