<section class="text-center bg--dark-gray">
	<div class="carousel-section">
		<div class="container">
			<h2>5/5 star rating, 1965 reviews on Reviews.co.uk</h2>
		</div>
		<div class="carousel-wrap carousel-wrap--reviews">
			<a href="#" class="circle-icon circle-icon--large-resp circle-icon--white-outline"><svg><use xlink:href="#general--user"/></svg></a>
			<div data-js-module="carousel" class="main-carousel">
				<div class="carousel-cell">
					<div class="rich-text">
						<h3>John Smith</h3>
						<p>Suspendisse potenti. Nullam lacinia urna ex, vitae maximus massa ultricies ut. Quisque cursus magna sit amet turpis tempor sodales. Ut egestas, felis quis sagittis rhoncus, purus purus congue orci, sed mollis diam metus sed orci. Duis a lacus lectus. Curabitur ante massa, consectetur luctus arcu non, vehicula elementum orci.</p>
						<span class="svg-wrap max-width--xxs marg-center m-t-sm m-t-lg">{{> stars-5 }}</span>
					</div>
				</div>
				<div class="carousel-cell">
					<div class="rich-text">
						<h3>Anna Doyle</h3>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
						<span class="svg-wrap max-width--xxs marg-center m-t-sm m-t-lg">{{> stars-4-8 }}</span>
					</div>
				</div>
				<div class="carousel-cell">
					<div class="rich-text">
						<h3>Carol Lorem</h3>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
						<span class="svg-wrap max-width--xxs marg-center m-t-sm m-t-lg">{{> stars-5 }}</span>
					</div>
				</div>
			</div>
		</div>
		<div class="container">
			<p class="font-style-large"><span class="reviews-from-text hidden inline-block-md">Reviews from:</span><a class="reviews-logo" href="reviews.co.uk"><span class="inline-block svg-wrap">{{> reviews-logo }}</span></a>
		</div>
	</div>
</section>
