// =============================================================================
//  FORM LAYOUT
// =============================================================================

.field-row {
	margin-bottom: 2.5rem;
}
.form-action-buttons {
	padding-top: 2.5rem;
}
.form-field-wrapper {
	display: inline-block;
	width: 100%;
	max-width: 50rem;
	@include media($small) {
		min-width: 32rem;
	}
}