// =============================================================================
//  INPUTS AND TEXTAREAS
// =============================================================================

#{$inputs},
textarea[type="text"] {
	@include input-styles;
	@include input-border;
	&:focus {
		color: $font-color-base!important;
		border-color: $font-color-base;
	}
}

#{$inputs} {
	&.input--secondary {
		border-radius: 0;
		border: none;
		border-bottom: 1px solid $form-keyline;
	}
}

textarea[type="text"] {
	@include font-style-forms;
	height: auto;
	min-height: 13rem;
	resize: vertical;
	@include padding($input-padding);
}