// =============================================================================
//  FORM STYLES SHARED
// =============================================================================

// Get rid of yellow bg color on Chrome auto complete
input:-webkit-autofill {
	-webkit-box-shadow: 0 0 0 1000px black inset;
	-webkit-text-fill-color: white !important;
}

::-webkit-input-placeholder {
	color: $input-placeholder-color;
}
:-moz-placeholder { // Firefox 18-
	color: $input-placeholder-color;
}
::-moz-placeholder {  // Firefox 19+
	color: $input-placeholder-color;
}
:-ms-input-placeholder {
	color: $input-placeholder-color;
}

@mixin input-styles {
	@include font-style-forms;
	box-sizing: border-box;
	width: 100%;
	height: $input-height;
	line-height: $input-height;
	-webkit-appearance: none;
	@include padding(0 $input-padding);
	display: block;
	max-width: $form-field-max-width;
}
@mixin input-border {
	transition: border-color;
	background-color: $background-color-base;
	border: 1px solid $form-keyline;
	border-radius: $form-border-radius;
	&:hover {
		border-color: $form-keyline;
	}
	&:focus {
		border-color: $form-keyline;
		outline: none;
	}
}

label {
	display: inline-block;
	@include font-style-small;
	padding-bottom: 0.5rem;

	.checkbox-wrap &,
	.radio-wrap & {
		@include font-style-small;
	}
}

.label--block {
	width: 100%;
}

.form-field-wrapper {
	display: inline-block;
	width: 50rem;
	max-width: 100%;
	padding-right: 3rem;
	@include media($medium) {
		padding-right: 0;
	}
	&.is-valid,
	&.is-invalid {
		@include iconfont('tick');
		position: relative;
		&:before {
			@include iconfont-styles;
			font-weight: bold;
			font-size: 1.6rem;
			@include position(absolute, 0.9rem 0 null null);
			color: $primary-color;
			@include media($medium) {
				right: -3rem;
			}
		}
	}
	&.is-invalid {
		@include iconfont('cross');
		&:before {
			color: $error-red;
		}
		input,
		textarea,
		.select-dd-wrapper:not(.select-dd-wrapper--alternative) .dk-selected,
		.select-dd-wrapper:not(.select-dd-wrapper--alternative) .mobile-select {
			border-color: $error-red;
		}
	}
}

.error-message {
	display: block;
	@include font-style-small;
	font-family: $font-family-bold;
	color: $error-red;
	margin-top: 0.3rem;
	.checkbox-wrap & {
		margin-top: 0;
	}
}
.checkbox-wrap:not(.is-invalid),
.form-field-wrapper:not(.is-invalid) {
	.error-message {
		display: none;
	}
}

.checkbox-wrap.is-invalid {
	input[type="checkbox"] ~ label:before {
		border-color: $error-red;
	}
}
