// =============================================================================
//  TOOLS - ANIMATION FADES
// =============================================================================

// Fade in
@keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

// Fade out
@keyframes fadeOut {
    0% {opacity: 1;}
    100% {opacity: 0;}
}
