// =============================================================================
//	TOOLS - CUSTOM ICON LIST
// =============================================================================

@mixin featured-icon-list($icon-path) {
    @extend %remove-list-styles;

    li {
        @include font-size-md;
        position: relative;
        padding-bottom: $typography-vertical-spacing / 1.5;
        padding-left: 2em;

        &:before {
            content: '';
            @include position(absolute, 3px null null 0);
            background-image: url($icon-path);
            background-size: cover;
            width: 18px;
            height: 18px;
        }
    }
}

@mixin featured-icon-list-lg($icon-path) {
    @extend %remove-list-styles;

    li {
        @include font-size-lg;
        position: relative;
        padding-bottom: $typography-vertical-spacing / 1.5;
        padding-left: 2em;

        &:before {
            content: '';
            @include position(absolute, 2px null null 0);
            background-image: url($icon-path);
            background-size: cover;
            width: 23px;
            height: 23px;
        }
    }
}
