// =============================================================================
//  TOOLS - ALERTS
// =============================================================================

// Mixin for alert boxes/messages
@mixin alert-variant($background, $text-colour) {
    background-color: $background;
    color: $text-colour;
    font-weight: $font-weight-bold;

    hr {
        border-top-color: darken($text-colour, 5%);
    }

    .a {
        color: darken($text-colour, 10%);
        text-decoration: underline;
    }
}
