// =============================================================================
//	TOOLS - MARGIN AND PADDING
// =============================================================================

@mixin padding-h($padding) {
    padding-right: $padding;
    padding-left: $padding;
}

@mixin padding-v($padding) {
    padding-top: $padding;
    padding-bottom: $padding;
}

@mixin margin-h($margin) {
    margin-right: $margin;
    margin-left: $margin;
}

@mixin margin-v($margin) {
    margin-top: $margin;
    margin-bottom: $margin;
}

// Margin center
%m-center {
    margin-right: auto;
    margin-left: auto;
}
