// =============================================================================
//	TOOLS - CUSTOM ICON LIST
// =============================================================================

@mixin featured-icon-list($icon-path) {
    @extend %remove-list-styles;

    li {
        @include font-size-md;
        position: relative;
        padding-bottom: $typography-v-spacing / 1.5;
        padding-left: 2em;

        &:before {
            content: '';
            @include position(absolute, rem(3) null null 0);
            background-image: url($icon-path);
            background-size: cover;
            width: rem(18);
            height: rem(18);
        }
    }
}

@mixin featured-icon-list-lg($icon-path) {
    @extend %remove-list-styles;

    li {
        @include font-size-lg;
        position: relative;
        padding-bottom: $typography-v-spacing / 1.5;
        padding-left: 2em;

        &:before {
            content: '';
            @include position(absolute, rem(2) null null 0);
            background-image: url($icon-path);
            background-size: cover;
            width: rem(23);
            height: rem(23);
        }
    }
}
