// =============================================================================
//	TOOLS - HELPERS
// =============================================================================

// Clearfix
%clearfix {
    &:after {
        content: "";
        display: table;
        clear: both;
    }
}

// Vertically align center
%vertical-align {
    display: flex;
    align-items: center;
}

// Remove default list styling
%remove-list-styles {
    @include padding(null 0);
    margin: 0;

    li {
        list-style: none;
        padding-left: 0;
    }
}

// Remove default link styling
%remove-link-styles {
    font-weight: inherit;
    text-decoration: none;
}


// Clickable elements that are not an anchor
%clickable {
    cursor: pointer;

    &:active,
    &:focus,
    &:hover {
        opacity: 0.7;
    }
}

// Hide text not the pseudo
%hide-text-not-pseudo {
    text-indent: -9999px;

    &:before,
    &:after {
        text-indent: 0;
        float: left;
        width: 100%;
        height: 100%;
        margin: 0;
    }
}

// BG Images
%bg-cover {
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

// Hide text
%hide-text {
    overflow: hidden;
    text-indent: -9999px;
}

// Margin center
%m-center {
    @include margin(null auto);
}

// Full width/height overlay.
// If it is a pseudo element, it will meeds an empty content property and the wrapper to have a relative position
@mixin full-overlay($bgColor: black) {
    @include position(absolute, 0 0 0 0);
    width: 100%;
    height: 100%;
    background-color: $bgColor;
}

@mixin horizontal-spacing {
    @include padding(null $h-spacing-mobile);

    @include screen-md-min {
        @include padding(null $h-spacing);
    }
}

// A container that center aligns with padding and max width
@mixin container {
    @include margin(null auto);
    max-width: $max-width-content;
    @include horizontal-spacing;
}
