// =============================================================================
//  TOOLS - FORMS
// =============================================================================

@mixin placeholder {
    placeholder {
        @content;
    }
}

@include placeholder {
    color: $input-placeholder-colour;
}

@mixin input-styles {
    appearance: none;
    display: block;
    font-size: $font-size-forms-md;
    height: $input-height;
    max-width: $form-field-max-width;
    padding: $input-v-padding $input-h-padding;
    width: 100%;
}

@mixin input-border {
    background-color: $background-colour-base;
    border: $form-border-base;
    border-radius: $form-border-radius;
    transition: border-colour;
}

@mixin input-border--focus {
    border-color: $font-colour-base;
    color: $font-colour-base;
    outline: none;
}

@mixin input-border--hover {
    border-color: $font-colour-base;
    color: $font-colour-base;
}

@mixin input-border--disabled {
    background-color: $grey-very-light;
    cursor: not-allowed;
    opacity: .4;
}
