// =============================================================================
//  TOOLS - FORMS
// =============================================================================

@mixin font-style-forms {
    font-size: $font-size-forms-md;
    line-height: $input-line-height;
}

@mixin placeholder {
    ::-webkit-input-placeholder {@content};
    :-moz-placeholder           {@content};
    ::-moz-placeholder          {@content};
    :-ms-input-placeholder      {@content};
}

@include placeholder {
    color: $input-placeholder-color;
}

@mixin input-styles {
    @include font-style-forms;
    width: 100%;
    height: $input-height;
    -webkit-appearance: none;
    padding: $v-spacing-xxs $input-padding;
    display: block;
    max-width: $form-field-max-width;
}

@mixin input-border {
    transition: border-color;
    background-color: $background-color-base;
    border: $form-border-base;
    border-radius: $form-border-radius;
}

@mixin input-border--focus {
    color: $font-color-base!important;
    border-color: $font-color-base;
    outline: none;
}

@mixin input-border--hover {
    color: $font-color-base!important;
    border-color: $font-color-base;
}

@mixin input-border--disabled {
    opacity: 0.4;
    cursor: not-allowed;
    background-color: $gray-very-light;
}
