// =============================================================================
//  TRUMPS - OVERRIDES
// =============================================================================

// Note: some helpers are extracted out into their own files or in the responsive trumps file

// sass-lint:disable no-important

.is-disabled,
[disabled] {
    cursor: not-allowed !important;
    opacity: $opacity-disabled;

    &:hover,
    &:focus,
    &:active {
        opacity: $opacity-disabled !important;
    }
}

.tel-link {
    &:hover {
        cursor: default;
        opacity: 1;
    }
}

.clear,
.clearfix {
    @extend %clearfix;
}

.flip-x {
    filter: FlipH;
    transform: scaleX(-1);
}

.v-align-content {
    @extend %vertical-align;
}

.clickable {
    @extend %clickable;
}

.img-resp {
    max-width: 100%;
}

.svg-dark {
    > svg {
        fill: $font-colour-base;
    }
}

.svg-light {
    > svg {
        fill: $white;
    }
}

.svg-primary {
    > svg {
        fill: $primary-colour;
    }
}
