// =============================================================================
//  TRUMPS - TYPOGRAPHY
// =============================================================================

.font-size-xs {
    @include font-size-xs;
}

.font-size-sm {
    @include font-size-sm;
}

.font-size-md {
    @include font-size-md;
}

.font-size-lg {
    @include font-size-lg;
}

.font-size-xl {
    @include font-size-xl;
}

.uppercase {
    text-transform: uppercase;
}

.lowercase {
    text-transform: lowercase;
}

.primary {
    color: $primary-colour;

    a {
        border-bottom: 2px solid $primary-colour;
    }
}

.font-regular {
    font-family: $font-weight-regular;
    font-weight: normal;
}

.color-base {
    color: $font-colour-base;
}

.color-light {
    color: $font-colour-light;
}

.color-very-light {
    color:  $font-colour-very-light;
}

.remove-link-styles {
    @extend %remove-link-styles;

    a {
        @extend %remove-link-styles;
    }
}
