// =============================================================================
//  TRUMPS - LISTS
// =============================================================================


// Removing default list styling
.list--no-style {
    @extend %remove-list-styles;
    padding-bottom: $typography-vertical-spacing;

    li {
        padding-bottom: 0;
    }
}

// Tightens up left spacing
.list--spacing-left-sm {
    padding-left: 20px;

    li {
        padding-left: 0;
    }
}

// List with primary colour tick icons instead of bullets
.list--featured--ticks {
    @include featured-icon-list($css-bg-path+'icons/tick-primary.svg');
}

// List with primary colour tick icons instead of bullets
.list--featured--ticks--lg {
    @include featured-icon-list-lg($css-bg-path+'icons/tick-primary.svg');
}

// Inline list
.list--inline {
    @extend %remove-list-styles;
    @include margin(-0.5em -1em);

    li {
        display: inline-block;
        @include padding(0.5em 1em);
    }

    &--gutter-sm {
        @include margin(null -0.5em);

        li {
            @include padding(null 0);
            @include margin(null 0.5em);
        }
    }
}

// Image lists
.list--imgs {
    @extend %remove-list-styles;

    &--inline,
    &--inline-gutter-md {
        @include margin(null rem(-10));

        li {
            display: inline-block;
            @include margin(null rem(10));
        }
    }

    &--inline-gutter-xl {
        @include margin(null rem(-25));

        li {
            display: inline-block;
            @include margin(null rem(25));
        }
    }

    &--inline-gutter-lg {
        @include margin(null rem(-20));

        li {
            display: inline-block;
            @include margin(null rem(20));
        }
    }

    &--inline-gutter-lg {
        @include margin(null rem(-15));

        li {
            display: inline-block;
            @include margin(null rem(15));
        }
    }

    &--inline-gutter-sm {
        @include margin(null rem(-5));

        li {
            display: inline-block;
            @include margin(null rem(5));
        }
    }

    &--inline-gutter-xs {
        @include margin(null rem(-2));

        li {
            display: inline-block;
            @include margin(null rem(2));
        }
    }

    &--height-xl {
        li {
            img {
                height: 150px;
            }
        }
    }

    &--height-lg {
        li {
            img {
                height: 100px;
            }
        }
    }

    &--height-md {
        li {
            img {
                height: 80px;
            }
        }
    }

    &--height-sm {
        li {
            img {
                height: 50px;
            }
        }
    }

    &--height-xs {
        li {
            img {
                height: 40px;
            }
        }
    }
}
