// =============================================================================
//  TRUMPS - SPACING HELPERS
// =============================================================================

$spacings: (
    'none': 0,
    'xxs': $space-xxs,
    'xs': $space-xs,
    'sm': $space-sm,
    'md': $space-md,
    'lg': $space-lg,
    'xl': $space-xl
);

@each $size, $value in $spacings {
    .m-#{$size} {
        margin: $value!important;
    }
    .m-t-#{$size} {
        margin-top: $value!important;
    }
    .m-r-#{$size} {
        margin-right: $value!important;
    }
    .m-b-#{$size} {
        margin-bottom: $value!important;
    }
    .m-l-#{$size} {
        margin-left: $value!important;
    }
    .m-h-#{$size} {
        margin-right: $value!important;
        margin-left: $value!important;
    }
    .m-v-#{$size} {
        margin-top: $value!important;
        margin-bottom: $value!important;
    }
    .p-#{$size} {
        padding: $value!important;
    }
    .p-t-#{$size} {
        padding-top: $value!important;
    }
    .p-r-#{$size} {
        padding-right: $value!important;
    }
    .p-b-#{$size} {
        padding-bottom: $value!important;
    }
    .p-l-#{$size} {
        padding-left: $value!important;
    }
    .p-h-#{$size} {
        padding-right: $value!important;
        padding-left: $value!important;
    }
    .p-v-#{$size} {
        padding-top: $value!important;
        padding-bottom: $value!important;
    }
}
