// =============================================================================
//  TRUMPS - LISTS
// =============================================================================


// Removing default list styling
.list--no-style {
    @extend %remove-list-styles;
    padding-bottom: $typography-v-spacing;

    li {
        padding-bottom: 0;
    }
}

// Tightens up left spacing
.list--spacing-left-sm {
    padding-left: $list-l-spacing / 3;

    li {
        padding-left: 0;
    }
}

// List with primary colour tick icons instead of bullets
.list--featured--ticks {
    @include featured-icon-list($css-bg-path+'icons/tick-primary.svg');
}

// List with primary colour tick icons instead of bullets
.list--featured--ticks--lg {
    @include featured-icon-list-lg($css-bg-path+'icons/tick-primary.svg');
}

// Inline list
.list--inline {
    @extend %remove-list-styles;
    margin: (-$list-inline-v-spacing) (-$list-inline-gutter);

    li {
        display: inline-block;
        padding: $list-inline-v-spacing $list-inline-gutter;
    }

    &--gutter-sm {
        @include margin(null (-$list-inline-gutter-sm));

        li {
            @include margin(null $list-inline-gutter-sm);
            @include padding(null 0);
        }
    }
}

// Image lists
.list--imgs {
    @extend %remove-list-styles;

    &--inline,
    &--inline-gutter-md {
        @include inline-list-gutter($img-list-inline-gutter-md);
    }

    &--inline-gutter-xl {
        @include inline-list-gutter($img-list-inline-gutter-xl);
    }

    &--inline-gutter-lg {
        @include inline-list-gutter($img-list-inline-gutter-lg);
    }

    &--inline-gutter-sm {
        @include inline-list-gutter($img-list-inline-gutter-sm);
    }

    &--inline-gutter-xs {
        @include inline-list-gutter($img-list-inline-gutter-xs);
    }

    &--inline-gutter-xxs {
        @include inline-list-gutter($img-list-inline-gutter-xxs);
    }
}
