// =============================================================================
//  TRUMPS - OVERRIDES
// =============================================================================

// Note: some helpers are extracted out into their own files or in the responsive trumps file

.is-disabled {
    cursor: not-allowed;
    opacity: 0.5;
}

.tel-link {
    &:hover {
        opacity: 1;
        cursor: default;
    }
}

.clear,
.clearfix {
    @extend %clearfix;
}

.flip-x {
    transform: scaleX(-1);
    filter: FlipH;
}

.v-align-content {
    @extend %vertical-align;
}

.clickable {
    @extend %clickable;
}

.img-resp {
    max-width: 100%;
}
