// =============================================================================
//  TRUMPS - HELPERS
// =============================================================================

// sass-lint:disable no-important

// For fields with disabled attribute or .is-disabled class
.is-disabled,
[disabled] {
    cursor: not-allowed !important;
    opacity: $opacity-disabled;

    &:hover,
    &:focus,
    &:active {
        opacity: $opacity-disabled !important;
    }
}

// Apply clearfix styles with classes .clearfix or .clear
.clear,
.clearfix {
    @extend %clearfix;
}

// Flip element horizontally
.flip-h {
    filter: FlipH;
    transform: scaleX(-1);
}

// Flip element vertically
.flip-v {
    filter: FlipV;
    transform: scaleY(-1);
}

// Uses display flex to vertically align content
.v-align-content {
    @extend %v-align;
}

// Styles element to appear clickable
.clickable {
    @extend %clickable;
}
