// =============================================================================
//  TRUMPS - BORDERS
// =============================================================================

// sass-lint:disable no-important

.b {
    // Base border
    &-base {
        border: $border-base;
    }

    &-t-base {
        border-top: $border-base;
    }

    &-b-base {
        border-bottom: $border-base;
    }

    // Thin border
    &-thin {
        border: $border-thin;
    }

    &-t-thin {
        border-top: $border-thin;
    }

    &-b-thin {
        border-bottom: $border-thin;
    }

    // No border
    &-none {
        border: 0 !important;
    }

    &-t-none {
        border-top: 0 !important;
    }

    &-b-none {
        border-bottom: 0 !important;
    }

    // Border radius
    &-radius {
        border-radius: $border-radius-base;
    }
}
