// =============================================================================
//  TRUMPS - POSITIONS
// =============================================================================

// sass-lint:disable no-important

// Position properties
.pos-sta {
    position: static !important;
}

.pos-rel {
    position: relative !important;
}

.pos-abs {
    position: absolute !important;
}

.pos-fix {
    position: fixed !important;
}

// Pinning an element in each corner
.pin-all {
    @include position(null, 0 0 0 0);
}

.pin-top-right {
    @include position(null, 0 0 auto auto);
}

.pin-bottom-right {
    @include position(null, auto 0 0 auto);
}

.pin-top-left {
    @include position(null, 0 auto auto 0);
}

.pin-bottom-left {
    @include position(null, auto auto 0 0);
}

// z-indexes
.z-index-1 {
    z-index: 1 !important;
}

.z-index-2 {
    z-index: 2 !important;
}

.z-index-3 {
    z-index: 3 !important;
}

.z-index-4 {
    z-index: 4 !important;
}

.z-index-5 {
    z-index: 5 !important;
}

.z-index-10 {
    z-index: 10 !important;
}

.z-index-20 {
    z-index: 20 !important;
}

.z-index-30 {
    z-index: 30 !important;
}

.z-index-40 {
    z-index: 40 !important;
}

.z-index-50 {
    z-index: 50 !important;
}

.z-index-99 {
    z-index: 99 !important;
}
