// =============================================================================
//  TRUMPS - BACKGROUNDS
// =============================================================================

.bg-white {
    background-color: $white;
    color: $font-color-base;
}

// Greys
.bg-very-light-gray {
    background-color: $gray-very-light;
}

.bg-light-gray {
    background-color: $gray-light;
}

.bg-gray {
    background-color: $gray;
    color: $white;
}

.bg-dark-gray {
    background-color: $gray-dark;
    color: $white;
}

.bg-very-dark-gray {
    background-color: $gray-very-dark;
    color: $white;
}

// Colours
.bg-primary {
    background-color: $primary-color;
    color: $white;
}

.bg-sky-blue {
    background-color: $sky-blue;
}

// Cover and overlays
.bg-img-cover {
    background-position: center center;
    background-size: cover;
}

.bg-img-overlay {
    color: $white;
    position: relative;
    z-index: 0;

    &::after {
        @include position(absolute, 0 0 0 0);
        background-color: $gray-dark;
        content: '';
        height: 100%;
        opacity: .65;
        width: 100%;
        z-index: -1;
    }

    &--black {

        &::after {
            background-color: $black;
            opacity: .55;
        }
    }
}
