// =============================================================================
//	ACCORDION
// =============================================================================

.accordion {
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	&.grid-row .grid-col-4 {
		@include margin(0 null);
	}
	@include font-style-small;
	dt {
		font-weight: $font-weight-bold;
		border-bottom: $border-thin;
		position: relative;
		cursor: pointer;
		@include padding(10px 0);
		.plus-minus-toggle {
			@include position(absolute, 0 0 null null);
		}
		&.is-open {
			+ dd {
				@include slideDownActive(1s, 300px);
			}
		}
	}
	dd {
		@include slideDownCollapsed(1s);
		margin: 0;
		.accordion__item-content {
			@include padding(10px null);
		}
	}
	&--only-mobile {
		@include medium-and-up {
			dt {
				border-bottom: none;
				padding: 0;
				cursor: default;
				.plus-minus-toggle {
					display: none;
				}
			}
			dd {
				@include slideDownActive(1s, 300px);
			}
		}
	}
	&--featured {
		@include font-style-base;
		dt {
			font-weight: $font-weight-regular;
			@include padding(40px null 40px 60px);
			border-bottom: none;
			.plus-minus-toggle {
				@include position(absolute, 36px auto null 0);
			}
		}
		dd {
			padding-left: 60px;
			border-bottom: $border-thin;
			.accordion__item-content {
				margin-bottom: 40px;
				padding: 0;
			}
			&:last-child {
				border-bottom: none;
			}
		}
	}
}
