// =============================================================================
//  BASKET
// =============================================================================

$floating-basket-horizontal-padding: 15px;

// Shared basket content
.basket-content {
	&__items {
		@include remove-list-styles;
		@include padding(8px null);
	}
	&__item {
		@include clearfix;
		margin-bottom: 10px;
		&:last-child {
			margin-bottom: 0;
		}
		&__thumb {
			float: left;
			width: 40px;
			margin-right: 5px;
		}
		&__title {
			padding-top: 8px;
			width: calc(100% - 90px);
			margin-right: 5px;
			float: left;
			&__main {
				@include font-small;
				font-weight: $font-weight-bold;
				padding-bottom: 3px;
			}
			&__sub {
				@include font-tiny;
				font-size: 10px;
			}
		}
		&__extra {
			clear: both;
			padding-top: 10px;
			margin-bottom: 10px;
			p {
				@include font-small;
				font-weight: $font-weight-bold;
			}
		}
		&__price {
			padding-top: 8px;
			width: 40px;
			float: left;
			text-align: right;
			@include font-small;
			font-weight: $font-weight-bold;
		}
	}
}
// Shared basket total
.basket-total {
	@include clearfix;
	padding-top: 10px;
	p {
	 	font-weight: $font-weight-bold;
	 	padding-bottom: 0;
	}
	&__title {
		float: left;
	}
	&__value {
		float: right;
	}
}


// Floating basket
.floating-basket-wrapper {
	position: relative;
	z-index: 100;
}

.floating-basket {
	@include position(absolute, 0 0 null null);
	background-color: white;
	width: 250px;
	&__header {
		position: relative;
		display: block;
		background-color: $gray-very-dark;
		min-height: 45px;
		@include padding(0 $floating-basket-horizontal-padding);
		&:hover,
		&:active,
		&:focus {
			opacity: 1;
		}
	}
	&__toggle-icon {
		display: block;
		height: 16px;
		@include position(absolute, 17px 15px null null);
		&:before {
			content: '';
			@include svg-bg-cheveron($primary-color);
			background-size: cover;
			width: 16px;
			height: 16px;
		}
	}
	&__title {
		color: white;
		padding-top: 14px;
		padding-bottom: 0;
	}
	&__items-num {
		@include position(absolute, 10px 50px null null);
		color: white;
		display: inline-block;
		background-color: $primary-color;
		border-radius: 50%;
		text-align: center;
		width: rem(25);
		height: rem(25);
		font-size: rem(16);
		line-height: rem(23);
		font-weight: $font-weight-bold;
	}
	.basket-content {
		border-right: $border-base;
		border-left: $border-base;
		@include padding(null $floating-basket-horizontal-padding);
		&__items {
			@include padding(20px null);
		}
	}
	.basket-total {
		border-bottom-right-radius: $border-radius-base;
		border-bottom-left-radius: $border-radius-base;
		border-right: $border-base;
		border-bottom: $border-base;
		border-left: $border-base;
		@include padding(10px $floating-basket-horizontal-padding);
	}
}
