// =============================================================================
//  BASKET
// =============================================================================

$floating-basket-horizontal-padding: 1.5rem;

// Shared basket content
.basket-content {
	&__items {
		@include padding(0.8rem null);
	}
	&__item {
		@include clearfix;
		margin-bottom: 1rem;
		&:last-child {
			margin-bottom: 0;
		}
		&__thumb {
			float: left;
			width: 4rem;
			margin-right: 0.5rem;
		}
		&__title {
			padding-top: 0.8rem;
			width: calc(100% - 9rem);
			margin-right: 0.5rem;
			float: left;
			&__main {
				@include font-small;
				font-family: $font-family-bold;
				padding-bottom: 0.3rem;
			}
			&__sub {
				@include font-tiny;
				font-size: 1rem;
			}
		}
		&__extra {
			clear: both;
			padding-top: 1rem;
			margin-bottom: 1rem;
			p {
				@include font-small;
				font-family: $font-family-bold;
			}
		}
		&__price {
			padding-top: 0.8rem;
			width: 4rem;
			float: left;
			text-align: right;
			@include font-small;
			font-family: $font-family-bold;
		}
	}
}
// Shared basket total
.basket-total {
	@include clearfix;
	padding-top: 1rem;
	p {
	 	font-family: $font-family-bold;
	 	padding-bottom: 0;
	}
	&__title {
		float: left;
	}
	&__value {
		float: right;
	}
}


// Floating basket
.floating-basket-wrapper {
	position: relative;
	.floating-basket {
		@include position(absolute, 0 0 null null);
		background-color: white;
		width: 25rem;
		&__header {
			position: relative;
			display: block;
			background-color: $gray-very-dark;
			height: 4.5rem;
			@include padding(0 $floating-basket-horizontal-padding);
			&:hover,
			&:active,
			&:focus {
				opacity: 1;
			}
		}
		&__toggle-icon {
			display: block;
			@include iconfont('cheveron');
			height: 1.6rem;
			@include position(absolute, 1.7rem 1.5rem null null);
			&:before {
				@include iconfont-styles;
			}
		}
		&__title {
			color: white;
			padding-top: 1.4rem;
			padding-bottom: 0;
		}
		&__items-num {
			@include position(absolute, 1rem 5rem null null);
			color: white;
			display: inline-block;
			background-color: $primary-color;
			border-radius: 50%;
			text-align: center;
			width: 2.5rem;
			height: 2.5rem;
			font-size: 1.6rem;
			line-height: 2.3rem;
			font-family: $font-family-bold;
		}
		.basket-content {
			border-right: $border-base;
			border-left: $border-base;
			@include padding(null $floating-basket-horizontal-padding);
			&__items {
				@include padding(2rem null);
			}
		}
		.basket-total {
			border-bottom-right-radius: $border-radius-base;
			border-bottom-left-radius: $border-radius-base;
			border-right: $border-base;
			border-bottom: $border-base;
			border-left: $border-base;
			@include padding(1rem $floating-basket-horizontal-padding);
		}
	}
}
