// =============================================================================
//	CARDS
// =============================================================================

.card {
	display: block;
	overflow: hidden;
	background-color: white;
	border-radius: $border-radius-base;
	border: 2px solid $gray-keyline-very-light;
	color: $font-color-base;
	@include padding(2rem);

	hr {
		@include margin(1rem null);
		opacity: 0.5;
	}
	p, h1, h2, h3, h4, h5, h6 {
		& + hr {
			margin-top: 0.5rem;
		}
	}
	&--more-pad {
		@include padding(4rem 3rem);
	}
	&--centered {
		text-align: center;
		hr {
			@include margin(null 20%);
		}
	}
	&--highlight {
		border: solid $primary-color 2px;
	}
	&:not(.card--standout-sash) {
		.card__recommended span {
			display: none;
		}
	}
	&--standout,
	&--standout-sash {
		background-color: $gray-very-light;
		border-color: $gray-keyline;
		.card__recommended {
			position: relative;
			span {
				@include font-base;
				display: block;
				color: $primary-color;
				font-family: $font-family-bold;
				margin-bottom: -2rem;
			}
		}
	}
	&--sash,
	&--standout-sash {
		position: relative;
		@include iconfont('star');
		&:before {
			@include iconfont-styles;
			font-size: 1.1rem;
			z-index: 1;
			text-align: center;
			line-height: 1.7;
			width: 1.5rem;
			@include position(absolute, 0 0 null null);
			color: white;
		}
		&:after {
			content: '';
			@include position(absolute, 0 0 null null);
			width: 0;
			height: 0;
			border-style: solid;
			border-width: 0 30px 30px 0;
			border-color: transparent $primary-color transparent transparent;
		}
	}
	&--informative {
		border: $border-base;
		@include padding(3rem);
		hr { opacity: 1; }
	}
	&--very-light-gray {
		background-color: $gray-very-light;
		hr { opacity: 1; }
	}
}

.card-set-standout {
	@media only screen and (min-width: $medium-screen) {
		.grid-row {
			@include margin(0.7rem null);
		}
		.card--standout,
		.card--standout-sash {
			transform: scale(1.07, 1.07);
		}
	}
}
.cards-same-height {
	.card {
		min-height: calc(100% - 4rem);
		&--more-pad {
			min-height: calc(100% - 8rem);
		}
	}
}