// =============================================================================
//	CAROUSEL
// =============================================================================

.carousel-section {
	@include padding(40px null);
	overflow: hidden;
}
.reviews-from-text {
	display: none;
	@include small-and-up {
		display: inline-block;
		padding-right: 5px;
	}
}
.reviews-logo img {
	width: 130px;
	position: relative;
	top: 6px;
}
.carousel-wrap {
	@include margin(30px auto);
	max-width: $max-width-text-wide;
	@include horizontal-spacing;
	width: 80%;
	position: relative;

	&--reviews {
		margin-top: 60px;
		.circle-icon--large-resp {
			@include position(absolute, -20px null null 50%);
			z-index: 1;
			margin-left: -20px;
			@include medium-and-up {
				top: -30px;
				margin-left: -30px;
			}
			&:hover,
			&:active,
			&:focus {
				opacity: 1;
			}
		}
		.slick-slide {
			padding-top: 20px;
		}
		.stars-list {
			margin-top: 10px;
		}
	}
}

.slick-slider {
	.slick-list {
		border-radius: $border-radius-base;
		background-color: white;
		.slick-slide {
			.slick-slide--content {
				position: relative;
				color: $font-color-base;
				@include padding(20px);
				min-height: 20px;
				h3 {
					color: $primary-color;
				}
			}
		}
	}
}

.stars-list {
	li {
		display: inline-block;
		&:before {
			content: '';
			display: block;
			@include svg-bg-star($primary-color);
			background-size: cover;
			width: 20px;
			height: 20px;
		}
	}
}

.slick-arrow {
	@include hide-text-not-pseudo;
	display: block;
	width: 25px;
	@include position(absolute, 50% null null null);
	margin-top: -15px;
	z-index: 2;
	padding: 0;
	&:before {
		display: inline-block;
		content: '';
		@include svg-bg-cheveron(white);
		background-repeat: no-repeat;
		background-size: cover;
		height: 25px;
		width: 25px;
		margin: 0 auto;
	}
	&.slick-prev {
		right: -30px;
		@include medium-and-up {
			right: -50px;
		}
		&:before {
			transform: rotate(-90deg);
		}
	}
	&.slick-next {
		left: -30px;
		@include medium-and-up {
			left: -50px;
		}
		&:before {
			transform: rotate(90deg);
		}
	}
}

.slick-dots {
	width: 100%;
	height: 20px;
	@include position(absolute, null null -40px 0);
	li {
		display: inline-block;
		@include padding(null 5px);
		button {
			width: 12px;
			height: 12px;
			border-radius: 50%;
			background-color: white;
			text-indent: -9999px;
		}
		&.slick-active {
			button {
				background-color: $primary-color;
			}
		}
	}
}