// =============================================================================
//	CAROUSEL
// =============================================================================

.carousel-section {
	@include padding(4rem null);

	.reviews-from-text {
		display: none;
		@include media($small) {
			display: inline-block;
			padding-right: 0.5rem;
		}
	}
	.reviews-logo img {
		width: 13rem;
		position: relative;
		top: 6px;
	}
}
.carousel-wrap {
	@include margin(3rem auto);
	max-width: $max-width-text-wide;
	@include horizontal-spacing;
	width: 90%;
	position: relative;

	&--reviews {
		margin-top: 6rem;
		.circle-icon--large-resp {
			@include position(absolute, -2rem null null 50%);
			z-index: 1;
			margin-left: -2rem;
			@include media($medium) {
				top: -3rem;
				margin-left: -3rem;
			}
			&:hover,
			&:active,
			&:focus {
				opacity: 1;
			}
		}
		.slick-slide {
			padding-top: 2rem;
		}
		.stars-list {
			margin-top: 1rem;
		}
	}
}

.slick-slider {
	.slick-list {
		border-radius: $border-radius-base;
		background-color: white;
		.slick-slide {
			.slick-slide--content {
				position: relative;
				color: $font-color-base;
				@include padding(2rem);
				min-height: 20rem;
				h3 {
					color: $primary-color;
				}
			}
		}
	}
}

.stars-list {
	li {
		display: inline-block;
		@include iconfont('star');
		&:before {
			@include iconfont-styles;
			font-size: 2.5rem;
			color: $primary-color;
		}
	}
}

.slick-arrow {
	@include hide-text-not-pseudo;
	@include iconfont('cheveron');
	display: block;
	width: 5rem;
	@include position(absolute, 50% null null null);
	margin-top: -1.5rem;
	z-index: 2;
	&:before {
		@include iconfont-styles;
		margin: 0;
		font-size: 2.5rem;
		color: white;
	}
	&.slick-prev {
		right: -4.5rem;
		@include media($medium) {
			right: -8rem;
		}
		&:before {
			transform: rotate(-90deg);
		}
	}
	&.slick-next {
		left: -4.5rem;
		@include media($medium) {
			left: -8rem;
		}
		&:before {
			transform: rotate(90deg);
		}
	}
}

.slick-dots {
	width: 100%;
	height: 2rem;
	@include position(absolute, null null -4rem 0);
	li {
		display: inline-block;
		@include padding(null 0.5rem);
		button {
			width: 1.2rem;
			height: 1.2rem;
			border-radius: 50%;
			background-color: white;
			text-indent: -9999px;
		}
		&.slick-active {
			button {
				background-color: $primary-color;
			}
		}
	}
}