// =============================================================================
//	CARDS
// =============================================================================

$card-padding-base: 20px;

.card {
	display: block;
	background-color: white;
	border-radius: $border-radius-base;
	border: $border-thin-dark;
	color: $font-color-base;
	box-shadow: $box-shadow-subtle;
	@include padding($card-padding-base);
	&.rich-text {
		ul {
			padding-left: 20px;
			li {
				padding-left: 0;
			}
		}
		hr {
			@include margin(20px null);
		}
	}
	&--options {
		position: relative;
		&:before {
			content: '';
			@include position(absolute, -6px null null -1px);
			z-index: -1;
			width: calc(100% + 2px);
			height: 10px;
			border-top-right-radius: $border-radius-base;
			border-top-left-radius: $border-radius-base;
			background-color: $gray-keyline-very-light;
		}
		&--recommended {
			&:before {
				background-color: $primary-color;
			}
		}
	}
	&--more-pad {
		@include padding(40px 30px);
	}
	&--centered {
		text-align: center;
		hr {
			@include margin(null 20%);
		}
	}
	&--highlight {
		border: solid $primary-color 2px;
	}
	&--informative {
		border: $border-base;
		@include padding(30px);
		hr { opacity: 1; }
	}
	&--very-light-gray {
		background-color: $gray-very-light;
		hr { opacity: 1; }
	}
}

.cards-same-height {
	.card {
		min-height: calc(100% - 40px);
		&--more-pad {
			min-height: calc(100% - 80px);
		}
	}
}