// =============================================================================
//  ELECTRICITY METER
// =============================================================================

.electricity-meter {
	@include clearfix;
	border: $form-border-base;
	border-radius: $form-border-radius;
	background-color: $form-keyline;
	box-sizing: border-box;

	&__s {
		float: left;
		width: 20%;
		height: rem(120);
		background-color: white;
		border: $form-border-base;
		box-sizing: border-box;
		border-top-left-radius: $form-border-radius;
		border-bottom-left-radius: $form-border-radius;
		font-weight: $font-weight-bold;
		font-size: rem(50);
		text-align: center;
		line-height: rem(110);
	}
	&__inputs {
		float: left;
		width: 80%;
		box-sizing: border-box;
	}
	&__row {
		box-sizing: border-box;
		@include clearfix;
		input {
			height: rem(60);
			line-height: rem(60);
			font-size: rem(20);
			border-radius: 0;
			float: left;
			text-align: center;
			width: calc(100% / 3);

			&[readonly] {
				&:hover,
				&:focus,
				&:active {
					border-color: $form-keyline;
				}
			}
		}
		&:last-child {
			input:nth-child(1) {
				width: calc(100% / 4);
			}
			input:nth-child(2) {
				width: calc(100% / 2);
			}
			input:nth-child(3) {
				width: calc(100% / 4);
			}
		}
	}
}
