// =============================================================================
//  EV MAP
// =============================================================================

@keyframes rotate {
	from {
		-webkit-transform: rotate(0deg);
	}
	to {
		-webkit-transform: rotate(360deg);
	}
}
@keyframes bulge-appear {
	from {
		-ms-transform: scale(0.1, 0.1);
		-webkit-transform: scale(0.1, 0.1);
	}
	to {
		-ms-transform: scale(1, 1);
		-webkit-transform: scale(1, 1);
	}
}

@keyframes fade-out {
	0%   { opacity: 1; }
	92%  { opacity: 1; }
	100% { opacity: 0; }
}

.ev-map-section {
	.container {
		overflow: hidden;
		.grid-wrap {
			position: relative;
			z-index: 1;
		}
	}
}

.ev-map-wrap {
	display: block;
	&__markers {
		@include position(absolute, 50% null null 61%);
	}
	&__labels {
		float: left;
		text-align: left;
		margin-left: 10px;
		width: 250px;
	}
	&__rotate {
		animation-name: rotate;
        animation-duration: 20s;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
        svg {
        	width: 100%!important;
        	height: auto!important;
        }
	}
	&__bulge-appear {
		animation-name: bulge-appear;
        animation-duration: 0.5s;
        animation-iteration-count: 1;
        animation-timing-function: linear;
	}
	&__fade-out {
		animation-name: fade-out;
		animation-duration: 6s;
		animation-iteration-count: 1;
		animation-timing-function: linear;
	}
	&__pulse {
		float: left;
		width: 100px;
	}
}

.ev-map {
	display: block;
	z-index: 0;
	@include position(absolute, 0 -20% null auto);
	@include medium-and-down {
		display: none;
	}
	@include medium-and-up {
		right: 10%;
	}
	@include large-and-up {
		right: 20%;
	}
	svg {
		width: 330px;
		height: 450px;
	}
	circle {
		transform-origin: 50% 50%;
		transform: scale(1,1);
	}
	circle.gridmap-dot:hover, circle.gridmap-dot-selected {
		fill: rgb(140, 198, 63) !important;
	}
	path.arc{
		fill-opacity: 0;
		stroke: rgb(140, 198, 63);
		stroke-width: 7;
		stroke-linecap:"round";
	}
}
