// =============================================================================
//	FLIPCLOCK
// =============================================================================

@import '../../plugins/flip-counter/flip/tick';

.flip-counter-section {
  min-height: 67px;
  position: relative;
  &:after {
    content: '';
    width: 100%;
    height: 100%;
    background-color: $gray-very-dark;
    @include position(absolute, 0 0 0 0);
    z-index: 1;
    opacity: 1;
    transition: opacity 1s ease-in;
  }
  &.loaded {
    &:after {
      opacity: 0;
    }
  }
}

@mixin slideDownCollapsed($duration) {
   max-height: 0;
   transition: max-height $duration ease-out;
   overflow: hidden;
}
@mixin slideDownActive($duration, $approxHeight) {
   max-height: $approxHeight;
   transition: max-height $duration ease-in;
   overflow: hidden;
}

.tick {
    font-size: 1.5em;
    line-height: 2;
    @include margin(null -15px);
}

.tick-flip {
    line-height: 1.5;
}

.tick-flip-panel {
    color: #333;
    background:#fff;
}

.tick-group {
  @include margin(null 5px);
}

.tick-module {
  display: inline-block;
  @include margin(5px 5px);
  @include small-and-up {
    @include margin(0 5px);
  }
}

.tick-desc {
  display: block;
  @include font-small;
  font-weight: $font-weight-bold;
  text-transform: uppercase;
  @include xsmall-and-up {
    display: inline-block;
  }
}
