// =============================================================================
//	FLIPCLOCK
// =============================================================================

@import '../../plugins/flip-counter/flip/tick';


.tick {
    font-size: 1.5em;
    line-height: 2;
    @include margin(null -15px);
}

.tick-flip {
    line-height: 1.5;
}

.tick-flip-panel {
    color: #333;
    background:#fff;
}

.tick-group {
  @include margin(null 5px);
}

.tick-module {
  display: inline-block;
  @include margin(5px 5px);
  @include small-and-up {
    @include margin(0 5px);
  }
}

.tick-desc {
  display: block;
  @include font-small;
  font-weight: $font-weight-bold;
  text-transform: uppercase;
  @include xsmall-and-up {
    display: inline-block;
  }
}
