// =============================================================================
//	FOOTER
// =============================================================================

.global-footer {
	.list--links:not(.list--inline) {
		@include medium-and-up {
			li {
				margin-bottom: 10px;
				&:last-child {
					margin-bottom: 0;
				}
			}
		}
	}
	&__section-top {
		background-color: $gray-very-light;
		.list--links {
			color: $font-color-light;
		}
		.accordion dd .accordion__item-content {
			@include medium-and-up {
				@include padding(20px null 0 null);
			}
		}
		.checkout-flow & { display: none; }
		&__bottom {
			margin-top: 20px;
			text-align: center;
			.icons-list {
				width: 100%;
				display: inline-block;;
				margin-top: 20px;
				@include medium-and-up {
					margin-bottom: 12px;
				}
			}
			@include medium-and-up {
				margin-top: 0;
				text-align: right;
				display: flex;
				flex-wrap: wrap;
				flex-direction: row;
				justify-content: flex-end;
				.icons-list {
					order: 1;
					margin-top: 0;
				}
				.list--links {
					order: 2;
				}
			}
		}
	}
	&__section-bottom {
		color: white;
		background-color: $gray-very-dark;
		@include padding(20px null);
		p,
		ul {
			@include font-small;
			font-family: $font-family-bold;
		}
		.grid-row {
		.grid-col-6 {
				margin-bottom: 0;
			}
		}
		.list--inline {
			text-align: center;
			@include medium-and-up {
				text-align: left;
			}
		}
		ul {
			text-transform: uppercase;
		}
		.copyright {
			margin-top: 10px;
			text-align: center;
			@include medium-and-up {
				margin-top: 0;
				text-align: right;
			}
		}
	}
}