// =============================================================================
//	GALLERY SIMPLE
// =============================================================================

.gallery-simple {
	max-width: 300px;
	&__image {
		width: 100%;
		border-radius: $border-radius-base;
	}
	&__thumbnails {
		text-align: center;
		@include margin(20px -5px);
		padding: 0;
		li {
			list-style: none;
			width: 40px;
			display: inline-block;
			@include margin(null 5px);
			img {
				width: 100%;
				border-radius: $border-radius-base;
			}
		}
	}
}