// =============================================================================
//	HEADER
// =============================================================================

.global-header-wrap {
	position: relative;
	z-index: 100;
}

.global-header {
	@include container;
	@include clearfix;
	@media only screen and (min-width: $medium-screen) {
		height: 10rem;
	}
	&.nav-open {
		box-shadow: $bottom-shadow;
		@media only screen and (min-width: $medium-screen) {
			box-shadow: none;
		}
	}
	&__content {
		position: relative;
		height: 6rem;
		@media only screen and (min-width: $medium-screen) {
			height: auto;
			border-bottom: none;
		}
	}
}

.logo-main {
	width: 10rem;
	@include position(absolute, 2rem null null 0);
	@media only screen and (min-width: $medium-screen) {
		top: 3rem;
		width: 14rem;
	}
	@media only screen and (min-width: $large-screen) {
		width: 18rem;
	}
}

.navicon {
	margin-top: 2rem;
	float: right;
	@media only screen and (min-width: $medium-screen) {
		display: none;
	}
}