// =============================================================================
//	HEADER
// =============================================================================

.global-header-wrap {
	position: relative;
	width: 100%;
	background-color: white;
	&.is-minified {
		box-shadow: $bottom-shadow-subtle;
	}
}

.global-header {
	@include container;
	@include clearfix;
	@include medium-and-up {
		height: 9.6rem;
		.is-minified & {
			height: 5rem;
		}
	}
	&.nav-open {
		box-shadow: $bottom-shadow;
		@include medium-and-up {
			box-shadow: none;
		}
	}
	&__content {
		position: relative;
		height: 6rem;
		@include medium-and-up {
			height: auto;
			border-bottom: none;
		}
	}
}

.logo-main {
	width: 10rem;
	@include position(absolute, 2rem null null 0);
	@include medium-and-up {
		top: 2.2rem;
		width: 14rem;
		.is-minified & {
			top: 0.9rem;
			width: 12rem;
		}
	}
	@include large-and-up {
		width: 18rem;
		.is-minified & {
			width: 12rem;
		}
	}
}

.navicon {
	margin-top: 2rem;
	float: right;
	@include medium-and-up {
		display: none;
	}
	.checkout-flow & { display: none; }
}