// =============================================================================
//  STEPS INDICATOR
// =============================================================================

.steps-indicator {
	@include clearfix;
	position: relative;
	&__step {
		text-align: center;
		width: 23%;
		display: inline-block;
		z-index: 1;
		position: relative;
		p {
			display: none;
			color: $font-color-very-light;
			font-family: $font-family-bold;
			@include medium-and-up {
				display: block;
			}
		}
		&.active-step {
			svg { background-color: white; }
			.st0 { fill: $primary-color; }
		}
		&:last-child {
			margin-right: 0;
		}
	}
	&__icon {
		display: inline-block;
		width: 5rem;
		svg {
			border-radius: 50%;
			background-color: $gray-very-light;
		}
	}
	&:after {
		content: '';
		@include position(absolute, 2.4rem 17% null null);
		width: 73%;
		height: 2px;
		background-color: $font-color-very-light;
	}
}