// =============================================================================
//  STEPS INDICATOR
// =============================================================================

.steps-indicator-wrap {
	width: 100%;
	&.is-minified {
		padding-top: 5rem;
	}
}

.steps-indicator {
	@include clearfix;
	position: relative;
	max-width: 60rem;
	@include margin(null auto);
	&__step {
		text-align: center;
		width: 30.6%;
		display: inline-block;
		z-index: 1;
		position: relative;
		.st0 { fill: $gray; }
		.st1{ fill: $gray-very-light; }
		p {
			display: none;
			color: $gray;
			font-family: $font-family-bold;
			@include medium-and-up {
				display: block;
			}
		}
		&.active-step {
			opacity: 1;
			svg { background-color: white; }
			.st0 { fill: $primary-color; }
		}
		&:last-child {
			margin-right: 0;
		}
	}
	&__icon {
		display: inline-block;
		width: 5rem;
		svg {
			border-radius: 50%;
			background-color: $gray-very-light;
		}
	}
	&:after {
		content: '';
		@include position(absolute, 2.4rem 22% null null);
		width: 62%;
		height: 2px;
		background-color: $font-color-very-light;
	}
}

[data-page="checkout-step1"] {
	.steps-indicator {
		.steps-indicator__step {
			&:nth-child(1) {
				svg { background-color: white; }
				.st0 { fill: $primary-color; }
				p { color: $primary-color; }
			}
		}
	}
}
[data-page="checkout-step2"] {
	.steps-indicator {
		.steps-indicator__step {
			&:nth-child(2) {
				svg { background-color: white; }
				.st0 { fill: $primary-color; }
				p { color: $primary-color; }
			}
		}
	}
}
[data-page="checkout-step3"] {
	.steps-indicator {
		.steps-indicator__step {
			&:nth-child(3) {
				svg { background-color: white; }
				.st0 { fill: $primary-color; }
				p { color: $primary-color; }
			}
		}
	}
}
[data-page="checkout-step4"] {
	.steps-indicator {
		.steps-indicator__step {
			&:nth-child(4) {
				svg { background-color: white; }
				.st0 { fill: $primary-color; }
				p { color: $primary-color; }
			}
		}
	}
}
