// =============================================================================
//  TICKER
// =============================================================================

.ticker-list {
	@include padding(20px null 10px null);
	margin-right: -80px;

	li {
		width: 230px;
		@include padding(null 40px null 0);
		@include margin(null 40px null 0);
		border-right: 1px solid white;
		&:last-child {
			border-right: none;
		}
	}
}
.ticker {
	display: inline-block;
	span {
		box-sizing: content-box;
		@include font-base;
		font-family: $font-family-bold;
		display: inline-block;
		background-color: white;
		color: $font-color-base;
		text-align: center;
		height: rem(20);
		min-width: rem(12);
		border: 1px solid $border-color-base;
		border-radius: 2px;
		margin-right: 2px;
		margin-bottom: 10px;
		line-height: rem(20);
		&:last-child {
			margin-right: 0;
		}
	}
}
.ticker-desc {
	display: inline-block;
	@include font-small;
	font-family: $font-family-bold;
	text-transform: uppercase;
	margin-left: 5px;
}