// =============================================================================
//  SETTINGS - ALL
// =============================================================================

@import '_settings.global';
@import '_settings.typography';
@import '_settings.palette';
@import '_settings.screen';
@import '_settings.spacing';
@import '_settings.widths';
@import '_settings.borders';
@import '_settings.shadows';
@import '_settings.forms';
