// =============================================================================
//  SETTINGS - NAVBAR
// =============================================================================

$navbar-desktop-height: 96px;
$subnav-desktop-height: 232px;
$underlay-desktop-height: $navbar-desktop-height + $subnav-desktop-height;
