// =============================================================================
//  SETTINGS - BORDERS
// =============================================================================

$border-radius-base: 5px;
$border-color-base: $gray-keyline;
$border-base: 2px solid $border-color-base;
$border-thin-dark: 1px solid $border-color-base;
$border-thin: 1px solid $gray-keyline-very-light;
