// =============================================================================
//  SETTINGS - SCREEN
// =============================================================================

$xsmall-screen: 24em;
$small-screen: 40em;
$medium-screen: 50em;
$large-screen: 68em;
$xlarge-screen: 100em;
