<section class="bg--white">
	<div class="container">
		<div class="content-block text-center">
			<h2>We are compatible with all plug-in vehicle brands</h2>
			<ul class="list--inline list--inline--small m-t-xs">
				<li><img src="assets/img/client-logos/volkswagen.png" alt=""></li>
				<li><img src="assets/img/client-logos/nissan.png" alt=""></li>
				<li><img src="assets/img/client-logos/citron.png" alt=""></li>
				<li><img src="assets/img/client-logos/peugeot.png" alt=""></li>
				<li><img src="assets/img/client-logos/hyundai.png" alt=""></li>
				<li><img src="assets/img/client-logos/tesla.png" alt=""></li>
				<li><img src="assets/img/client-logos/mitsubishi.png" alt=""></li>
				<li><img src="assets/img/client-logos/bmw.png" alt=""></li>
				<li><img src="assets/img/client-logos/mercedes-benz.png" alt=""></li>
			</ul>
		</div>
	</div>
</section>