<section class="bg--dark-gray">
	<div class="container">
		<div class="content-block">
			<h2 class="text-center text-left-md">Travel doesn't need to damage the earth</h2>
			<div class="grid-wrap">
				<div class="grid-row">
					<div class="grid-col grid-col--md-6 grid-col--md-right">
						<img class="marg-center max-width--lg" src="assets/img/illustrations/travel-doesnt-need-to-damage-the-earth.svg" alt="">
					</div>
					<div class="grid-col grid-col--md-6 text-center text-left-md">
						<div class="rich-text">
							<p>A study has shown that there are more than 9,400 premature deaths per year due to the air pollution in London.</p>
							<p>POD Point believe that travel shouldn’t damage the earth so we are helping people adopt cleaner transport in their everyday lives by building an electric vehicle charging infrastructure across the UK.</p>
						</div>
						<button class="button button--secondary m-t-xl">Find out more</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>