<section class="bg--dark-gray">
	<div class="container">
		<div class="content-block">
			<h2>Travel doesn't need to damage the earth</h2>
			<div class="grid-wrap">
				<div class="grid-row">
					<div class="grid-col grid-col--md-6 grid-col--md-right">
						<img src="assets/img/illustrations/travel-doesnt-need-to-damage-the-earth.svg" alt="">
					</div>
					<div class="grid-col grid-col--md-6">
						<p>A study has shown that there are more than 9,400 premature deaths per year due to the air pollution in London.</p>
						<p>POD Point believe that travel shouldn’t damage the earth so we are helping people adopt cleaner transport in their everyday lives by building an electric vehicle charging infrastructure across the UK.</p>
						<button class="button button--secondary pull-right">Find out more</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>