<section class="bg--light-gray">
	<div class="container rel">
		<div class="content-block">
			<div class="grid-wrap">
				<div class="grid-row">
					<div class="grid-col grid-col--md-6">
						<h2 class="text-center text-left-md">Powering EVs accross Europe</h2>
						<div class="rich-text text-center text-left-md">
							<p>The typical time to charge an electric car can take as little as 30 minutes or up to 12 hours. This depends on the size of the battery of your electric car.</p>
						</div>
						<div class="clear max-width--md marg-center marg-to-left-md m-t-lg">
							<div class="grid-row grid-row--vertical-center">
								<div class="grid-col grid-col--8">
									<img class="max-width--sm" src="assets/img/content/app-insitu.png" alt="">
								</div>
								<div class="grid-col grid-col--4">
									<a href="#"><img class="max-width--xxs m-b-sm" src="assets/img/google-play-badge.svg"/></a>
									<a href="#"><img class="max-width--xxs" src="assets/img/apple-store-badge.svg"/></a>
								</div>
							</div>
						</div>
						<div class="clear text-center text-left-md">
							<button class="button m-t-lg">Find a chargepoint</button>
						</div>
					</div>
				</div>
			</div>
			<div class="ev-map-wrap hidden">
				<div class="ev-map inline-block" id="gridmap"></div>
				<div class="ev-map-wrap__markers" id="markerHolder">
					<img id="marker" class="ev-map-wrap__pulse rotate" src="assets/img/illustrations/map-pulse.svg" alt="">
					<div id="markerText" class="ev-map-wrap__labels">
						<div id="kwBubble" class="label label--gray"><svg><use xlink:href="#general--charge"/></svg>Just charged <span id="kw"></span>kW</div>
						<div id="savingBubble" class="label"><svg><use xlink:href="#general--money"/></svg>Saved <span id="saving"></span></div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>