<section class="bg--very-light-gray">
	<div class="container">
		<div class="content-block">
			<div class="max-width-text-wider marg-center">
				<div class="grid-row grid-row--vertical-center m-b-none">
					<div class="grid-col grid-col--md-4 grid-col--md-right grid-col--no-space--md">
						<img class="max-width--sm marg-center" src="assets/img/illustrations/how-to-charge.svg" alt="">
					</div>
					<div class="grid-col grid-col--md-8 text-center text-left-md m-b-none">
						<div class="rich-text">
							<h3>How do I charge my car?</h3>
							<p>Charging an electric car at home costs around £3.00 for a full charge. The average overnight electricity rate is 10p per kWh, which means charging your car for as little as 2p per mile.</p>
						</div>
						<a href="#" class="button button--secondary m-t-md">Read more</a>
					</div>
				</div>
				<div class="divider--steps divider--steps--flipped"></div>
				<div class="grid-row grid-row--vertical-center m-b-none">
					<div class="grid-col grid-col--md-4 grid-col--no-space--md">
						<img class="max-width--sm marg-center" src="assets/img/illustrations/how-long-to-charge.svg" alt="">
					</div>
					<div class="grid-col grid-col--md-8 text-center text-left-md m-b-none">
						<div class="rich-text">
							<h3>How long will my EV take to charge?</h3>
							<p>The typical time to charge an electric car can take as little as 30 minutes or up to 12 hours. This depends on the size of the battery of your electric car and the speed of the charging point.</p>
						</div>
						<a href="#" class="button button--secondary m-t-md">Read more</a>
					</div>
				</div>
				<div class="divider--steps"></div>
				<div class="grid-row grid-row--vertical-center m-b-none">
					<div class="grid-col grid-col--md-4 grid-col--md-right grid-col--no-space--md">
						<img class="max-width--sm marg-center" src="assets/img/illustrations/how-much-will-it-cost.svg" alt="">
					</div>
					<div class="grid-col grid-col--md-8 text-center text-left-md m-b-none">
						<div class="rich-text">
							<h3>How much will it cost?</h3>
							<p>Charging an electric car at home costs around £3.00 for a full charge. The average overnight electricity rate is 10p per kWh, which means charging your car for as little as 2p per mile.</p>
						</div>
						<a href="#" class="button button--secondary m-t-md">Read more</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

