<section class="bg--white">
	<div class="container">
		<div class="content-block">
			<div class="grid-wrap">
				<div class="grid-row">
					<div class="grid-col grid-col--md-6 grid-col--separator grid-col--md-separator">
						<h2 class="text-center text-left-md">How long will my EV take to charge?</h2>
						<div class="grid-wrap">
							<div class="grid-row">
								<div class="grid-col grid-col--lg-6 grid-col--lg-right">
									<img class="marg-center max-width--md" src="assets/img/illustrations/how-long-to-charge.svg" alt="">
								</div>
								<div class="grid-col grid-col--lg-6">
									<div class="rich-text text-center text-left-md">
										<p>The typical time to charge an electric car can take as little as 30 minutes or up to 12 hours. This depends on the size of the battery of your electric car and the speed of the charging point.</p>
										<p>Select your model below to find out how long it will take to charge your EV.</p>
									</div>
									<div class="m-t-lg block">
										<div data-js-module="selectDropdown" class="select-dd-wrapper marg-center marg-to-left-md">
											<select>
												<option value="00">00</option>
												<option selected value="01">01</option>
												<option value="02">02</option>
											</select>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="text-center text-left-md">
							<button class="button button--secondary">Read more</button>
						</div>
					</div>
					<div class="grid-col grid-col--md-6">
						<h2 class="text-center text-left-md">How much will it cost?</h2>
						<div class="grid-wrap">
							<div class="grid-row">
								<div class="grid-col grid-col--lg-6 grid-col--lg-right">
									<img class="marg-center max-width--md" src="assets/img/illustrations/how-much-will-it-cost.svg" alt="">
								</div>
								<div class="grid-col grid-col--lg-6">
									<div class="rich-text text-center text-left-md">
										<p>As a new electric car owner, the first question you would ask is how much does it cost to charge my EV?</p>
										<p>Charging an electric car at home costs around £3.00 for a full charge. The average overnight electricity rate is 10p per kWh, which means charging your car for as little as 2p per mile.</p>
									</div>
								</div>
							</div>
						</div>
						<div class="text-center text-left-md">
							<button class="button button--secondary">Read more</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>