<section class="bg--dark-gray block hidden-md flip-counter-section">
	<div class="container">
		<div class="content-block content-block--strip text-center">
			<div class="tick-group inline-block">
				<div class="tick-module" data-js-module="flipCounter" data-stat="5913859"></div><span class="tick-desc">kwh of energy transferred</span>
			</div>
	    </div>
	</div>
</section>

