<section class="bg--very-dark-gray block hidden-md">
	<div class="container">
		<div class="content-block content-block--strip text-center">
			<div data-js-module="flipCounter">
				<div class="tick"
					data-value="miles:23655438, energy:5913859, co2:2365"
					data-did-init="handleTickInit">

					<span class="tick-group" data-repeat="true" data-key="miles"><span data-view="flip"></span></span> <span class="tick-group__desc">miles of charging</span>

				</div>
		    </div>
		</div>
	</div>
</section>