<section class="bg--very-dark-gray flip-counter-section">
	<div class="container">
		<div class="content-block content-block--strip text-center">
			<div class="tick-group inline-block">
				<div class="tick-module" data-js-module="flipCounter" data-stat="2365"></div><span class="tick-desc">tonnes of CO2 saved</span>
			</div>
			<div class="tick-group hidden inline-block-md">
				<div class="tick-module" data-js-module="flipCounter" data-stat="5913859"></div><span class="tick-desc">kwh of energy transferred</span>
			</div>
			<div class="tick-group hidden inline-block-lg">
				<div class="tick-module" data-js-module="flipCounter" data-stat="23655438"></div><span class="tick-desc">miles of charging</span>
			</div>
	    </div>
	</div>
</section>

