<section class="bg--very-dark-gray block hidden-md">
	<div class="container">
		<div class="content-block content-block--strip text-center">
			<div>
				<div class="tick"
					data-value="miles:23655438, energy:5913859, co2:2365"
					data-did-init="handleTickInit">

                   	<span class="tick-group" data-repeat="true" data-key="co2"><span data-view="flip"></span></span> <span class="tick-group__desc">tonnes of CO2 saved</span>
				</div>
		    </div>
		</div>
	</div>
</section>