<style>
	.hero { background-image: url(assets/img/backgrounds/home-hero/home-hero-bg-500.jpg); }
	@media (min-width: 480px) {
		.hero { background-image: url(assets/img/backgrounds/home-hero/home-hero-bg-800.jpg); }
	}
	@media (min-width: 820px) {
		.hero { background-image: url(assets/img/backgrounds/home-hero/home-hero-bg-1100.jpg); }
	}
	@media (min-width: 1280px) {
		.hero { background-image: url(assets/img/backgrounds/home-hero/home-hero-bg-1300.jpg); }
	}
</style>

<section class="hero hero--home bg--img-cover bg--very-dark-gray rel">
	<div class="container">
		<div class="content-block content-block--standout v-align-content">
			<div class="hero__content marg-center text-center">
				<h1>POD Point believes travel shouldn’t damage the earth</h1>
				<div class="rich-text font-style-large">
					<p>That’s why we’re building the infrastructure needed for the mass adoption of electric vehicles.</p>
				</div>
			</div>
		</div>
	</div>
	<img class="network-right" src="assets/img/illustrations/home-hero-network-right.svg" alt="">
	<img class="network-left" src="assets/img/illustrations/home-hero-network-left.svg" alt="">
</section>