<section class="bg--light-gray rel">
	<div class="container">
		<div class="content-block content-block--standout">
			<div class="max-width-text-narrow marg-center text-center">
				<h2>POD Point believes travel shouldn’t damage the earth</h2>
				<div class="rich-text font-style-large">
					<p>That’s why we’re building the infrastructure needed for the mass adoption of electric vehicles.</p>
				</div>
			</div>
		</div>
	</div>
	<img class="abs-top-right max-width--xl" src="assets/img/illustrations/home-hero-network.svg" alt="">
	<img class="abs-top-left max-width--xl" src="assets/img/illustrations/home-hero-network.svg" alt="">
</section>
