<section class="bg--very-light-gray">
	<div class="container">
		<div class="content-block">
			<div class="select-dd-inline-wrap select-dd-inline-wrap--heading">
				<h1 class="h1 select-dd-inline-wrap__text">I am interested in </h1>
				<div data-js-module="selectDropdown" class="select-dd-wrapper select-dd-wrapper--alternative select-dd-wrapper--alternative--h1">
					<select>
						<option selected value="home-charging">Home Charging</option>
						<option value="workplace-charging">Workplace Charging</option>
						<option value="commercial-charging">Commercial Charging</option>
					</select>
				</div>
			</div>
			<div class="grid-wrap">
				<div class="grid-row">
					<div class="grid-col grid-col--md-6 grid-col--md-full-width grid-col--lg-right">
						<img src="assets/img/illustrations/hero-home-charging.svg" alt="">
					</div>
					<div class="grid-col grid-col--md-6 grid-col--md-full-width">
						<div class="rich-text p-t-xl">
							<p class="font-style-large">So, you are looking for home chargepoint.</p>
							<p class="font-style-large">With home charging points that are sleek on the outside and smart on the inside and our specially trained team of POD Point installers who receive 4.8/5 star ratings we’ve got you covered.</p>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="content-block rel">
			<h2>Brands we work with:</h2>
			<div class="clear">
				<ul class="list--inline list--inline--tiny list--inline--sm-gutter pull-left">
					<li><img src="assets/img/client-logos/volkswagen.png" alt=""></li>
					<li><img src="assets/img/client-logos/nissan.png" alt=""></li>
					<li><img src="assets/img/client-logos/citron.png" alt=""></li>
					<li><img src="assets/img/client-logos/peugeot.png" alt=""></li>
					<li><img src="assets/img/client-logos/hyundai.png" alt=""></li>
					<li><img src="assets/img/client-logos/tesla.png" alt=""></li>
					<li><img src="assets/img/client-logos/mitsubishi.png" alt=""></li>
					<li><img src="assets/img/client-logos/bmw.png" alt=""></li>
					<li><img src="assets/img/client-logos/mercedes-benz.png" alt=""></li>
				</ul>
				<a href="#" class="button pull-right">Find out more</a>
			</div>
		</div>
	</div>
</section>