<section class="home-hero bg--img-cover bg--very-dark-gray rel" style="background-image: url(assets/img/backgrounds/home-hero-bg.jpg)">
	<div class="container">
		<div class="content-block content-block--standout v-align-content">
			<div class="home-hero__content marg-center text-center">
				<h1>POD Point believes travel shouldn’t damage the earth</h1>
				<div class="rich-text font-style-large">
					<p>That’s why we’re building the infrastructure needed for the mass adoption of electric vehicles.</p>
				</div>
			</div>
		</div>
	</div>
	<img class="network-right" src="assets/img/illustrations/home-hero-network-right.svg" alt="">
	<img class="network-left" src="assets/img/illustrations/home-hero-network-left.svg" alt="">
</section>