<section class="bg--wall">
	<div class="container">
		<div class="content-block">
			<div class="grid-wrap">
				<div class="grid-row grid-row--b-space-mobile">
					<div class="grid-col grid-col--md-4 text-center">
						<div class="rich-text">
							<h2>Home</h2>
							<p>Sleek on the outside smart on the inside chargepoints from £279*</p>
						</div>
						<img class="marg-center max-width--sm" src="assets/img/content/products/home-charger.png" alt="">
						<button class="button" data-js-module="modal" data-modal="homechargeFormModal">Enquire now</button>
						<br>
						<a href="#" class="setback-button m-t-md font-style-base">Learn more</a>
					</div>
					<div class="grid-col grid-col--md-4 text-center">
						<div class="rich-text">
							<h2>Commercial</h2>
							<p>App-enables smart chargepoints to put you on the map</p>
						</div>
						<img class="marg-center max-width--sm" src="assets/img/content/products/commercial-charger.png" alt="">
						<button class="button" data-js-module="modal" data-modal="commercialFormModal">Enquire now</button>
						<br>
						<a href="#" class="setback-button m-t-md font-style-base">Learn more</a>

					</div>
					<div class="grid-col grid-col--md-4 text-center">
						<div class="rich-text">
							<h2>Workplace</h2>
							<p>Smart charging stations for employees and visitors</p>
						</div>
						<img class="marg-center max-width--sm" src="assets/img/content/products/workplace-charger.png" alt="">
						<button class="button" data-js-module="modal" data-modal="workplaceFormModal">Enquire now</button>
						<br>
						<a href="#" class="setback-button m-t-md font-style-base">Learn more</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
