<section class="bg--wall bg--white">
	<div class="container">
		<div class="content-block">
			<div class="grid-wrap">
				<div class="grid-row grid-row--b-space-mobile">
					<div class="grid-col grid-col--md-4 text-center">
						<h2>Home</h2>
						<p>Sleek on the outside smart on the inside chargepoints from £279*</p>
						<img class="marg-center max-width--md" src="assets/img/products/home-charger.png" alt="">
						<button class="button">Buy now</button>
					</div>
					<div class="grid-col grid-col--md-4 text-center">
						<h2>Commercial</h2>
						<p>Smart charging stations for employees and visitors</p>
						<img class="marg-center max-width--md" src="assets/img/products/commercial-charger.png" alt="">
						<button class="button">Enquire now</button>
					</div>
					<div class="grid-col grid-col--md-4 text-center">
						<h2>Workplace</h2>
						<p>App-enables smart chargepoints to put you on the map</p>
						<img class="marg-center max-width--md" src="assets/img/products/workplace-charger.png" alt="">
						<button class="button">Enquire now</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>