<section class="bg--very-dark-gray">
	<div class="container">
		<ul class="list--inline ticker-list text-center text-left-md">
			<li>
				<div class="ticker"><span>1</span><span>5</span><span>6</span><span>7</span><span>9</span><span>7</span><span>8</span></div>
				<span class="ticker-desc">miles of charging</span>
			</li>
			<li class="hidden inline-block-md">
				<div class="ticker"><span>1</span><span>5</span><span>6</span><span>7</span><span>9</span><span>7</span><span>8</span></div>
				<span class="ticker-desc">of energy</span>
			</li>
			<li class="hidden inline-block-md">
				<div class="ticker"><span>1</span><span>5</span><span>6</span><span>7</span><span>9</span><span>7</span><span>8</span></div>
				<span class="ticker-desc">tonnes of CO2 saved</span>
			</li>
			<li class="hidden inline-block-md">
				<div class="ticker"><span>1</span><span>5</span><span>6</span><span>7</span><span>9</span><span>7</span><span>8</span></div>
				<span class="ticker-desc">POD Points installed</span>
			</li>
		</ul>
	</div>
</section>