<section class="bg--dark-gray">
	<div class="container">
		<ul class="list--inline list--inline ticker-list">
			<li class="hide-medium-down">
				<div class="ticker"><span>1</span><span>5</span><span>6</span><span>7</span><span>9</span><span>7</span><span>8</span></div>
				<span class="ticker-desc">miles of charging</span>
			</li>
			<li class="hide-medium-down">
				<div class="ticker"><span>1</span><span>5</span><span>6</span><span>7</span><span>9</span><span>7</span><span>8</span></div>
				<span class="ticker-desc">miles of charging</span>
			</li>
			<li class="hide-medium-down">
				<div class="ticker"><span>1</span><span>5</span><span>6</span><span>7</span><span>9</span><span>7</span><span>8</span></div>
				<span class="ticker-desc">miles of charging</span>
			</li>
			<li>
				<div class="ticker"><span>1</span><span>5</span><span>6</span><span>7</span><span>9</span><span>7</span><span>8</span></div>
				<span class="ticker-desc">miles of charging</span>
			</li>
		</ul>
	</div>
</section>