// =============================================================================
//	ANIMATIONS
// =============================================================================

@keyframes fadeIn {
   0% {opacity: 0;}
   100% {opacity: 1;}
}
@keyframes fadeOut {
   0% {opacity: 1;}
   100% {opacity: 0;}
}
@mixin slideDownCollapsed($duration) {
   max-height: 0;
   transition: max-height $duration ease-out;
   overflow: hidden;
}
@mixin slideDownActive($duration, $approxHeight) {
   max-height: $approxHeight;
   transition: max-height $duration ease-in;
   overflow: hidden;
}

@keyframes popUpFadeIn {
   0% {top: 100px; opacity: 0;}
   50% {opacity: 0;}
   100% {top: 0px; opacity: 1;}
}
@mixin popUpFadeIn() {
   position: relative;
   animation: popUpFadeIn 2s;
}
