// =============================================================================
//	MIXINS
// =============================================================================

// Font sizes
@mixin font-base {
	margin: 0;
	font-family: $font-family-base;
	font-size: 1.4rem;
	line-height: 1.5em;
	@media only screen and (min-width: $medium-screen) {
		font-size: 1.6rem;
	}
}
@mixin font-small {
	@include font-base;
	font-size: 1.2rem;
	@media only screen and (min-width: $medium-screen) {
		font-size: 1.4rem;
	}
}
@mixin font-large {
	@include font-base;
	font-size: 1.6rem;
	line-height: 1.5;
	@media only screen and (min-width: $medium-screen) {
		font-size: 2rem;
	}
}

// Font styles
@mixin font-style-base {
	@include font-base;
	padding-bottom: 0.5em;
	&:last-child {
		padding-bottom: 0;
	}
}
@mixin font-style-small {
	@include font-small;
	padding-bottom: 0.5em;
	&:last-child {
		padding-bottom: 0;
	}
}
@mixin font-style-large {
	@include font-large;
	padding-bottom: 0.5em;
	&:last-child {
		padding-bottom: 0;
	}
}


@mixin font-style-headings {
	margin: 0;
	padding-bottom: 1em;
	font-family: $font-family-heading;
	font-size: $font-size-base;
	font-weight: bold;
	line-height: $line-height-heading;
	&:last-child {
		padding-bottom: 0;
	}
}

@mixin font-style-h1 {
	@include font-style-headings;
	font-size: 2rem;
	@media only screen and (min-width: $medium-screen) {
		font-size: 2.8rem;
	}
}

@mixin font-style-h2 {
	@include font-style-headings;
	font-size: 1.8rem;
	@media only screen and (min-width: $medium-screen) {
		font-size: 2.4rem;
	}
}

@mixin font-style-h3 {
	@include font-style-headings;
	font-size: 1.4rem;
	@media only screen and (min-width: $medium-screen) {
		font-size: 2.2rem;
	}
}

@mixin font-style-h4 {
	@include font-style-headings;
	font-size: 1.4rem;
	@media only screen and (min-width: $medium-screen) {
		font-size: 2rem;
	}
}

@mixin font-style-h5 {
	@include font-style-headings;
	font-size: 1.4rem;
	@media only screen and (min-width: $medium-screen) {
		font-size: 1.8rem;
	}
}

@mixin font-style-h6 {
	@include font-style-headings;
	font-size: 1.4rem;
	@media only screen and (min-width: $medium-screen) {
		font-size: 1.6rem;
	}
}

@mixin font-style-forms {
	margin: 0;
	line-height: 1.6rem;
	font-size: 1.6rem; // Has to be 16px min for IOS
	font-family: $font-family-bold;
}
@mixin font-style-forms-large {
	margin: 0;
	line-height: 1.6rem;
	font-size: 1.6rem;
	font-family: $font-family-bold;
	@media only screen and (min-width: $medium-screen) {
		line-height: 2rem;
		font-size: 2rem;
	}
}

@mixin font-style-tables {
	@include font-style-base;
}
