// =============================================================================
//	MIXINS
// =============================================================================

// Font sizes
@mixin font-base {
	margin: 0;
	font-weight: $font-weight-regular;
	font-size: rem(14);
	line-height: 1.5;
	@include medium-and-up {
		font-size: rem(16);
	}
}
@mixin font-small {
	@include font-base;
	font-size: rem(12);
	line-height: 1.2;
	@include medium-and-up {
		font-size: rem(14);
	}
}
@mixin font-tiny {
	@include font-base;
	font-size: rem(10);
	line-height: 1.2;
	@include medium-and-up {
		font-size: rem(12);
	}
}
@mixin font-large {
	@include font-base;
	font-size: rem(16);
	line-height: 1.5;
	@include medium-and-up {
		line-height: 1.2;
		font-size: rem(20);
	}
}

@mixin font-huge {
	font-size: rem(20);
	line-height: 1.1;
	@include medium-and-up {
		font-size: rem(36);
	}
}


// Font styles
@mixin font-style-base {
	@include font-base;
	padding-bottom: 0.5em;
	&:last-child {
		padding-bottom: 0;
	}
}
@mixin font-style-small {
	@include font-small;
	padding-bottom: 0.5em;
	&:last-child {
		padding-bottom: 0;
	}
}
@mixin font-style-large {
	@include font-large;
	padding-bottom: 0.5em;
	&:last-child {
		padding-bottom: 0;
	}
}


@mixin font-style-headings {
	margin: 0;
	padding-bottom: 1em;
	font-weight: $font-weight-bold;
	font-size: $font-size-base;
	line-height: $line-height-heading;
	&:last-child {
		padding-bottom: 0;
	}
}

@mixin font-style-h1 {
	@include font-style-headings;
	font-size: rem(20);
	@include medium-and-up {
		font-size: rem(28);
	}
}

@mixin font-style-h2 {
	@include font-style-headings;
	font-size: rem(18);
	@include medium-and-up {
		font-size: rem(24);
	}
}

@mixin font-style-h3 {
	@include font-style-headings;
	font-size: rem(14);
	@include medium-and-up {
		font-size: rem(22);
	}
}

@mixin font-style-h4 {
	@include font-style-headings;
	font-size: rem(14);
	@include medium-and-up {
		font-size: rem(20);
	}
}

@mixin font-style-h5 {
	@include font-style-headings;
	font-size: rem(14);
	@include medium-and-up {
		font-size: rem(18);
	}
}

@mixin font-style-h6 {
	@include font-style-headings;
	font-size: rem(14);
	@include medium-and-up {
		font-size: rem(16);
	}
}

@mixin font-style-forms {
	margin: 0;
	line-height: rem(16);
	font-size: rem(16); // Has to be 16px min for IOS
	font-weight: $font-weight-bold;
}
@mixin font-style-forms-large {
	margin: 0;
	line-height: rem(16);
	font-size: rem(16);
	font-weight: $font-weight-bold;
	@include medium-and-up {
		line-height: rem(20);
		font-size: rem(20);
	}
}

@mixin font-style-tables {
	@include font-style-base;
}
