// =============================================================================
//  TRUMPS - TYPOGRAPHY
// =============================================================================

.font-size-xs {
    @include font-size-xs;
}
.font-size-sm {
    @include font-size-sm;
}
.font-size-md {
    @include font-size-md;
}
.font-size-lg {
    @include font-size-lg;
}
.font-size-xl {
    @include font-size-xl;
}

.uppercase {
    text-transform: uppercase;
}

.lowercase {
    text-transform: lowercase;
}

.green,
.primary {
    color: $primary-color;

    a {
        border-bottom: 2px solid $primary-color;
    }
}

.color-base {
    color: $font-color-base;
}

.remove-link-styles,
.remove-link-styles a {
    @extend %remove-link-styles;
}
