// =============================================================================
//  TRUMPS - LISTS
// =============================================================================


// Removing default list styling
.list--no-style {
    @extend %remove-list-styles;
    padding-bottom: $typography-vertical-spacing;

    li {
        padding-bottom: 0;
    }
}

// Tightens up left spacing
.list--spacing-left-sm {
    padding-left: 20px;

    li {
        padding-left: 0;
    }
}

// List with primary colour tick icons instead of bullets
.list--featured--ticks {
    @include featured-icon-list($css-bg-path+'icons/tick-primary.svg');
}

// List with primary colour tick icons instead of bullets
.list--featured--ticks--lg {
    @include featured-icon-list-lg($css-bg-path+'icons/tick-primary.svg');
}

// Inline lists - shared styles
.list--inline,
.list--inline--sm-gutter {
    @extend %remove-list-styles;

    li {
        display: inline-block;
    }
}

// Inline list
.list--inline {
    @include margin(-0.5em -1em);

    li {
        @include padding(0.5em 1em);
    }
}

// Inline list small gutter
.list--inline--sm-gutter {
    @include margin(null -0.5em);

    li {
        @include margin(null 0.5em);
    }
}


// Icons in a list
.icons-list {
    @extend %remove-list-styles;

    &--inline {
        @include margin(null rem(-1.5));

        li {
            display: inline-block;
            @include margin(null rem(1.5));

            a:not(.circle-icon) {

                &:before {
                    color: black;
                    font-size: rem(25);
                }
            }
        }
    }
}
