// =============================================================================
//  ELEMENTS - LISTS
// =============================================================================

ul,
ol {
    margin: 0;
    padding-left: 2em;
    padding-bottom: $typography-vertical-spacing / 2;

    li {
        padding-bottom: $typography-vertical-spacing / 2;

        ul,
        ol {
            padding-top: $typography-vertical-spacing / 2;
            padding-bottom: 0;

            li:last-child {
                padding-bottom: 0;
            }
        }
    }
}

ul {
    li {
        padding-left: 1em;
        list-style-type: disc;

        ul li {
            list-style-type: circle;
            padding-left: 1em;
            margin-left: 0.5em;
        }
    }
}

ol {
    li {
        padding-left: 1em;
        list-style-type: decimal;
    }
}
