// =============================================================================
//	ELEMENTS - TYPOGRAPHY
// =============================================================================

p,
.p {
	@include font-style-base;
}

.font-style-base,
.font-style-base p {
    @include font-style-base;
}

.font-base {
    @include font-base;
}

.font-style-large,
.font-style-large p {
    @include font-style-large;
}

.font-style-small,
.font-style-small p {
    @include font-style-small;
}

.font-small {
    @include font-small;
}

.font-tiny {
    @include font-tiny;
}

.font-huge {
    @include font-huge;
}

strong,
.bold,
.bold p {
    font-weight: normal;
    font-weight: $font-weight-bold!important;
}

.green,
.primary {
    color: $primary-color;

    a {
        border-bottom: 2px solid $primary-color;
    }
}

.color-base {
    color: $font-color-base;
}

hr {
    margin: 30px 0;
    border-bottom: $border-thin;
    border-left: none;
    border-right: none;
    border-top: none;
    background-color: $gray-keyline-very-light;
}

p, h1, h2, h3, h4, h5, h6 {

    & + hr {
        margin-top: 20px;
    }
}
