
<!-- INSTALLATION -->
<section id="homeInstallation">
    <header class="content-block bg-light-grey">
        <div class="container">
            <h3>Installation</h3>
            <p>The POD Point UI Toolkit is a node module package within the POD Point npm user</p>
            <p>Note: while the toolkit is still in beta, it is not published publicly, therefore needs to be installed via ssh with the following instructions</p>
        </div>
    </header>

    <div class="content-block">
        <div class="container">
            <p>Git repo: <code>https://github.com/Pod-Point/pod-point-ui-toolkit</code></p>
            <p>Install via npm: <code>npm install git+ssh://git@github.com/Pod-Point/pod-point-ui-toolkit.git</code> <br>(when made public, will be able to npm install normally and save in package.json)</p>
            <p>Current version: (will be..) <code>Realease 1.0</code></p>
        </div>
    </div>
</section>
