<p>24em (384px) and above:</p>
<figure class="figure-box"><pre>
@mixin screen-xs-min;
</pre></figure>
<br>
<p>40em (640px) and above:</p>
<figure class="figure-box"><pre>
@mixin screen-sm-min;
</pre></figure>
<br>
<p>50em (800px) and above:</p>
<figure class="figure-box"><pre>
@mixin screen-md-min;
</pre></figure>
<br>
<p>68em (1088px) and above:</p>
<figure class="figure-box"><pre>
@mixin screen-lg-min;
</pre></figure>
<br>
<p>100em (1600px) and above:</p>
<figure class="figure-box"><pre>
@mixin screen-xl-min;
</pre></figure>
