<p>12px/10px:</p>
<figure class="figure--light"><pre>
@mixin font-size-xs;
</pre></figure>
<br>
<p>14px/10px:</p>
<figure class="figure--light"><pre>
@mixin font-size-sm;
</pre></figure>
<br>
<p>16px/14px:</p>
<figure class="figure--light"><pre>
@mixin font-size-md;
</pre></figure>
<br>
<p>20px/16px:</p>
<figure class="figure--light"><pre>
@mixin font-size-lg;
</pre></figure>
<br>
<p>36px/20px:</p>
<figure class="figure--light"><pre>
@mixin font-size-xl;
</pre></figure>
