<figure class="figure--light"><pre>
%heading-style;
</pre></figure>
<br>
<p>28px/20px:</p>
<figure class="figure--light"><pre>
@mixin heading-style-1;
</pre></figure>
<br>
<p>24px/18px:</p>
<figure class="figure--light"><pre>
@mixin heading-style-2;
</pre></figure>
<br>
<p>22px/14px:</p>
<figure class="figure--light"><pre>
@mixin heading-style-3;
</pre></figure>
<br>
<p>20px/14px:</p>
<figure class="figure--light"><pre>
@mixin heading-style-4;
</pre></figure>
<br>
<p>18px/14px:</p>
<figure class="figure--light"><pre>
@mixin heading-style-5;
</pre></figure>
<br>
<p>16px/14px:</p>
<figure class="figure--light"><pre>
@mixin heading-style-6;
</pre></figure>
