<p id="placeholderClearfix">Clearfix:</p>
<figure class="figure-box"><pre>
%clearfix;
</pre></figure>
<br>
<p id="placeholderVAlign">Vertically align centre using flexbox:</p>
<figure class="figure-box"><pre>
%v-align;
</pre></figure>
<br>
<p id="placeholderRemoveListStyles">Removes default list styling:</p>
<figure class="figure-box"><pre>
%remove-list-styles;
</pre></figure>
<br>
<p id="placeholderRemoveLinkStyles">Removes default link styling:</p>
<figure class="figure-box"><pre>
%remove-link-styles;
</pre></figure>
<br>
<p id="placeholderClickable">Style to appear clickable (pointer as cursor and opacity on hover/active/focus):</p>
<figure class="figure-box"><pre>
%clickable;
</pre></figure>
<br>
<p id="placeholderHideTextNotPseudo">Hides text but not before/after element:</p>
<figure class="figure-box"><pre>
%hide-text-not-pseudo;
</pre></figure>
<br>
<p id="placeholderBgCover">Sets background centre, cover and no repeat:</p>
<figure class="figure-box"><pre>
%bg-cover;
</pre></figure>
<br>
<p id="placeholderHideText">Hides text with a text indent and overflow hidden:</p>
<figure class="figure-box"><pre>
%hide-text;
</pre></figure>
<br>
<p id="placeholderMarginCentre">Sets margin right and left to auto:</p>
<figure class="figure-box"><pre>
%m-centre
</pre></figure>
