// =============================================================================
//  GRID
// =============================================================================
// Below is a very basic grid based on a 12 col grid and provides half, third and quarter width columns that expand to full width on a smaller screen. See here to fully configure grids: http://thingsym.github.io/flexbox-grid-mixins

$default-gutter: 2rem;
$mobile-gutter: 0.5rem;

$-default-gutter: -2rem;

// SAMPLE GRID (change or delete as required)
.grid-row {
	@include grid($flex-wrap: wrap, $gutter: $default-gutter);
	margin-bottom: $-default-gutter;
	&--vertical-center {
		align-items: center;
	}
	&--mobile-cols {
		@include grid($flex-wrap: wrap, $gutter: $mobile-gutter);
	}
	&--no-space {
		margin-bottom: 0;
	}
	.grid-col {
		@include grid-col($col: 12, $gutter: $default-gutter);
	}
	.grid-col--12 {
		@include grid-col($col: 12, $gutter: $mobile-gutter);
	}
	.grid-col--8 {
		@include grid-col($col: 8, $gutter: $mobile-gutter);
	}
	.grid-col--6 {
		@include grid-col($col: 6, $gutter: $mobile-gutter);
	}
	.grid-col--3 {
		@include grid-col($col: 3, $gutter: $mobile-gutter);
	}
	.grid-col--4 {
		@include grid-col($col: 4, $gutter: $mobile-gutter);
	}
	.grid-col {
		&--separator {
			padding-bottom: 4rem;
			margin-bottom: 4rem;
			background-image: url($svg-divider-repeater-gray-horizontal);
			background-repeat: repeat-x;
			background-position: bottom center;
			background-size: 42px;
		}
		&--no-space {
			margin-bottom: 0;
		}
	}
	&--b-space-mobile {
		.grid-col {
			margin-bottom: 8rem;
			&:last-child {
				margin-bottom: 0;
			}
		}
	}

	@include medium-and-up {
		.grid-col--md-12 {
			@include grid-col($col: 12, $gutter: $default-gutter);
		}
		.grid-col--md-8 {
			@include grid-col($col: 8, $gutter: $default-gutter);
		}
		.grid-col--md-6 {
			@include grid-col($col: 6, $gutter: $default-gutter);
		}
		.grid-col--md-3 {
			@include grid-col($col: 3, $gutter: $default-gutter);
		}
		.grid-col--md-4 {
			@include grid-col($col: 4, $gutter: $default-gutter);
		}
		.grid-col--md-right {
			order: 10;
		}
		.grid-col--md-separator {
			padding-right: 2rem;
			padding-bottom: 0;
			margin-bottom: $default-gutter;
			background-image: url($svg-divider-repeater-gray);
			background-repeat: repeat-y;
			background-position: center right;
			background-size: 6px;
			border-bottom: none;
		}
		.grid-col--no-space--md {
			margin-bottom: 0;
		}
	}
	@include large-and-up {
		.grid-col--lg-12 {
			@include grid-col($col: 12, $gutter: $default-gutter);
		}
		.grid-col--md-8 {
			@include grid-col($col: 8, $gutter: $default-gutter);
		}
		.grid-col--lg-6 {
			@include grid-col($col: 6, $gutter: $default-gutter);
		}
		.grid-col--lg-3 {
			@include grid-col($col: 3, $gutter: $default-gutter);
		}
		.grid-col--lg-4 {
			@include grid-col($col: 4, $gutter: $default-gutter);
		}
		.grid-col--lg-right {
			order: 10;
		}
	}
}