// =============================================================================
//  INPUTS AND TEXTAREAS
// =============================================================================

#{$inputs},
textarea[type="text"] {
	@include input-styles;
	@include input-border;
	&:focus:not(disabled) {
		@include input-border--focus;
	}
	&:hover:not(:disabled) {
		@include input-border--hover;
	}
	&:disabled {
		@include input-border--disabled;
	}
}

#{$inputs} {
	&.input--secondary {
		border-radius: 0;
		border: none;
		border-bottom: 1px solid $form-keyline;
		max-width: 40rem;
		display: inline-block;
		&.form-font-large {
			@include font-style-forms-large;
			@include padding(2.5rem null);
		}
	}
}

textarea[type="text"] {
	@include font-style-forms;
	height: auto;
	min-height: 13rem;
	resize: vertical;
	@include padding($input-padding);
}