// =============================================================================
//  SELECTS (using Dropkick.js plugin)
// =============================================================================

$select-dd-alternative-height: rem(25);

.select-dd-inline-wrap {
	display: block;

	&--heading {
		margin-bottom: rem(20);
		h1.h1,
		.h1,
		h1 {
			margin-right: rem(5);
			padding-bottom: rem(2);
		}
	}
	&--body-text {
		.select-dd-inline-wrap__text {
			@include font-style-large;
			font-family: $font-family-bold;
		}
	}
	&__text,
	.select-dd-wrapper--alternative {
		display: inline-block;
		width: auto;
	}
}

.select-dd-wrapper {
	position: relative;
	display: block;
	vertical-align: middle;
	width: 100%;
	cursor: pointer;
	&.select-dd-wrapper--mobile select {
		@include position(absolute, 0 null null 0);
		font-size: rem(16);
		opacity: 0;
		z-index: 1;
	}
	select {
		background-color: transparent;
		border: none;
		border-radius: 0;
	}
	.dk-select,
	.dk-select *,
	.dk-select *:before,
	.dk-select *:after {
		box-sizing: border-box;
	}
	.dk-option {
		@include input-styles;
	}
	.dk-selected,
	.mobile-select {
		width: 100%;
		white-space: nowrap;
		overflow: hidden;
		position: relative;
		-o-text-overflow: ellipsis;
		text-overflow: ellipsis;
		margin-bottom: rem(-2);

		&:before,
		&:after {
			content: '';
			display: block;
			position: absolute;
			right: 0;
		}
		&:before {
			top: 50%;
			margin: -0.125em 0.5em 0 0;
		}
		&:after {
			top: 0;
			height: 100%;
			margin: 0 1.5em 0 0;
		}
	}
	.mobile-select {
		@include padding(null rem(5));
		@include position(absolute, 0 null null 0);
		margin-bottom: 0;
	}
	.dk-select,
	.mobile-select {
		position: relative;
		&:after {
			content: '';
			transition: transform 0.4s ease-in-out;
			z-index: 0;
			background-repeat: no-repeat;
			background-size: cover;
		}
	}
	.dk-selected-disabled {
		color: #BBBBBB;
	}
	.dk-select {
		.dk-select-options {
			border: $form-border-base;
			border-radius: $form-border-radius;
			box-shadow: $box-shadow-subtle;
			background-color: white;
			position: absolute;
			display: none;
			left: 0;
			right: 0;
			list-style: none;
			margin: 0;
			max-height: 20.5em;
			overflow-x: hidden;
			overflow-y: auto;
			padding: 0;
			width: auto;
			z-index: 100;
			color: black;
		}
	}
	.dk-select-multi {
		.dk-select-options {
			max-height: 10em;
		}
	}
	.dk-option-selected {
		background-color: $primary-color-light;
		color: $primary-color;
	}
	.dk-select-options-highlight {
		.dk-option-selected {
			background-color: transparent;
			color: inherit;
		}
	}
	.dk-select-options {
		.dk-option-highlight {
			background-color: $primary-color-light;
			color: $primary-color;
		}
		.dk-option-disabled {
			color: #BBBBBB;
			background-color: transparent;
		}
		.dk-option-hidden {
			display: none;
		}
	}
	.dk-optgroup {
		border: $form-border-base;
		padding: 0.25em 0;
		margin-top: 0.25em;
		+ .dk-option {
			margin-top: 0.25em;
		}
		+ .dk-optgroup {
			border-top-width: 0;
			margin-top: 0;
		}
		&:nth-child(2) {
			padding-top: 0;
			border-top: none;
			margin-top: 0;
		}
		&:last-child {
			border-bottom-width: 0;
			margin-bottom: 0;
			padding-bottom: 0;
		}
	}
	.dk-optgroup-label {
		padding: 0 0.5em 0.25em;
		font-weight: bold;
		width: 100%;
	}
	.dk-optgroup-options {
		list-style: none;
		padding-left: 0;
		li {
			padding-left: 1.2em;
		}
	}
	.dk-select-open-up .dk-select-options,
	.dk-select-open-down .dk-select-options,
	.dk-select-multi:focus .dk-select-options {
		display: block;
	}
	.dk-selected:hover,
	.dk-selected:focus {
		outline: none;
	}
	select[data-dkcacheid] {
		display: none;
	}
}


// Styles for the default select dropdown
.select-dd-wrapper:not(.select-dd-wrapper--alternative) {
	height: $input-height;
	max-width: $form-field-max-width;
	margin-top: 0;
	@include medium-and-up {
		margin-top: 0;
	}
	&.select-dd-wrapper--mobile select {
		width: 100%;
		height: $input-height;

		&:focus + .mobile-select {
			border-color: $font-color-base;
			color: $font-color-base;
			&:after {
				color: $font-color-base;
			}
		}
	}
	&.select-dd-wrapper--mobile select:disabled + .mobile-select {
		@include input-border--disabled;
	}
	.dk-select,
	.dk-selected,
	.mobile-select {
		@include input-styles;
	}
	.dk-selected,
	.mobile-select {
		@include input-border;
	}
	.dk-select:not(.dk-select-disabled) .dk-selected {
		&:focus {
			@include input-border--focus;
		}
		&:hover {
			@include input-border--hover;
		}
	}
	.dk-select-disabled .dk-selected {
		@include input-border--disabled;
	}

	.dk-select {
		padding: 0;
	}
	.dk-select,
	.mobile-select {
		&:after {
			@include position(absolute, 35% $input-padding null null);
			width: rem(15);
			height: rem(15);
			@include svg-bg-cheveron();
		}
		&.dk-select-open-down {
			.dk-selected {
				border-color: $font-color-base;
				color: $font-color-base;
			}
			.dk-select-options {
				border-color: $font-color-base;
				border-top: none;
			}
			&:after {
				color: $font-color-base!important;
				transform: rotate(-180deg);
			}
		}
	}
}
.select-dd-wrapper--alternative {
	&.select-dd-wrapper--mobile select {
		width: 100%;
		height: $input-height;
	}
	.dk-selected,
	.mobile-select {
		color: $primary-color;
		border-radius: 0;
		border: none;
		border-bottom: 2px $primary-color solid;
		@include padding(0 rem(20) null 0);
		&:after {
			@include position(absolute, 35% 0 null null);
			width: rem(15);
			height: rem(15);
			@include svg-bg-cheveron($primary-color);
			margin-right: rem(2);
		}
	}
	&--h1 {
		.dk-selected,
		.mobile-select,
		&.select-dd-wrapper--mobile select {
			@include font-style-h1;
			padding-bottom: rem(5)!important;
			@include medium-and-up {
				margin-top: rem(-8);
				@include padding(null rem(30) rem(7) null);
			}
			&:after {
				top: 27%;
				@include medium-and-up {
					top: 35%;
					height: rem(17);
					width: rem(17);
				}
			}
		}
		.dk-select .dk-select-options {
			top: rem(-19);
			width: rem(303);
		}
		.dk-option {
			font-size: rem(22);
			@include padding(rem(16) rem(20));
			height: rem(57);
		}
	}
	&--font-large {
		@include medium-and-up {
			margin-left: rem(3);
		}
		.dk-selected,
		.mobile-select,
		&.select-dd-wrapper--mobile select {
			@include font-style-large;
			font-family: $font-family-bold;
			margin-top: rem(-4);
			padding-bottom: 0;
			@include medium-and-up {
				margin-top: rem(-8);
				padding-right: rem(25);
			}
		}
		.dk-select .dk-select-options {
			top: rem(-7);
			width: rem(300);
		}
	}
}

// Google address lookup
.pac-container {
	border-radius: $border-radius-base;
	border: 1px solid $font-color-base;
	box-shadow: $box-shadow-subtle;
	border-top: none;
	overflow: auto;
	font-family: $font-family-bold;
}
.pac-item {
	color: $font-color-base;
	height: rem(40);
	@include padding(rem(5) null);
	border-top: none;
	&:hover {
		background-color: $primary-color-light;
	}
}