// =============================================================================
//  SELECTS
// =============================================================================

.select-wrapper {
	position: relative;
	display: block;
	vertical-align: middle;
	width: 100%;
	cursor: pointer;
	margin-top: 0;
	height: $input-height;
	max-width: $form-field-max-width;
	cursor: pointer;
	@include iconfont('cheveron', $insert: after);
	&:focus:after{
		color: $primary-color;
	}
	&:after {
		@include iconfont-styles;
		font-size: 1.6rem;
		@include position(absolute, 1rem $input-padding null null);
		z-index: -1;
		color: $form-keyline;
	}
	select {
		@include input-styles;
		@include input-border;
		@include font-style-forms;
		cursor: pointer;
		background-color: transparent;
		&:focus {
			border-color: $primary-color;
			color: $primary-color;
		}
	}
}