// =============================================================================
//  FORM STYLES SHARED
// =============================================================================

// Get rid of yellow bg color on Chrome auto complete
input:-webkit-autofill {
	-webkit-box-shadow: 0 0 0 1000px black inset;
	-webkit-text-fill-color: white !important;
}

@mixin placeholder {
	::-webkit-input-placeholder {@content};
	:-moz-placeholder           {@content};
	::-moz-placeholder          {@content};
	:-ms-input-placeholder      {@content};
}

@include placeholder {
	color: $input-placeholder-color;
}

input {
	@include placeholder {
		@include font-style-forms;
	}
}
input.form-font-large {
	@include placeholder {
		@include font-style-forms-large;
	}
}

@mixin input-styles {
	@include font-style-forms;
	line-height: rem(24);
	box-sizing: border-box;
	width: 100%;
	height: $input-height;
	-webkit-appearance: none;
	@include padding(rem(6) $input-padding);
	display: block;
	max-width: $form-field-max-width;
}
@mixin input-border {
	transition: border-color;
	background-color: $background-color-base;
	border: $form-border-base;
	border-radius: $form-border-radius;
}

@mixin input-border--focus {
	color: $font-color-base!important;
	border-color: $font-color-base;
	outline: none;
}
@mixin input-border--hover {
	color: $font-color-base!important;
	border-color: $font-color-base;
}
@mixin input-border--disabled {
	opacity: 0.4;
	cursor: not-allowed;
	background-color: $gray-very-light;
}

label {
	display: inline-block;
	@include font-style-base;
	padding-bottom: rem(5);

	.checkbox-wrap &,
	.radio-wrap & {
		@include font-style-base;
	}
}

.label--block {
	width: 100%;
	font-weight: $font-weight-bold;
}
