// =============================================================================
//  VALIDATION
// =============================================================================

.form-field-wrapper {
	@include small-and-up {
		padding-right: rem(3);
	}
	@include medium-and-up {
		padding-right: 0;
	}
	&.is-valid,
	&.is-invalid {
		position: relative;
		&:before {
			@include small-and-up {
				content: '';
				width: rem(18);
				height: rem(18);
				background-size: cover;
				@include position(absolute, 9px 0 null null);
			}
			@include medium-and-up {
				right: -30px;
			}
		}
	}
	&.is-valid {
		&:before {
			@include small-and-up {
				@include svg-bg-tick($color: $primary-color);
			}
		}
		#{$inputs},
		textarea[type="text"],
		.select-dd-wrapper:not(.select-dd-wrapper--alternative) .dk-selected,
		.select-dd-wrapper:not(.select-dd-wrapper--alternative) .mobile-select {
			border-color: $primary-color;
		}
		.select-dd-wrapper:not(.select-dd-wrapper--alternative) .dk-select:after,
		.select-dd-wrapper--mobile .mobile-select:after {
			color: $primary-color;
		}
	}
	&.is-invalid {
		&:before {
			@include small-and-up {
				@include svg-bg-cross($color: $error-red);
			}
		}
		#{$inputs},
		textarea[type="text"],
		.select-dd-wrapper:not(.select-dd-wrapper--alternative) .dk-selected,
		.select-dd-wrapper:not(.select-dd-wrapper--alternative) .mobile-select {
			border-color: $error-red;
		}
		.select-dd-wrapper:not(.select-dd-wrapper--alternative) .dk-select:after,
		.select-dd-wrapper--mobile .mobile-select:after {
			color: $error-red;
		}
	}
}

.error-message {
	display: block;
	@include font-style-small;
	font-weight: $font-weight-bold;
	color: $error-red;
	margin-top: rem(3);
	.checkbox-wrap & {
		margin-top: 0;
	}
}
.checkbox-wrap:not(.is-invalid),
.form-field-wrapper:not(.is-invalid) {
	.error-message {
		display: none;
	}
}

.checkbox-wrap.is-invalid {
	input[type="checkbox"] ~ label:before {
		border-color: $error-red;
	}
}
