// =============================================================================
//  VALIDATION
// =============================================================================

.form-field-wrapper {
	@media only screen and (min-width: $small-screen) {
		padding-right: 3rem;
	}
	@media only screen and (min-width: $medium-screen) {
		padding-right: 0;
	}
	&.is-valid,
	&.is-invalid {
		position: relative;
		&:before {
			@media only screen and (min-width: $small-screen) {
				@include iconfont-styles;
				font-weight: bold;
				font-size: 1.6rem;
				@include position(absolute, 0.9rem 0 null null);
			}
			@media only screen and (min-width: $medium-screen) {
				right: -3rem;
			}
		}
	}
	&.is-valid {
		@media only screen and (min-width: $small-screen) {
			@include iconfont('tick');
		}
		&:before {
			color: $primary-color;
		}
		#{$inputs},
		textarea[type="text"],
		.select-dd-wrapper:not(.select-dd-wrapper--alternative) .dk-selected,
		.select-dd-wrapper:not(.select-dd-wrapper--alternative) .mobile-select {
			border-color: $primary-color;
			color: $primary-color;
		}
		.select-dd-wrapper:not(.select-dd-wrapper--alternative) .dk-select:after,
		.select-dd-wrapper--mobile .mobile-select:after {
			color: $primary-color;
		}
	}
	&.is-invalid {
		@media only screen and (min-width: $small-screen) {
			@include iconfont('cross');
		}
		&:before {
			color: $error-red;
		}
		#{$inputs},
		textarea[type="text"],
		.select-dd-wrapper:not(.select-dd-wrapper--alternative) .dk-selected,
		.select-dd-wrapper:not(.select-dd-wrapper--alternative) .mobile-select {
			border-color: $error-red;
		}
		.select-dd-wrapper:not(.select-dd-wrapper--alternative) .dk-select:after,
		.select-dd-wrapper--mobile .mobile-select:after {
			color: $error-red;
		}
	}
}

.error-message {
	display: block;
	@include font-style-small;
	font-family: $font-family-bold;
	color: $error-red;
	margin-top: 0.3rem;
	.checkbox-wrap & {
		margin-top: 0;
	}
}
.checkbox-wrap:not(.is-invalid),
.form-field-wrapper:not(.is-invalid) {
	.error-message {
		display: none;
	}
}

.checkbox-wrap.is-invalid {
	input[type="checkbox"] ~ label:before {
		border-color: $error-red;
	}
}