<div class="modal hidden fade-in" id="commercialFormModal">
	<a href="#" class="circle-icon circle-icon--close circle-icon--outlined-dark circle-icon--small-resp modal-close"><svg class="icon"><use xlink:href="#general--cross"/></svg></a>
	<div class="modal__content modal__content--white modal__content--narrow">
		<div class="panel max-width-text-wider marg-center">
			<form class="form content-block" method="post" accept-charset="UTF-8" enctype="multipart/form-data">
				<h2 class="panel__title">Commercial enquiry form</h2>
				<div class="panel__text-content">
					<p>Please fill in the below information and a member of our team will be in touch shortly.</p>
				</div>

				<div class="grid-wrap text-left">
					<div class="grid-row m-t-md">
						<div class="grid-col grid-col--md-6">
							<div class="form__group">
								<label class="label--block">First Name</label>
								<div class="form-field-wrapper">
									<input type="text">
								</div>
							</div>
						</div>
						<div class="grid-col grid-col--md-6">
							<div class="form__group">
								<label class="label--block">Last Name</label>
								<div class="form-field-wrapper">
									<input type="text">
								</div>
							</div>
						</div>
						<div class="grid-col grid-col--md-6">
							<div class="form__group">
								<label class="label--block">Work Email</label>
								<div class="form-field-wrapper">
									<input type="text">
								</div>
							</div>
						</div>
						<div class="grid-col grid-col--md-6">
							<div class="form__group">
								<label class="label--block">Phone</label>
								<div class="form-field-wrapper">
									<input type="text">
								</div>
							</div>
						</div>
						<div class="grid-col grid-col--md-6">
							<div class="form__group">
								<label class="label--block">Industry</label>
								<div class="form-field-wrapper">
									<div class="select-wrapper">
										<select>
											<option selected value="00">-please select-</option>
											<option value="01">01</option>
											<option value="02">02</option>
										</select>
									</div>
								</div>
							</div>
						</div>
						<div class="grid-col grid-col--md-6">
							<div class="form__group">
								<label class="label--block">Why are you interested in EV charging?</label>
								<div class="form-field-wrapper">
									<div class="select-wrapper">
										<select>
											<option selected value="00">-please select-</option>
											<option value="01">01</option>
											<option value="02">02</option>
										</select>
									</div>
								</div>
							</div>
						</div>
						<div class="grid-col grid-col--md-6">
							<div class="form__group">
								<label class="label--block">Postcode</label>
								<div class="form-field-wrapper">
									<input type="text" />
								</div>
							</div>
						</div>
						<div class="grid-col grid-col--md-6">
							<div class="form__group">
								<label class="label--block">How many parking spaces do you have?</label>
								<div class="form-field-wrapper">
									<div class="select-wrapper">
										<select>
											<option selected value="00">-please select-</option>
											<option value="01">01</option>
											<option value="02">02</option>
										</select>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

				<button type="submit" class="button m-t-xl">Submit</button>
			</form>
		</div>
	</div>
</div>
