<div class="modal hidden fade-in" id="homechargeFormModal">
	<a href="#" class="circle-icon circle-icon--close circle-icon--outlined-dark circle-icon--small-resp modal-close"><svg class="icon"><use xlink:href="#general--cross"/></svg></a>
	<div class="modal__content modal__content--white">
		<div class="panel max-width-text-wider marg-center">
			<div class="content-block">
				<h2 class="panel__title">Homecharge enquiry form</h2>
				<div class="panel__text-content m-b-xl">
					<p>Please fill in the below information and a member of our team will be in touch shortly.</p>
				</div>

				<div class="grid-wrap text-left">
					<div class="grid-row m-t-md">
						<div class="grid-col grid-col--md-6">
							<label class="label--block">Name</label>
							<div class="form-field-wrapper">
								<input type="text" />
							</div>
						</div>
						<div class="grid-col grid-col--md-6">
							<label class="label--block">Email</label>
							<div class="form-field-wrapper">
								<input type="text" />
							</div>
						</div>
						<div class="grid-col grid-col--md-6">
							<label class="label--block">Phone</label>
							<div class="form-field-wrapper">
								<input type="text" />
							</div>
						</div>
						<div class="grid-col grid-col--md-6">
							<label class="label--block">Postcode</label>
							<div class="form-field-wrapper">
								<input type="text" />
							</div>
						</div>
					</div>
				</div>

				<button type="submit" class="button m-t-xl">Submit</button>

				<img class="marg-center max-width--xxl" src="assets/img/content/illustrations/thank-you/thankyou-complete-mobile.svg" alt="">

			</div>
		</div>
	</div>
</div>
