<div class="modal hidden fade-in" id="homechargeFormModal">
	<a href="#" class="circle-icon circle-icon--close circle-icon--outlined-dark circle-icon--small-resp modal-close"><svg class="icon"><use xlink:href="#general--cross"/></svg></a>
	<div class="modal__content modal__content--white modal__content--narrow">
		<div class="panel max-width-text-wider marg-center">
			<form class="form content-block" method="post" accept-charset="UTF-8" enctype="multipart/form-data">
				<h2 class="panel__title">Homecharge enquiry form</h2>
				<div class="panel__text-content m-b-xl">
					<p>Please fill in the below information and a member of our team will be in touch shortly.</p>
				</div>

				<div class="grid-wrap text-left">
					<div class="grid-row m-t-md">
						<div class="grid-col grid-col--md-6">
							<div class="form__group">
								<label class="form__label">Name</label>
								<div class="form-field-wrapper">
									<input type="text" />
								</div>
							</div>
						</div>
						<div class="grid-col grid-col--md-6">
							<div class="form__group">
								<label class="form__label">Email</label>
								<div class="form-field-wrapper">
									<input type="text" />
								</div>
							</div>
						</div>
						<div class="grid-col grid-col--md-6">
							<div class="form__group">
								<label class="form__label">Phone</label>
								<div class="form-field-wrapper">
									<input type="text" />
								</div>
							</div>
						</div>
						<div class="grid-col grid-col--md-6">
							<div class="form__group">
								<label class="form__label">Postcode</label>
								<div class="form-field-wrapper">
									<input type="text" />
								</div>
							</div>
						</div>
					</div>
				</div>

				<button type="submit" class="button m-t-xl">Submit</button>

				<img class="marg-center max-width--xxl" src="assets/img/content/illustrations/thank-you/thankyou-complete-mobile.svg" alt="">

			</form>
		</div>
	</div>
</div>
