<div class="modal hidden fade-in" id="videoModal">
	<a href="#" class="circle-icon circle-icon--close circle-icon--outlined-dark circle-icon--small-resp modal-close"><svg class="icon"><use xlink:href="#general--cross"/></svg></a>
	<div class="modal__content">
		<div class="panel">
			<img class="img--resp img--rounded-corners max-width--xxl marg-center" src="assets/img/content/video-placeholders/homecharge-video-placeholder.jpg">
			<div class="content-block">
				<h2 class="panel__title">Pricing</h2>
				<div class="panel__text-content">
					<p>We offer competitive pricing across our range of home charging points with a generous standard installation package.</p>
				</div>
			</div>
			<div class="grid-wrap">
				<div class="grid-row">
					<div class="grid-col grid-col--md-4">
						<div class="card card--more-pad rich-text">
							<h3 class="h2 text-center p-b-none">3.7kW</h3>
							<hr>
							<p><strong class="font-style-large">£779</strong> Full price</p>
							<p class="p-b-none"><strong class="font-style-large green">£279</strong> With OLEV Grant</p>
							<hr>
							<p class="bold p-b-none">10x faster than a 13A plug.</p>
						</div>
					</div>
					<div class="grid-col grid-col--md-4">
						<div class="card card--options--recommended card--more-pad rich-text">
							<h3 class="h2 text-center p-b-none">7kW</h3>
							<hr>
							<p><strong class="font-style-large">£859</strong> Full price</p>
							<p class="p-b-none"><strong class="font-style-large green">£359</strong> With OLEV Grant</p>
							<hr>
							<p class="bold p-b-none">3x faster than a 13A plug.</p>
						</div>
					</div>
					<div class="grid-col grid-col--md-4">
						<div class="card card--more-pad rich-text">
							<h3 class="h2 text-center p-b-none">22kW</h3>
							<hr>
							<p><strong class="font-style-large">£1499</strong> Full price</p>
							<p class="p-b-none"><strong class="font-style-large green">£999</strong> With OLEV Grant</p>
							<hr>
							<p class="bold p-b-none">10x faster than a 13A plug.</p>
						</div>
					</div>
				</div>
			</div>
			<a href="checkout-step1.html" class="button m-t-xl">Buy now</a>
		</div>
	</div>
</div>
