<section class="bg--white">
	<div class="container">
		<div class="content-block">
			<h2 class="text-center text-left-md">Questions</h2>
			<div class="grid-wrap">
				<div class="grid-row">
					<div class="grid-col grid-col--md-4">
						<div class="rich-text text-center text-left-md">
							<h5>What else is required once I complete the payment section?</h5>
							<p>Once you complete the payment page, you will be asked to provide details about your installation. On the last step of the process we will ask you to complete the OLEV application. Your installation will not be scheduled until all necessary documents are received.</p>
						</div>
					</div>
					<div class="grid-col grid-col--md-4">
						<div class="rich-text text-center text-left-md">
							<h5>How do I know if I'm eligible for the dealership discount?</h5>
							<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim.</p>
						</div>
					</div>
					<div class="grid-col grid-col--md-4">
						<div class="rich-text text-center text-left-md">
							<h5>Do I have to pay full price for the Pod Point if my OLEV application is rejected at a later stage?</h5>
							<p>If you claim the OLEV grant at this stage of the process and your application is unsuccessful, we will offer you a full refund or the opportunity to pay the remainder of the price.</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
