<section class="bg--white">
	<div class="container">
		<div class="content-block">
			<h2 class="text-center text-left-md">Questions</h2>
			<div class="grid-wrap">
				<div class="grid-row">
					<div class="grid-col grid-col--md-4">
						<div class="rich-text text-center text-left-md">
							<h5>What if I don't meet the 'standard installation' eligibility criteria?</h5>
							<p>If you don't meet the criteria we may still be able to carry out the installation but you may incur an additional cost. We will get in touch with you to better understand your requirements and produce a no-obligation quote for the additional works. If you decide not to proceed we will any payment that you've already made.</p>
						</div>
					</div>
					<div class="grid-col grid-col--md-4">
						<div class="rich-text text-center text-left-md">
							<h5>Can I connect my POD Point to a plug socket?</h5>
							<p>No, in order to get a faster charge and to ensure it is properly protected we will need to connect the POD Point directly your consumer unit (fuse board) or electricity meter.</p>
						</div>
					</div>
					<div class="grid-col grid-col--md-4">
						<div class="rich-text text-center text-left-md">
							<h5>Can I purchase any kW charger for my EV?</h5>
							<p>Most domestic properties have single phase power which means the maximum charging rate is 7kW. The faster 22kW chargepoint is usually found in commercial properties where a three phase power supply exist.</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
