<section class="bg--white">
	<div class="container">
		<div class="content-block">
			<h2 class="text-center text-left-md">Questions</h2>
			<div class="grid-wrap">
				<div class="grid-row">
					<div class="grid-col grid-col--md-4">
						<div class="rich-text text-center text-left-md">
							<h5>How long will the install take and do I need to be there at the time?</h5>
							<p>No domestic install is exactly the same so it's hard to give an exact time. But we estimate 1.5-3 hours for a standard installation. At the end of the installation your POD Point Expert will give you a demonstration of the unit and confirm you're happy with everything so it's important that you are there at the time.</p>
						</div>
					</div>
					<div class="grid-col grid-col--md-4">
						<div class="rich-text text-center text-left-md">
							<h5>Can I connect my POD Point to a plug socket?</h5>
							<p>No, in order to get a faster charge and to ensure it is properly protected we will need to connect the POD Point directly your consumer unit (fuse board) or electricity meter.</p>
						</div>
					</div>
					<div class="grid-col grid-col--md-4">
						<div class="rich-text text-center text-left-md">
							<h5>Can you install a POD Point if my parking space is away from the property?</h5>
							<p>Planning restrictions state that the charging cable from the charging unit to the car must not foul any public footpath. So it's best to send photos in advance so we can make an assessment of your property.</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
