<section class="bg--white">
	<div class="container">
		<div class="content-block">
			<h2 class="text-center text-left-md">Questions</h2>
			<div class="grid-wrap">
				<div class="grid-row">
					<div class="grid-col grid-col--md-4">
						<div class="rich-text text-center text-left-md">
							<h3>Question 1</h3>
							<p>Questions 1Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim.</p>
						</div>
					</div>
					<div class="grid-col grid-col--md-4">
						<div class="rich-text text-center text-left-md">
							<h3>Question 2</h3>
							<p>Questions 1Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim.</p>
						</div>
					</div>
					<div class="grid-col grid-col--md-4">
						<div class="rich-text text-center text-left-md">
							<h3>Question 3</h3>
							<p>Questions 1Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim.</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
