<section class="bg--white">
	<div class="container">
		<div class="content-block">
			<h2 class="text-center text-left-md">Questions</h2>
			<div class="grid-wrap">
				<div class="grid-row">
					<div class="grid-col grid-col--md-4">
						<div class="rich-text text-center text-left-md">
							<h5>Why do you require so much information for the grant claim?</h5>
							<p>The Office for Low Emission Vehicles are seeking to reduce the risk of fraudulent activity and ensure value for money when spending public funds. They require enough evidence to demonstrate that a cost has been incurred and paid at market value in order to pay the grant back to Pod Point in arrears.</p>
						</div>
					</div>
					<div class="grid-col grid-col--md-4">
						<div class="rich-text text-center text-left-md">
							<h5>How long will it take to process the OLEV grant?</h5>
							<p>It will take approximately X-X days to process your OLEV grant. Once you are approved for the grant, Pod Point will be in touch to schedule your installation date. If at this point you do not qualify for the grant, you can avail of a full refund or opt to pay the additional £500 for the chargepoint.</p>
						</div>
					</div>
					<div class="grid-col grid-col--md-4">
						<div class="rich-text text-center text-left-md">
							<h5>Do I need to be at home for my scheduled installation date?</h5>
							<p>Yes, we recommend that you are at home for the duration of the installation. No domestic install is exactly the same so it's hard to give an exact time. However, we estimate 1.5-3 hours for a standard installation. At the end of the installation your POD Point Expert will give you a demonstration of the unit and confirm you're happy with everything so it's important that you are there at the time.</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
