<section class="bg--white">
	<div class="container content-block">
		<div class="content-block content-block--no-padding content-block--centered max-width-text-narrow">
			<label class="h2">Subscribe to our newsletter</label>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
			<div class="field-row">
				<input class="input--secondary form-font-large text-center" type="text" placeholder="Enter your email" />
			</div>
			<div class="field-row">
				<button class="button button--tertiary">Subscribe</button>
			</div>
		</div>
	</div>
</section>