// =============================================================================
//	ELEMENTS - FORMS - CHECKBOXES
// =============================================================================

input[type="checkbox"] {
    @include position(absolute, 0 null null 0);
    display: block;
    opacity: 0;
    z-index: 2;
    cursor: pointer;
}

.checkbox {
    text-align: left;
    @include font-size-md;
    position: relative;
    display: block;

    &--inline {
        display: inline-block;
        margin-right: $checkbox-radio-inline-gutter;

        &:last-child {
            margin-right: 0;
        }
    }

    > input[type="checkbox"] {
        width: $checkbox-size;
        height: $checkbox-size;
        & ~ span {
            text-transform: none;
            display: inline-block;
            @include padding(0 null $checkbox-text-b-spacing $checkbox-text-l-spacing);
            cursor: pointer;

            &:before {
                @include position(absolute, 0 null null 0);
                content: "";
                width: $checkbox-size;
                height: $checkbox-size;
                z-index: 1;
                border: 2px solid $checkbox-border;
                border-radius: $form-border-radius;
            }
        }

        &:checked ~ span {
            &:before {
                background-image: url($css-bg-path+'icons/tick-white.svg');
                background-size: $checkbox-tick-size $checkbox-tick-size;
                background-repeat: no-repeat;
                background-position: center;
                background-color: $primary-color;
                border-color: $primary-color!important; // Important is applied to override if there is an error red border
            }
        }

        &:disabled ~ span {
            color: $disabled-color;
            cursor: not-allowed;
            &:before {
                opacity: 0.7;
            }
        }
    }
}
