// =============================================================================
//	ELEMENTS - FORMS - LAYOUT
// =============================================================================

.form__field {
    width: 100%;
    min-width: $form-field-min-width;
    max-width: $form-field-max-width;
}

.form__group {
    margin-bottom: $form-group-b-spacing;

    &:last-child {
        margin-bottom: 0;
    }
}

.form__groups-inline {
    @include margin(-$form-groups-inline-gutter);
    overflow: hidden;

    .form__group {
        display: inline-block;
        @include margin($form-groups-inline-gutter);
    }
}
