// =============================================================================
//	ELEMENTS - FORMS - TEXTAREAS
// =============================================================================

textarea {
    line-height: $line-height-base;
    height: auto;
    min-height: $textarea-min-height;
    resize: vertical;
    padding: $input-padding;
}
