// =============================================================================
//	ELEMENTS - FORMS - RADIOS
// =============================================================================

input[type="radio"] {
    position: absolute;
    left: -9999px;
}

.radio {
    display: inline-block;
    cursor: pointer;
    transition: all .28s ease;
    user-select: none;
    margin-bottom: 0.5em;

    &:last-child {
        margin-bottom: 0;
    }

    &--inline {
        display: inline-block;
        margin-right: $checkbox-radio-inline-gutter;
        width: auto;
        max-width: auto;
        min-width: auto;

        &:last-child {
            margin-right: 0;
        }
    }

    > input[type="radio"] {
        &:checked {
            & + span:before {
                border-radius: 50%;
                border: 2px solid transparent;
            }
            & + span:after {
                border-radius: 50%;
                border: 2px solid $radio-fill-color;
                background-color: $radio-fill-color;
                z-index: 0;
                transform: scale(1.02);
            }
        }
        &:disabled + span {
            opacity: $opacity-disabled;
            cursor: not-allowed;
            &:before {
                background-color: transparent;
            }
        }
    }

    > span {
        @include font-size-md;
        position: relative;
        padding-top: $radio-spacing;
        padding-bottom: 0;
        padding-left: $radio-text-l-spacing;

        &:after,
        &:before {
            content: '';
            position: absolute;
            left: 0;
            top: 0;
            @include margin-v($radio-spacing);
            width: $radio-size;
            height: $radio-size;
            z-index: 0;
            transition: .28s ease;
        }
        &:before {
            border-radius: 50%;
            border: 2px solid $radio-border;
        }
        &:after {
            border-radius: 50%;
            border: 2px solid $radio-border;
            z-index: -1;
            transform: scale(0);
        }
    }
}
