// =============================================================================
//	ELEMENTS - FORMS - LABELS
// =============================================================================

.form__label {
    width: 100%;
    max-width: $form-field-max-width;
    font-weight: $font-weight-bold;
    display: inline-block;
    @include font-size-sm;
    padding-bottom: $form-label-b-spacing;

    .checkbox &,
    .radio & {
        @include font-size-md;
    }
}
