// =============================================================================
//	ELEMENTS - FORMS - VALIDATION
// =============================================================================

.checkbox-wrap:not(.is-invalid),
.form-field-wrapper:not(.is-invalid) {
    .error-message {
        display: none;
    }
}

.form__group--error {
    .checkbox > input[type="checkbox"] + span:before {
        border-color: $error-red;
    }
}

.form__group--error {
    .form__control {
        border-color: $error-red;
    }
}

.form__group--valid {
    .form__control {
        border-color: $primary-color;
    }
}

.form__error {
    display: block;
    @include font-size-sm;
    font-weight: $font-weight-bold;
    color: $error-red;
    padding-top: $form-error-t-spacing;

    .checkbox-wrap & {
        margin-top: 0;
    }
}

.checkbox-wrap {
    .form__error {
        margin-left: $checkbox-text-l-spacing;
    }
}
