// =============================================================================
//	ELEMENTS - FORMS - CONTROLS
// =============================================================================

.form__control {
    @include input-styles;
    @include input-border;

    &:focus:not(disabled) {
        @include input-border--focus;
    }

    &:hover:not(:disabled) {
        @include input-border--hover;
    }

    &:disabled:not(select) {
        @include input-border--disabled;
    }

    &--alt {
        @include padding-h(0);
        border-radius: 0;
        border-top: none;
        border-right: none;
        border-left: none;
    }
}

