// =============================================================================
//	ELEMENTS - FORMS - INPUTS
// =============================================================================

input[type="date"],
input[type="email"],
input[type="number"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="text"],
input[type="url"] {
    @include input-styles;
    @include input-border;

    &:focus:not(disabled) {
        @include input-border--focus;
    }

    &:hover:not(:disabled) {
        @include input-border--hover;
    }

    &:disabled {
        @include input-border--disabled;
    }

    &.input--alternative {
        padding: $alt-input-v-padding 0;
        border-radius: 0;
        border-top: none;
        border-right: none;
        border-left: none;
    }
}
