// =============================================================================
//	ELEMENTS - FORMS - SELECTS
// =============================================================================

.select {
    position: relative;
    display: block;
    vertical-align: middle;
    width: 100%;
    margin-top: 0;
    height: $input-height;
    max-width: $form-field-max-width;

    &:after {
        content: '';
        position: absolute;
        top: 35%;
        right: $input-padding;
        width: $select-cheveron-size;
        height: $select-cheveron-size;
        background-image: url($css-bg-path+'icons/cheveron.svg');
        background-size: cover;
    }

    select {
        cursor: pointer;
        -moz-appearance: none;
        position: relative;
        z-index: 1;
        background-color: transparent;
    }

    select::-ms-expand {
        display: none;
    }

    &.is-disabled {
        select {
            cursor: not-allowed;
        }
    }

    &--alt {
        &:after {
            right: 0;
        }
    }
}
